<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aksaray'da Gezilecek Yerler</title>
      <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>AKSARAY</h5>
<p>Aksaray, Türkiye'nin İç Anadolu Bölgesi'nde, kısmen Konya Havzası'nda ve kısmen Kapadokya'da yer alan, merkezi Aksaray kenti olan ildir. Daha öncesinde il iken 1933'te ilçe yapılmış ve 15 Haziran 1989 tarih ve 3578 sayılı yasa ile Niğde'den ayrılarak yeniden il olmuştur. </p>
<h2><b>Aksaray’da  Gezilecek Yerler  </b></h2>
        <ol>
            <li>Ihlara Vadisi</li>
            <li>Hasan Dağı</li>
            <li>Sultan Han</li>
            <li>Tuz Gölü</li>
            <li>Selime Katedrali ve Peribacaları</li>
        </ol>

<h2 dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">1. Ihlara Vadisi</span></h2>
<p dir="ltr">
	<span><img alt="ihlara-vadisi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ihlara-vadisi-936.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Ihlara Vadisi’nin tarihi kaynaklarda ismi “Peristremma” şeklinde geçiyor. Burada hem etkileyici doğa manzaralarına hem de tarihi şapel ve kiliselere tanıklık etme şansı bulabilirsiniz. Bir anlamda Ihlara Vadisi için, “tarihin, kültürün ve doğanın kesiştiği yer” demek mümkün. Tam olarak Güzelyurt ilçesinde konumlanan bu ihtişamlı vadi, dünya çapında bir üne sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">İçinde geçmiş yıllarda yaşamın olduğu en eski kanyonlardan biri olan Ihlara Vadisi’nin derinliği yaklaşık olarak 150 metre. Ihlara Vadisi’nin ana yaşam kaynaklarından biri olan Melendiz Nehri de hemen bu bölgede yer alıyor. Kayaçların yontulması neticesinde oluşturulan kayalık mekânları ve freskli kiliseleri mutlaka yakından incelemelisiniz.</p>
<p dir="ltr">

	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56"><a href="https://www.google.com/maps/place/Ihlara,+68570+Ihlara%2FG%C3%BCzelyurt%2FAksaray/@38.2385036,34.2857634,14z/data=!3m1!4b1!4m6!3m5!1s0x14d60fc188759b91:0xeb006bf365b859d0!8m2!3d38.238506!4d34.306363!16zL20vMDlkcDRk?entry=ttu" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">2. Hasan Dağı</span></h2>
<p dir="ltr">
	<span><img alt="hasan-dagi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hasan-dagi-32989.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Şehir merkezine yakın olmasından dolayı turistik gezilerde sıklıkla yer verilen Hasan Dağı, pek çok noktadan rahatlıkla görülebiliyor. Özellikle de uzun doğa yürüyüşleri yapmak adına burayı değerlendirebilirsiniz. Trekking, paraşüt ya da dağcılık etkinlikleri için bir araya gelen toplulukları burada görmeniz olağan.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56"><a href="https://www.google.com/maps/place/Sultanhani,+Sel%C3%A7uk,+68000+Sultanhan%C4%B1%2FAksaray+Merkez%2FAksaray/@38.2421884,33.5223832,14z/data=!3m1!4b1!4m6!3m5!1s0x14d6ee9cf3a8b721:0xaaec7f7564bce2b7!8m2!3d38.242161!4d33.559292!16s%2Fm%2F0h7pch_?entry=ttu" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">3. Sultan Han</span></h2>
<p dir="ltr">
	<span><img alt="sultan-han" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/sultan-han-53308.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Yapımı 1229 senesinde gerçekleşen Sultan Han, konum olarak Konya yolu üzerinde yer alıyor. Tarihi hanın yapımında Alaaddin Keykubat’ın rolü oldukça fazla. Sultan Han’ın en çarpıcı özelliği, Anadolu coğrafyasındaki en büyük Selçuklu kervansarayı olması. Han genel itibarıyla Bizans mimarisinden yansımalar sunuyor. “Sultanhanı” kasabasında konumlanan bu turistik mekan, 4800 metrekarelik bir alanda ziyaretçilerini karşılıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Her detayıyla hayranlık uyandıran Sultan Han’ın mimarı ise Şamlı Muhammed bin Havlan. Tarihi yapı görsel özellikleri ve mimari detayları ile daha çok Sivas’ta yer alan Gök Medrese’yi anımsatıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56"><a href="https://www.google.com/maps/place/Sultanhani,+Sel%C3%A7uk,+68000+Sultanhan%C4%B1%2FAksaray+Merkez%2FAksaray/@38.2421884,33.5223832,14z/data=!3m1!4b1!4m6!3m5!1s0x14d6ee9cf3a8b721:0xaaec7f7564bce2b7!8m2!3d38.242161!4d33.559292!16s%2Fm%2F0h7pch_?entry=ttu" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">4. Tuz Gölü</span></h2>
<p dir="ltr">
	<span><img alt="tuzgolu1" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tuzgolu1-34357.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Bir anlamda “kuş cenneti” olarak görülen Tuz Gölü’ne uğramamak elbette olmaz. Göl ve çevresi, genel olarak kuşların hem kuluçka hem de barınma ihtiyaçlarına başarılı bir şekilde yanıt veriyor. Kuşların huzur veren uğultusu eşliğinde gölün tüm güzelliklerini detaylı dolaşabilirsiniz. Tuz gölü aynı zamanda pek çok yabani kuş türlerine de ev sahipliği yapıyor. Bu nedenle çıplak gözle görmenin pek de mümkün olamayacağı özel kuş türlerini de yakından gözlemleyebilirsiniz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56">Göldeki tuz oranının yoğunluğundan kaynaklı olarak pek çok gölün aksine kış aylarında burası donmuyor. Turna, yaban kazı, flamingo başta olmak üzere sayısız kuş türünü bünyesinde barındıran göl, biyolojik çeşitliliği ile hayranlık uyandırıyor. Bu arada Tuz Gölü’nün, ülkemizdeki tuz ihtiyacının yaklaşık %40’lık bölümünü karşıladığını belirtelim.</span></p>

<p dir="ltr">
	<span id="docs-internal-guid-664db208-7fff-e431-eb5e-8678ac5eea56"><a href="https://www.google.com/maps/place/Tuz+G%C3%B6l%C3%BC/@38.8565456,33.0786662,10z/data=!3m1!4b1!4m6!3m5!1s0x14d46bcf739b797d:0xda5f91ff31d3aa34!8m2!3d38.7627226!4d33.3486168!16zL20vMDY1NnJn?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
