<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amasya'da Gezilecek Yerler</title>
    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5><b>AMASYA</b></h5>
<p>İl merkezinin denizden yüksekliği: 400 m.'dir. 2018 yılında TÜİK verilerine göre merkez ilçeyle beraber 7 İlçe, 8 belediye, bu belediyelerde 107 mahalle ve ayrıca 372 köyü vardır. Amasya'nın bilinen ilk adı "Amaseia"'dır. Bu isim dünyanın ilk coğrafyacısı olarak bilenen Strabon tarafından verilmiştir.</p>
        <h2>Amasya’da Gezilecek Yerler</h2>
        <ol>
            <li>Amasya Kalesi</li>
            <li>Borabay Gölü</li>
            <li>Amasya Yalıboyu Evleri</li>
            <li>Ferhat ile Şirin Aşıklar Müzesi</li>
            <li>Terziköy Kaplıcaları</li>
            <li>Hazeranlar Konağı</li>
            <li>Hatuniye Camii ve Külliyesi</li>
            <li>II. Beyazıt Camii ve Külliyesi</li>
            <li>Amasya Saat Kulesi</li>
            <li>Harşena Dağı</li>
        </ol>

<h2>
	1- Amasya Kalesi</h2>
<p>
	<img alt="Amasya veya Harsene Kalesi Türkiye'de" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/amasya-kalesi-39741.webp" loading="lazy"></p>
<p>
	Amasya’nın simgesel yapılarından biri olan ve Anadolu'nun görülmeye değer en güzel kaleleri arasında gösterilen Amasya Kalesi, şehri gezerken hemen dikkatini çekecek görkemli bir tarihi yapı. Şehri çevreleyen Harşena Dağı'nda eteklerinde yer aldığı için halk arasında Harşena Kalesi olarak da bilinen ve deniz seviyesinden yaklaşık 700 metre yükseklikte inşa edilen devasa kale; Pers, Pontus, Roma, Bizans ve Osmanlılar döneminde aktif olarak kullanılmış.</p>
<p>
	18. yüzyıldan sonra kaderine terk edilen ve günümüzde aslına uygun olarak restore edilerek ziyarete açılan Amasya Kalesi; devasa surları, iç kalede sıralanan Osmanlı dönemi camileri, su depoları ve sarnıçları ile Amasya’da ilk uğramanız gereken yerler arasında. Eski Tunç Çağı’ndan kalma bir yapının üzerine inşa edildiği düşünülen ve surlarından çevresi tarihi konaklarla süslü Yeşilırmak Nehri’nin muhteşem fotoğraflarını çekebilirsiniz</p>
<p>
	<a href="https://www.google.com/maps/place/Amasya+Kalesi,+Kale,+Yuvac%C4%B1k%2FAmasya+Merkez%2FAmasya/@40.7906685,35.5770048,17z/data=!4m5!3m4!1s0x40876e48d3e7574b:0x625b3aebf41e7e6b!8m2!3d40.6554571!4d35.8268116" target="_blank">Konum Linki</a></p>
<h2>
	2- Borabay Gölü</h2>
<p>
	<img alt="Amasya Borabay Gölü'ndeki ördekler" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/borabay-golu-39743.webp" loading="lazy"></p>
<p>
	Amasya'nın en bilinen ve çok ziyaret edilen tabiat cenneti olan Borabay Gölü, şehri sadece 50 dakika uzaklıkta dinlendirici bir gezi sunuyor. Halk arasında Aynalı Göl olarak da bilinen, 1050 metre yükseklikte çam ormanlarıyla çevrili büyüleyici bir manzaraya sahip Borabay Gölü; yılın her mevsimi düzenlenen doğa yürüyüşleri, bisiklet turları ve kampçılık faaliyetlerinin ana merkezi konumunda.</p>
<p>
	Balık bolluğu bakımından zengin olan gölde sandallarla balık avlama turlarına çıkabilir veya çam ağaçları altında olta balıkçılığı yaparak, yeşil ve mavinin buluştuğu göl manzaraları arasında yılın yorgunluğunu atabilirsin. Hem turlarla hem de kendi başınıza her saat bulabileceğiniz minibüslerle kolayca ulaşabileceğin Borabay Gölü, her doğa severin mutlaka görmesi gereken tabiat cennetlerimizden biri. Doğaya uyumlu olarak tasarlanmış bungalovlar, oteller ve orman köşklerinde konaklayabileceğiniz gölün çevresinde kestane, çam ve kır çiçekleri arasında yürüyüşler yaparak da el değmemiş güzellikleri keşfe çıkabilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Borabay+g%C3%B6l%C3%BC/@40.8036264,36.1448562,15z/data=!3m1!4b1!4m5!3m4!1s0x408784bc83b2310d:0xe183b806d831470a!8m2!3d40.803611!4d36.153611" target="_blank">Konum Linki</a></p>
<h2>
	3- Amasya Yalıboyu Evleri</h2>
<p>
	<img alt="Amasya, Türkiye'de sıralanan geleneksel yarı ahşap evler" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yaliboyu-evleri-39764.webp" loading="lazy"></p>
<p>
	Amasya’da yılın her mevsimi fotoğraf safarilerinin düzenlendiği, şehir gezen yerli ve yabancı turistlerin ilk uğradığı yer olan tarihi Yalıboyu evleri, Yeşilırmak Nehri kıyısı boyunca sıralanıyor ve hemen arkasındaki Harşena Dağı ile kaya mezarlarıyla birlikte büyüleyici bir manzara sunuyor. Safranbolu’nun tarihi evlerini andıran tasarımlarıyla insanları büyüleyen ve Amasya’nın en sevilen turistik yapıları haline gelen Yalıboyu evleri; iki veya üç katlı olarak, yöreye özgü ahşap ve taş mimariler ile tasarlanmış mimari şaheserler.</p>
<p>
	Roma döneminde inşa edilmiş 3 metre kalınlığındaki sur duvarlarının üstünde, Yeşilırmak Nehri’ne sıfır konumda inşa edilen tarihi konaklar arasında Hazeranlar Konağı gibi etnografya müzesi haline getirilen bazı konakların iç mekanlarını gezebilir; Osmanlı dönemi mobilyalarını ve günlük yaşam tarzını yakından görebilirsin. 18. ve 19. yüzyıl Osmanlı döneminin en güzel sivil mimari örnekleri arasında gösterilen Yalıboyu evleri, antika mobilyalarla süslü odalarından ve cumbalı balkonlarından izleyebileceğin etkileyici Yeşilırmak manzaraları için de görülmeye değer. Yalıboyu evleri ülkemizde mutlaka görmen gereken önemli tarihi değerlerden yalnızca biri.</p>
<p>
	<a href="https://www.google.com/maps/place/Amasya+Yal%C4%B1boyu+Evleri/@40.6522056,35.8283613,17z/data=!3m1!4b1!4m5!3m4!1s0x40876e3670dff49d:0x602700927736a2a4!8m2!3d40.6522016!4d35.83055" target="_blank">Konum Linki</a></p>
<h2>
	4- Ferhat ile Şirin Aşıklar Müzesi</h2>
<p>
	<img alt=" Amasya Hindi.Ferhat ile Şirin Aşıklar Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ferhat-ile-sirin-asiklar-muzesi-39777.webp" loading="lazy"></p>
<p>
	Tam bir müzeler şehri olan Amasya'da keyifle gezebileceğiniz başka bir etkileyici müze de efsanevi aşklarıyla pek çok hikaye, öykü, şiir ve türküye konu olan Ferhat ile Şirin’e adanmış Ferhat ile Şirin Aşıklar Müzesi. Amasyalı olan ve Şirin’e olan aşkını ispat etmek için dağları delerek şehre su taşıyan Ferhat’tan ismini alan Roma su kemerlerinin yakınında bulunan müzede sadece Türkiye'de değil, İran gibi çevre ülkelerde de onlarca hikayeye konu olan Ferhat ile Şirin’in yanı sıra diğer ünlü aşıklar Kerem ile Aslı, Leyla ile Mecnun, Romeo ile Juliet ve Mimar Sinan ile Mihrimah Hatun’a adanan farklı bölümleri de gezebilirsin.</p>
<p>
	Benzersiz sergileriyle herkesin gezmesini önerdiğimiz Ferhat ile Şirin Aşıklar Müzesi, Amasya merkezinden kısa bir yürüyüşle veya toplu taşıma araçlarıyla kolayca ulaşabileceğiniz güzel bir konumda yer alıyor.</p>
<p>
	<a href="https://www.google.com/maps/place/Ferhat+ile+%C5%9Eirin+A%C5%9F%C4%B1klar+M%C3%BCzesi/@40.6332226,35.8113571,17z/data=!3m1!4b1!4m5!3m4!1s0x40876f1c66d72a39:0xcb723acbf206617!8m2!3d40.6332186!4d35.8135486" target="_blank">Konum Linki</a></p>

<h2>
	5- Terziköy Kaplıcaları</h2>
<p>
	<img alt="Kaplıca termal görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kaplica-16405.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Amasya, sadece binlerce yıllık tarihi hazineleri ve doğal güzellikleri ile değil, şifalı kaplıcalarıyla da çok ilgi gören bir sağlık turizmi merkezi. Şehre yaklaşık 37 kilometre uzaklıktaki Terziköy kaplıcaları; termal oteli, bungalov evleri, açık ve kapalı kaplıca havuzlarıyla Amasya gezinizden sonra hem yorgunluk atmak hem de hastalıklarınıza şifa bulmak için ziyaret edebileceğin en popüler yerler arasında.</p>
<p>
	Çam ormanları ile sarılı olduğu için tertemiz havasında yürüyüşler yaparak da yenilenebileceğin Terziköy kaplıcalarının çevresinde ise iyi düzenlenmiş trekking parkurları ve parklar bulabilirsin. Banyo kürü ve içme suyu olarak kullanılabilen, hem sindirim sorunlarından cilt rahatsızlıklarına kadar pek çok hastalığa iyi gelen şifalı suları hem de yemyeşil huzurlu atmosferiyle Amasya’nın sevilen gezi alanlarından biri.</p>
<p>
	<a href="https://www.google.com/maps/place/Terzikoy+Kaplica/@40.4727932,35.6962453,15z/data=!3m1!4b1!4m5!3m4!1s0x40875b0b0d269b51:0xe05cfa88bcfe5263!8m2!3d40.4727778!4d35.7050001" target="_blank">Konum Linki</a></p>
<h2>
	6- Hazeranlar Konağı</h2>
<p>
	<img alt="hazeranlar konağı dış görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hazeranlar-konago-39749.webp" loading="lazy"></p>
<p>
	Amasya'nın tarihi sokakları, birbirinden güzel yüzlerce yıllık konaklarla süslü ve bu konaklar içine mutlaka görmeni önerdiğimiz en etkileyici yapı ise Yeşilırmak Nehri kenarında hemen dikkatini çekecek olan görkemli Hazeranlar Konağı. Klasik Yalıboyu ve Safranbolu evlerinin mimari tarzıyla, iki katlı olarak ahşap ve taş malzemelerle inşa edilen 1865 yılı yapımı Hazeranlar Konağı, aslına uygun olarak restore edilerek 1976 yılında müze haline getirildi.</p>
<p>
	Konağı gezerek 18. ve 19. yüzyıl Osmanlı dönemi mobilyalarıyla süslenmiş odaları, yöresel giysiler giymiş balmumu heykelleri, paha biçilmez antikaları, el yapımı ahşap oyması süslemeleri, Amasya konaklarında kullanılan günlük eşyaları, tarihi belgeler ve fotoğrafları bir arada görebilir, harika fotoğraflar çekebilirsin. Amasya'da Osmanlı döneminden günümüze kalan en güzel yapılardan biri olması ile ünlü Hazeranlar Konağı’nı gezerek şehrin yüzlerce yıllık geleneklerini ve kültürünü öğrenebilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Hatuniye,+Hazeranlar+Kona%C4%9F%C4%B1,+Hazeranlar+Sokak,+Amasya+Merkez%2FAmasya/@40.6414335,35.8240547,15z/data=!4m5!3m4!1s0x40876e4c4f4e584d:0xdd8cbfc933985227!8m2!3d40.6523628!4d35.8299026" target="_blank">Konum Linki</a></p>

<h2>
	7- Hatuniye Camii ve Külliyesi</h2>
<p>
	<img alt="Hatuniye Camii ve Külliyesi güneşli günde görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hatuniye-camii-ve-kulliyesi-39748.webp" loading="lazy"></p>
<p>
	Çarpıcı Yeşilırmak Nehri manzaraları sunan güzel bir konumda 1510 yılında inşa edilen Hatuniye Camii ve Külliyesi, Sultan II. Beyazıt'ın eşi için yaptırılmış etkileyici bir mimari eser. Hamam, sübyan mektebi ve cami bölümleri bulunan külliye; sivri tuğla kemerli mimarisi, bitki motifleri ile süslü iç bölümleri ve devasa kubbeleri ile dikkat çekiyor. Dikdörtgen planlı olarak tasarlanan Hatuniye Camii ve Külliyesi, hem Osmanlı dönemini yansıtan sağlam yapısı hem de sunduğu Yeşilırmak Nehri manzaralarıyla inanç ve tarih turlarının da sevilen adreslerinden biri.</p>
<p>
	<a href="https://www.google.com/maps/place/Hatuniye+Camii,+Amasya/@40.652127,35.8271842,17z/data=!3m1!4b1!4m5!3m4!1s0x40876e4c4b3e6eb9:0x51fef69b50593140!8m2!3d40.652123!4d35.8293729" target="_blank">Konum Linki</a></p>
<h2>
	8- II. Beyazıt Camii ve Külliyesi</h2>
<p>
	<img alt="II. Beyazıt Camii ve Külliyesi mavi çiniler, el yapımı taş ve ahşap oymaları ile süslü II. Beyazıt Camii " src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ii-beyazit-camii-ve-kulliyesi-39750.webp" loading="lazy"></p>
<p>
	Amasya'da hem tarih ve kültür hem de inanç turlarıyla keşfe çıkabileceğin başka bir simgesel yapı da 1486 yılında tamamlanan II. Beyazıt Külliyesi. Şehir merkezinde büyük bir alanı kapsayan etkileyici yapı, II Beyazıt'ın oğlu ve Amasya sancak beyi olan Şehzade Ahmet tarafından yaptırılmış bir mimari şaheser.</p>
<p>
	Cami, medrese, imaret olarak tasarlanan ve uzun yıllar dini eğitimlerin verildiği külliye, 15. yüzyıl dönemi Osmanlı mimari özelliklerini yakından görebileceğin, günümüze kadar sağlam kalmış en önemli tarihi hazinelerimizden biri. Külliye; mavi çiniler, el yapımı taş ve ahşap oymaları ile süslü II. Beyazıt Camii için de her yıl binlerce kişi tarafından ziyaret ediliyor. Amasya merkezinde güzel bir konumda yer aldığı için kısa bir yürüyüşle ulaşabileceğin II. Beyazıt Camii ve Külliyesi, yerli ve yabancı turistlerin şehri gezerken mutlaka gezdiği yerler arasında.</p>
<p>
	<a href="https://www.google.com/maps/place/Amasya+%C4%B0kinci+Beyaz%C4%B1t+K%C3%BClliyesi/@40.65026,35.8244402,17z/data=!3m1!4b1!4m5!3m4!1s0x40876e5272f8bdd7:0x3d8e2a5a52062daf!8m2!3d40.650256!4d35.8266289" target="_blank">Konum Linki</a></p>
<h2>
	9- Amasya Saat Kulesi</h2>
<p>
	<img alt=". Amasya manzarası güzel nehir bulutlu Saat Kulesi " src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/amasya-saat-kulesi-39768.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Amasya’nın simgesel yapılarından ve en çok fotoğraflanan tarihi hazinelerinden biri olan Amasya Saat Kulesi, 1865 yılından beri şehri süslemeye devam ediyor. Amasya Mutasarrıfı Ziya Paşa tarafından yaptırılan saat kulesinde klasik Anadolu, Türk ve İslam mimari özelliklerini bir arada görebilirsiniz. Yeşilırmak Nehri kenarında, tarihi konakların arasında büyüleyici bir manzara sunan ve özellikle geceleri aydınlatıldığında arkasındaki dağ yamacında uzanan kaya mezarlarıyla birlikte en güzel fotoğraflarını çekebileceğin Amasya Saat Kulesi, şehrin ilk görmen gereken tarihi yapılarından biri.</p>
<p>
	<a href="https://www.google.com/maps/place/Amasya+Saat+Kulesi/@40.6536044,35.8313351,17z/data=!3m1!4b1!4m5!3m4!1s0x40876e4c9d5d512d:0x5e80fb774094d006!8m2!3d40.6536004!4d35.8335238" target="_blank">Konum Linki</a></p>
<h2>
	10- Harşena Dağı</h2>
<p>
	<img alt="Harşena dağı üzerine kurulmuş taş kale. " src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/harsena-dagi-39781.webp" loading="lazy"></p>
<p>
	Amasya şehrinin eteklerine kurulduğu Harşena Dağı, 272 metre yüksekliğinde oldukça küçük bir dağ ama yamaçlarındaki birbirinden güzel konaklar ve sert kayalar içine oyulmuş antik mezarları ile şehrin en sevilen gezi alanlarından biri. 2015 yılında antik hazinelerinden dolayı UNESCO Dünya Mirası Geçici Listesi’ne dahil edilen Pontus Kralları Kaya Mezarları için her yıl binlerce kişi tarafından ziyaret edilen Harşena Dağı; serin havada yürüyüşler yapmak, dağ eteklerinden büyüleyici Amasya ve Yeşilırmak Nehri manzaraları izlemek veya kış aylarında karla kapanan tarihi konakların kartpostal güzelliğindeki fotoğraflarını çekmek için kesinlikle uğramanı önerdiğimiz bir yer.</p>
<p>
	<a href="https://www.google.com/maps/place/Pontus+Krallar%C4%B1+Kaya+Mezarlar%C4%B1/@40.653605,35.8282265,17z/data=!3m1!4b1!4m5!3m4!1s0x40876e4c1965e86b:0xf8ea5c673554e8dc!8m2!3d40.653601!4d35.8304152" target="_blank">Konum Linki</a></p>


</body>
</html>
