<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankara'da Gezilecek Yerler</title>
    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5><b>ANKARA</b></h5>
<p>
Ankara, Türkiye'nin başkenti ve Ankara ilinin merkezi olan şehirdir. Coğrafi olarak Türkiye'nin merkezine yakın bir konumda bulunur ve İç Anadolu Bölgesi'nde yer alır. Ankara'nın 13 Ekim 1923'te başkent ilan edilmesinin ardından şehir hızla gelişmiş ve Türkiye'nin ikinci en kalabalık ili olmuştur.
</p>
<h2><b>Ankara’da  Gezilecek Yerler  </b></h2>
        <ol>
            <li>Anıtkabir</li>
            <li>Anadolu Medeniyetleri Müzesi</li>
            <li>Ankara Kalesi</li>
            <li>Augustus Tapınağı</li>
            <li>Erimtan Arkeoloji ve Sanat Müzesi</li>
            <li>Rahmi M. Koç Müzesi</li>
            <li>Hamamönü</li>
            <li>Atatürk Evi</li>
            <li>Atatürk Orman Çiftliği</li>
            <li>Aslanhane Camii</li>
        </ol>


<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">1. Anıtkabir</span></h2>
<p dir="ltr">
	<img alt="Mustafa Kemal Atatürk'ün (Türkiye Cumhuriyeti'nin kurucusu ve ilk Cumhurbaşkanı) Anıtkabir'deki türbesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ankara-anitkabir-2496.webp" style="width: 825px; height: 565px;" loading="lazy"></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Sadece Ankara'nın değil, Türkiye'nin de en çok ziyaret edilen simgesel yapılarından biri olan Anıtkabir, Mustafa Kemal Atatürk'ün anıt mezarını içeren 750.000 m2 gibi büyük bir alana yayılıyor. Ankara’nın merkezi ilçelerinden Çankaya’da yer alan Anıtkabir içerisinde İstiklâl Kulesi, Hürriyet Kulesi, Mehmetçik Kulesi, Müdafaa-i Hukuk Kulesi, Zafer Kulesi, Barış Kulesi, 23 Nisan Kulesi, Misak-ı Millî Kulesi, İnkılâp Kulesi, Aslanlı Yol, Tören Meydanı, İsmet İnönü'nün Lahdi ve Barış Parkı gibi pek çok etkileyici bölümler yer alıyor.</p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/An%C4%B1tkabir/@39.925054,32.8347552,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!8m2!3d39.925054!4d32.8369439?hl=tr" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">2. Anadolu Medeniyetleri Müzesi</span></h2>
<p dir="ltr">
	<strong><img alt="Anadolu Medeniyetleri Müzesi iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/anadolu-medeniyetleri-muzesi-19739.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Anadolu Medeniyetleri Müzesi, binlerce eşsiz eserin sergilendiği koleksiyonları ile Türkiye'nin en önemli müzelerinden biri olarak karşımıza çıkıyor. Öyle ki Avrupa Müze Formu'nun EMYA ödülüne layık görülmüş. Kalkolitik Çağ, Eski Tunç Çağı, Asur Ticaret Kolonileri Çağı, Hitit İmparatorluk Çağı, Frig dönemi, Geç Hitit dönemi ve Urartu dönemine uzanan kapsamlı koleksiyonları, Göbeklitepe replikaları tüm dünyadan tarih, kültür ve arkeoloji meraklarını kendine çekiyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Anadolu+Medeniyetleri+M%C3%BCzesi/@39.9385385,32.8581415,17.78z/data=!4m5!3m4!1s0x14d34e6778370bf7:0x9b91ac47e4f46746!8m2!3d39.9382083!4d32.8618958?hl=tr" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">3. Ankara Kalesi</span></h2>
<p dir="ltr">
	<strong><img alt="bayrak dalgalanan mavi gökyüzü arka planında Ankara Kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ankara-kalesi-169.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ankara'nın Altındağ ilçesinde yer alan ve şehrin en önemli tarihi simgelerinden biri olan Ankara Kalesi’nin M.Ö. 2. yüzyılda Galatlar tarafından yapıldığı tahmin ediliyor. Bölgeye yüksek bir tepe üzerinde etkileyici bir manzara sunan Ankara Kalesi tarih boyunca Roma, Bizans, Selçuklu ve Osmanlı İmparatorluğuna ev sahipliği yapmış. Ankara Kalesi'nde 110 metre yüksekliğindeki 5 köşeli 42 kuleyi gezebilir, iç kale odalarını inceleyebilir ve surlardan muhteşem panoramik fotoğraflar çekebilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Ankara+Kalesi/@39.9390359,32.8632325,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e6f51a3317b:0x7415e004939401c0!8m2!3d39.9390359!4d32.8654212?hl=tr" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">4. Augustus Tapınağı</span></h2>
<p dir="ltr">
	<img alt="Augustus Tapınağı günümüze kalmış kalıntısı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/augustus-tapinagi-35724.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ankara’daki tarihi hazinelerinden biri olan Augustus Tapınağı Altındağ ilçesi Hacıbayram’da yer alıyor. M.Ö. 25 ile 20 yılları arasında Roma İmparatoru Augustus tarafından inşa edildiği düşünülen kalenin eski bir Frig tapınağı üzerine inşa edildiği düşünülüyor. Roma sütunları ve kesme taşlarla inşa edilmiş tapınak duvarlarında, dönemin etkilerini gözlemleyebilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Yüksek bir podyum üzerine inşa edilmiş Augustus Tapınağı, 15 metrelik İon sütunlarıyla oldukça etkileyici bir mimariye sahip. Roma yazıtlarının bulunduğu bölüm ise tapınağın en iyi korunmuş yeri olarak görülmeye değer.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Augustus+Tap%C4%B1na%C4%9F%C4%B1/@39.9441182,32.8560368,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e63edd9f049:0xbbd26ab1bfaebd3b!8m2!3d39.9441182!4d32.8582255?hl=tr" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">5. Erimtan Arkeoloji ve Sanat Müzesi</span></h2>
<p dir="ltr">
	<strong><img alt="Erimtan Arkeoloji ve Sanat Müzesi dış görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/erimtan-35734.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Anadolu'da yapılan arkeolojik kazılardan elde edilen 2000’den fazla paha biçilmez eserin sergilendiği Erimtan Arkeoloji ve Sanat Müzesi, Ankara'nın Altındağ ilçesinde Gözlü Sokak üzerinde yer alıyor. Anadolu Medeniyetleri Müzesi ve Çengelhan Rahmi M. Koç Müzesi'nin arasında bulunan tarihi bir taş konakta hizmet veren müzede M.Ö. 3000 yıllarından Bizans ve Roma dönemine uzanan tarihi eserler, çivi yazılı tabletler, etkileyici mühürler, kişisel eşyalar, çömlekler, altın, gümüş ve bronz sikkelerle süslü zengin koleksiyonlar bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Erimtan+Arkeoloji+ve+Sanat+M%C3%BCzesi/@39.9378624,32.8608075,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e67925a6555:0x85fc654358b1469c!8m2!3d39.9378624!4d32.8629962?hl=tr" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">6. Rahmi M. Koç Müzesi</span></h2>
<p dir="ltr">
	<strong><img alt="Rahmi M. Koç Müzesi giriş bölümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/rahmi-koc-muzesi-173.webp" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ankara Kalesi'nin ana giriş kapısı karşısında yer alan Rahmi M. Koç Müzesi, Ankara'nın ilk sanayi müzesi. 2005 yılında hizmete açılan müzenin etkileyici koleksiyonlarında Türkiye'nin kara yolu ulaşımı, raylı ulaşım, denizcilik ve havacılık alanlarının yanı sıra bilim, tarihi, tıp, eczacılık ve matbaacılık koleksiyonlarını da inceleyebilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Rahmi+M.+Ko%C3%A7+M%C3%BCzesi+Ankara/@39.9372464,32.8612996,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e67f6d9bff5:0x2a20481a30414e35!8m2!3d39.9372249!4d32.8634609?hl=tr" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">7. Hamamönü</span></h2>
<p dir="ltr">
	<strong><img alt="Eski bir konak ve dramatik gökyüzü Hamamönü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hamamonu-58284.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ankara’nın Altındağ ilçesinin tarihi bir semti olan Hamamönü, mistik atmosferini koruyarak günümüze kadar geliyor. 17, 18 ve 19. yüzyıl dönemi klasik Osmanlı evleri ile Ankara’nın mutlaka görülmesi gereken yerlerden olan Hamamönü’de sıralanan tarihi konaklar, camiler, anıtlar ve müzelerin yanı sıra Karacabey Hamamı, Mehmet Akif Ersoy Parkı ve Mehmet Akif Ersoy Evi Müzesi gibi Hamamönü’nün en çok ziyaret edilen yerlerini de görebilirsin. Müze koleksiyonlarını incelemek veya klasik Osmanlı evleri içinde dönen mobilyaları arasında Osmanlı dönemine küçük bir yolculuk yapmak için Hamamönü’ne kesinlikle uğramalısın.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Hamam%C3%B6n%C3%BC+Tarihi+Ankara+Evleri/@39.9317783,32.8647993,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e437b54184b:0x2fc41aae5bc2045f!8m2!3d39.9317783!4d32.866988?hl=tr" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">8. Atatürk Evi</span></h2>
<p dir="ltr">
	<img alt="Atatürk Evi dış görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ataturk-evi-44918.webp" loading="lazy"></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Atatürk’ün 100. doğum yıldönümü kapsamında yapılan Atatürk Evi, Ankara'ya yolu düşen her kişinin görmesi gereken yerlerden. Harika bir atmosferi bulunan ev Atatürk'ün Selanik'teki evinin benzeri şeklinde yapılmış. Müze olarak faaliyet veren evde oturma odası, mutfak gibi bölümleri Selanik’teki evine benzer prototipte görebilmek mümkün.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Atat%C3%BCrk+Evi/@39.936865,32.7956061,17z/data=!4m7!3m6!1s0x14d348d76c1d1b23:0x5ecc55707a3a0519!8m2!3d39.9360917!4d32.7980523!9m1!1b1?hl=tr" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">9. Atatürk Orman Çiftliği</span></h2>
<p dir="ltr">
	<strong><img alt="Atatürk Orman Çiftliği’nin içerisinde hayvanat bahçesi, piknik alanları, yürüyüş yolları" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ataturk-orman-ciftligi-23993.webp" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ankara'nın oksijen depolarından ve en önemli yeşil alanlarından biri olan Atatürk Orman Çiftliği, 1925 yılında Gazi Mustafa Kemal Atatürk tarafından bağışlanan arazi üzerine kuruluyor. Sadece başkentin değil Türkiye'nin de en önemli yeşil alanlarından biri olan yer 1992 yılında 1. derece tarihi ve doğal sit alanı olarak koruma altına alınıyor. Atatürk Orman Çiftliği’nin içerisinde hayvanat bahçesi, piknik alanları, yürüyüş yolları, Atatürk'ün kişisel eşyalarını görebileceğin dönem mobilyaları ile süslü Atatürk Evi Müzesi ve Gazi Orman Çiftliği gibi çeşitli alanlar bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Atatürk Orman Çiftliği içerisinde yer alan tesislerde üretilen organik süt ürünleri ise tüm Türkiye'ye dağıtılıyor. Bu etkileyici çiftlikte hem keyifli bir doğa gezisi yapabilir hem de Atatürk Evi Müzesi’nin sergi salonunda tarihi hazineleri inceleyebilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Ataturk+Orman+Ciftligi/@39.946388,32.7959674,15z/data=!3m1!4b1!4m5!3m4!1s0x14d3492d892eb0a7:0xcd642e391b8ce82e!8m2!3d39.9463889!4d32.8047222?hl=tr" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">10. Aslanhane Camii</span></h2>
<p dir="ltr">
	<strong><img alt="Arslanhane Camii" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/aslanhane-camii-58283.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0">Ahi Şerafeddin Camii olarak da bilinen Aslanhane Camii, Samanpazarı semtinde Aslanhane Mahallesi'nde yer alıyor. 13. yüzyılda Ahi Kardeşler tarafından yaptırılan ve Ankara'nın en eski yapılarından biri olmasıyla dikkatleri çeken Aslanhane Camii, Ankara Kalesi'ne kısa bir yürüyüş mesafesinde bulunuyor. 13. yüzyıl mimari özelliklerini taşıyan caminin iç mekanları, Selçuklu dönemi süslemeleri ile görenleri hayran bırakıyor. Ankara'nın en eski camilerinden biri olan ve dış duvarlardaki aslan heykellerinden ismini alıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-89662088-7fff-8459-5f02-fdc796a1f9f0"><a href="https://www.google.com.tr/maps/place/Ahi+%C5%9Eerafeddin+Camii/@39.9368111,32.8606468,17z/data=!3m1!4b1!4m5!3m4!1s0x14d34e6031b0389d:0xaa5e25f604e94065!8m2!3d39.9368112!4d32.8651315?hl=tr" target="_blank">Konum Linki</a></span></p>


</body>
</html>
