<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afyon'da Gezilecek Yerler</title>
        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5><b>ANTALYA</b></h5>
<p>Türkiye'de "turizmin başkenti" olarak görülür.Özellikle yaz aylarında turist sayısı artar.

Antalya şehri, 1980 yılından sonra uygun iklim koşulları ve turizm etkinlikleri nedeniyle hızla gelişmiş ve buna paralel olarak il de günümüzde Türkiye'nin en kalabalık beşinci ili olmuştur. Antalya'da ekonomik hayat büyük oranda ticaret, tarım ve turizme dayalıdır.</p>
        <h2>Antalya’da Gezilecek Yerler</h2>
        <ol>
            <li>Kurşunlu Şelalesi</li>
            <li>2. Karaalioğlu Parkı</li>
            <li>Sandland</li>
            <li>Düden Şelalesi</li>
            <li>Hıdırlık Kulesi</li>
            <li>Karain Mağarası</li>
            <li>Kaleiçi</li>
            <li>KAntalya Müzesi</li>
            <li>Yanartaş (Chimera)</li>
            <li>Olimpos Antik Kenti</li>
        </ol>

<h2>
	<strong>1. Kurşunlu Şelalesi</strong></h2>
<p>
	<img alt="Kurşunlu Şelalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kursunlu-selalesi-43773.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Kendini başka diyarlara ışınlanmış gibi hissedeceğin Kurşunlu Şelalesi, Antalya merkeze 22 kilometre uzaklıkta yer alıyor. 1991 yılında tabiat parkı ilan edilen şelale 33 hektarlık geniş bir alana yayılıyor.  Çevresini saran zengin bitki çeşitliliği ile her yıl binlerce turiste ev sahipliği yapan, ağaçların arasından 18 metre yükseklikten dökülen bembeyaz sularıyla her mevsim büyüleneceğin güzellikler sunan ve sıcak yaz günlerinde serinleyebileceğin Kurşunlu Şelalesinde 7 tane minik şelaleye ve kaya göletine de sahip.</p>
<p>
	Sevdiklerinle güzel zamanlar geçireceğin Kurşunlu Şelalesinde doğa içerisinde uzun yürüyüşler yapabilir, şelale içerisinde bulunan restoranda kahveni yudumlayabilir veya yanına aldığın yiyecekler ile güzel bir piknik yapabilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Kur%C5%9Funlu+%C5%9Eelalesi+Tabiat+Park%C4%B1/@37.0029594,30.81959,17z/data=!3m1!4b1!4m5!3m4!1s0x14c380bc83390a41:0x1f68ad8c2fa82acc!8m2!3d37.0029594!4d30.8217787" target="_blank">Konum Linki</a></p>
<h2>
	<strong>2. Karaalioğlu Parkı</strong></h2>
<p>
	<img alt="falezlerin üzerinde  en büyük parklardan biri olan Karaalioğlu parkı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karaalioglu-parki-36859.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Akdeniz'in ünlü falezleri üzerinde, Akdeniz’e hakim bir konumda yer alan Karaalioğlu Parkı, 140.000 metrekarelik yeşil alanıyla Türkiye'nin en büyük şehir parklarından biri olarak karşımıza çıkıyor.  Doğu-batı yönünde denize paralel olarak ilerleyen yürüyüş yolları, kafeleri, çay bahçeleri ve hem Konyaaltı sahili hem de Bey Dağlarının panoramik manzaralarını izleyebileceğin seyir teraslarıyla çok sevilen bir gezi alanı olan Karaalioğlu Parkı, Antalya’nın bitki çeşidinin yansıtan onlarca peyzajlı bahçeye de ev sahipliği yapıyor. 1940'lı yıllarda inşa edilen ve Türkiye'nin en eski şehir parklarından biri konumunda olan Karaalioğlu Parkına Antalya seyahatin sırasında mutlaka uğramalısın.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Karaalio%C4%9Flu+Park%C4%B1/@36.8796439,30.7026915,17z/data=!3m1!4b1!4m5!3m4!1s0x14c3900f46848d4f:0x329e0281ef97aba1!8m2!3d36.8796439!4d30.7048802" target="_blank">Konum Linki</a></p>
<h2>
	<strong>3. Sandland</strong></h2>
<p>
	<img alt="Sandland" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sandland-36850.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Antalya’nın en ilginç müzelerinden biri olan ve her yıl binlerce turiste ev sahipliği yapan Sandland Antalya Kum Heykel Müzesi, dünyaca ünlü Lara Plajında yer alıyor. Her yıl değişen temasıyla, metrelerce büyüklükte yüzlerce kumdan heykelin arasında unutulmaz bir gezi yapabileceğin açık hava müzesi, aynı zamanda dünyanın en büyük kum heykel alanlarından birine de ev sahipliği yapıyor.</p>
<p>
	Dünyanın pek çok ülkesinden gelen sanatçıların 10 bin ton nehir kumu kullanılarak tasarladığı kum heykeller, 10.000 m2 gibi geniş bir alanda sergileniyor. Heykellerin 3 haftadan fazla süren yapım aşamalarını da izleyebileceğin Sandland, dünyanın ilk ve tek 12 ay boyunca açık kum heykel müzesi olmasıyla da her mevsim keyifle ziyaret edebileceğin yerler arasında.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Sandland/@36.848763,30.8120913,17z/data=!3m1!4b1!4m5!3m4!1s0x14c39ca5b454b6a5:0x7f802cea43b21179!8m2!3d36.848763!4d30.81428" target="_blank">Konum Linki</a></p>

<h2>
	<strong>4. Düden Şelalesi</strong></h2>
<p>
	<img alt="Aşağı Düden Şelalesi, yaklaşık 40 metre yükseklikten muhteşem su bulutları halinde Akdeniz'e  kayalık bir uçurumdan düşüşü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/duden-selalesi-9540.webp" style="width: 825px; height: 611px;" loading="lazy"></p>
<p>
	Halk arasında Düdenbaşı Şelalesi olarak da bilinen Düden Şelalesi; merkeze 10 kilometre uzaklıktaki Kepez ilçesinde yer alıyor. Şelale, seyir terasları, ahşap yürüyüş yolları, kafeleri, restoranları ve çay bahçeleriyle özellikle yaz aylarında oldukça ilgi görüyor.</p>
<p>
	 İki kola ayrılan Düden Şelalesi’nin suları 9 kilometre daha devam ederek Antalya'nın falezlerinden ve 40 metre yükseklikten Akdeniz'e dökülerek muhteşem bir manzara oluşturuyor. Aşağı Düden Şelalesi olarak bilinen bu bölge, Antalya'nın sevilen semtlerinden Lara’da oteller, restoranlar, yürüyüş ve bisiklet yolları arasında yer aldığı için her zaman hareketli. Gezi teknelerinin yakınına kadar giderek falezlerden dökülen bembeyaz suları yakından görmeni sağladığı Aşağı Düden Şelalesi ve Düden Şelalesi'ne Antalya gezinde mutlaka uğramayı, serin şelale havasında güzel bir gün geçirmeyi denemelisin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/D%C3%BCden+%C5%9Eelalesi/@36.8512877,30.7808319,17z/data=!3m1!4b1!4m5!3m4!1s0x14c39b4045a10709:0xc31344e8374f4b4!8m2!3d36.8512877!4d30.7830206" target="_blank">Konum Linki</a></p>
<h2>
	<strong>5. Hıdırlık Kulesi</strong></h2>
<p>
	<img alt="Khydyrlyk Kulesi (Hıdırlık Kulesi),  deniz feneri görevi gören veya savunma işlevi gören bir Roma yapısı" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hidirlik-kulesi-58294.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Antalya merkezinde Karaalioğlu Parkı'nın güney köşesinde, Kaleiçi Yat Limanı’na hakim bir noktaya inşa edilen Hıdırlık Kulesi’nin tarihi M.Ö. 2. yüzyıla kadar uzanıyor. Alt kısmı kare, üst kısmı ise silindir biçiminde inşa edilen kule, 14 metre yükseklikte bir Roma dönemi eseri. Roma imparatoru Hadrianus için yaptırıldığı düşünülen Hıdırlık Kulesi’nin içindeki merdivenlerden kulenin zirvesine çıkarak Antalya, yat limanı ve Kaleiçi'nin en güzel manzaralarını izleyebilirsin. Günümüze kadar gelen ve doğal yapısını koruyan Hıdırlık Kulesi, antik çağlarda deniz feneri ve gözetleme kulesi olarak kullanılmış, şimdi ise çevresini saran kafeler, restoranlar, barlar ve seyir teraslarıyla Antalya’nın en çok ziyaret edilen gezi alanlarından biri.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/H%C4%B1d%C4%B1rl%C4%B1k+kulesi/@36.8813238,30.7015125,17z/data=!3m1!4b1!4m5!3m4!1s0x14c3900f9e652a75:0xe86b106e812e8a0e!8m2!3d36.8813461!4d30.7036721" target="_blank">Konum Linki</a></p>
<h2>
	<strong>6. Karain Mağarası</strong></h2>
<p>
	<img alt="Karain Mağarası, Antalya'nın Yağca Köyü'nde bulunan bir mağara " src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karain-magarasi-36864.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Türkiye'nin en büyük doğal mağaralarından biri olan Karain Mağarası Şehir merkezine 30 kilometre uzaklıkta, Antalya-Burdur yolu üzerinde yer alıyor. Milyonlarca yıl önce doğal yollarla oluşmuş ve ilk çağlardan beri yerleşim yeri olarak kullanılan Karain Mağarasında yapılan kazılarda ilk çağlara kadar uzanan kişisel eşyalar ve etkileyici mağara resimleri bulundu.</p>
<p>
	Tarihe yolculuk yapabileceğin Karain Mağarasını iyi düzenlenmiş yürüyüş yollarıyla keşfe çıkabilir, milyonlarca yılda oluşmuş devasa sarkıtlar, dikitler ve göletler arasında gezebilir; mağara duvarlarına kabartma yöntemi ile kazanmış Roma yazıtları ve binlerce yıllık yaşam odalarını inceleyebilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Karain+Ma%C4%9Faras%C4%B1/@37.0777778,30.5686446,17z/data=!3m1!4b1!4m5!3m4!1s0x14c38a863330bc55:0x9491e6c9de083d3!8m2!3d37.0777778!4d30.5708333" target="_blank">Konum Linki</a></p>
<h2>
	<strong>7. Kaleiçi</strong></h2>
<p>
	<img alt="Antalya Kaleiçi Eski Kentindeki limanın panoramik manzarası. Antalya, Türkiye" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/eski-kent-kaleici-antalya-8898.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Antalya denilince akla ilk olarak gelen ve şehrin tam ortasında yer alan Kaleiçi (Old Town); Arnavut kaldırımlı dar sokakları, ahşap ve taş mimarili tarihi Osmanlı konakları, Akdeniz koylarına tekne turlarının düzenlendiği küçük yat limanı, onlarca çeşit eğlence mekanı, hediyelik eşya dükkanları ve butik otelleriyle Antalya şehir merkezindeki en popüler turistik yer konumunda.</p>
<p>
	Yivli ve Kesik Minare, Hıdırlık Kulesi, Karatay Medresesi ve Şehzade Korkut Camii gibi pek çok tarihi hazineye de ev sahipliği yapan Kaleiçi her sene binlerce turiste ev sahipliği yapıyor. Güzel bir Akdeniz gecesi geçirmek, her yaşam stiline uygun restoranlarda Akdeniz veya dünya mutfağından yemekleri tatmak veya güzel bir kahve içmek için Kaleiçi’ne mutlaka uğramalısın.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Antalya+Kalei%C3%A7i+(Old+Town)/@36.8848134,30.7022507,17z/data=!4m9!1m2!2m1!1za2FsZWnDp2k!3m5!1s0x14c39003e4ddfbb7:0x566955b832c2ab33!8m2!3d36.8870439!4d30.7064064!15sCghrYWxlacOnaVoKIghrYWxlacOnaZIBE2hpc3RvcmljYWxfbGFuZG1hcms" target="_blank">Konum Linki</a></p>
<h2>
	<strong>8. Antalya Müzesi</strong></h2>
<p>
	<img alt="Antalya Müzesi iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/antalya-muzesi-35474.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	1. Dünya Savaşında işgalcilerden kurtarılan eserlerin sergilenmesi için Kaleiçi Yivli Camii'nde açılan Antalya Müzesi, 1972 yılında Konyaaltı Caddesi'ndeki binasına taşındı. 30.000 m2 gibi geniş bir alana yayılan Antalya Müzesi, 14 sergi salonunda Pamfilya ve Pisidya bölgelerinde yapılan kazılarda çıkarılan binlerce tarihi esere ev sahipliği yapıyor.</p>
<p>
	Geniş bahçesinde Lidya lahitleri, Roma sütunları ve Helenistik dönemden kalan heykelleri görebileceğin bir açık hava bölümü de bulunan Antalya Müzesi, iyi düzenlenmiş koleksiyonlarıyla pek çok uluslararası ödül kazandı. Seni Anadolu tarihinde unutulmaz bir yolculuğa çıkacak Antalya Müzesinde tabiat tarihi, seramik eserler, imparatorlar, tanrılar ve mozaik salonu mutlaka görmeni önerdiğimiz yerler arasında.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Antalya+M%C3%BCzesi/@36.8860194,30.6774669,17z/data=!3m1!4b1!4m5!3m4!1s0x14c3903a436755b1:0x7c5693a8556f6470!8m2!3d36.8860194!4d30.6796556" target="_blank">Konum Linki</a></p>
<<h2>
	<strong>9. Yanartaş (Chimera)</strong></h2>
<p>
	<img alt="dağdan yeraltından çıkan ateş  Yanartaş" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yanartas-29805.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Olimpos Dağı'nın sönmeyen ateşi olarak dünya çapında bir üne kavuşan Yanartaş (Chimera), Kemer ilçesinin güneydoğusunda çam ormanları ile çevrili bir yamaçta 2500 yıldır yanmaya devam ediyor. Deniz seviyesinden 180 metre yükseklikte yer alan ve bir yer altı doğal gaz kaynağından beslendiği için hiçbir zaman sönmeyen Yanartaş, hem gündüz hem de gece etkileyici manzaralar sunduğu için her yıl binlerce kişiye ev sahipliği yapıyor.</p>
<p>
	Çıralı, Olimpos ve Adrasan gibi tatil beldelerine çok yakın olduğu için doğa yürüyüşlerinin değişmez adreslerinden biri haline gelen Yanartaş, antik çağlardan beri pek çok efsaneye de konu olduğu biliniyor. Olimpos Beydağları Milli Parkı sınırları içerisinde yer aldığı için sit alanı olarak korunan Yanartaş’ı Antalya gezinde mutlaka görmen gereken yerler arasında.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Yanarta%C5%9F+Milli+Park%C4%B1/@36.4314082,30.4539442,17z/data=!3m1!4b1!4m5!3m4!1s0x14c2343f3a2b26c7:0x19db5331c84857ef!8m2!3d36.4314082!4d30.4561329" target="_blank">Konum Linki</a></p>
<h2>
	<strong>10. Olimpos Antik Kenti</strong></h2>
<p>
	<img alt="Olimpos Antik Kenti" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/olimpos-antik-kenti-36862.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Antalya’nın güney sahilinde yer alan Olimpos Antik Kenti, Phaselis Antik Kenti’yle birlikte bölgedeki en büyük liman kentlerinden biri olarak karşımıza çıkıyor. Her sene binlerce kişinin ziyaret ettiği, tarih ve kültür meraklılarının hayran kaldığı yerlerden olan Olimpos Antik Kenti, M.Ö. 300 yıllarında Helenistik dönemde inşa edildiği düşünülüyor.</p>
<p>
	Antik çağın en önemli ve büyük liman kentlerinden biri olan Olimpos Antik Kenti, Beydağları Milli Parkı içerisinde özenle korunuyor ve tarihi hazineleriyle tüm dünyanın ilgisini çekiyor. Antik kent gezinde Roma döneminde kesme taşlarla inşa edilmiş tapınaklar, agora, etkileyici bir Orta Çağ Kalesi, tanrılara adaklar adanan sunaklar ve antik liman gibi pek çok yeri keyifle gezebilirsin. Kemer'e 30 kilometre uzaklıktaki Olimpos Antik Kentini tam olarak gezmek ve doğanın tadını çıkarmak için <a href="https://www.enuygun.com/bilgi/olimpos-un-en-guzel-kamp-alanlari/">Olimpos’un en güzel kamp alanları</a> yazısına tıklayarak bu yazı orada geçirebilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Olimpos+Antik+Kenti/@36.3941497,30.4694198,17z/data=!3m1!4b1!4m5!3m4!1s0x14c2368ef0f18791:0x870a162e401eaf00!8m2!3d36.3941497!4d30.4716085" target="_blank">Konum Linki</a></p>
<p>



</body>
</html>
