<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batman'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5><b>BATMAN</b></h5>
<p>
Güneydoğu Anadolu Bölgesi’nin tarihi ve kültürel zenginlikleriyle ünlü şehirlerinden biri olan Batman, Dicle Nehri kenarında sıralanan binlerce yıllık hazineleriyle unutulmaz bir gezi deneyimi sunuyor. İnanç, tarih ve kültür turlarının ülkemizdeki değişmez adreslerinden biri olan ve dünyanın her yerinden gelen binlerce insanı misafir eden şehir, büyüleyici doğal güzellikleriyle de ilgi görüyor. Cilalı Taş Devri’nden günümüze yaklaşık 12.000 yıllık uzun bir geçmişe sahip Hasankeyf’in Dicle Nehri kenarına oyulmuş mağaraları, hanları, kiliseleri ve camileri arasında tarihte bir yolculuğa çıkacağınız Batman’da tarih öncesi dönemlerde yerleşim yeri olarak kullanılan onlarca höyükte bulunan paha biçilmez eserleri ise Hasankeyf Müzesi ve Batman Müzesi’nde yakından inceleyebilirsiniz.

</p>
<h2>Batman’da Gezilecek Yerler</h2>
        <ol>
            <li>Hasankeyf</li>
            <li>Kozluk</li>
            <li>Sason</li>
            <li>Gercüş</li>
            <li>Beşiri</li>
            <li>Malabadi Köprüsü</li>


<h2>
	1- Hasankeyf</h2>
<p>
	<img alt="Hasankeyf" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hasankeyf-41463.webp" loading="lazy"></p>
<p>
	Batman merkezine sadece 36 kilometre uzaklıktaki Hasankeyf ilçesi, ülkemizin görülmeye değer pek çok önemli tarihi hazinesine ev sahipliği yapıyor. Dünyanın pek çok yerinden gelen binlerce tarih ve kültür tutkununu misafir eden Hasankeyf, binlerce yıllık uzun tarihinde birçok medeniyetin hakimiyetinde kaldı ve her köşesi bu dönemlerden kalan birbirinden güzel tarihi yapılarla çevrili durumda. 12.000 yıl önce yerleşim amacıyla inşa edilen ve Bizans döneminde bazıları kilise olarak kullanılan, Dicle Nehri kenarında kayalara oyulmuş 4000'e yakın mağarasıyla ziyaretçileri büyüleyen Hasankeyf’te Eyyübiler döneminde inşa edilen ve Anadolu'nun en eski camilerinden biri olan Er Rızk Camii'ni de yakından görme şansı bulacaksınız.</p>
<p>
	Dicle Nehri’nin panoramik manzarasına hakim bir konumda yer alan ve M.S. 363 yılında Bizanslılar tarafından inşa edilen Hasankeyf Kalesi'nde harika fotoğraflar çekebileceğiniz gezinizde Hz. Muhammed'in soyundan gelen İmam Abdullah için yapılan etkileyici türbeyi ziyaret edebilir; bölgede uzun süre hakimiyet kuran Akkoyunluların hükümdarı Zeynel Bey tarafından inşa ettirilen Zeynel Bey Kümbeti gibi mimari şaheserleri inceleyebilirsiniz.</p>
<p>
	Yöresel Güneydoğu Anadolu Bölgesi’nin sevilen lezzetleri tadabileceğiniz restoranları ve otantik dekorasyonlu otelleri ile turizm olanakları açısından da oldukça gelişmiş olan Hasankeyf'te kayalar içine oyulmuş ülkemizin en ilginç hanlarından biri olan Yol Geçen Hanı’nda da çayınızı yudumlayarak çarpıcı manzaranın tadını çıkarabilirsiniz. Binlerce yıllık tarihi hazinelerini hem kendi başınıza hem de yılın her mevsimi düzenlenen tarih, kültür ve inanç turlarıyla gezebileceğiniz Hasankeyf’te yapılan arkeolojik kazı çalışmalarında bulunan paha biçilmez eserleri de Hasankeyf Müzesi ve Batman Müzesi’nde inceleyebilirsiniz.  </p>
<p>
	<a href="https://www.google.com/maps/place/Hasankeyf,+Batman/@37.712658,41.418171,16z/data=!3m1!4b1!4m5!3m4!1s0x400b0c853d00283f:0x5b676a7c895c6c87!8m2!3d37.712806!4d41.4152079" target="_blank">Konum Linki</a></p>
<h2>
	2- Kozluk</h2>
<p>
	<img alt="Kozluk" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kozluk-batman-41466.webp" loading="lazy"></p>
<p>
	Batman'ın çok ziyaret edilen tarihi ilçelerinden biri olan ve şehir merkezinden sadece 1 saatlik minibüs yolculuğuyla kolayca ulaşabileceğiniz Kozluk ilçesi, antik İpek Yolu rotası üzerinde inşa edilmiş binlerce yıllık tarihi yapılarıyla günübirlik geziler için ideal bir adres. İpek Yolu'ndan geçen kervanları korumak amacıyla bölgeye hakim devasa bir kayanın üzerine inşa edilen etkileyici kale, bir dönem dini merkez olarak da kullanılmış.</p>
<p>
	Kozluk Kalesi için her yıl binlerce kişi tarafından ziyaret edilen ilçede 1705 yılında inşa edilen İbrahim Bey Camii, Sason Beyliği döneminde 1485 yılında yaptırılan Hıdır Bey Camii gibi Batman’ın en güzel mimari yapılarını da inanç ve tarih turlarına katılarak yakından görebilirsiniz. Ticaret yollarını koruyan tarihi Kandil Kalesi ve Rabat Kalesi’nde de panoramik fotoğraflar çekebileceğiniz Kozluk’ta geleneksel Batman yemekleri tadarak yorgunluk atmayı da unutmayın.</p>
<p>
	<a href="https://www.google.com/maps/place/Kozluk,+Batman/@38.1787144,41.4789119,14z/data=!3m1!4b1!4m5!3m4!1s0x400cb05b706e3d55:0xd8c32a81633815db!8m2!3d38.193758!4d41.488861" target="_blank">Konum Linki</a></p>
<h2>
	3- Sason</h2>
<p>
	<img alt="Sason" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sason-41471.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Hem kendi başınıza hem de rehberli tarih ve kültür turlarıyla keşfe çıkabileceğiniz Sason ilçesi; binlerce yıllık kaleleri, el değmemiş doğal güzellikler içinde uzanan mesire alanları ve tarihi kiliseleriyle dikkat çekiyor. Bölgenin doğa sporları merkezi olan Mereto Dağı’nda kampçılık, doğa yürüyüşleri, kaya tırmanma ve dağcılık gibi aktiviteler yapmak için de Sason ilçesi sıkça ziyaret ediliyor.</p>
<p>
	İpek Yolu güzergahındaki en etkileyici kalelerden biri olan ve 4. yüzyılda inşa edilen Bozıkan Kalesi'nin gözetleme kulelerinden büyüleyici manzaralara şahit olacağınız gezinizde Sevek Deresi çevresindeki doğal güzellikler içinde uzanan mesire alanlarında kalabalıklarda uzakta yorgunluk atabilir ve piknik yapabilirsiniz. Ermeni döneminden kalan pek çok etkileyici tarihi kiliseyi de gezme şansı bulacağınız Sason, hem tarih ve kültür hem de doğa tutkunları için keyifli bir günübirlik gezi sunuyor.</p>
<p>
	<a href="https://www.google.com/maps/place/Sason,+Batman/@38.3311524,41.4086751,15z/data=!3m1!4b1!4m5!3m4!1s0x40734a74c19c301b:0x797d9c519e69bc22!8m2!3d38.3339822!4d41.4201364" target="_blank">Konum Linki</a></p>
<h2>
	4- Gercüş</h2>
<p>
	<img alt="Gercüş" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gercus-41457.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Batman'ın tarihi ilçelerinden bir diğer olan Gercüş, şehir merkezine sadece 60 kilometre uzaklıkta unutulmaz bir gezi deneyimi yaşatıyor. Hz. Muhammed'in torunu olan ve Hz. Süleyman'ın soyundan gelen Seyyid Bilal adına inşa ettirilen Seyyid Bilal Türbesi için inanç turlarıyla binlerce kişi tarafından ziyaret edilen Gercüş, aynı zamanda Hisar, Arıca ve Yamanlar gibi tarih öncesi dönemlerde yerleşim yeri olarak kullanılmış höyükleriyle de tarih tutkunlarının ilgisini çekiyor.</p>
<p>
	Batman'ın en sevilen rekreasyon ve gezi alanlarından olan Kırkat Göleti’nin çevresini saran mesire alanında sıcak yaz aylarında tertemiz havada yılın bütün yorgunluğunu atabileceğiniz Gercüş’te doğa yürüyüşleri ve fotoğraf safarilerine katılarak M.Ö. 3000 yıllarına kadar uzanan tarihi yapılar arasında harika fotoğraflar çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Gerc%C3%BC%C5%9F,+Batman/@37.5682194,41.3833471,16z/data=!3m1!4b1!4m5!3m4!1s0x400ba903b59c71e5:0x48c374d67ee7f654!8m2!3d37.5682959!4d41.385329" target="_blank">Konum Linki</a></p>
<h2>
	5- Beşiri</h2>
<p>
	<img alt="Beşiri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/besiri-41455.webp" loading="lazy"></p>
<p>
	Kıra Dağı eteklerinde kurulmuş olan Beşiri ilçesi, 17 kilometre uzaklıkla Batman merkezine en yakın ilçelerden ve gezi alanlarından biri konumunda. Garzan Çayı çevresinde sıralanan piknik alanlarının yanı sıra Kıra Dağı’nın eteklerindeki oksijen seviyesi yüksek tertemiz havada yılın bütün yorgunluğunu atabileceğiniz mesire alanlarıyla da yaz aylarında yüzlerce kişi tarafından ziyaret edilen ilçe, aynı zamanda M.Ö. 3000 yıllarına kadar uzanan tarihiyle de ilgi görüyor.</p>
<p>
	Uzun süre Asur hakimiyetinde kalan Beşiri'de birçok medeniyete ait tarihi hazineleri yakından görme şansı bulacaksınız. İnanç turlarının sevilen mola noktalarından biri olan Mor Kiryakus Manastırı’nın devasa taş mimarisini yakından inceleyebileceğiniz ilçede Süryanilere ait binlerce yıllık yerleşim yerlerini keşfe çıkabilir, devasa su kanalları ve tüneller arasında ilginç fotoğraflar çekebilirsiniz. Garzan Çayı üzerine 150 yıl önce inşa edilen Memikan Köprüsü ve Roma dönemine ait Şeyhosel Höyük de Beşiri ilçesinde keşfe çıkabileceğiniz tarihi hazineleri arasında. </p>
<p>
	<a href="https://www.google.com/maps/place/Be%C5%9Firi,+Batman/@37.9192176,41.2845987,15z/data=!3m1!4b1!4m5!3m4!1s0x400b431e1baf7579:0xd75d132e406e7b67!8m2!3d37.916208!4d41.292722" target="_blank">Konum Linki</a></p>
<h3>
	6- Malabadi Köprüsü</h3>
<p>
	<img alt="Malabadi Köprüsü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malabadi-koprusu-41467.webp" loading="lazy"></p>
<p>
	Diyarbakır'ın Silvan ilçesi ile Batman arasında, Batman Çayı üzerinde edilen anıtsal bir yapı olan Malabadi Köprüsü, her tarih hem de mimari meraklılarının kesinlikle görmesi gereken şaheserlerden biri. 1147 yılında Artuklu Beyliği döneminde inşa edilen, 150 metre uzunluğunda ve 7 metre genişliğindeki tarihi köprü, aynı zamanda Türkiye'nin en büyük tek kemerli köprüsü olmasıyla da ünlü.</p>
<p>
	Uzun tarihi boyunca pek çok kez onarılan ve 1989 yılında aslına uygun olarak restore edilen Malabadi Köprüsü, günümüzde yılın her mevsimi düzenlenen tarih, kültür ve doğa yürüyüşlerinin değişmez adresleri arasında. Etkileyici taş mimarisini inceleyebileceğiniz, Batman Çayı’nın güzel manzaraları eşliğinde gezebileceğiniz Malabadi Köprüsü’nde özellikle gün doğumu ve gün batımlarında tablo güzelliğinde fotoğraflar çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Malabadi+K%C3%B6pr%C3%BCs%C3%BC/@38.1534636,41.2016863,17z/data=!3m1!4b1!4m5!3m4!1s0x4073552d6cc77e81:0x22d74596db664702!8m2!3d38.1534594!4d41.203875" target="_blank">Konum Linki</a></p>


</body>
</html>
