<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilecik'te Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>BİLECİK</h5>
<p>Bilecik, tarihi zenginlikleri, doğal güzellikleri ve kültürel mirasıyla göz kamaştıran bir şehir. Marmara Bölgesi içerisinde sayılmasına rağmen dört bölgenin de sınırlarında olması sebebiyle önemli bir yere sahip olan Bilecik, sakin atmosferi, yeşil vadileri ve tarihi dokusuyla adeta bir açık hava müzesini andırıyor.

Bilecik, Osmanlı İmparatorluğu'nun kuruluşuna tanıklık etmiş olmasıyla da büyük öneme sahip. Osman Gazi'nin burada kurduğu ilk Osmanlı Beyliği'nin izleri, Bilecik'i tarih tutkunları için özel bir yer haline getiriyor. Şehir, tarihi dokusunu günümüze taşıyan camileri, hanları ve çarşılarıyla adeta bir zaman yolculuğu sunuyor. Bu güzel kentte dolaşmak, tarihi hissetmek, doğal mekanlarında dinlenmek ve kendinizi yenilenmiş hissetmek için sizlere özel olarak hazırladığımız içeriğe bakabilir ve rehber olarak alabilirsiniz.</p>


<h2 dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">1. Ertuğrul Gazi Türbesi</span></h2>
<p dir="ltr">
	<span><img alt="bilecik-ertugrul-gazi-turbesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/bilecik-ertugrul-gazi-turbesi-35871.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Ertuğrul Gazi Türbesi, Söğüt ilçesinde bulunan ve Osmanlı Devleti'nin kurucusu olan Ertuğrul Gazi'nin mezarının yer aldığı tarihi bir mekan olması nedeniyle her yıl binlerce kişi tarafından ziyaret ediliyor. Türbe, ilk olarak oğlu Osman Gazi tarafından açık mezar şeklinde yaptırıldı. I. Mehmet (Çelebi) mezarı bir bina içerisine alarak korudu. 1886 yılında Sultan II. Abdülhamid tarafından ise gerekli tamiratları yapılarak günümüz dünyasına kazandırıldı. Türbenin yanında Osmanlı Devleti’nin kuruluş yıllarında savaşan ve Ertuğrul Gazi’nin kardeşlerinin de aralarında bulunduğu birçok önemli ismin de mezarı yer alıyor. Osman Gazi vefat ettiğinde ilk yıllarda buraya defnedilse de Bursa’nın Orhan Gazi tarafından fethedilmesi sonrasında naaşı bugün bulunduğu yere taşınmış. Ancak Osman Gazi’ye ait yer halen daha mezar taşı ile birlikte yerini koruyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Türbe, Osmanlı mimarisinin özelliklerini taşıyan sekizgen şeklinde inşa edildi. Türbenin içinde Ertuğrul Gazi'nin sandukası, kılıcı, kalkanı ve zırhı sergileniyor. Her gün alp kıyafetli askerler kapısında nöbet tutuyor. Türbeyi ziyaret ettiğinizde Osmanlı’nın kuruluş yılları hakkında net bilgiler edinebilirsiniz. Türbe’nin duvarlarında Kurtuluş Savaşı dönemine ait izleri de görebilirsiniz. O dönem yapılan savaşlarda atılan mermilerin bir kısmı türbenin duvarlarında halen daha duruyor. Türbe, Türk tarihi ve kültürü için önemli bir simge olarak kabul edildiği için ayrı bir öneme sahip. Özellikle TRT’de yayınlanan Diriliş Ertuğrul isimli dizi sonrasında Ertuğrul Gazi Türbesi adeta ziyaretçi akınına uğradı.</span></p>
<p dir="ltr">
	<strong><span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">07.00-18.00</span></p>
	</li>
</ul>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6"><a href="https://www.google.com/maps/place/Ertu%C4%9Frul+Gazi+T%C3%BCrbesi/@40.0254958,30.1792911,15z/data=!4m2!3m1!1s0x0:0x19bddff53a0fcc43?sa=X&amp;ved=2ahUKEwie6aSDjMiCAxXVQvEDHSSfA-wQ_BJ6BAhjEAA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">2. Şeyh Edebali Türbesi</span></h2>
<p dir="ltr">
	<span><img alt="edebali-turbesi-bilecik" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/edebali-turbesi-bilecik-35909.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Osmanlı’nın kuruluş yıllarında önemli roller oynamış bir kişi olan Şeyh Edebali’ye ait türbe, Bilecik merkezde yer alıyor. Kompleks bir yapı içerisinde bulunan Şeyh Edebali Türbesi, Osman Bey’in oğlu Orhan Gazi tarafından yaptırıldı. Ancak yıllar içerisinde unutulan ve bakımsız kalan bu yapı 19. yüzyılda yeniden onarım gördü ve günümüze kadar gelmeyi başardı. Yine geçtiğimiz yıllarda bir çalışma daha geçiren Şeyh Edebali Türbesi, içerisinde müze evi ve caminin yanı sıra misafirlerin dinlenebileceği alanlar da yapıldı.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Türbenin içinde Şeyh Edebali’nin sandukası, kılıcı, tesbihi ve diğer eşyaları sergilenmektedir. Türbe, her yıl binlerce ziyaretçi tarafından ziyaret ediliyor. Türbeyi ziyaret edenler, Şeyh Edebali’nin hayatını, ilim ve irfanını ve Osmanlı Devleti’nin kuruluşuna katkısını öğrenebilirler. Türbe, Türk tarihi ve kültürü için önemli bir miraslarından birisi olarak görülüyor. Türbe, Bilecik merkezinde yer aldığı için kolay şekilde ulaşabilir..</span></p>
<p dir="ltr">
	<strong><span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">08.30-20.00</span></p>
	</li>
</ul>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6"><a href="https://www.google.com/maps/place/%C5%9Eeyh+Edebali+T%C3%BCrbesi/@40.143739,29.9882776,15z/data=!4m2!3m1!1s0x0:0x485684d482cf168f?sa=X&amp;ved=2ahUKEwiuze6F7caCAxXoQvEDHXiFDREQ_BJ6BAhcEAA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">3. Orhangazi Camii</span></h2>
<p dir="ltr">
	<span><img alt="orhangazi-camii" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/orhangazi-camii-53118.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Orhangazi Cami, Bilecik’in merkezinde, Şeyh Edebali Türbesine yakın bir konumda bulunan tarihi ve mimari bir yapıdır. 1392 yılında ibadete açıldığı bilinen cami, Yıldırım Beyazıt döneminde inşa edildi. Dedesi Orhan Gazi adına inşa ettiren Beyazıt, ata topraklarına bu önemli eseri kazandırdı. Cami, Osmanlı Devleti’nin ilk kubbeli camisi olma özelliğini taşıması açısından da son derece önemli bir yere sahip. Caminin kubbesi kurşunla kaplı olduğu için, halk arasında Kurşunlu Cami olarak da bilinmektedir. Caminin en ilginç yanı, ilk minaresinin ana yapının 30 metre uzağında, bir kayanın üzerine inşa edilmiş olması. Bunun o dönem neden bu şekilde yapıldığı hakkında net bir bilgi bulunmuyor. Caminin iki yanında, Sultan II. Abdülhamid döneminde eklenen iki minare daha bulunuyor. 1970’li yıllarda son olarak restore edilen cami günümüzde ibadet için kullanılmaya devam ediyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Orhangazi Cami, Osmanlı Devleti’nin kuruluş dönemine ait, tarihi ve kültürel bir miras olarak görülebilir. O dönem Osmanlı mimarisi hakkında daha net bilgilere sahip olmamızı da sağlaması açısından önemli bir yere oturuyor.</p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6"><a href="https://www.google.com/maps/place/Orhangazi+Cami/@40.1430615,29.9878259,15z/data=!4m2!3m1!1s0x0:0x3cfbd90b03bba1a4?sa=X&amp;ved=2ahUKEwjXy-iql8iCAxUfRvEDHb6sD0QQ_BJ6BAhNEAA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">4. Küçükelmalı Tabiat Parkı</span></h2>
<p dir="ltr">
	<span><img alt="kucukelmali-tabiat-parki" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/kucukelmali-tabiat-parki-53119.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Küçükelmalı Tabiat Parkı, Bilecik’in Pazaryeri ilçesinde, Küçükelmalı köyü yakınlarında bulunan doğa harikası bir yer. Tabiat parkı, 2011 yılında ilan edildi ve o dönemden bu yana misafirlerini ağırlıyor. Tabiat parkının en önemli özelliği, içinde bulunan Küçükelmalı Göleti. Gölet, 9 hektarlık bir alana yayılı ve olta balıkçılığı için ideal bir ortam sunuyor. Göletin etrafında, kayın, karaçam ve meşe ağaçlarından oluşan ormanlık bir alan yer alıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Bu alan, doğa yürüyüşleri, bisiklet turları, yaban hayatı gözlemciliği gibi aktiviteler için uygun ortam oluşturuyor. Tabiat parkında, ahşap köprüler, iskeleler, yürüyüş yolları, kamelyalar ve barbekü alanı gibi birçok aktiviteye izin veren imkanlar bulunuyor. Küçükelmalı Tabiat Parkı, Bilecik’in çevresinde yer alan Eskişehir, Bursa gibi illere olan yakınlığı ile de öne çıkıyor. Tabiat Parkı, doğanın kucakladığı huzur dolu bir cennet olarak, doğa severlerin mutlaka görmesi gereken yerlerin başında geliyor. Tabiat parkında, doğanın güzelliğini, temiz havayı, muhteşem manzarayı ve eğlenceli aktiviteleri yaşayabilir, unutulmaz anlar biriktirebilirsiniz.</span></p>
<p dir="ltr">
	<strong><span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">24 saat açık</span></p>
	</li>
</ul>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6"><a href="https://www.google.com/maps/place/K%C3%BC%C3%A7%C3%BCkelmal%C4%B1+Tabiat+park%C4%B1/@40.0152746,29.7938274,15z/data=!4m6!3m5!1s0x14cbea796fac0c3f:0x92c1a9a1e16ad6e1!8m2!3d40.0152746!4d29.7938274!16s%2Fg%2F11c2k7srjx?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">5. Hamidiye Camii</span></h2>
<p dir="ltr">
	<span><img alt="sogut-hamidiye-camii" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/sogut-hamidiye-camii-30933.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Bilecik Hamidiye Cami, Bilecik’in Söğüt ilçesinde, Osmanlı Devleti’nin son döneminin neo-klasik mimari tarzını yansıtan tarihi ve estetik bir yapı olarak karşımıza çıkıyor. Cami, 1903-1905 yıllarında Sultan II. Abdülhamid tarafından yaptırıldı ve günümüze kazandırıldı. Cami, kare planlı, tek kubbeli ve çifte minareli bir tasarım ile inşa edildi. Caminin duvarları kırmızı kesme taştan, kubbesinin ise kurşun kaplama olduğu görülüyor. Caminin iki minaresi olduğu için, halk arasında “Çifte Minareli Cami” olarak da biliniyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6">Caminin içinde, Sultan II. Abdülhamid’in yaptırdığı Yıldız Çini Fabrikasında üretilen on bir adet hat levhası, caminin mimarisine renk katıyor. Cami, Söğüt ilçe merkezinde, Ertuğrul Gazi Caddesi üzerinde, çarşı içinde yer alıyor. Caminin yanında, aynı dönemde inşa edilen idadi (ortaokul) ve darüleytam (yetimler okulu) gibi eğitim kurumları da bulunmaktadır. Söğüt’te yer alan Hamidiye Cami, Osmanlı Devleti’nin son dönemine tanıklık eden, tarihi ve kültürel bir değer olarak, ziyaretçilerine hem görsel hem de manevi bir zenginlik sunması açısında önemli bir eser olarak görülüyor. Camiyi ziyaret ederken, caminin mimarisini, tarihini ve sanatını keşfedebilir, Sultan II. Abdülhamid’in hayatını ve eserlerini öğrenebilir, caminin huzur veren atmosferinde kendinizi kaptırabilirsiniz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-d638e196-7fff-eace-a059-e7b4556332c6"><a href="https://www.google.com/maps/place/Hamidiye+Cami/@40.015064,30.1833523,15z/data=!4m2!3m1!1s0x0:0xaf93d7b460a09027?sa=X&amp;ved=2ahUKEwj63f77j8iCAxW0Z_EDHbFCAVcQ_BJ6BAhTEAA" target="_blank">Konum Linki</a></span></p>

</body>
</html>
