<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitlis'te Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>BİTLİS</h5>
<p>Van Gölü’nün eşsiz manzaraları, her adımda hissedilen mistik sokakları ve tarihsel derinliğiyle Bitlis, Anadolu coğrafyasında herkesin mutlaka keşfetmesi gereken bir yer. Nemrut Krater Gölünün gizemli sularından Ahlat Selçuklu Mezarlığının ihtişamlı taşlarına dek geniş bir keşif rotası sunan Bitlis’te gezilecek yerleri daha yakından keşfetmeye ne dersin?</p>
<h2>Bitlis'te Gezilecek Yerler</h2>
        <ol>
            <li> Nemrut Krater Gölü</li>
            <li>Bitlis Kalesi</li>
            <li>Tarihi Bitlis Çarşısı</li>
            <li>Ahlat Selçuklu Mezar Taşları</li>
            <li>Bitlis Etnografya Müzesi</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">1. Nemrut Krater Gölü</span></h2>
<p dir="ltr">
	<span><img alt="yeşil doğasıyla çevrelenen nemrut krater golu" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/nemrut-krater-golu-34001.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Ülkemizin dünyaca meşhur güzelliklerinden biri olan Nemrut Krater Gölü, hem oluşumundaki mucizesi hem de doğal manzarasıyla hayranlık uyandırıyor. Nemrut Krater Gölü aynı zamanda dünyadaki en büyük 2 krater gölünden biri durumunda. Toplamda 12 km’lik bir alana yayılan göl, toplamda 5 ayrı gölün birleşiminden meydana geliyor. Çevresinde yer alan kamp alanlarıyla da dikkat çeken bu tabiat güzelliği, pek çok aktiviteye uygun.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Sazan balığının yoğunluğu nedeniyle gölde balıkçılık oldukça yaygın. Yürüyüş yolları ve piknik için elverişli doğasıyla özellikle yaz aylarında çok sayıda kişinin ziyaret ettiği Nemrut Krater Gölünün en derin bölümü 155 metre. Gölün belli bölümlerinde yüzen insanlara tanıklık edebilirsin. Aynı ada sahip dağın dördüncü zamanda yaşadığı patlama neticesinde oluşan bu mucizevi göl, yüzlerce kuş türüne ev sahipliği yapıyor. Özetle, dünyada cenneti yaşamak istiyorsan, Bitlis’te yer alan Nemrut Krater Gölünü mutlaka gezi listenin başına almalısın.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7"><a href="https://www.google.com/maps/place/Nemrut+G%C3%B6l%C3%BC/@38.6213772,42.1827868,13z/data=!3m1!4b1!4m6!3m5!1s0x400d49bfcc5d2741:0x6233f6f9ab6f46e2!8m2!3d38.6215044!4d42.2206823!16s%2Fm%2F09gpndt?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">2. Bitlis Kalesi</span></h2>
<p dir="ltr">
	<span><img alt="akşam bitlis kalesi dış uzaktan görünüm" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/bitlis-kalesi-33757.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Şehrin simgelerinden biri olan Bitlis Kalesi’nin bundan 2300 yıl önce inşa edildiği düşünülüyor. Şehrin merkezinde yer almasından dolayı kolayca ziyaret edilebilen kale, Osmanlı ve Selçuklular döneminde bazı değişimlere uğramış. Kalenin 50 metreyi aşan surlarından Bitlis’in en güzel manzarasına tanıklık etmek mümkün.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Dik bir yamaçta bulunduğu için panoramik fotoğraflar çekmeye elverişli bir yer ola kale, Büyük İskender’in emriyle inşa edilmiş. Bitlis Kalesi, sert kayalık alanlarda konuşlandığı için çevresinde savunma hendekleri bulunmuyor. Bu arada kale içerisinde uzun zamandır arkeolojik çalışmalar devam ediyor. Fakat bu durum kaleyi gezmene engel bir durum teşkil etmiyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7"><a href="https://www.google.com/maps/place/Bitlis+Kalesi/@38.4014824,42.1037234,17z/data=!3m1!4b1!4m6!3m5!1s0x400d215289146727:0x160b713b0a80eda2!8m2!3d38.4014783!4d42.1083368!16s%2Fg%2F120tgtm3?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">3. Tarihi Bitlis Çarşısı</span></h2>
<p dir="ltr">
	<span><img alt="tarihi bitlis carsisi alışveriş yapılabilecek dükkanları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tarihi-bitlis-carsisi-54861.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Bitlis’e geldiğinde uğraman gereken yerlerden biri de Tarihi Bitlis Çarşısı. Özellikle sevdiklerine dönüşte yöresel hediyeler götürmek istersen, yıllara meydan okuyan bu çarşıyı değerlendirmelisin. Kazım Dirik Caddesi’nde bulunan çarşıda özellikle el sanatları atölyeleri biraz daha ön planda.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Arnavut kaldırımlı sokaklarda sıra sıra dizilen düzenli dükkanlarda sıcak ve içten esnaflarla karşılaşman olağan. Restoran ve kafelerin de yer aldığı bu büyük çarşı, Bitlis Kalesi’nin de hemen altında bulunuyor. Bu durum da çarşının dokusuna apayrı bir boyut kazandırıyor. Bu arada Evliya Çelebi Seyahatnamesi’nde bu çarşıdan övgüyle söz ediyor. </p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7"><a href="https://www.google.com/maps/place/Bitlis+KALE+ALTI/@38.4021868,42.0987849,16z/data=!4m10!1m2!2m1!1zQsSwVEzEsFMgVEFSxLBIxLAgw4dBUsWeSSBLT05VTQ!3m6!1s0x400d215267670d35:0xadf824e8d9d7a95c!8m2!3d38.4021868!4d42.1077971!15sCh9CxLBUTMSwUyBUQVLEsEjEsCDDh0FSxZ5JIEtPTlVNkgETaGlzdG9yaWNhbF9sYW5kbWFya-ABAA!16s%2Fg%2F11gdzk6hdr?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">4. Ahlat Selçuklu Mezar Taşları</span></h2>
<p dir="ltr">
	<span><img alt="en büyük mezarlıklardan olan ahlat selçuklu mezar taşları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ahlat-33281.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Bitlis’in tarihi ve kültürel miraslarından biri olan Ahlat Selçuklu Mezar Taşları, Van Gölü’ne oldukça yakın bir konumda. Ahlat ilçesindeki Türk-İslam mezarlığında yaklaşık olarak 8 bin civarında mezar taşı söz konusu. UNESCO’nun listesine dahil olması beklenen bu bölge, Selçuklulardan Bitlis’e kalan en değerli miras olarak yorumlanıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Özellikle taşlardaki ince işçilik ve kabartma biçiminde oyulan bitki motifleri, burayı daha da değerli hale getiriyor. Selçukluların önde gelen isimleri için yapılan anıtsal mezarlar da aynı bölgede bulunuyor. Ahlat Mezarlığı, Türk-İslam dünyasının en büyük mezarlıklarından biri durumunda. Toplamda 200 dönümlük alana kurulan bu kutsal mezarlık, “Kubbet-ül İslam” ismiyle de anılıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7"><a href="https://www.google.com/maps/place/Ahlat+Sel%C3%A7uklu+Mezarl%C4%B1%C4%9F%C4%B1/@38.7404294,42.4543349,17z/data=!3m1!4b1!4m6!3m5!1s0x400d5691df98fe97:0x488ca432e93ac8a9!8m2!3d38.7404253!4d42.4589483!16s%2Fg%2F1q66y7cmf?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">5. Bitlis Etnografya Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="bitlis etnografya muzesi dış görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/bitlis-etnografya-muzesi-54862.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Binlerce yıllık geleneklere ve sosyal/kültürel yaşama ayna tutan Bitlis Etnografya Müzesi, çok farklı koleksiyonlara sahip. Örneğin unutulan ya da artık kaybolmak üzere olan mesleklere yönelik sergide balmumu heykeller kullanılıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7">Demir işçiliği, bastonculuk, körükçülük gibi meslekler bu şekilde ziyaretçilere tanıtılıyor. İlgili dönemlere ait kıyafet ve günlük eşyalar konusunda müthiş bir titizlikten bahsetmek mümkün. Tam olarak Cumhuriyet Caddesi’nde yer alan müze, ücretsiz olarak gezilebiliyor. Bitlis’in tarihi değerlerinden biri olan İhlasiye Medresesi de hemen yan tarafta bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-e42570e0-7fff-6a7b-faaa-e0c2fe14fbd7"><a href="https://www.google.com/maps/place/Bitlis+Etnografya+M%C3%BCzesi/@38.4088161,42.1074443,17z/data=!3m1!4b1!4m6!3m5!1s0x400d26aa74bb4457:0x6eac9bb7d2ae710!8m2!3d38.4088119!4d42.1100192!16s%2Fg%2F1tg77jlj?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
