<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolu'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>BOLU</h5>
<p>
    Yılın her mevsimi ayrı bir güzellik sunan Bolu, büyüleyici tabiat parkları, kış aylarında dola kayak merkezleri, dünyaca ünlü yöresel lezzetleri ve binlerce yıllık tarihi hazineleriyle her yıl binlerce kişiye ev sahipliği yapıyor.

El değmemiş doğal güzellikleri ile tüm dünyadan fotoğrafçılar ve kampçıları kendine çeken Bolu’yu hem rehberli doğa gezileri hem de tarihi ve kültür turlarıyla keşfe çıkabilirsin.
</p>

<h2>Bolu'da Gezilecek Yerler</h2>
        <ol>
            <li>Gölcük Tabiat Parkı</li>
            <li>Abant Gölü ve Tabiat Parkı</li>
            <li>Akkaya Travertenleri</li>
            <li>Karacasu Kaplıcaları</li>
            <li>Bolu Dağı</li>

	<h2>
	<strong>1. Gölcük Tabiat Parkı</strong></h2>
<p>
	<img alt="Bolu Gölcük Milli Parkı'ndaki ormanın içindeki sonbahar ahşap Göl evi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/golcuk-tabiat-parki-37203.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Türkiye'nin en bilinen tabiat parklarından ve doğaya kaçış alanlarından biri olan Gölcük Tabiat Parkı, Bolu merkezine sadece 13 kilometre uzaklıkta yer alıyor. Yapay olarak tasarlanmış bir set gölü olan ve deniz seviyesinden 1217 metre yükseklikte bulunan Gölcük Gölü'nün etrafını saran tabiat parkı, kayın ve gürgen gibi onlarca çeşit ağacıyla muhteşem doğa manzaralarına sahip. Ahşap tasarımlı konuk evleri, kır bahçeleri, bungalov oteller, kamp alanları ve restoran gibi olanaklar bulabileceğiniz Gölcük Tabiat Parkı'nın çevresini saran yürüyüş parkurları ise tüm ülkeden doğa yürüyüşçülerinin ilgisini çekiyor.</p>
<p>
	Oldukça küçük olan Gölcük Gölü’nün çevresinde bisiklet turlarına çıkabilir, gölde kano gezileri ve balık avlama etkinliklerine katılabilirsin. Yılın her mevsimi fotoğraf safarilerinin düzenlendiği Gölcük Tabiat Parkı, özellikle kış aylarında sunduğu bembeyaz manzaralarıyla kartpostallardan çıkmış gibi görünüyor.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/G%C3%B6lc%C3%BCk+Tabiat+Park%C4%B1/@40.65454,31.6247765,17z/data=!3m1!4b1!4m5!3m4!1s0x409d465cfb12ac0b:0xa7d226436896b56a!8m2!3d40.65454!4d31.6269652?hl=tr" target="_blank">Konum Linki</a></p>

<h2>
	<strong>2. Abant Gölü ve Tabiat Parkı</strong></h2>
<p>
	<strong><img alt="hşap iskele ile suya sonbahar orman manzarası yansıması" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/abant-golu-8587.webp" loading="lazy"></strong></p>
<p>
	Bolu'nun ünlü doğal güzelliklerinden olan Abant Gölü yılın her dönemi misafirlerini ağırlıyor. Dört mevsim farklı güzelliğe sahip olan, her mevsim ayrı fotoğraf kareleri sunan göl şehir merkezine 34 kilometre uzaklıkta yer alıyor.Abant Dağı eteklerinde yer alan krater gölü olarak bilinen Abant Gölü, çevresini saran sarıçam, karaçam ve gürgen ağaçlarıyla doğa severlerin ülkemizde en çok ziyaret ettiği yerler arasında.</p>
<p>
	Yer altı suları ile beslendiği için her zaman temiz ve sağlıklı kalan sularıyla ünlü Abant Gölü, çevresini saran zengin bitki ve canlı çeşitliliği sayesinde 1988 yılında tabiat parkı ilan edildi. Tüm dünyadan kampçıların ve fotoğrafçıların ilgisini çeken tabiat parkı, karabatak, kaya kartalları kadar yüzlerce vahşi hayvanıyla da harika fotoğraflar sunuyor.</p>
<p>
	Abant Gölü ve Tabiat Parkı içerisinde balık restoranları, bungalov oteller, kamp alanları, piknik alanları ve doğa sporları merkezleri gibi her yaşam tipine ve her bütçeye göre konaklama seçenekleri bulunuyor.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Abant+G%C3%B6l%C3%BC/@40.6054879,31.2733284,15z/data=!3m1!4b1!4m5!3m4!1s0x409d66c499de5db3:0x69d6b4eaa695b309!8m2!3d40.6041044!4d31.2791071?hl=tr" target="_blank">Konum Linki</a></p>
<h2>
	<strong>3. Akkaya Travertenleri</strong></h2>
<p>
	<strong><img alt="Akkaya Travertenleri görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/akkaya-travertenleri-37192.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Az rastlanır bir güzelliğe sahip olan Akyaka Travertenleri, Bolu’ya 10 kilometre uzaklıkta yer alıyor. Büyüleyici manzarasıyla her yıl binlerce kişi tarafından ziyaret edilen Akkaya Travertenleri, 250 metre uzunluğundaki bembeyaz traverten teraslarıyla kendini bir kartpostal karesinde hissedeceksin.</p>
<p>
	Yılın her ayı ziyaretçilerini ağırlayan Akkaya travertenlerinin göletlerinde yaz aylarında yüzebilir, seyir teraslarından harika fotoğraflar çekebilir veya kır bahçelerinde yöresel yemekler eşliğinde manzaranın tadını çıkarabilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Akkaya+Travertenleri/@40.6746582,31.5175775,17z/data=!3m1!4b1!4m5!3m4!1s0x409d417973663fe1:0xfce3cb30ace4414a!8m2!3d40.6746582!4d31.5197662?hl=tr" target="_blank">Konum Linki</a></p>

<h2>
	<strong>4. Karacasu Kaplıcaları</strong></h2>
<p>
	<strong><img alt="Kaplıcalar görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kaplicalar-946.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Bolu, büyüleyici doğal güzelliklerinin yanı sıra termal kaynaklarıyla da adından sık sık bahsettiriyor. Şehrin en ünlü kaplıcalarından biri olan Karacasu Kaplıcası, 44 derece sıcaklıktaki renksiz ve kokusuz şifalı sularıyla tüm dünyadan şifa arayan veya termal sularla dinlenmek isteyen binlerce kişiyi ağırlıyor.</p>
<p>
	Karacasu ilçesi içerisinde bulunan birçok kaplıca ve termal tesis dışında yemyeşil doğası ve oksijen seviyesi yüksek havasından dolayı da önemli bir sağlık turizmi merkezi haline gelmiş durumda. Birçok hastalığa iyi gelen Karacasu Kaplıcaları, Bolu’ya sadece 5 kilometre uzaklıkta yer alıyor.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/K%C3%BC%C3%A7%C3%BCk+Kapl%C4%B1ca+Tesisleri/@40.684006,31.6164387,18z/data=!3m1!4b1!4m9!1m2!2m1!1skaracasu+kapl%C4%B1calar%C4%B1!3m5!1s0x409d403db206431d:0x55be5fec6f141596!8m2!3d40.684006!4d31.617533!15sChZrYXJhY2FzdSBrYXBsxLFjYWxhcsSxkgEQaG90X3NwcmluZ19ob3RlbA?hl=tr" target="_blank">Konum Linki</a></p>
<h2>
	<strong>5. Bolu Dağı</strong></h2>
<p>
	<strong><img alt="Bolu Dağı havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bolu-dagi-37199.webp" style="width: 825px; height: 563px;" loading="lazy"></strong></p>
<p>
	Düzce Ovası ile Bolu Ovası’nı birbirinden ayıran 1577 metre yükseklikteki Bolu Dağı hem doğa sporu yapmak isteyenler hem de doğa ile iç içe olmak isteyenler tarafından çok tercih ediliyor.</p>
<p>
	Onlarca çeşit ağaç ve yaşam zenginliğiyle ülkemizin en özel yerlerinden biri olan Bolu Dağında kampçılık, kaya tırmanma, trekking veya dağcılık gibi onlarca spor yapabilir, rehberli doğa yürüyüşleriyle bölgeyi keşfe çıkabilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/Bolu+Da%C4%9F%C4%B1/@40.7499992,31.4079119,15z/data=!3m1!4b1!4m5!3m4!1s0x409d6b621d237f3f:0x56f556c6d10a86a1!8m2!3d40.75!4d31.4166667?hl=tr" target="_blank">Konum Linki</a></p>



</body>
</html>
