<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burdur'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>BURDUR</h5>
<p>Burdur binlerce yıllık tarihi, el değmemiş tabi güzellikleri, doğası kadar renkli kültürüyle Anadolu'nun şirin bir şehridir. Batı Akdeniz Bölgesinde yer alan Burdur, Teke Yöresinin Kültür Başkenti olarak bilinmekte Göller, Güller ve Gönüller diyarı olarak anılmaktadır.

</p>

<h2>Burdur’da Gezilecek Yerler</h2>
        <ol>
            <li>Salda Gölü</li>
            <li>Burdur Arkeoloji Müzesi</li>
            <li> İnsuyu Mağarası</li>
            <li>Burdur Kent Ormanı</li>
            <li>Saat Kulesi</li>

<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">1. Salda Gölü</span></h2>
<p dir="ltr">
	<span><img alt="salda-gölü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/salda4-35856.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Listenin ilk sırasında sadece Burdur’un değil tüm Türkiye’nin gözbebeği olan Salda Gölüne yer veriyoruz. Şehrin tam anlamıyla sembolü olarak kabul edilen bu muhteşem göl, her sene yüzbinlerce yerli ve yabancı ziyaretçiye ev sahipliği yapıyor.. “Türkiye’nin Maldivleri” olarak da anılan Salda, Mars ile benzer yüzey özelliklerine sahip.Salda Gölü, dünyada böyle bir özelliğe sahip olan iki oluşumdan biri olarak karşımıza çıkıyor.</span></p>
<p dir="ltr">
    <span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Yeşilova ilçesinde yer alan turistik bölge, şehir merkezine yaklaşık olarak 70 km uzaklıkta. Deniz seviyesine göre yüksekliği 1100 metre civarında olan göl, özellikle yaz aylarında önemli bir ilgi görüyor. Gölün derinliği bazı noktalarda 180 metreye kadar ulaşabiliyor. Tektonik yapıda bir göl olan Salda Gölü, enfes kumsalı ve turkuaz rengin yarattığı etkileyici manzarası ile meşhur.</span></p>
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/Salda+G%C3%B6l%C3%BC/@37.5475531,29.534836,12z/data=!3m1!4b1!4m6!3m5!1s0x14c6c43d6be9db11:0xb027419946d9738b!8m2!3d37.5509434!4d29.6730939!16s%2Fm%2F04gqbqs?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">2. Burdur Arkeoloji Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="burdur-arkeoloji-muzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/burdur-arkeoloji-muzesi-53690.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Burdur’daki arkeolojik çalışmaların önemli ölçüde sergilendiği Burdur Müzesi, hemen bahçe kısmında bulunan tarihi kütüphanenin mimarisi referans alınarak tasarlanmış. Müze esasen 1956 senesinde kurulmuş olmasına rağmen 2001 senesinde ciddi bir düzenlemeden geçirildi. Burdur Müzesi’nde sergilenen eserlerin önemli bir bölümü Hacılar, Höyücek, Kuruçay, Kibyra ve Boubon kazı çalışmalarından çıkarılmış.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Günümüzde 60 binin üzerinden eseri bünyesinde barındıran bu büyük müze, yakın zaman önce “Gezilip Görülmeye Değer Müze” olarak geçen özel bir ödülün de sahibi durumunda. 3 ayrı bölümü olan müzenin üst katlarında Erken Kalkolitik dönemlere ait eserler bulabilirsiniz. Giriş katında ağırlıklı olarak Kibyra Antik Kenti ve Sagalassos Antik Kenti’nde gerçekleşen çalışmaların sonuçlarını inceleyebilirsiniz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/Burdur+Arkeoloji+M%C3%BCzesi/@37.7196594,30.283671,17z/data=!3m1!4b1!4m6!3m5!1s0x14c42c2ffe77170b:0xf89a5f8941a7c55!8m2!3d37.7196552!4d30.2862459!16s%2Fg%2F1233g1p2?entry=ttu" target="_blank">Konum Linki</a></span></p>

<p dir="ltr">
	<strong><span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Haftanın her günü 09.00 ile 17.30 saatleri arasında ziyaret edilebilir.</div></span></p>
	</li>
</ul>
<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">3. İnsuyu Mağarası</span></h2>
<p dir="ltr">
	<span><img alt="insuyu-magarasi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/insuyu-magarasi-37474.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Burdur-Antalya Yolu üzerinde bulunan İnsuyu Mağarasının en önemli özelliği, ülkemizin turizme kazandırılan ilk mağarası olması. Günümüzde mağaranın yalnızca 330 metrelik bölümü gezilebiliyor. İnsuyu Mağarası, turizme açılmayan kısmıyla birlikte toplamda 8.350 metrelik bir uzunluğa sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Binlerce dikit ve sarkıttan oluşan bu doğa mucizesi, karstik yapıdaki kayaların zaman içerisinde aşınması neticesinde ortaya çıkmış. Bir yeraltı sarayını andıran bu gizemli ve ihtişamlı mağara, tam olarak Çatağıl Köyü içerisinde yer alıyor. 1965 senesinde ilk olarak ziyarete açılan İnsuyu Mağarası, günümüzde doğal bir SİT alanı olarak geçiyor. Mucizevi yapı, deniz düzeyinin yaklaşık 900 metre yukarısında.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/%C4%B0nsuyu+Ma%C4%9Faras%C4%B1/@37.6594252,30.3649244,15z/data=!3m1!4b1!4m6!3m5!1s0x14c431bb9fdc6425:0x841c01d11dcc8d1b!8m2!3d37.6594092!4d30.3752242!16s%2Fg%2F11x7vv4hq?entry=ttu" target="_blank">Konum Linki</a></span></p>

<p dir="ltr">
	<strong><span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Haftanın her günü 08.30 ile 17.00 saatleri arasında ziyaret edilebilir.</div></span></p>
	</li>
</ul>
<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">4. Burdur Kent Ormanı</span></h2>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Burdur’un tabiat güzellikleri arasında yer alan Burdur Kent Ormanı, merkeze 10 km uzaklıkta. Burası, sevdiklerinizle beraber piknik yapmak adına değerlendirebileceğiniz oldukça ideal bir yer. Devasa ağaçların çevrelediği ormanlık alan, aynı zamanda müthiş bir göl manzarasına sahip. Burdur Kent Ormanı, sunduğu çeşitlilikle fotoğraf tutkunlarının da ilgisini çekiyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Kent ormanı içerisinde ihtiyaçlarınıza yanıt bulabileceğiniz tesisler bulunuyor. Bu arada kent ormanı içerisinde özel çocuk oyun alanları, bisiklet ve koşu parkurları, voleybol ve basketbol sahaları gibi olanaklar söz konusu. Kamp ve karavan meraklılarının da uğrak yerlerinden biri olan Burdur Kent Ormanında mangal konusunda herhangi bir yasak söz konusu değil.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/Burdur+Kent+Orman%C4%B1/@37.6830644,30.1940046,17z/data=!3m1!4b1!4m6!3m5!1s0x14c428539ce90793:0xa25f373fa5c42ac!8m2!3d37.6830602!4d30.1965795!16s%2Fg%2F1vd3x_jg?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">5. Saat Kulesi</span></h2>
<p dir="ltr">
	<span><img alt="burdur-saat-kulesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/burdur-saat-kulesi-53691.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">19’uncu yüzyılda inşa edilen Burdur Saat Kulesi, 25 metrelik yüksekliğe sahip. Bu sayede şehir merkezinde pek çok bölgeden görülebilen ihtişamlı kulenin inşası, o dönem Konya’nın Valisi olarak görev yapan Tevfik Paşa’nın emri ile gerçekleşmiş.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Burdur Saat Kulesi 1914 senesindeki depremde çok ciddi bir hasarla karşılaşmış olmasına rağmen 22 sene sonra gerçekleşen çalışmalar sayesinde şehre yeniden kazandırılmış. Saat Kulesi’nin ikinci defa inşa edilmesinde Hacı Ali Emir Bey’in girişimleri etkili olmuş. Kare plana sahip olan kule, kesme taşlardan oluşuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/Burdur+Saat+Kulesi/@37.7176281,30.2836172,17z/data=!3m1!4b1!4m6!3m5!1s0x14c42c2f8685d845:0xb767615d6145c204!8m2!3d37.7176239!4d30.2861921!16s%2Fg%2F11bwf3xblf?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">6. Sagalassos Antik Kent</span></h2>
<p dir="ltr">
	<span><img alt="sagalassos-antik-kent" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/sagalassos-antik-kent-53692.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Burdur’daki pek çok Antik kent gibi Sagalassos Antik Kenti de Pisidia Bölgesi’nin şehirlerinden biri. Ağlasun ilçesinde konumlanan Sagalassos, ilçe merkezine yaklaşık olarak 6 km uzaklıkta. Akdağ’ın yamaçlarında yer alan kent, oldukça tepe bir noktada. Sagalassos Antik Kenti’nin keşfedilmesi, 1706 senesinde gerçekleşmiş.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74">Fransız bir gezgin tarafından keşfedilen kent; tiyatro, hamam, kütüphane, meclis binası ve tapınak gibi bölümleri ile ziyaretçilerini selamlıyor. Tarihte Büyük İskender’in bu kenti M.Ö. 333 senesinde ele geçirdiği biliniyor. Kent o dönemlerde Seleukos ve Sagalassos hakimiyetlerinde kalmış, daha sonra ise Roma topraklarına dahil olmuş. Bu arada Sagalassos Antik Kenti’nin 2009 senesinde UNESCO tarafından Dünya Mirası Geçici Listesine alındığını belirtelim.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-84a0ce0a-7fff-1890-605f-dae4d8be1d74"><a href="https://www.google.com/maps/place/Sagalassos+Antik+Kenti/@37.6772991,30.5143802,17z/data=!3m1!4b1!4m6!3m5!1s0x14c44a0895555555:0xab8df9d563ad36f3!8m2!3d37.6772949!4d30.5169551!16s%2Fg%2F1ptxy0mjd?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
