<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bursa'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5><b>BURSA</b></h5>

<p> 1335 yılında Osmanlı'ya ilk başkent olan Bursa, zengin tarihiyle Türkiye'de tarih ve kültür gezileri yapmak için en ideal şehirlerden biri. Ülkemizin 4. büyük şehri olan Bursa; Osmanlı döneminden kalan büyüleyici mimari şaheserler, Marmara Denizi kıyısındaki tertemiz plajları ve el değmemiş doğal güzellikleriyle turizm olanaklarının geliştiği bir şehir. Dünyanın ve Türkiye’nin birçok şehrinden uçak bileti alarak kolayca gidebileceğiniz Bursa, deniz manzaralı butik otellerden Uludağ eteklerindeki orman köşklerine kadar birçok seçenek sunuyor.

Türkiye’nin en sevilen kış turizmi noktalarından Uludağ Kayak Merkezi, Mudanya gibi tatil cennetleri, 700 yıllık Osmanlı köyleri, şehir merkezinde her köşede karşınıza çıkacak günümüze kadar sağlam kalmış görkemli camileri, hanları ve medreseleriyle ünlü şehir, günlerce gezseniz bile bitiremeyeceğiniz bir zenginliğe sahip. Bursa’da mutlaka görülmesi gereken en popüler yerleri yerleri sıraladık ve konumlarını bulmanızı kolaylaştırmak için gezilecek yerlere konum linklerini tek tek ekledik.
</p>
<h2>Ardahan’da Gezilecek Yerler</h2>
        <ol>
            <li>Bursa Ulu Camii</li>
            <li>Koza Han</li>
            <li> Yeşil Camii ve Yeşil Türbe</li>
            <li>Muradiye Külliyesi</li>
            <li>Uzun Çarşı</li>
            <li>Murad Hüdavendigar Camii</li>
            <li>Bursa Kapalı Çarşı</li>
            <li>Türk İslam Eserleri Müzesi (Yeşil Medrese)</li>

<h2>
	1- Bursa Ulu Camii</h2>
<p>
	<img alt="Ulu camii bursa" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ulu-camii-bursa-36777.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	20 tane görkemli kubbesiyle Bursa denilince ilk akla gelen simge yapılardan biri olan Bursa Ulu Camii, Osmangazi ilçesi Ulucami Caddesi’nde şehrin en çok ziyaret edilen yerlerinden biri olan Hanlar Bölgesi’nde yer alıyor. İhtişamıyla yerli ve yabancı turistleri büyüleyen Bursa Ulu Camii, 1400 yılında inşa edildi ve 1855 yılında yaşanan depremden sonra yenilendi. Kabe kapısını örten saf altınla süslü ipek örtünün de sergilendiği cami, Osmanlı çok ayaklı cami mimarisinin en güzel örneklerinden biri olarak kabul ediliyor.</p>
<p>
	Yıldırım Beyazıt döneminde Niğbolu Zaferi sonrası yaptırılan Bursa Ulu Camii, 20 kubbesi, 16 köşeli şadırvanları, 3.165 m2 büyüklükteki iç alanını süsleyen çinileri, minyatürleri ve ahşap oymalarıyla görülmeye değer bir güzelliğe sahip. Kündekari tekniği ile yapılan çini ve Osmanlı hat sanatı örneklerini de burada inceleyebileceğiniz, Türkiye’nin en güzel camilerinden biri olarak kabul edilen Bursa Ulu Camii, hem mimari bir şaheser hem de huzurlu bir kutsal mekan olarak Bursa gezilerinde kesinlikle ziyaret edilmesi gereken yerlerden.</p>
<p>
	<a href="https://www.google.com/maps/place/Ulu+Camii/@40.1839976,29.059615,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca383f1ab219dd:0x26f1946c7d131ee3!8m2!3d40.1842002!4d29.0617575" target="_blank">Konum Linki</a></p>
<h2>
	2- Koza Han</h2>
<p>
	<img alt="Kozahan iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kozahan-36779.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Bursa Ulu Camii ve Orhan Gazi Camii arasında yürüyerek kolayca ulaşabileceğiniz güzel bir konumda bulunan Koza Han, Bursa şehir gezilerinin değişmez adreslerinden biri. 2. Beyazıt döneminde, 1491 yılında yaptırılan ve iki katlı kesme mimarisiyle en güzel Osmanlı dönemi eserlerinden biri olarak kabul edilen Koza Han, yüzlerce yıl boyunca burada ipek böceği kozası satışının yapılmasından ismini alıyor.</p>
<p>
	Günümüzde ipek eşarplar, şallar ve elbiseler satan 45 dükkanı ile hala Bursa’nın en önemli alışveriş noktalarından biri olan Koza Han’ın çınar ağaçlarıyla çevrili dikdörtgen avlusunda yer alan çay bahçesinde alışverişten sonra çayınızı yudumlayarak muhteşem mimarinin tadını çıkarabilirsiniz. Taç kapısının da görülmeye değer güzellikte olduğu Koza Han’a hem ipek ürünler alma hem de asırlık çınar ağaçları yorgunluk atmak için uğrayabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Koza+Han/@40.1840778,29.0612691,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca3de180100d4b:0xc31f434d2d7b03cd!8m2!3d40.1846465!4d29.0635247" target="_blank">Konum Linki</a></p>
<h2>
	3- Yeşil Camii ve Yeşil Türbe</h2>
<p>
	<img alt="Bursa yeşil  türbe dış görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bursa-turbe-28101.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Yeşil Camii ve Yeşil Türbe, Osmanlı erken dönem mimarisinin en güzel örneklerinden biri olarak kabul ediliyor. Bursa’nın merkezinde Yeşil Camii semtinde yer alan ve 1419 yılında Çelebi Sultan Mehmet döneminde inşa edilen Yeşil Camii, Türkiye'deki ender ters t planlı camilerden biri ve Bursa’nın en çok ziyaret edilen camilerinden.</p>
<p>
	Türk taş oymacılığı sanatı ve çinileri konusunda mükemmellik derecesine varan işçiliğiyle ünlü caminin kubbeleri de bir zamanlar çinilerle süslüymüş. Huzurlu iç atmosferiyle sizi hemen büyüleyecek olan Yeşil Camii, özellikle kutsal günler ve dini bayramlarda tamamen doluyor. Türkiye'nin en güzel camilerinden ve mimari eserlerinden biri olarak kabul edilen Yeşil Camii ve Yeşil Türbe’yi Bursa’da mutlaka görülmesi gereken yerler listenize eklemelisiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Ye%C5%9Fil+Cami/@40.076192,29.4953372,17z/data=!3m1!4b1!4m5!3m4!1s0x14cbcbf023d14fef:0xc3bdfd05185db5d9!8m2!3d40.076192!4d29.4975259" target="_blank">Konum Linki</a></p>
<h2>
	4- Muradiye Külliyesi</h2>
<p>
	<img alt="Muradiye külliyesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/muradiye-kulliyesi-36792.webp" loading="lazy"></p>
<p>
	1425 ile 1426 yılları arasında inşa edilen Muradiye Külliyesi, Bursa’nın en önemli tarihi değerlerinden biri. İçerisinde cami, medrese, imarethane, hamam ve türbelerin bulunduğu Muradiye Külliyesi’ni gezerken erken dönem Osmanlı mimarisinin en çarpıcı örneklerini yakından görme şansı yakalayacaksınız.</p>
<p>
	Osmangazi ilçesi 2. Murat Caddesi üzerinde yer alan, toplu taşıma araçlarıyla veya yürüyerek kolayca ulaşabileceğiniz Muradiye Külliyesi, klasik kubbeli mimari yapısıyla Osmanlı ve Selçuklu mimarisinin bir birleşimini yansıttığı için de mimari meraklıların Bursa’da en çok ziyaret ettiği tarihi yapılardan biri konumunda.</p>
<p>
	<a href="https://www.google.com/maps/place/Muradiye+K%C3%BClliyesi/@40.1902779,29.0430196,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca16001e9e891b:0x75dd78601252c893!8m2!3d40.1902828!4d29.0452173" target="_blank">Konum Linki</a></p>
<h2>
	5- Uzun Çarşı</h2>
<p>
	<img alt="Uzun çarşı alışveriş yapan insanlar" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/uzun-carsi-36776.webp" loading="lazy"></p>
<p>
	Bursa'nın en eski çarşısı olan Uzun Çarşı, 15. yüzyılın ilk yarısından beri şehrin en önemli alışveriş noktalarından biri. Osmangazi Nalbantoğlu Mahallesi'nde yer alan ve Evliya Çelebi'nin kitaplarında abartarak 100.000’den fazla dükkanın olduğunu söylediği Uzun Çarşı, Koza Han’ın kuzey tarafında şehir merkezine kısa bir yürüyüş mesafesinde bulunuyor.</p>
<p>
	1340 yılında Orhan Gazi döneminde açılan Uzun Çarşı’nın içerisinde günümüzde 80 dükkan hizmet veriyor. Çarşı; Bursa'nın ünlü kestane şekerlerini alabileceğiniz şekerlemeciler, bıçakçılar, bakırcılar, tekstil ve ipek ürünleri satan küçük dükkanlar, yöresel el sanatı ürünleri alabileceğiniz mağazalar ve Bursa’nın en sevilen lezzetlerini tadabileceğiniz restoranları ile keyifli bir alışveriş deneyimi ve gezi keyfi sunuyor. Çarşısın otantik kafesinde de alışverişten sonra Türk kahvenizi içerek yorgunluk atabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Nalbanto%C4%9Flu,+Uzun%C3%A7ar%C5%9F%C4%B1+Cd.,+Osmangazi%2FBursa/@40.184771,29.0608368,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca3de3c8e614b5:0x3b1c9b5350c7af2!8m2!3d40.184771!4d29.0630255" target="_blank">Konum Linki</a></p>
<h2>
	6- Murad Hüdavendigar Camii</h2>
<p>
	<img alt="Murat Hüdavendigar Camii bursa yakın çekim görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/murat-hudavendigar-camii-bursa-36808.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	14. yüzyıl Osmanlı mimarisinin en güzel örneklerinden birini görmek için Bursa Çekirge’de merkezi bir konumda bulunan ve 1385 yılından günümüze kadar sağlam kalmayı başarmış 1. Murat Hüdavendigar Camii’ni ziyaret edebilirsiniz. Bursa Ovası’nın manzaralarına hakim bir konuma inşa edilen, 2 katlı 18 odalı cami ve medresenin taş ile örülen kalın duvarları ünlü Rum mimarlar tarafından tasarlanmış. Caminin içi ise Osmanlı motifleri ve etkileyici çiniler ile görülmeye değer güzellikte. Çekirge Mahallesi, 1. Murat Caddesi üzerinde yer alan bu tarihi camiye dolmuşlar veya otobüslerle rahatlıkla 5-10 dakika içerisinde gidebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/I.+Murad+H%C3%BCdavendigar+Camii/@40.2023163,29.0189943,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca15de6abe6705:0x8aa741e1dc7ffad!8m2!3d40.2023196!4d29.0212098" target="_blank">Konum Linki</a></p>
<h2>
	7- Bursa Kapalı Çarşı</h2>
<p>
	<img alt="Kapalıçarşı Bursa da gezen insanlar" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kapalicarsi-bursa-28102.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Bursa Kapalı Çarşı, Ulu Camii'nin yakınındaki güzel konumuyla yerli ve yabancı turistlerin şehri gezerken ilk uğradığı yerlerden. Çoğunlukla kuyumcu dükkanlarının hizmet verdiği, yüzlerce yıllık tarihi dokusunu günümüze kadar korumayı başarmış Bursa Kapalı Çarşısı’nın 130 dükkanında yöresel tekstil ürünlerinden altın ve gümüş mücevherlere, antikalardan el yapımı sanat eserlerine kadar yüzlerce ürünü inceleyebilirsiniz. Geleneksel Osmanlı ve Bursa yemekleri servis eden restoranların da hizmet verdiği Bursa Kapalı Çarşı, hem tarihi atmosferi hem de zengin alışveriş olanaklarıyla Bursa'da mutlaka görmeniz gereken yerlerden biri.</p>
<p>
	<a href="https://www.google.com/maps/place/Kapal%C4%B1+%C3%87ar%C5%9F%C4%B1/@40.184825,29.0590117,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca3de235405169:0xe60be23a57e124f8!8m2!3d40.184825!4d29.0612004" target="_blank">Konum Linki</a></p>
<h2>
	8- Türk İslam Eserleri Müzesi (Yeşil Medrese)</h2>
<p>
	<img alt="Yeşil medrese bahçeden görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yesil-medrese-36795.webp" loading="lazy"></p>
<p>
	1419 yılında Sultan 1. Mehmet tarafından inşa ettirilen yeşil kompleksin en eski medresesi olan Yeşil Medrese, günümüzde Türk İslam Eserleri Müzesi olarak hizmet veriyor. Moloz ve kesme taş ile inşa edilen ilk medreselerden biri olmasıyla ünlü Yeşil Medrese, mimari öneminin yanı sıra Türk İslam Eserleri Müzesi'nin zengin koleksiyonları için de ziyaret ediliyor.</p>
<p>
	Selçuklu sikkeleri, geleneksel Türk el sanat ürünleri, yöresel giysiler, seramik koleksiyonu, oyma ve kakma eserler koleksiyonu, İznik ve Kütahya çini koleksiyonlarının yanında Selçuklu, Beylik ve Osmanlı dönemine uzanan çok geniş bir koleksiyonu da sahip olan müze, Türk kültürüne ilgi duyanların ülkemizde mutlaka gezmesi gereken yerlerden biri. Türk İslam Eserleri Müzesi’ni hafta içi 10:00 ile 16:00 saatleri arasında küçük bir ücret karşılığı ziyaret edebilir, Selçuklu ve Osmanlı dönemine unutulmaz bir yolculuk yapabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Ye%C5%9Fil+(Sultaniye)+Medresesi/@40.1824992,29.0716813,17z/data=!3m1!4b1!4m5!3m4!1s0x14ca3d7279714577:0x3d3760eff678125!8m2!3d40.1824992!4d29.07387" target="_blank">Konum Linki</a></p>

</body>
</html>
