<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edirne'de Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>EDİRNE</h5>
<p>Türkiye’nin açık hava müzesi konumundaki tarihi kenti Edirne her adımında kültürün, sanatın, mimarinin, gastronominin inceliklerini sunuyor. Osmanlı İmparatorluğu’na başkentlik etmiş, Mimar Sinan’ın en önemli eserlerine ev sahipliği yapmış, Rumeli ve Trakya topraklarının bereketini yemeklerinden müziklerine kadar nakşetmiş Edirne’yi tarihi anlamak, estetiği yerinde görmek için mutlaka ziyaret etmelisin.</p>

<h2>Edirne'de Gezilecek Yerler</h2>
        <ol>
            <li>Mimar Sinan Heykeli</li>
            <li>Selimiye Camii ve Külliyesi</li>
            <li>Selimiye Arastası</li>
            <li>Selimiye Vakıf Müzesi</li>
            <li>Yemiş Kapanı Hanı</li>
            <li>Eski Camii</li>
            <li>Üç Şerefeli Camii</li>
<h2>
	1. Mimar Sinan Heykeli</h2>

<p>
	<img alt="mimar sinan heykeli haritaya bakan kadın" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/mimar-sinan-54909.webp" style="width: 825px; height: 620px;" title="Gizem Edirne'de gezilecek yerleri keşfetmeye başlamadan önce gideceği yerlere haritadan bakıyor" loading="lazy"></p>
<p>
	Selimiye Camii, Eski Camii ve Üç Şerefeli Camii’nin oluşturduğu ‘altın üçgen’ noktasında seni ilk Mimar Sinan heykeli karşılar. Edirne’nin dünya çapında benzersiz bir yer olmasını sağlayan ve kente paha biçilemez eserler bırakan mimari dehanın izinde bir Edirne gezisi yapacağını baştan söyleyelim. Çünkü Edirne’de Mimar Sinan’a ait birçok eser yer alıyor. Bunlar arasında Selimiye Camii, Rüstem Paşa Kervansarayı, Sokullu Hamamı, Kanuni Sultan Süleyman ile Yalnızgöz köprüsü ve Defterdar Mustafa Paşa Camii gibi önemli yerler bulunuyor.</p>
<p>
	<a href="https://www.google.com/maps/place/Mimar+Sinan+Cd.,+Edirne+Merkez%2FEdirne/@41.6827335,26.563851,17z/data=!3m1!4b1!4m6!3m5!1s0x14b32fa0540275c1:0x7b475e1548eaa04b!8m2!3d41.6827335!4d26.563851!16s%2Fg%2F1tk69wkr?entry=ttu">Konum Linki</a></p>
<h2>
	2. Selimiye Camii ve Külliyesi</h2>
<p>
	<img alt="edirne selimiye camii minare görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/selimiye-camii-ve-kulliyesi-54979.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	“Çıraklığımı Şehzade Camii’nde, kalfalığımı Süleymaniye Camii’nde, ustalığımı ise Selimiye Camii’nde tamamladım.” der Mimar Sinan. Sinan’ın dehasını tüm dünyaya asırlar sonra bile göstermeye devam ettiği Selimiye Camii mimari özellikleri ve kullanılan teknik bakımından eşi benzeri görülmemiş bir yapı. 43,25 metre yüksekliğinde ve 31,25 metre çapında olan caminin kubbesi 8 sütuna dayanan bir kasnak üzerinde yer alıyor. Muazzam İznik çinileri ile iç mekanın alabildiğine geniş ve ferah görünüme ulaştığı Selimiye Camii’yi Edirne’nin en uzak noktasına gitsen dahi görebileceğini söyleyelim.</p>
<p>
	Kanuni Sultan Süleyman tarafından ‘ser mimaran-ı cihan ve mühendisan-ı devran" (cihan mimarlarının ve devrin mühendislerinin başkanı) olarak adlandırılan Mimar Sinan’ın ustalık eserine dair birçok rivayet bulunsa da tek gerçek bu eşsiz yapının ilelebet benzersizliğini koruyacak olması. 2011 yılından UNESCO tarafından dünya mirası olarak tescillenen <a href="https://www.enuygun.com/bilgi/selimiye-camii-nin-cok-bilinmeyen-9-ozelligi/">Selimiye Camii</a> hakkında daha fazla bilgiye ulaşmak için linkteki yazımızı da okuyabilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Selimiye+Cami/@41.6781067,26.5570951,17z/data=!3m1!4b1!4m5!3m4!1s0x14b32f75c6afb395:0x4575bc141db6227b!8m2!3d41.6781107!4d26.5591551">Konum Linki</a></p>
<h2>
	3. Selimiye Arastası</h2>
<p>
	<img alt="selimiye arasta içinde alışveriş dükkanları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/selimiye-arasta-54910.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Selimiye Camii’nin hemen altında yer alan Selimiye arastası Edirne’ye özgü hediyelikler alabileceğin bir çarşı konumunda. Ve elbette cami ile bütün bir yapı olması sebebiyle tarihi öneme sahip. Selimiye Camii’ne gelir sağlamak için III. Murat tarafından Mimar Davut Ağa'ya yaptırılan arasta Evliya Çelebi’nin Seyahatnamesi'nde de adı geçen özel bir yer. 73 kemerli arastanın uzunluğu ise 256 metre.</p>
<p>
	<a href="https://www.google.com/maps/place/Selimiye+Arastas%C4%B1/@41.6772876,26.5590594,15z/data=!4m2!3m1!1s0x0:0xf2200cd58731c721?sa=X&amp;ved=2ahUKEwiQwKCo4siDAxV2R_EDHWFZC2sQ_BJ6BAgLEAA&amp;cshid=1704544570658787">Konum Linki</a></p>
<ul>
	<li>
		Haftanın her günü saat 19.00'a kadar açık.</div></li>
</ul>
<h2>
	4. Selimiye Vakıf Müzesi</h2>
<p>
	<img alt="selimiye vakıf müzesi bahçeden görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/selimiye-vakif-muzesi-54911.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Selimiye Camii’nin hemen yanında, külliyenin içinde yer alan Selimiye Vakıf Müzesi (Dar'ül Kurra Medresesi) Mimar Sinan tarafından medrese amacıyla yapılıyor. Öğrenci ve öğretmenlerin kaldığı medrese günümüzde müze olarak hizmet veriyor. Müze içinde maden eserleri odası, çini eserleri odası, saatler odası, hat eserleri odası, ahşap eserler odası ile harika bir avlu bulunuyor. 2006 yılında aslına uygun olarak restore edilen müzenin koleksiyonlarında ise Osmanlı döneminden çiniler, hat sanatı eserleri, antikalar, halılar, kilimler ve seccadeler gibi binlerce obje sergileniyor.</p>
<p>
	<a href="https://www.google.com/maps/place/Selimiye+Vakf%C4%B1+M%C3%BCzesi/@41.6774952,26.5591746,15z/data=!4m2!3m1!1s0x0:0xf06f6fa499bae19f?sa=X&amp;ved=2ahUKEwjmqoTj48iDAxUFS_EDHfq1AzUQ_BJ6BAgLEAA">Konum Linki</a></p>

<p>
	<strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Pazartesi hariç haftanın her günü saat 08.00-17.00 arası açık.</div></li>
</ul>
<h2>
	5. Yemiş Kapanı Hanı</h2>
<p>
	<img alt="selimiye camii önünde yemiş kapanı önden görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/yemis-kapani-54912.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Selimiye Camii’nden çıktıktan sonra hemen karşı alanda yer alan arkeolojik alan Yemiş Kapanı Hanı olarak adlandırılan tarihi bir yer. Mimar Sinan tarafından yapılması istenen bu yapının amacı Osmanlı İmparatorluğu döneminde tek bir ürünün toptan satışı ile dağıtımının yapılacağı yer amacını güdüyor. Yemiş Kapanı Hanı, 2022 yılından bu yana Selimiye Camii Çevresi Peyzaj Düzenlemesi kapsamında konservasyon imalatları yapılarak arkeolojik gezi alanı olarak sergileniyor.</p>
<p>
	<a href="https://www.google.com/maps/place/Yemi%C5%9F+Kapan%C4%B1+Han%C4%B1/@41.677089,26.5571729,15z/data=!4m2!3m1!1s0x0:0x6a0ae1355afa6e15?sa=X&amp;ved=2ahUKEwiix_Xe5siDAxVdcfEDHXwXCp8Q_BJ6BAgKEAA">Konum Linki</a></p>

<p>
	<strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Haftanın her günü 7/24 açık.</div></li>
</ul>
<h2>
	6. Eski Camii</h2>
<p>
	<img alt="edirne eski camii içerden görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/eski-camii-54913.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Şehrin en eski camilerinden biri olan ve Ulu Camii olarak da bilinen Eski Camii, Yıldırım Beyazıt'ın oğlu Süleyman döneminde başlanmış ve 1414 yılında Çelebi Mehmet döneminde 10 yıllık bir sürede bitirilmiş etkileyici bir mimari eser. Kare planlı olarak inşa edilen ve 2000 metrekare gibi büyük bir iç alana sahip olan Eski Camii, dokuz kubbesiyle en güzel çok kubbeli Osmanlı camilerinden biri olarak gösteriliyor. Rumi ve geometrik desenlerle süslenmiş mihrabını mutlaka incelemeni önerdiğim tarihi yapı, aynı zamanda III. Mustafa ve II. Ahmet’in kılıç kuşandığı yer olmasıyla da ayrı bir öneme sahip.</p>
<p>
	<a href="https://www.google.com/maps/place/Eski+Camii%2FUlu+Camii/@41.6804362,26.5679874,17z/data=!4m5!3m4!1s0x14b32f0527800513:0x4849716e06f8243e!8m2!3d41.6735123!4d26.5592347">Konum Linki</a></p>
<h2>
	7. Üç Şerefeli Camii</h2>
<p>
	<img alt="üç şerefeli camii iç mekan görünüm" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/uc-serefeli-camii-54914.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Kalem işi süslemeleri ile Edirne’nin en değerli yapılarından biri olan Üç Şerefeli Cami, celî sülüs ve celî ta’lîk yazılara ev sahipliği yapıyor. Avlu revaklarında hat sanatının eşsiz örneklerini görebileceğin caminin kalem işleri günümüze ulaşan erken Osmanlı dönemine ait en eski örnekler arasında yer alıyor. Osmanlı mimarisinde revaklı avlunun ilk kullanıldığı cami olma özelliğine de sahip olan Üç Şerefeli Cami, enine doğru gelişen tasarımıyla İstanbul camilerinin gelişimine de öncülük etmiş bir yapı.</p>
<p>
	<a href="https://www.google.com/maps/place/Burmal%C4%B1+(%C3%9C%C3%A7+%C5%9Eerefeli)+Cami/@41.6780501,26.5508435,17z/data=!3m1!4b1!4m5!3m4!1s0x14b32f715c77e70b:0xb1f63c50b3d11b75!8m2!3d41.6780535!4d26.5530431">Konum Linki</a></p>

</body>
</html>
