<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erzincan'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ERZİNCAN</h5>
<p>
   Önemli ticaret yolları üzerinde yer aldığı için uzun tarihi boyunca her zaman büyük öneme sahip olan ve Hititlerden Osmanlılara kadar pek çok medeniyetin hakimiyetinde kalan Erzincan, her köşesi tarihi hazinelerle süslü bir şehrimiz. Şehir merkezinin yanı sıra ilçelerinde de onlarca tarihi cami, külliye, kale ve kutsal türbeye ev sahipliği yapan Erzincan; tarih, kültür ve inanç turlarının sevilen adresleri arasında.

Görkemli Kemah Kalesi’nin surlarında gezebileceğiniz, Türkiye’nin en büyük kanyonlarından biri olan Karanlık Kanyon’da büyüleyici manzaralara şahit olabileceğiniz Erzincan’da Ergan Kayak Merkezi’nde de keyifli bir kış tatili yapabilir veya Munzur Dağları ve Karasu Nehri’nin el değmemiş güzellikleri arasında yılın yorgunluğunu atabilirsiniz.
</p>
<h2>Erzincan'da Gezilecek Yerler</h2>
        <ol>
            <li>Kemah</li>
            <li>Kemaliye</li>
            <li>Refahiye</li>
            <li>Tercan</li>
            <li>Karanlık Kanyon</li>

<h2>
	1- Kemah</h2>
<p>
	<img alt="kemah" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kemah-40691.webp" loading="lazy"></p>
<p>
	Erzincan merkezine yaklaşık 68 kilometre uzaklıktaki Kemah ilçesi, tarihi ve doğal güzellikleri ile günübirlik gezilerin değişmez adreslerinden biri konumunda. Tarihin hiçbir döneminde düşmanın ele geçiremediği devasa Kemah Kalesi için her yıl binlerce kişinin ziyaret ettiği ilçede bölgeye hakim yüksek bir tepe üzerine inşa edilmiş etkileyici kalenin iç bölümlerini gezebilir ve surlardan büyüleyici panoramik fotoğraflar çekebilirsiniz.</p>
<p>
	Şehrin en eski türbelerden biri olan ve Selçuklu döneminde Anadolu’yu fetheden ünlü komutanlardan Sultan Melik adına dev bir kaya kütlesi üzerinde inşa edilen Sultan Melik Türbesi ve 1450 yılından günümüze kalan bir mimari şaheser olan Gülabibey Camii ile inanç turlarının önemli mola noktalarından biri haline gelen Kemah’ta Selçuklu döneminden kalan tarihi gözetleme kulelerini gezebilir, ilçenin tarih kokan sokaklarında sıralanan yöresel el sanatı atölyelerinde keyifli bir alışveriş yapabilir ve Erzincan'ın en sevilen yemeklerini tadarak yorgunluk atabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Kemah%2FErzincan/data=!4m2!3m1!1s0x40707f9519fa8bcf:0xc951d06562ac894d?sa=X&amp;ved=2ahUKEwi1wojz49H2AhXlQvEDHTr7DpQQ8gF6BAgcEAE" target="_blank">Konum Linki</a></p>
<h2>
	2- Kemaliye</h2>
<p>
	<img alt="kemaliye" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kemaliye-40692.webp" loading="lazy"></p>
<p>
	Arnavut kaldırımlı dar sokaklarını süsleyen ve her biri sanat eserini andıran büyüleyici Kemaliye evlerinden dolayı her yıl binlerce turisti kendine çeken Kemah ilçesi, Erzincan'da günübirlik bir gezi yapmak için en ideal adreslerden. 500'e yakın tarihi evin koruma altına alındığı Kemaliye’de alt bölümleri moloz taş, üst bölümleri ahşap malzemelerle tasarlanmış tarihi konakların bazılarının iç mekanlarını gezerek geleneksel Erzincan yaşam tarzını da yakından görebilirsiniz.</p>
<p>
	Türkiye'nin en büyük kanyonlarından biri olan ve her mevsim sunduğu büyüleyici manzaralarla ünlü Karanlık Kanyon’un devasa uçurumlar arasında unutulmaz doğa gezileri yapabileceğiniz Kemaliye'de yaz aylarında ise Kadıgölü çevresindeki restoranlar ve kır bahçelerinde keyifli bir mola verebilir, Kadıgölü Şelalesi’ni büyüleyici manzaraları eşliğinde huzurlu bir gün geçirebilirsiniz.</p>
<p>
	Osmanlı ve Selçuklu dönemi mimari özelliklerini yansıtan Hıdır Abdal Türbesi, 17. yüzyıldan günümüze kalan Kemaliye Camii ve benzersiz koleksiyonlarıyla dikkat çeken Ali Demirsoy Doğa Tarihi Müzesi de ilçede mutlaka uğramanız gereken yerler arasında. Tarihi Kemaliye çarşısında yüzlerce yöresel el sanatı ürünü inceleyebileceğiniz ilçede etkileyici bir Osmanlı dönemini konağında hizmet veren Kemaliye Müzesi'nde ise folklorik giysilerden yöresel ev eşyalarına kadar binlerce etnografik eserleri yakından görebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Kemaliye,+Erzincan/@39.2609553,38.4892402,15z/data=!3m1!4b1!4m5!3m4!1s0x407a007950dd1c53:0x41effcb25d45c00c!8m2!3d39.262041!4d38.496896" target="_blank">Konum Linki</a></p>
<h2>
	3- Refahiye</h2>
<p>
	<img alt="refahiye" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/refahiye-40693.webp" loading="lazy"></p>
<p>
	Erzincan'ın çok ziyaret edilen turistik ilçelerinden olan Refahiye, hem tarih hem de doğa tutkunları için pek çok güzelliği bir arada sunuyor. Binlerce yıllık antik yerleşim yeri olan Kutlutepe kalıntıları için sıkça ziyaret edilen ilçede 1800'lü yılların başında inşa edilen ve sağlam taş mimarisiyle günümüze kadar ayakta kalmış Kadıköy Kilisesi’ni de ziyaret edebilir, Hititler döneminden kalan Kutsal Kaya'nın harika fotoğraflarını çekebilirsiniz. Pek çok efsane ve öyküye konu olan Köroğlu Mağarası’nı rehberli turlarla gezebileceğiniz Refahiye’de Erzincan’ın yaz aylarında en çok ziyaret edilen yeri olan ve el değmemiş güzelliğiyle tabiat parkı ilan edilen Dumanlı Yaylası'nın oksijen seviyesi yüksek havasında da yürüyüşler yaparak yenilenebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Refahiye,+Erzincan/@39.9002156,38.7645067,15z/data=!3m1!4b1!4m5!3m4!1s0x407aee4a51bd56f7:0xdfbaeaa225f56bd6!8m2!3d39.899583!4d38.768068" target="_blank">Konum Linki</a></p>
<h2>
	4- Tercan</h2>
<p>
	<img alt="tercan" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tercan-40694.webp" loading="lazy"></p>
<p>
	Erzincan'ın pek çok görülmeye değer tarihi hazinesine ev sahipliği yapan Tercan ilçesi, tarih gezilerinin sevilen adreslerinden biri. Anadolu'daki diğer külliyelerden farklı olan yuvarlak tasarımıyla dikkat çeken ve mimari bir şaheser olarak gösterilen büyüleyici Mama Hatun Külliyesi ve Mama Hatun Türbesi için her yıl binlerce kişi tarafından ziyaret edilen Tercan’da bölgenin günümüze kadar sağlam kalmış en eski kiliselerinden biri olan 1854 tarihli Abrenk Kilisesi’ni gezebilir; 100 metre yükseklikteki bir kaya üstünde görkemli bir manzara sunan Urartu dönemi yapısı Pekeriç Kalesi ve Pers döneminde yapıldığı tahmin edilen Kefrenci Tapınağı’nda harika fotoğrafla çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Tercan,+Erzincan/@39.7793096,40.3805307,15z/data=!3m1!4b1!4m5!3m4!1s0x406fd15efa25c969:0x5f7f2ea162cfce04!8m2!3d39.777631!4d40.383667" target="_blank">Konum Linki</a></p>
<h2>
	5- Karanlık Kanyon</h2>
<p>
	<img alt="karanlık kanyon" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karanlik-kanyon-40696.webp" loading="lazy"></p>
<p>
	Sadece Türkiye'nin değil, dünyanın da en büyük kanyonları arasında olan devasa Karanlık Kanyon, her doğa tutkununun kesinlikle görmesi gereken tabiat harikalarımızdan biri. Kemaliye ilçesi sınırlarında yer alan ve yılın her mevsimi kaya tırmanma, dağcılık, trekking ve kampçılık gibi etkinliklerin gerçekleştirildiği Karanlık Kanyon, ismini de koyu renkli yüzlerce metrelik duvarlarından alıyor. Sarp uçurumlarında kuş bakışı doğa manzaraları izleyebileceğiniz, yaz aylarında düzenlenen rafting ve kano etkinlikleriyle heyecan dolu bir gün yaşayabileceğiniz Karanlık Kanyon'da binlerce yıllık mağaraları da keşfe çıkabilir veya yaz aylarında serin havada kamp yaparak birkaç gün geçirebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Karanl%C4%B1k+Kanyon/@39.3101988,38.4531645,17z/data=!3m1!4b1!4m5!3m4!1s0x407a0150a20f92ed:0x1e3462187dcef145!8m2!3d39.3101947!4d38.4553532" target="_blank">Konum Linki</a></p>



</body>
</html>
