<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkari'de Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>HAKKARİ</h5>
<p>
 Hakkari Türkiye'nin en doğusunda, sınırlarının ötesindeki zengin tarihi ve doğal güzellikleriyle biliniyor. Hakkari'nin sarp dağları, berrak suları ve yeşil vadileri, doğa tutkunları için ideal bir kaçış noktası diyebiliriz. Hakkari’nin tarihi ise eski medeniyetlerin izlerini taşıyan kaleler, mağaralar ve kiliselerle dolu.
    Bu rehberde, Hakkari'nin temiz doğasında yürüyüş yapabileceğin rotalardan, tarihi mirasını keşfedebileceğin yerlere kadar gezilecek noktaların bir listesini sunuyoruz.
</p>
<h2>Ardahan’da Gezilecek Yerler</h2>
        <ol>
            <li>Hakkari Kilim Müzesi</li>
            <li>Cennet Cehennem Vadileri</li>
            <li>Mergan Vadisi</li>
            <li>Şemdinli Taş Köprü</li>
            <li>Nasturi Kilisesi</li>
            <li>Meydan Medresesi</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">1. Hakkari Kilim Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="Canbezar kilimi, hakkari kilim müzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hakkari-kilim-muzesi-57495.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Hakkari Kilim Müzesi, Anadolu’nun kadim geleneklerinden gelen bir zanaatın ve kültürün kapılarını aralıyor. 2008 yılında ziyaretçilere açılan bu müze, Hakkari'nin Cumhuriyet Caddesi’nde bulunuyor. Müze, 170 kadının el emeği ile dokuduğu kilimleri sergileyerek, Hakkari iline özgü el sanatlarının bir vitrini görevi görüyor. Bu atölyelerde dokunan kilimleri inceleyebilir ve dilersen bu özel eserleri satın alabilirsin​.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Hakkari Kilim Müzesi’nin önemi sadece sergilediği kilimlerle sınırlı değil. Bu müze, yöresel kültürün korunması ve yaşatılmasına katkıda bulunan bir proje olarak da dikkat çekiyor. Müze, Hakkari'nin zengin el sanatlarını ve kültürel değerlerini gelecek nesillere aktarma amacını taşıyor. Kilimlerin satışı, hem bu değerli el emeğinin daha geniş kitlelere ulaşmasını sağlıyor hem de projenin sürdürülebilirliğine katkı sağlıyor​.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps/place/Hakkari+Kilim/@37.5777099,43.736693,15z/data=!4m8!3m7!1s0x400f0046e191a05f:0x4a51434eec32ee5d!8m2!3d37.5777099!4d43.736693!9m1!1b1!16s%2Fg%2F113jckg68?entry=ttu" target="_blank">Konum Linki</a></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><div class="working-hours-box" data-testid="working-hours-box"></span><strong>Giriş ücreti</strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Ücretsiz</span></p>
	</li>
</ul>
<p dir="ltr">
	<strong><span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Hafta sonları kapalı, hafta içi 08.00-17.00 saatleri arasında açık</div></span></p>
	</li>
</ul>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">2. Cennet Cehennem Vadileri</span></h2>
<p dir="ltr">
	<span><img alt="cilo dağları, hakkari, yüksek dağlar ve bulutlar, cennet ve cehennem vadisi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cennet-cehennem-vadileri-57496.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Cennet Cehennem vadileri, Hakkari'nin merak uyandıran doğa harikalarından biri olarak karşımıza çıkıyor. Bu büyüleyici vadiler, Hakkari merkeze yaklaşık 45 kilometre mesafede, 3500 metre rakımda, Cilo Dağının eteklerinde yer alıyor. İsminden de anlaşılacağı gibi, vadiler zıtlıkların birleşimiyle görsel bir şölen sunuyor: bir yanda dev buzullar, diğer yanda ise rengarenk çiçeklerle kaplı alanlar ziyaretçilerini adeta bir başka dünyaya taşıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Cennet Cehennem vadilerini özel kılan bir diğer özellik ise dört mevsimin aynı anda yaşanabilmesi. Bu özelliği ile doğa severlerin ilgisini çeken bölge, dağ sporları, doğa yürüyüşleri, kaya tırmanışı gibi aktiviteler için ideal bir alan sunuyor. Cennet adı verilen bölümde çiçeklerin açtığını ve yemyeşil doğa ile kucaklaştığını hissedebilirsin. Cehennem adı verilen bölümde ise, yüzyıllardır burada bulunan buzulları görebilir ve doğanın sert yüzüne tanık olabilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps/place/Cennet+Cehennem+Vadisi/@37.540157,43.978349,15z/data=!4m2!3m1!1s0x0:0xb85536e57047f36c?sa=X&amp;ved=1t:2428&amp;ictx=111" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">3. Mergan Vadisi</span></h2>
<p dir="ltr">
	<span><img alt="Hakkari Yüksekova'dan muhteşem bir manzara" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/mergan-vadisi-57497.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Mergan Vadisi, doğanın sunduğu eşsiz güzellikleri keşfetmek isteyenler için adeta bir cennet. Yemyeşil ormanlar, berrak sular ve etkileyici dağ manzaraları ile çevrili bu vadi, doğa tutkunlarının ve macera arayanların uğrak noktası. Yürüyüş patikaları, piknik alanları ve kamp yerleri ile dolu olan Mergan Vadisi, şehrin gürültüsünden ve kalabalığından uzaklaşmak isteyenler için ideal bir kaçış noktası sunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Vadi içerisinde yer alan çeşitli bitki ve hayvan türleri, biyolojik çeşitliliğiyle dikkat çekiyor. Endemik bitki türlerinin yanı sıra nadir görülen kuş türlerini de gözlemleyebileceğin bir doğa harikası. Mevsimlere göre değişen renkleriyle, her dönem farklı bir güzellik sunuyor. İlkbahar ve yaz aylarında çiçeklerin açtığı, sonbaharda sarı ve kırmızı tonlarının hakim olduğu, kışın ise beyaz bir örtüyle kaplandığı bu vadi, fotoğrafçılık tutkunları için de mükemmel manzaralar sunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Aktiviteler açısından da zengin bir deneyim sunan Mergan vadisinde, trekking, dağ bisikleti, kaya tırmanışı gibi doğa sporlarının yanı sıra, sakin bir gün geçirmek isteyenler için doğa yürüyüşleri ve piknik yapma imkanı da var. Sessizliğin ve huzurun keyfini çıkarırken, şehir hayatının stresinden tamamen uzaklaşabileceğin bir yer.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps/place/K%C4%B1r%C4%B1kda%C4%9F,+30110+K%C4%B1r%C4%B1kda%C4%9F%2FHakk%C3%A2ri+Merkez%2FHakkari/@37.557835,43.9480654,18z/data=!3m1!4b1!4m14!1m7!3m6!1s0x400fa9578676b3cd:0x58e895690a31a1de!2zw4dpw6dlayBWYWRpc2k!8m2!3d37.5479504!4d43.8915617!16s%2Fg%2F11t7l85kq7!3m5!1s0x400fa8a2b04a695d:0x2bcd611116de0404!8m2!3d37.557412!4d43.9503799!16s%2Fg%2F113h398tq?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">4. Şemdinli Taş Köprü</span></h2>
<p dir="ltr">
	<span><img alt="Şemdinli Taş Köprü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hakkari-taskopru-26738.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Hakkari’nin tarihini yansıtan öğelerden birisi olan Şemdinli Taş Köprü, aynı isimle anılan çayın üzerinde yer alıyor. İlçe merkezinin dışında olan ve Nehri (Bağlar) köyünün hemen yanı başında yer alan bu köprü, yapıldığı dönemde Nehri-Derecik-Irak yolunu bağlamak amacıyla inşa edildi. Köprü, yüksek dağların arasında derin bir vadide konumlanıyor. Kuzey-güney istikametinde tek açıklık halindeki bu köprünün her iki ayağı da kayalıklara oturuyor. 11 metre yüksekliğe sahip olan bu tarihi yapı, 21 metre uzunluğunda ve tek gözlü olacak şekilde yapıldı. Yolu eğimli köprüler grubuna dahil edilen Şemdinli Taş Köprü, 1898 yılında Şeyh Muhammed Sıddık tarafından inşa edilmiş.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Şemdinli Taş Köprü, sadece bir yapı değil, aynı zamanda geçmişin anılarına dokunan bir yapı olması ile öne çıkıyor. Tarihsel ve mimari önemi ile bölgeye gelen ziyaretçileri büyüleyen bu eşsiz yerde köprünün üzerinden geçerken, o dönemin insanlarının ayak seslerini hayal etmek mümkün.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps?hl=tr&amp;gl=tr&amp;um=1&amp;ie=UTF-8&amp;fb=1&amp;sa=X&amp;ftid=0x400578fb52ac2ad1:0x23e753990b325332" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">5. Nasturi Kilisesi</span></h2>
<p dir="ltr">
	<span><img alt="Türkiye'nin güneydoğusunda, Hakkari'nin terk edilmiş Kocanis (Konak) köyü." src="http://assets.enuygun.com/media/lib/825x620/uploads/image/nasturi-kilisesi-57499.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Nasturi Kilisesi, Hakkari’nin farklı kültürlerini yansıtan önemli bir miras kurumu. Bu kilise, Hakkari’nin merkez ilçesinde yer alıyor ve kayaların oyulmasıyla yapıldığı de mimari açıdan önemli bir yerde duruyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Kilise, Hakkari’de yaşamış olan Nasturi halkının ibadet etmesi için büyük öneme sahipti. Nasturi halkı, Hakkari’nin tarihinde önemli bir rol oynamış ve bu kilise, onların dini yaşamlarının bir parçası olmuş. Günümüzde Nasturi Kilisesi bakımsız kalsa da bu durum, kilisenin tarihi ve kültürel değerini azaltmak yerine ilginin artmasına neden oldu. Kilisenin mimarisi, kayaların oyulmasıyla oluşturulmuş bir yapı olması nedeniyle oldukça farklı.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps/place/The+Patriarchal+Church+of+Kocanis+(Hakkari)/@37.6462296,43.7889707,15z/data=!4m15!1m8!3m7!1s0x400e54985df17d05:0x990b0c10083128cf!2sKonak,+Zavite+Mezras%C4%B1,+30110+Konak%2FHakk%C3%A2ri+Merkez%2FHakkari!3b1!8m2!3d37.6429!4d43.7893999!16zL20vMDgzcXZz!3m5!1s0x400e536674145849:0x6f0ae60de2f309ac!8m2!3d37.6525221!4d43.8017853!16s%2Fg%2F11g816xdq2?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">6. Meydan Medresesi</span></h2>
<p dir="ltr">
	<span><img alt="Hakkari Şehir Merkezindeki Tarihi Meydan Medresesi." src="http://assets.enuygun.com/media/lib/825x620/uploads/image/meydan-medresesi-57503.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Anadolu'nun Selçuklu döneminden itibaren avlulu medreseler geleneğinin Beylikler ve Osmanlı zamanlarında da devam ettiği Meydan Medresesi 18. yüzyıl başlarına kadar bu yapı planının uygulandığı ender örnekler arasında yer alıyor. 1700-1701 yıllarında İzzeddin oğlu İbrahim Bey tarafından yaptırılan medrese, enine dikdörtgen bir plan üzerine kurulmuş. İki katlı ve iki kanatlı yapısıyla düz damlı medreseler arasında yer alıyor. Yapı, düzgün kesme taş kullanılarak inşa edilmiş ve birleştirici olarak kireç harcı tercih edilmiş.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Güney cephenin ortasında konumlanan giriş kapısı, köşeden spiral bir yivle ve ardından gelen mukarnaslı bir bordürle süslenmiş sivri bir kemer şeklinde tasarlanmış olsa da çok derin bir girinti oluşturması ile öne çıkıyor. Alt kat revakları, çeşitli başlık ve kaideleri olan silindirik sütunlar üzerinde yükselirken, ikinci katta ise payeler üzerine oturuyor. Her iki katta da kuzey ve güney yönlerinde üçer, yanlarda ise dörder revak gözü bulunuyor. Avlunun doğu ve batı taraflarında, iki kanat şeklinde dizilmiş medrese hücreleri mevcut.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><a href="https://www.google.com/maps/place/Hakkari+Eski+Tarihi+Medresesi/@37.5683217,43.7433631,18.5z/data=!4m8!3m7!1s0x400f005a7e5718ef:0xac0b9f5c57fd8b7b!8m2!3d37.5680898!4d43.7442548!9m1!1b1!16s%2Fg%2F11dxns328s?entry=ttu" target="_blank">Konum Linki</a></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112"><div class="working-hours-box" data-testid="working-hours-box"></span><strong>Giriş ücreti</strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Ücretsiz</span></p>
	</li>
</ul>
<p dir="ltr">
	<strong><span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-77c0d678-7fff-2f9e-b99d-a2b5f1113112">Pazar günleri kapalı, diğer günler 09.00-17.00 saatleri arasında açık</div></span></p>
	</li>
</ul>



</body>
</html>
