<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatay'da Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>HATAY</h5>
<p>
  Dinlerin ve medeniyetlerin buluşma noktası olan Hatay, her köşesi binlerce yıllık tarihi yapılar ve el değmemiş doğal güzelliklerle çevrili kendine özgü şehirlerimizden biri. Her yıl binlerce tarih ve kültür meraklısını kendine çeken Hatay; Akdeniz kıyısında kilometrelerce uzanan sahilleri, dağ eteklerindeki yaylaları ve turistik ilçeleriyle de önemli turistik merkezlerimizden biri konumunda. Hatay Arkeoloji Müzesi’nde büyüleyici mozaikleri inceleyebileceğiniz, 3000 yılık bir anıt olan Musa Ağacı’nı yakından görebileceğiniz ve Roma dönemi mimari şaheseri Titus Tüneli’ni keşfe çıkabileceğiniz gezinizde Erzin Başlamış Kaplıcaları ve Reyhanlı Hamamat Kaplıcaları’nın mineral bakımından zengin sularında da şifa bulabilirsiniz.
</p>

<h2>Hatay’da Gezilecek Yerler</h2>
        <ol>
            <li>Antakya</li>
            <li>İskenderun</li>
            <li>Arsuz</li>
            <li>Samandağ</li>
            <li>Payas</li>
            <li>Erzin</li>
            <li>Çevlik Plajı</li>
<h3>
	1- Antakya</h3>
<p>
	<img alt="antakya" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/antakya-31597.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Hatay'ın en büyük merkezi ilçesi olan Antakya, ev sahipliği yaptığı tarihi ve doğal güzelliklerle her yıl binlerce turisti misafir ediyor. Dar sokakları taş ve ahşap mimarili yüzlerce yıllık konaklarla süslü olan ilçe, dünyanın en büyük mozaik müzesi kabul edilen ve içerisinde M.Ö. 4000’li yıllara kadar uzanan mozaiklerin yanı sıra Hatay çevresindeki kazılarda bulunan binlerce paha biçilmez hazineyi görebileceğiniz Hatay Arkeoloji Müzesi’yle de dikkat çekiyor.</p>
<p>
	Hristiyanlar için günümüzde de kutsal kabul edilen ve Hz. İsa'nın 12 havarisinden biri olan Aziz Petrus adına bir mağara içinde inşa edilen Saint Pierre Kilisesi, Asi Nehri kıyısında bölgeye hakim bir tepeye inşa edilmiş Aziz Simeon Manastırı, etkileyici Antakya Türk Katolik Kilisesi, Roma döneminde bir pagan kilisesi üzerine 7. yüzyılda inşa edilen ve Türkiye'nin en eski camilerinden biri olan Habibi Neccar Camii ile Antakya, tarih kültür ile inanç turlarının değişmez adreslerinden biri.</p>
<p>
	Hatay'ın en büyük şehir parkı olan ve 52.000 metrekarelik yeşil alanı kaplayan Büyük Antalya Parkı'nda yorgunluk atabileceğiniz ilçede sıcak yaz günlerinde ise tarihi hazinelerle çevrili büyüleyici güzellikteki Harbiye Şelaleleri’ni ziyaret ederek harika fotoğraflar da çekebilirsiniz. Yüzlerce yıldır Hatay'da ticaretini kalbinin attığı Uzun Çarşı'da yüzlerce yöresel ürün arasında keyifli tatil alışveriş yapabilir; doğa ve tarih gezileriyle dünyaca ünlü Titus Tüneli, İssos Antik Kenti, İssos Harabeleri ve Aleksandra Antik Kenti gibi antik çağ miraslarını keşfe çıkabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Antakya%2FHatay/@36.2816137,35.9299841,10z/data=!3m1!4b1!4m5!3m4!1s0x1525c1b7154f0ccb:0xc6304a8f4e7a5920!8m2!3d36.1968031!4d36.1612344" target="_blank">Konum Linki</a></p>
<h3>
	2- İskenderun</h3>
<p>
	<img alt="iskenderun" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/iskenderun-40449.webp" loading="lazy"></p>
<p>
	Hatay'ın Akdeniz kıyısında uzanan en büyük 2. ilçesi olan İskenderun, hem Doğu Akdeniz'in en büyük limanlarından biri olan İskenderun Limanı hem de gelişmiş turizm olanaklarıyla dikkat çekiyor. 29 kilometreye yakın bir sahili bulunan İskenderun, büyüleyici gün batımı manzaraları eşliğinde yürüyüşler ve bisiklet gezilerine çıkmak için ideal. Türkiye'de bulunan üç deniz müzesinden biri olan İskenderun Deniz Müzesi’nin yanı sıra ilçede Büyük İskender döneminden kalan yapılarıyla dikkat çeken Alexandretta Antik Kenti’ni de gezebilirsiniz.</p>
<p>
	Yaz aylarında düzenlenen tekne gezileriyle İskenderun Körfezi’nin koyları ve altın kumlu sahillerini gezebileceğiniz ilçede İskenderun ile Arsuz ilçeler arasında yer alan ve altın renkli kumlarıyla ünlü Karaağaç Plajı’nda da tüm gün Akdeniz'in ve güneşin tadını çıkarabilirsiniz. Deniz kenarında çarpıcı bir manzara sunan Nihal Atakaş Camii ve antik efsanelerde Hz. Meryem'in yıkandığında inanılan Meryem Ana Havuzu’nu da görme şansı bulabileceğiniz İskenderun'da tarih ve doğa gezilerine katılarak ise binlerce yıllık Sarıseki Mağarası ve Damlataş Mağarası gibi doğa harikalarını görebilir; dağ eteklerinden sıralanan yemyeşil yaylalarda temiz havasında yılın yorgunluğunu atabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C4%B0skenderun,+Hatay/@36.2816137,35.9299841,10z/data=!4m5!3m4!1s0x152f592d49f10bcd:0x71627fb2e950ada4!8m2!3d36.584673!4d36.1756161" target="_blank">Konum Linki</a></p>
<h3>
	3- Arsuz</h3>
<p>
	<img alt="arsuz" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/arsuz-40450.webp" loading="lazy"></p>
<p>
	Hatay'ın Akdeniz kıyısında uzanan turistik ilçesi Arsuz, şehre 85 kilometre uzaklıkta tarihi ve doğal güzellikleriyle keyifli bir günübirlik gezi sunuyor. Her yıl binlerce yerli ve yabancı turisti misafir eden Arsuz’da hem büyüleyici Akdeniz sularının tadını çıkarabilir hem de rehberliği turlara katılarak binlerce yıllık etkileyici tarihi yapıları keşfedebilirsiniz. Hz. Meryem'in yıkandığına inanılan ve kutsal kabul edilen Meryem Ana Havuzu’na sadece 7 kilometre uzaklıktaki ilçede M.S. 600 yılından kalma mozaikler ve mezarlarıyla dikkat çeken Kutsal Havariler Kilisesi’ne uğrayabilir, 500 yıllık olduğu tahmin edilen etkileyici Mar Yuhanna Kilisesi’ni ziyaret edebilirsiniz.</p>
<p>
	Deniz seviyesinden 100 metre yükseklikte 1933 yılından beri hizmet veren Aruz Deniz Feneri’nde harika fotoğraflar çekebileceğiniz gezinizde Arsuz Plajı ve Gözcüler Plajı’nın ince kumlu sahilinde de tüm gün güneşlenebilirsiniz. Arsuz’da her bütçeye uygun otel bulabilir, gezinizden sonra ise sahil kenarındaki restoranlarda mevsimlik balıklar veya ünlü Hatay lezzetleri tadarak güzel bir akşam geçirebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Arsuz%2FHatay/@36.4004735,35.6869388,10z/data=!3m1!4b1!4m5!3m4!1s0x1525e3c8e3ac261f:0xeb30ae4ba4c9d0d9!8m2!3d36.3495669!4d35.958777" target="_blank">Konum Linki</a></p>
<h3>
	4- Samandağ</h3>
<p>
	<img alt="samandag" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/samandag-40451.webp" loading="lazy"></p>
<p>
	Hatay'ın Akdeniz kıyısında yer alan başka bir turistik ilçesi olan Samandağ, hem büyüleyici doğal güzellikleri hem masmavi plajları ve tarihi hazineleriyle keşfedilmeye değer yerlerden biri. Hatay merkezine yaklaşık 60 kilometre uzaklıktaki ilçede tarihi M.Ö. 300’lü yıllara uzanan büyüleyici Titus Tüneli, kutsal kabul edilen 3000 yıllık Musa Ağacı ve Titus Tüneli'nin hemen yanı başında Roma döneminde inşa edilen çarpıcı kaya mezarlarıyla ünlü Beşikli Mağarası gibi tarihi hazineleri yakından görebilirsiniz.</p>
<p>
	14 kilometreyi bulan sahiliyle yaz aylarında Akdeniz'in ve güneşin tadını çıkarmak için Hatay'da gidebileceğiniz en özel noktalardan biri olan Samandağ’da Hıdırbey Köyü ve Vakıflı Köyü’nün taş evleri arasında harika fotoğraflar çekebilir; Aziz Simeon Manastırı ve Seleucia Pieria Antik Kenti gibi tarihi hazineleri keşfe çıkabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Samanda%C4%9F,+Hatay/@36.0830603,35.9343783,13z/data=!3m1!4b1!4m5!3m4!1s0x1525d6a47a2890ad:0x8ad66bfc29e4b6e8!8m2!3d36.086992!4d35.968537">Konum Linki</a></p>
<h3>
	5- Payas</h3>
<p>
	Hatay'ın tarihi ilçelerinden biri olan ve Akdeniz kenarında büyüleyici manzaralar sunan Payas ilçesi, tertemiz plajlarının yanı sıra pek çok tarihi hazineye de ev sahipliği yapıyor. M.S. 13. yüzyılda Cenevizliler tarafından yapıldığı düşünülen ve hem ilçeye hem de Akdeniz’e hakim bir tepe üzerinde yükselen Payas Kalesi ile tarih ve kültür turlarının değişmez adreslerinden biri haline gelen ilçede Hatay'daki en önemli Mimar Sinan eseri olan Sokullu Mehmet Paşa Külliyesi’ni ve bahçesindeki 500 yıllık anıtsal zeytin ağacını da yakından görme şansı bulacaksınız. İlçede gezebileceğiniz başka bir önemli tarihi yapı da 1574 yılında inşa edilen ve günümüze kadar sağlam kalmayı başarmış olan Sarı Selim Camii.</p>
<p>
	Payas Kalesi surlarından en güzel fotoğrafları çekebileceğiniz ilçenin ince kumlu sahili ve masmavi deniziyle yaz aylarında turistlerle dolan Payas Plajı’nda da keyifli bir gün yaşayabilir, çevredeki ormanlık alanlarda kamp yapabilirsiniz. Payas merkezine sadece 12 kilometre uzaklıktaki Sarıseki Kanyonu Parkı’nda da büyüleyici doğa manzaraları eşliğinde gezilere çıkabilir; irili ufaklı şelaleler, dereler ve sarp kanyon duvarları arasında unutulmaz bir gün geçirebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Payas,+Hatay/@36.7670451,36.1797764,13z/data=!3m1!4b1!4m5!3m4!1s0x152f419e26911a6d:0x8f037edb04231c4!8m2!3d36.7644279!4d36.2142587" target="_blank">Konum Linki</a></p>
<h3>
	6- Erzin</h3>
<p>
	<img alt="hatay erzin" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hatay-erzin-40453.webp" loading="lazy"></p>
<p>
	Hatay'ın hem doğal ve tarihi güzellikler hem de şifalı kaplıcalarıyla ünlü Erzin ilçesine her saat bulabileceğiniz minibüslerle yaklaşık 1,5 saat içinde ulaşabilir ve keyifli bir günübirlik gezi yapabilirsiniz. Verimli tarım alanlarından dolayı her köşesi portakal, greyfurt, mandalina ve limon bahçeleriyle sarılı olan ilçe, uzun tarihinde Pers, Bizans ve Osmanlılar gibi pek çok medeniyete ev sahipliği yapmış.</p>
<p>
	Rehberli tarih ve doğa gezileriyle keşfe çıkabileceğiniz İssos Antik Kenti için sıkça ziyaret edilen Erzin’e sadece 3 kilometre uzaklıktaki Erzin Başlamış Kaplıcaları’nda ise hem yorgunluk atabilir hem de rahatsızlıklarınız için şifa bulabilirsiniz. Nur Dağları eteklerinde, deniz seviyesinden 2000 metre yükseklikte yer alan Karıncalı Yaylası ile yaz aylarında değişmez adreslerinden biri olan Erzin’de masmavi Akdeniz suları ve ince kumlu sahilin tadını çıkarmak için ise ilçeye sadece 30 dakika uzaklıktaki Burnaz Plajı’na uğrayabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Erzin,+Hatay/@36.9545645,36.1815239,14z/data=!3m1!4b1!4m5!3m4!1s0x152f3cc3033a3ba3:0xa750fd9da90e0953!8m2!3d36.953839!4d36.205229" target="_blank">Konum Linki</a></p>
<h3>
	7- Çevlik Plajı</h3>
<p>
	<img alt="cevik plaji" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cevik-plaji-40454.webp" loading="lazy"></p>
<p>
	Hatay'ın turistik ilçesi Samandağ'da Akdeniz’in tadını çıkarabileceğiniz başka bir popüler plajı olan Çevlik Plajı’na da mutlaka uğramalısınız. Ücretsiz olarak faydalanabileceğiniz Çevlik Plajı, 14 kilometre uzunluğuyla Türkiye'nin en uzun plajlarından biri olmasıyla ünlü. İnce kumlarla süslü geniş sahilde plaj kulüpleri, su spor merkezleri, güneş şemsiyesi kiralayabileceğiniz turistik tesisler ve kafeler gibi pek çok olanak bulabilirsiniz.</p>
<p>
	Deniz kaplumbağalarının dünyadaki sayılı yumurtlama alanlarından biri olmasından dolayı koruma altına da alınan Çevlik Plajı’nın altın kumlarında havlunuzu sererek güneşlenebilir ve kilometrelerce uzanan sahil yolunda keyifli akşam yürüyüşlerine çıkarak büyüleyici gün batımı manzaraları izleyebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87evlik+Plaj%C4%B1/@36.1240001,35.9164769,17z/data=!3m1!4b1!4m5!3m4!1s0x1525d6266726cf41:0x67505dd0f614226b!8m2!3d36.1239958!4d35.9186656" target="_blank">Konum Linki</a></p>


</body>
</html>
