<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahramanmaraş'ta Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>KAHRAMANMARAŞ</h5>
    <p><span style="font-weight: 400;">Kahramanmaraş tarih ve kültür zenginlikleriyle bezeli, doğal güzellikleriyle büyüleyen bir şehir olarak dikkat çekiyor. Türkiye'nin güneydoğusunda yer alan bu şehir, tarihi geçmişi, lezzetleri ve misafirperver insanlarıyla adeta bir açık hava müzesini andırıyor. Kahramanmaraş'ın tarihi yapıları, doğal güzellikleri ve lezzet durakları unutulmaz anılar biriktirmenizi sağlayabilir. </span></p>
        <h2><b>Kahramanmaraş'ta gezilecek yerler:</b></h2>
        <ol>
            <li>Taş Han</li>
            <li>Yeşilgöz</li>
            <li>Başkonuş Yaylası</li>
            <li>Yedikuyular Kayak Merkezi</li>
            <li>Döngel Mağarası</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">1. Taş Han</span></h2>
    <p dir="ltr">
        <span><img alt="tas-han" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tas-han-53259.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Kahramanmaraş’ın tarihi çarşılarının merkezinde yer alan Taş Han, 1650 yılı civarında Hatipzadelerden Mehmet Efendi, Kalender Çelebi ve Ahmet Çelebi tarafından inşa edildi. Kare avlu çevresinde iki katlı bir yapıya sahip olan Taş Han, önceden “yolcu hanı” olarak hizmet verdi daha sonra farklı amaçlar için kullanıldı. Taş Han’ın alt katında yer alan mekanlar yolculara ait olan hayvanlara özel olarak hazırlanan ahırlardan ve malların istiflenmesi için kullanılan depolardan oluşuyor. Üst katta yer alan odaların ise, hanı kullanan yolcuların konakladığı alanlar olarak tasarlandığı yapılan gözlemlerde belli oluyor. Böylece, kente giriş yapan kervanların malları han içerisinde korunarak, satışa hazır hale getirilmiş.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Taş Han, günümüzde de Kahramanmaraş’ın sosyal ve kültürel hayatının merkezlerinden biri olmaya devam ediyor. Günümüzde han halen daha bazı kısımları ile depo özelliğini koruyor. Taş Han’ın mimarisi, dikkat çekici detaylarıyla göz kamaştırıyor. Taş işçiliği ve ahşap detaylar, hanın tarihi dokusunu yansıtıyor. Hanın giriş kapısı üzerinde kitabe yer alsa da bunun okunamadığı da bir detay olarak not düşülebilir. Kahramanmaraş’a gelen turistlerin mutlaka uğraması gereken yerlerden biri olan Taş Han, tarihi ve kültürel zenginliğiyle ziyaretçilerini büyülüyor. Burada geçireceğiniz zaman, Kahramanmaraş’ın tarihini ve kültürünü daha yakından tanımanıza olanak sağlayacak.</p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Giriş ücreti</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Ücretsiz</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">08.00-18.30</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829"><a href="https://www.google.com/maps/place/Ta%C5%9F+Han/@37.5826516,36.9276541,15z/data=!4m2!3m1!1s0x0:0x3683ce9d405ac793?sa=X&amp;ved=2ahUKEwigp_iZz9SCAxVkGTQIHa9_DckQ_BJ6BAhYEAA" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">2. Yeşilgöz</span></h2>
    <p dir="ltr">
        <span><img alt="yesilgoz" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/yesilgoz-53260.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Kahramanmaraş’ın doğal güzelliklerinden biri olan Yeşilgöz, il merkezine yaklaşık 50 km uzaklıkta, Tekir Mahallesi’nin 5 km kuzeydoğusunda yer alıyor. Kayseri yolu üzerinde bulunan bu eşsiz mekân, doğa severler için ideal bir durak noktası oluyor. Mesire alanı olarak da kullanılan Yeşilgöz, görenleri adeta büyülüyor. Yeşilgöz, insanı kendisine getiren buz gibi suyu ve çevresinde yer alan yemyeşil bitki örtüsü ile öne çıkıyor. Bu doğa harikası, ziyaretçilerine huzur dolu bir atmosfer sunuyor. Yeşilgöz’ün derin gözü ziyaretçilerine doğa ile iç içe unutulmaz anılar yaşatıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Yeşilgöz, aynı zamanda çeşitli doğa aktiviteleri için de uygun bir alan. Koşu yapabilir, doğa yürüyüşüne çıkabilir veya piknik yapabilirsiniz. Yeşilgöz’ün etrafında kamp yapmak isteyenler için de çok müsait bir yer. Yeşilgöz, 6 Şubat depremi sonrasında rengini kaybetmiş olsa da yaz aylarına doğru yeniden eski halini almayı başardı. Kahramanmaraş’a geldiğinizde buraya mutlaka uğramalı ve bu güzel doğa harikası yeri keşfetmelisiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829"><a href="https://www.google.com/maps/place/Ye%C5%9Filg%C3%B6z+Mesire+Alan%C4%B1/@37.91602,36.6184853,20z/data=!4m15!1m8!3m7!1s0x152db545ebb68d69:0x6a7f7fe66ffa83b8!2sTekir,+46170+Oniki%C5%9Fubat%2FKahramanmara%C5%9F!3b1!8m2!3d37.882474!4d36.620436!16s%2Fg%2F121cgp6j!3m5!1s0x152db4d0682ff56b:0x9ec233f7d65c1d66!8m2!3d37.9161162!4d36.6186963!16s%2Fg%2F11c0qgr0fh?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">3. Başkonuş Yaylası</span></h2>
    <p dir="ltr">
        <span><img alt="baskonus-yaylasi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/baskonus-yaylasi-53261.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Kahramanmaraş’ın doğal güzelliklerinden biri olan Başkonuş Yaylası, denizden yaklaşık 2000 metre yükseklikte bulunan yayla, doğal bir orman örtüsüne sahip. Yazları serin ve yağışlı, kışları ise soğuk ve karlı geçiyor. Başkonuş Yaylası, doğa severler için ideal bir durak noktası oluyor. Yayla, başta Sümbül ve Salep olmak üzere bölgeye has olan bitkiyi doğal yaşam alanlarında barındırıyor. Başkonuş Yaylasında Köknar, Meşe, Ardıç gibi ağaçların varlığından söz edebiliriz. Buna ek olarak ormanda çok çeşitli çiçekler ve endemik bitkiler de yer alıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Yaylanın geyik üretme çiftliği sebebiyle bu hayvanlara ve göçmen kuşlara da ev sahipliği yaptığını söyleyebiliriz. Başkonuş Yaylasında çeşitli doğa aktiviteleri yapabilirsiniz. Piknik yapabilir, doğa yürüyüşüne çıkabilir veya kamp yapabilirsiniz. Ayrıca, ATV ile tur yapma imkanı da bulunuyor. Yaylada konaklama imkanı da mevcut. Başkonuş Yaylası, Kahramanmaraş’ın saklı cenneti olarak anılıyor. Bu eşsiz mekânı ziyaret ederek, Kahramanmaraş’ın doğal güzelliklerine dokunabilirsiniz.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">09.00-20.00</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829"><a href="https://www.google.com/maps/place/Ba%C5%9Fkonu%C5%9F+Yaylas%C4%B1/@37.567555,36.5831719,15z/data=!4m9!3m8!1s0x152e9a6c05ba1d5b:0xa8abda9cfc12258e!5m2!4m1!1i2!8m2!3d37.567555!4d36.5831719!16s%2Fg%2F11bztqf6ts?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">4. Yedikuyular Kayak Merkezi</span></h2>
    <p dir="ltr">
        <span><img alt="yedikuyular-kayak-merkezi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/yedikuyular-kayak-merkezi-53262.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Yedikuyular Kayak Merkezi, Türkiye’nin güneyindeki en yüksek dağlardan biri olan Kahramanmaraş’taki Ahır Dağı’nda yer alıyor. Bu kayak merkezi, misafirlerine harika bir kış deneyimi sunuyor. Yedikuyular Kayak Merkezi, 2050 metreye kadar çıkan yüksekliğiyle dikkat çekiyor. Merkezde üç farklı pist bulunuyor: biri acemi kayakçılar için, diğeri orta seviye kayakçılar için ve sonuncusu ise profesyonel kayakçılar için. Bu pistler, her seviyeden kayakçının keyif alabileceği bir deneyim sunuyor. Merkezde ayrıca küçük bir teleferik hattı hattı bulunuyor. Bu hatlar, kayakçıların zirveye kolayca ulaşmasını sağlıyor. Kayak merkezi, kar kalitesi ve güzel manzarasıyla da ünlü. Zirveden bakıldığında, karla kaplı dağların ve çam ormanlarının muhteşem manzarası göz kamaştırıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Yedikuyular kayak merkezinde konaklama imkanları da mevcut. Merkezde bir otel ve birkaç kabin bulunuyor. Bu tesisler, konuklarına sıcak bir ortam ve konforlu bir konaklama deneyimi sunuyor. Ayrıca merkezde bir restoran ve bir kafe de bulunuyor. Bu mekanlar, kayak sonrası dinlenmek ve lezzetli bir yemek yemek için ideal seçenek oluşturuyor.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">09.00-17.00</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829"><a href="https://www.google.com/maps/place/Yedikuyular+Kayak+Merkezi/@37.6447877,37.0371653,15z/data=!4m2!3m1!1s0x0:0xfead549c5a6366cf?sa=X&amp;ved=2ahUKEwj_2_LSvNKCAxVqS_EDHa4vCzUQ_BJ6BAheEAA">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">5. Döngel Mağarası</span></h2>
    <p dir="ltr">
        <span><img alt="dongel-magarasi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/dongel-magarasi-53263.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Kahramanmaraş-Kayseri yolunun 50. km’sinde yer alan Döngel Mağarası, tarihten günümüze izler taşıyor. Yalnızca bir doğa harikası değil, aynı zamanda mesire alanı olması ile de öne çıkan bu eşsiz yer tarih öncesi çağlardan izler taşıdığı için de birçok kişinin ilgisini çekmeyi başarıyor. Döngel Mağarası birbirine bağlı olacak şekilde üç mağaradan meydana geliyor. Bu mağaralar birbirinin üzerinde yer alıyor. Kahramanmaraş ve çevresindeki önem derecesi yüksek alanlardan birisi olan Döngel, tarih öncesi çağlar olarak adlandırılan milattan önce 40 bin ile 10 bin arasında kullanıldığı yapılan araştırmalar sonucunda ortaya kondu.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829">Piknik alanı olarak kullanılan mağara çevresinde, ceviz ve çınar ağaçları yer alıyor. Doğanın içinde huzur veren bir dinlenme ve piknik alanı oluşturması sebebiyle de yerel halk tarafından sıklıkla gelinen bir bölge olmayı başarıyor. Döngel Mağarası, sadece tarihî öneme sahip olmakla kalmayıp, aynı zamanda doğa yürüyüşleri ve kamp yapma imkanı sunan bir alan olması ile önem kazanıyor. Mağaralara ulaşmak için mesire alanında başlayan 100 metrelik bir tırmanış yapmanız gerekiyor. Meraklı ziyaretçiler mağaraların girişine ulaşmak için dik patikayı kullanmak zorunda. Mağaranın içindeki dev galerileri, güvercin yuvalarını ve muazzam manzarayı görmek misafirler için paha biçilemez bir an olabiliyor.</span></p>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-950aceae-7fff-6dff-23d0-7b5d5412c829"><a href="https://www.google.com/maps/place/D%C3%B6ngel+Ma%C4%9Faralar%C4%B1/@37.8593069,36.641315,15z/data=!4m2!3m1!1s0x0:0xc1c5ecc96a3c4057?sa=X&amp;ved=2ahUKEwiQwp_pwdKCAxW2S_EDHdpKBYkQ_BJ6BAhYEAA" target="_blank">Konum Linki</a></span></p>

</body>
</html>
