<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karaman'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KARAMAN</h5>
    <p><span style="font-weight: 400;">Geçmişten günümüze birçok medeniyete ev sahipliği yapmış olan Karaman, çok kültürlü ve dönüştürülmüş yapısıyla eşsiz bir şehir. Her köşesi görülmeye değer olan bu kadim şehrin, tarihi ve doğal güzelliklerine hayran kalacak, adımını attığın ilk andan itibaren sokaklarını arşınlamak isteyeceksin. Her köşesi tarih kokan Karaman sokaklarında Hititler, Lidyalılar ve Frigler gibi kadim medeniyetlerin izlerini bulabilir; İncesu Mağarası, Güldere Gödet Saklı Cennet ve Üç Kuyu Harabeleri’ndeki doğal güzellikleri keşfedebilir; Gökçe Çamlığı, Yeşildere Barajı gibi mesire alanlarında doğanın keyfini doyasıya çıkarabilirsin. </span></p>
    <p><span style="font-weight: 400;">Karaman’da tarihin kapılarını aralayıp yörenin enfes lezzetlerini tatmak, şehri adım adım keşfetmek ve gezilecek eşsiz mekanları öğrenmek istersen bu yazımız tam sana göre. Karaman’da nereleri keşfetmen gerektiğini söylemeden önce Karaman’a gidenlerin mutlaka bilmesi gereken birkaç soruyu senin için yanıtladık. </span></p>
        <h2><b>Karaman'da gezilecek yerler:</b></h2>
        <ol>
            <li>Karaman Kalesi</li>
            <li>Karaman Müzesi</li>
            <li>Hürrem Dayı Evi</li>
            <li>Tartan Konağı</li>
            <li>Çeşmeli Kilise</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">1. Karaman Kalesi</span></h2>
    <p dir="ltr">
        <span><img alt="karaman-kalesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/karaman-kalesi-54938.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">12. yüzyılın başlarında inşa edilen Karaman Kalesi, birçok medeniyetin izlerini taşıyor. İç içe geçmiş surlardan oluşan kale; iç, orta ve dış kale olmak üzere 3’e ayrılıyor. Kültür turizmi açısından gezilmesi gereken yerlerin başında gelen Karaman Kalesi, Osmanlı, Selçuklu ve Karamanoğulları dönemlerinde restore ediliyor. Bunun yanı sıra kale, Bizans, Roma ve Bronz Çağı dönemlerinin de izlerini taşıyor. Kale Evliya Çelebi’nin Seyahatnamesi’nde de yer alıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Karaman Kalesi, kolay ulaşımı ile de şehir merkezine gelen ziyaretçilerin uğrak noktası. Eğer sen de tarihe yakından tanıklık etmek istersen kaleyi ziyaret edebilir, geçmişin havasını soluyabilirsin.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><a href="https://maps.app.goo.gl/a1DCjUuGiuTqouFSA" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">2. Karaman Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="karaman-muzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/karaman-muzesi-54939.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Arkeolojiye ilgin varsa görmen gereken yerlerin başında Karaman Müzesi geliyor. 1980 yılında açılan müze, Karaman ve çevresinin binlerce yıllık kültürel mirasını ziyaretçilerine sergiliyor. İki kattan oluşan müzede arkeolojik ve etnografik eserler iki ayrı salonda sergileniyor. Salonda pişmiş topraktan kaplar, idoller, kemik ve madenden yapılmış takılar, göz yaşı şişeleri, silahlar ve etnografik ürünler bulunuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Tarihi, Epi Paleolitik Devrine kadar uzanan salondaki en dikkat çeken eserlerden biri ise Manazan Mağaralarından getirilen kadın mumyası. Hiçbir kimyasal kullanılmamasına rağmen 15 asırdır sağlamlığını koruyan bu mumya, müzenin uluslararası arenada bilinirliğini de arttıran en önemli parçalardan biri. </p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><a href="https://maps.app.goo.gl/qriGEt3r2YRq1Eyn6" target="_blank">Konum Linki</a></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><div class="working-hours-box" data-testid="working-hours-box"></span><strong>Giriş ücreti</strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Ücretsiz.</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Her gün 08.30-17.00</div></span></p>
        </li>
    </ul>
    <h2 dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">3. Hürrem Dayı Evi</span></h2>
    <p dir="ltr">
        <span><img alt="hurrem-dayi-evi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hurrem-dayi-evi-54940.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Karaman’ın en çok ziyaret edilen noktalarından biri olan Hürrem Dayı Evi eşsiz mimarisiyle ziyaretçilerin ilgi odağında. Türk mimarisinin en güzel örneklerinden biri olan konak, turizm açısından da önemli bir yere sahip. 300 yıllık bir tarihe sahip evin ahşap süslemeleri, kalem süslemeleri oldukça büyüleyici. Gören herkesi farklı bir atmosfere sürükleyen konak zaman içerisinde çeşitli restorasyon süreçlerinden geçiyor fakat aslına uygun yapılan restore çalışmaları konağın günümüze kadar aslını koruyarak ulaşmasını sağlıyor. Konağın sahibi ise çok zengin biri olmayıp aksine orta halli bir memur. Senin de Karaman’a yolun düşerse Türk mimarisinin en güzel örneklerinden olan Hürrem Dayı Konağı’nı mutlaka gezilecek yerler listene almalısın.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><a href="https://maps.app.goo.gl/pj4VtS1DE6YXLnrY9" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">4. Tartan Konağı</span></h2>
    <p dir="ltr">
        <span><img alt="karaman-tartan-evi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/karaman-tartan-evi-33095.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">19. yüzyılda Tartanzade Hacı Ahmet Efendi tarafından yaptırılan Tartan Konağı, Anadolu Türk ev mimarisinin en güzel örneklerinden biri. Kalem işi süslemeleriyle dikkat çeken konak, orta sofa planlı ve iki katlı. Birinci katta bulunan sofa, sekizgen tavanıyla da Sultanahmet Cami, Dolmabahçe Sarayı, Kız Kulesi, II, Mahmut Türbesi gibi batılılaşma döneminin izlerini taşıyor. Konak, bugün değin yalnızca Tartan ailesini değil aynı zamanda şehre gelen birçok misafiri de ağırlıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><a href="https://maps.app.goo.gl/L2UEgXs2dZqhhonw6" target="_blank">Konum Linki</a></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><div class="working-hours-box" data-testid="working-hours-box"></span><strong>Giriş ücreti</strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Ücretsiz.</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Her gün 08.00-22.00</div></span></p>
        </li>
    </ul>
    <h2 dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">5. Çeşmeli Kilise</span></h2>
    <p dir="ltr">
        <span><img alt="cesmeli-kilise" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cesmeli-kilise-54941.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Karaman merkezin en eski mahallelerinden biri olan Tapucak Mahallesi’nde yer alan Çeşmeli Kilise, Rum, Ermeni ve Türklerin mübadeleden önce bir arada yaşadığı kültürel olarak oldukça zengin bir bölgede yer alıyor. Çeşmeli Kilise’yi ziyaret ettiğinizde Osmanlı mimarisine ait Yeni Hamam’ı, Karamanoğlu mimarisine ait Araboğlu Cami’ni bir arada görebilir, tarihi mahallede Rum, Ermeni ve Türk evlerinin yan yana sıralandığını görebilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Çeşmeli Kilise, Karaman Karadağ ilçesinde yer alan Binbir Kilise’de bulunan bazilikaların da bir örneği. Uzunlamasını iç sahınlı kesme taşla inşa edilmiş yapı, Bizans Dönemi’ne ait. Cumhuriyet Dönemi’nde ise 1980’li yıllara kadar cezaevi olarak kullanılıyor. Günümüzde ise tekrar restore edilerek sanatsal ve kültürel faaliyetlerin kullanımı için açılıyor. Karaman’a geldiysen kiliseyi ziyaret ederek geçmişin izlerini yakından takip edebilirsin.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><a href="https://maps.app.goo.gl/MW2NutA93DYUaY2X8" target="_blank">Konum Linki</a></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709"><div class="working-hours-box" data-testid="working-hours-box"></span><strong>Giriş ücreti</strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Ücretsiz</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-4dfba86e-7fff-b229-48e4-92ca15892709">Her gün 08.00-17.00</div></span></p>
        </li>
    </ul>

</body>
</html>
