<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kütahya'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KÜTAHYA</h5>
    <p><span style="font-weight: 400;">Hem Kurtuluş Savaşı’nda direnişin en önemli yerlerinden biri olmasıyla hem de tarihi ve kültürel zenginlikleriyle bilinen Kütahya, turizm için de değerli şehirlerimizden. Kütahya’da seramik ustalarının maharetli ellerinden çıkan eserlere ve çini sanatının inceliklerine yakından tanıklık edebilirsiniz. Ayrıca Dumlupınar Şehitliği’ni ziyaret edebilir, Frig Vadisi, Aizanoi Antik Kenti ve tarihi Kütahya konakları gibi hayranlık uyandıran destinasyonlardan oluşan keyifli bir gezi turu gerçekleştirebilirsiniz. </span></p>
     <h2><b>Kütahya'da gezilecek yerler:</b></h2>
        <ol>
            <li>Frig Vadisi</li>
            <li>Kütahya Çini Müzesi</li>
            <li>Kütahya Kalesi</li>
            <li>Ulu Camii</li>
            <li>Aizanoi Antik Kenti</li>
            <li>Lajos Kossuth Müzesi</li>
            <li>Kütahya Arkeoloji Müzesi</li>
            <li>Dumlupınar Şehitliği</li>
            <li>Çinili Camii</li>
            <li>Mızık Çamı</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">1. Frig Vadisi</span></h2>
    <p dir="ltr">
        <span><img alt="frig-vadisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/frig-vadisi6-37849.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Günümüzde Kütahya ile beraber Eskişehir ve Afyon gibi şehirlerin sınırlarına kadar uzanan Dağlık Frigya bölgesi, büyük ölçüde derin vadilerin şekillendirdiği orijinal bir destinasyon. Volkanik tüflerin yarattığı volkanik yapı, kayaların özel olarak oyulması neticesinde hayranlık uyandıran bir mimari modelin kapılarını aralamış. Frig döneminden bugüne dek uzanan kaya anıtlarda üçgen alınlıklar ve zengin süslemeler dikkat çekiyor. Bu süsleme detayları Frig Uygarlığı’nın sosyal ve dini ritüelleri ile alakalı pek çok bilgi sunabiliyor. Frig Vadisi’ni daha yakından keşfetmek isterseniz ilgili yazımıza linkten ulaşabilirsiniz.</p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/Frig+Vadisi/@39.2934199,30.035736,10z/data=!4m10!1m2!2m1!1sfrig+vadisi+google+harita!3m6!1s0x14cedbe2c63870a1:0x544d2fbbe8839580!8m2!3d39.0891296!4d30.419747!15sChlmcmlnIHZhZGlzaSBnb29nbGUgaGFyaXRhIgOIAQGSARNoaXN0b3JpY2FsX2xhbmRtYXJr4AEA!16s%2Fg%2F11rhqty_vd?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">2. Kütahya Çini Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="kutahya-cini-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kutahya-cini-muzesi-giris-1893.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya denildiği zaman akla gelen ilk unsurlardan biri de çini. Nitekim çarşı içerisinde dolaştığınızda çini sanatının inceliklerini yansıtan binlerce hediyelik eşya modeli ile karşılaşmanız olası. Kütahya Çini Müzesi ise bu geleneksel sanatın Kütahya özelindeki tarihsel serüvenine odaklanıyor. Kütahya Çini Müzesi, aynı zamanda bu alana dair açılmış ilk ve tek müze özelliğine sahip.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">1999 senesinde resmi açılışı yapılan Kütahya Çini Müzesi; çok sayıda çini vazoyu, ev eşyasını, pano ve tabağı bünyesinde barındırıyor. Sergilenen çinilerin bir kısmı Kütahya’da bir kısmı ise İznik’te üretilmiş. Müzeye ev sahipliği yapan bina ise 1411 senesinde Yakup Çelebi tarafından inşa edilmiş. Bina uzun yıllar boyunca külliye ve medrese olarak kullanılmış.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Pazartesi hariç 09.00-17.00 arası ziyarete açık.</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/%C3%87ini+M%C3%BCzesi/@39.4174229,29.9725463,17z/data=!3m1!4b1!4m6!3m5!1s0x14c94809cada83e3:0x735c5f450cbb7716!8m2!3d39.4174188!4d29.9751212!16s%2Fg%2F11b7d_97fq?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">3. Kütahya Kalesi</span></h2>
    <p dir="ltr">
        <span><img alt="kutahya-kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kutahya-kalesi-52410.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Şehrin sembol yapılarından biri olan Kütahya Kalesi, konum olarak Hisar Tepesinde bulunuyor. Burası aynı zamanda şehrin kurulduğu ilk yer olarak da biliniyor. 5. yüzyılda inşa edilen tarihi kalenin yapımında Bizanslılar rol oynuyor. Sonraki dönemlerde hem Osmanlılar hem de Selçuklular döneminde kapsamlı bir şekilde restorasyondan geçiriliyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kalenin burç kısımlarında özel moloz kesme taşlar kullanılmış. Kale iç, aşağı ve yukarı olmak üzere toplamda 3 ayrı bölümden oluşuyor. Rengi kırmızıya yakın devasa bir kayanın üstünde konumlanan kale, aradan geçen bunca seneye rağmen restorasyonlar sayesinde sağlam kalmayı başarmış. Kütahya Kalesi’nin çevreleyen özel bir hendek bulunmuyor ancak surların altı tümüyle bir uçuruma doğru bakıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/K%C3%BCtahya+Kalesi/@39.4190867,29.9674721,17z/data=!3m1!4b1!4m6!3m5!1s0x14c947e3a39bbddf:0x840283b901abb7b9!8m2!3d39.4190826!4d29.970047!16s%2Fg%2F1233lyrg?entry=ttu">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">4. Ulu Camii</span></h2>
    <p dir="ltr">
        <span><img alt="kutahya-ulu-cami" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kutahya-ulu-cami-1904.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya’nın en önemli dini mekânlarından biri olan Ulu Cami’nin 1401 senesinden bugüne uzandığı biliniyor. Osmanlı’nın büyük imparatorlarından Yıldırım Beyazıt, caminin yapımında önemli bir etkiye sahip. Tarihi caminin içinde bulunan dev sütunlar, şehrin dünyaca ünlü Antik kenti, Aizanoi Antik Kenti’nden taşınmış. Dikdörtgen planlı ve avlusuz durumdaki caminin en kapsamlı restorasyonu, 1893 senesinde yapılmış.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/K%C3%BCtahya+Ulu+Camii/@39.4172263,29.9712199,17z/data=!3m1!4b1!4m6!3m5!1s0x14c94809b50210a3:0xf5367936e8e53ff8!8m2!3d39.4172222!4d29.9758333!16s%2Fg%2F11b6wf1mlj?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">5. Aizanoi Antik Kenti</span></h2>
    <p dir="ltr">
        <span><img alt="aizanoi-antik-kenti-heykel" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/aizanoi-antik-kenti-heykel-1908.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Çavdarhisar ilçesinde konumlanan Aizanoi Antik Kenti, Roma Dönemi‘nin mimari izlerini taşıyor. İçerisinde Zeus Tapınağı ve tiyatro alanı ile beraber macellumu bulunan Antik kent, pek çok tarihçi tarafından “İkinci Efes” olarak isimlendiriliyor. Büyük ölçüde korunan yapının bir zamanlar 80 bin kişiye ev sahipliği yaptığı tahmin ediliyor. Stadyum 13.500, tiyatro ise 20 bin civarında bir kapasiteye sahip. Antik kente geldiğinizde nekropoller dışında su kanallarına ve özel agoralara tanıklık edebilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/Aizanoi+Antik+Kenti/@39.201164,29.6070241,17z/data=!3m1!4b1!4m6!3m5!1s0x14c8e2a9036963eb:0xfea56c85a802ccb!8m2!3d39.2011599!4d29.609599!16s%2Fg%2F1tmhtkwl?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">6. Lajos Kossuth Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="lajos-kossuth-muzesi-" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/lajos-kossuth-muzesi-52411.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya’da yerli ve yabancı ziyaretçilerin yoğun ilgi gösterdiği Lajos Kossuth Müzesi, konum olarak Macar Sokak’ta yer alıyor. Müzeye 18’inci yüzyıldan bugüne taşınan özel bir Türk Evi ev sahipliği yapıyor. Müzeye adını veren Lajos Kossuth, 19’uncu yüzyılda yaşamış olan ve Macar özgürlük savaşı için mücadele eden liderlerden biri olarak tanınıyor. Kendisinin 1850 yılında yaklaşık 2 sene boyunca bu evde ikamet ettiği, ayrıca Macaristan Anayasa Tasarısı’nı da burada kaleme aldığı biliniyor. Lajos Kossuth’un ölümünden sonra, anılarını yaşatmak amacıyla müze fikri ortaya atılıyor.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Pazartesi hariç 08.30-17.30 arası ziyarete açık.</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/Kossuth+M%C3%BCzesi+(Macar+Evi)/@39.4165031,29.9712058,17z/data=!3m1!4b1!4m6!3m5!1s0x14c947e29f17fe67:0xf67a7b53a9c0582a!8m2!3d39.416499!4d29.9737807!16s%2Fg%2F1ywqg1_dy?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">7. Kütahya Arkeoloji Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="kutahya-arkeoloji-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kutahya-arkeoloji-muzesi-52412.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya’nın popüler müzelerinden biri olan Arkeoloji Müzesi, hemen şehir merkezinde Ulu Cami’nin yanında konumlanıyor. Müze binası 1314 senesinde Umur Bin Savcı tarafından inşa edilmiş. O dönemlerde uzun yıllar boyunca medrese olarak kullanılmış. Müzenin pek çok noktasında Selçuklu sanatının izlerine rastlamak mümkün.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Müze resmi olarak 1965 senesinde ziyaretçilere kapılarını açıyor. Müze içerisinde hem Hitit, Roma ve Bizans hem de Osmanlı Dönemi’ne dair sayısız eser sergileniyor. Müzenin genel olarak en çok ilgi çeken eseri, Amazon Lahidi. Aizanoi’de yapılan kazı çalışmalarında keşfedilen lahitte müthiş bir kabartma tekniğine yer verilmiş.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Haftanın her günü 08.30-17.30 arası açık</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/search/K%C3%BCtahya+Arkeoloji+M%C3%BCzesi/@39.4165113,29.9712058,17z/data=!3m1!4b1?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">8. Dumlupınar Şehitliği</span></h2>
    <p dir="ltr">
        <span><img alt="dumlupinar-sehitlik" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/dumlupinar-sehitlik-52403.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya’ya kadar gelip de yakın tarihimiz için oldukça büyük bir öneme sahip olan Dumlupınar Şehitliğini ziyaret etmemek olmaz. Bilindiği üzere 26 Ağustos 1922’de Afyonkarahisar’da başlayan mücadelenin en önemli duraklarından biri de Dumlupınar’dı. Nitekim Başkomutan Meydan Muharebesi, aynı yılın 30 Ağustos tarihinde tam olarak burada ilan edilmişti.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Dumlupınar Şehitliği, Kurtuluş Savaşı’nda şehit olan askerlerin anılarını yaşatmak adına 30 Ağustos 1972 tarihinde açıldı. İçerisinde Milisler Anıtı, Üç Komutan Anıtı, Mehmetçik Anıtı, Kurtuluş Parkı ve Namazgâh gibi ayrı ayrı bölümler mevcut. Aynı şekilde Dumlupınar Müzesi de doğrudan bu alanda konumlanıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/Dumlup%C4%B1nar+%C5%9Eehitli%C4%9Fi/@38.8434187,29.95445,17z/data=!3m1!4b1!4m6!3m5!1s0x14c8c632315f0975:0xd6540f5ddb242f14!8m2!3d38.8434146!4d29.9590634!16s%2Fg%2F120phw27?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">9. Çinili Camii</span></h2>
    <p dir="ltr">
        <span><img alt="cinili-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cinili-camii-47836.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Şehrin en özel camilerinden biri olarak öne çıkan Çinili Cami, il merkezinde konumlandığı için rahatlıkla ziyaret edilebiliyor. Caminin süslemelerinde ağırlıklı olarak Orta Asya Türk mimarisinden esintilerle karşılaşabilirsiniz. Caminin dış bölümü bütünüyle mavi Kütahya çinilerinden meydana geliyor. Bu durum, camiye görsel anlamda bir özgünlük kazandırıyor. 1973 senesinde ressam Ahmet Yakupoğlu’nun projesiyle inşa edilen Çinili Cami, tarihsel kimliğinden ziyade estetik yapısıyla ön plana çıkıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/%C3%87inili+Cami/@39.411731,29.9877372,17z/data=!3m1!4b1!4m6!3m5!1s0x14c94810c75a8323:0xd294e5aea1f5a66a!8m2!3d39.4117269!4d29.9903121!16s%2Fg%2F11b6xc7lj0?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">10. Mızık Çamı</span></h2>
    <p dir="ltr">
        <span><img alt="mizik-cami" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mizik-cami-52413.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235">Kütahya’da gezilecek yerler arasında her zaman kendine yer bulan Mızık Çamı, Osmanlı Dönemi içerisinde “anıt ağaç” olarak yıllar boyunca korunmuş. Bu miras günümüzde aynı özenle korunmaya çalışılıyor. Anlatılanlara göre bu çamın mazisi Osman Gazi’nin bebeklik dönemlerine dek uzanıyor. Hayme Ana’nın bu ağacın dallarına salıncak kurup, o dönemler henüz bebek olan Osman Gazi’yi ninnileriyle uyuttuğuna inanılıyor. Ağacın resmi olarak “anıt ağaç” statüsünde yer alması, 1988 senesine uzanıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-36efa811-7fff-1d6f-5fca-f3d341162235"><a href="https://www.google.com/maps/place/M%C4%B1z%C4%B1k+%C3%87am%C4%B1/@39.7963121,29.6330798,17z/data=!3m1!4b1!4m6!3m5!1s0x14c9629b065aaa79:0xc571726a0ef30475!8m2!3d39.796308!4d29.6356547!16s%2Fg%2F11f01mtl57?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
