<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kırıkkale'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KIRIKKALE</h5>
    <p><span style="font-weight: 400;">İç Anadolu bölgesinde bulunan Kırıkkale’de gerek doğa harikaları, gerek insan yapısı olağanüstü manzaralarla karşılaşmak mümkün. Demir Çağı’ndan Selçuklu Devleti’ne ve Osmanlı’ya kadar birçok değere ev sahipliği yapan Kırıkkale’de gezilecek yerler sanıldığından çok daha fazla. </span></p>
        <h2><b>Kırıkkale'de gezilecek yerler:</b></h2>
        <ol>
            <li>Nur Camii</li>
            <li>Çeşnigir Köprüsü</li>
            <li>Hasandede Camii ve Türbesi</li>
            <li>Karaahmet Tabiat Parkı</li>
            <li>Ceritkale Kaya Mezarları</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">1. Nur Camii</span></h2>
    <p dir="ltr">
        <span><img alt="nur-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/nur-camii-51525.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">Kırıkkale’de bulunan Nur Camii’nin yapımında mimari özellik konusunda Mimar Sinan’ın ustalık dönemindeki eserlerinden olan Edirne’deki Selimiye Camii’nin üslubunun temel alınması, onu özellikle ilgi çekici bir konum haline getirmiş. 55 metre yükseklikte bulunan dört minaresiyle birlikte Kırıkkale’nin ihtişamlı yapılarından birisi olarak karşımıza çıkan Nur Camii’nin inşası, 2015’te tamamlanmış. Külliyesinde bulunan konferans ve seminer salonları, okuma salonu, Türk-İslam el sanatları eğitim merkezi, kütüphane ve derslik gibi sosyal alanların da bulunduğu Nur Camii’nin aydınlatmaları da Kırıkkale’deyken akşamları güzel bir seyir oluşturuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93"><a href="https://maps.app.goo.gl/3WSr15h5xENUKKb98" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">2. Çeşnigir Köprüsü</span></h2>
    <p dir="ltr">
        <span><img alt="cesnigir-koprusu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cesnigir-koprusu-51509.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">Kızılırmak üzerine yapılmış olan Çeşnigir Köprüsü’nün bilinen kaynaklara göre Selçuklu Dönemi’nde inşa edilmiş. Estetik ve tarihi değer anlamında gerçekten de bulunduğu coğrafyada güzel bir konuma sahip olan Çeşnigir Köprüsü’nün Kırıkkale’deki en güzel tarihi yapılardan biri olduğu söylenebilir. Altından geçen Kızılırmak ve etrafında bulunan yüksek alanlarla birlikte doğayla insan yapımı yapıların ahengini ortaya koyan Çeşnigir Köprüsü, 16. yüzyılda Mimar Sinan tarafından yeniden yapılmış. Selçuklu Dönemi’nde yapılmış olup Mimar Sinan’ın yeniden hayata döndürdüğü bu muazzam köprüyü eğer Kırıkkale’ye yolunuz düşerse sizin de ziyaret etmenizi tavsiye ederiz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93"><a href="https://maps.app.goo.gl/KKbXyZXef4tW8dQL7" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">3.</span> Hasandede Camii ve Türbesi</h2>
    <p dir="ltr">
        <img alt="hasandede-camii-ve-turbesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hasandede-camii-ve-turbesi-51524.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">Kırıkkale kent merkezine 12 kilometre uzaklıktaki Hasandede Kasabası’nda bulunan Hasandede Camii ve Türbesi’ni ziyaret ederek ilin tarihi geçmişine tanıklık etmeniz mümkün. Caminin minaresinin tarafında bulunan ilk türbe, camiye de adını veren Hasandede’ye ait. Görebileceğiniz ikinci türbe ise Hasandede’nin oğulları olan Şeyh Halil İbrahim, Şeyh Mustafa ve kızı Ümmühan Ana’ya ait olan ortak türbe olarak karşımıza çıkıyor. 1605 yılında inşa edilmiş olan bu yapı, Kırıkkale’de görmeye değer tarihi eserlerden biri diyebiliriz. Aynı zamanda günümüze kadar da gelmiş olması, yapının hem mimari hem de tarihi değerini ortaya koyuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93"><a href="https://maps.app.goo.gl/Q2edDdyxgnGU4SjR9" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">4. Karaahmet Tabiat Parkı</span></h2>
    <p dir="ltr">
        <span><img alt="karaahmet-tabiat-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karaahmet-tabiat-parki-51510.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">Karaahmet Tabiat Parkı, Keskin ve Bahşili ilçelerinin arasında bulunan Kapulukaya Baraj Gölü’nün kıyısında yer alıyor. 2009 yılında tabiat parkı olarak ilan edilen alan, içerisindeki farkı yüzey şekilleri, olağanüstü güzellikteki orman yapısı ve görenleri etkileyen derin vadileriyle birlikte ziyaretçileri için görsel bir şölen desek yanlış olmaz. Baraj gölünün harika suyu, Karaahmet Tabiat Parkı’na gelenler için ayrı bir rekreasyonel alan açıyor. Parka gelenlerin göldeki su samurlarını gözlemleyebilme fırsatları bulunuyor. Ayrıca içerisinde onlarca farklı kuş türünün yanında çeşitli sürüngen ve memelilere de ev sahipliği yapan Karaahmet Tabiat Parkı’nda piknik, trekking, kuş ve çeşitli fauna gözlemciliğinin yanında olta balıkçılığı da yapmak da mümkün.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93"><a href="https://maps.app.goo.gl/5yCt7zsDNMrArZpx8" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">5. Ceritkale Kaya Mezarları</span></h2>
    <p dir="ltr">
        <span><img alt="ceritkale-kaya-mezarlari" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ceritkale-kaya-mezarlari-51511.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93">Kırıkkale’nin Keskin ilçesinin yaklaşık olarak 10 kilometre uzağındaki Ceritkale Köyü’nün yakınlarında bulunan Ceritkale Kaya Mezarları’nın tarihi, yazıda bahsetmiş olduğumuz Selçuklu ve Osmanlı dönemlerinden kalma eserlerden daha antik bir zamana gidiyor. Bölgedeki en eski yerleşim alanlarından biri olarak kabul edilen alanın tarihi, araştırmalara göre Demir Çağı’na kadar uzanıyor. İçerisinde hem eski dönemde hem mezar olarak kullanılmış alanlar, hem de yaşam alanı oluşturmak için insan eliyle oyulmuş kayalıklar bulunan Ceritkale Kaya Mezarları’nı ziyaret etmek, Kırıkkale’nin antik tarihine merakınız varsa, size ışık tutacak bir tercih olur.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f7ea5eb9-7fff-9947-a9f2-b6e8ea752f93"><a href="https://maps.app.goo.gl/X35iS2G33EZvTsc58" target="_blank">Konum Linki</a></span></p>


</body>
</html>
