<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malatya'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>MALATYA</h5>
    <p><span style="font-weight: 400;">Malatya; etkileyici kültürel zenginliği, görülmeye değer doğal güzellikleri ve lezzetli yemekleriyle Türkiye'nin önemli turistik şehirlerden biri konumunda. Uzun tarihinde pek çok önemli medeniyete ev sahipliği yapan şehrin her köşesinde paha biçilmez tarihi eseri görmeniz mümkün. </span></p>
    <p><span style="font-weight: 400;">UNESCO Dünya Mirası Listesi’nde yer alan Arslantepe Höyüğü ve dar sokaklarda sıralanan tarihi konaklardan devasa kanyonlara ve tabiat harikası şelalelere kadar pek çok güzelliğe sahip olan Malatya’nın en güzel yerlerini sizler için sıraladık. </span></p>
        <h2><b>Malatya'da gezilecek yerler:</b></h2>
        <ol>
            <li>Arslantepe Höyüğü</li>
            <li>Beşkonaklar</li>
            <li>Orduzu</li>
            <li>Malatya Şire Pazarı</li>
            <li>Malatya Hürriyet Parkı</li>
            <li>Malatya Kültür Evi</li>
            <li>Malatya Tohma Kanyonu</li>
            <li>Malatya Kudret Havuzu</li>
            <li>Malatya Levent Vadisi</li>
            <li>Karakaya Barajı Gölü</li>
        </ol>

    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">1. Arslantepe Höyüğü</span></h2>
    <p dir="ltr">
        <span><img alt="arslantepe-hoyugu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/arslantepe-hoyugu-51095.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">2021 yılında UNESCO Dünya Mirası Listesi’ne dahil edilen ve Türkiye'nin en büyük höyüklerinden biri olan Arslantepe Höyüğü, hem tarih hem de arkeoloji meraklılarının mutlaka görmesi gereken bir tarihi hazine. Melid olarak da bilinen ve Malatya'ya yaklaşık 7 kilometre uzaklıkta bulunan höyük, Malatya Ovası’na hakim 30 metre yükseklikteki bir tepe üzerinde 4 hektarlık bir alanı kapsıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Açık hava müzesi olarak her yıl binlerce kişi tarafından ziyaret edilen Arslantepe Höyüğü’nde Geç Kalkolitik ve Demir Çağı’ndan Hitit, Roma ve Bizans dönemine kadar uzanan pek çok etkileyici yapı bulunuyor. Çarpıcı kaya mezar alanları ve yerleşim yerleri arasında unutulmaz bir tarih gezisi yapabileceğiniz Arslantepe Höyüğü hakkında rehberlerden de ilginç bilgiler alabilirsiniz. Bölgede yapılan kazılarda elde edilen paha biçilmez eserleri ise Malatya Müzesi’nde yakından görebilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Arslantepe+H%C3%B6y%C3%BC%C4%9F%C3%BC/@38.3812151,38.3609342,15z/data=!4m2!3m1!1s0x0:0x6e6aa35c7d317665?sa=X&amp;ved=2ahUKEwiZ8Y-v1aGBAxWccfEDHY5VASsQ_BJ6BAhbEAA&amp;ved=2ahUKEwiZ8Y-v1aGBAxWccfEDHY5VASsQ_BJ6BAhsEAg" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">2. Beşkonaklar</span></h2>
    <p dir="ltr">
        <span><img alt="beskonaklar" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/beskonaklar-51096.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Malatya'nın klasik mimari özelliklerini görebileceğiniz, 1900'lü yılların başında yan yana inşa edilen 5 tane etkileyici konak, Saray Mahallesinde Beşkonaklar Caddesi üzerinde her köşede çarpıcı manzaralar sunuyor. Açık hava müzesine andıran otantik sokakta taş, ahşap ve kerpiç malzemelerle inşa edilen konaklar, el yapımı taş oymalarıyla da ziyaretçilerini büyülüyor. Günümüzde bazıları restore edilerek müze haline getirilen konakların odalarında antikalar ve dönem mobilyaları arasında tarihte keyifli bir yolculuğa çıkabilirsiniz. Malatya’nın simgelerinden biri haline gelen Beşkonaklar, hem mimari hem de fotoğrafçılık meraklılarının ilk uğraması gereken yerler arasında.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Etno%C4%9Frafya+M%C3%BCzesi/@38.3467563,38.3207903,17z/data=!3m1!4b1!4m6!3m5!1s0x407636c3879b0f49:0x700c974eb6602e31!8m2!3d38.3467521!4d38.3233652!16s%2Fg%2F11b7q7txdg?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">3. Orduzu</span></h2>
    <p dir="ltr">
        <span><img alt="orduzu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/orduzu-51097.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Malatya'nın merkezi Battalgazi ilçesine bağlı küçük bir belde olan Orduzu, hem Arslantepe Höyüğü gibi tarihi hazineler hem de Turgut Özal Tabiat Parkı gibi doğal güzelliklere ev sahipliği yaptığı için sıkça ziyaret ediliyor. Malatya'nın ünlü kayısı festivallerinin de düzenlendiği belde, yemyeşil doğal güzellikleri ile yaz aylarının da sevilen kaçış noktalarından biri. Arslantepe Höyüğü’nde binlerce yıllık yapıları yakından görebileceğiniz gezinizde Turgut Özal Tabiat Parkı’nın yürüyüş parkurları, göletler ve piknik alanlarında da güzel zaman geçirebilirsiniz. El yapımı yöresel ürünler alabileceğiniz Orduzu çarşılarına mutlaka uğramanızı önerdiğimiz beldede Malatya’ya özgü yerel lezzetleri tatmayı da unutmayın.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Orduzu,+Battalgazi%2FMalatya/@38.3484372,38.322796,17z/data=!4m2!3m1!1s0x40763638a6b67879:0x73da170cd2689fd6?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">4. Malatya Şire Pazarı</span></h2>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Türkiye'nin en önemli kayısı üreticisi olan Malatya, aynı zamanda ülkenin en büyük kuru kayısı üreticisi konumunda. Dünyanın en büyük kuru kayısı pazarlarından biri olan ve 19. yüzyıldan beri kurulan Şire Pazarı ise şehri gezen yerli ve yabancı turistlerin en çok ziyaret edilen yerler arasında. Şehir merkezinde güzel bir konumda yer alan ve kuru kayısı, incir, üzüm, badem, ceviz, fıstık gibi kuru meyve ve kuruyemişlerin satıldığı 2000’e yakın tezgahın bulunduğu Şire Pazarı, Malatya’yı gezerken tatil alışveriş yapmak için ilk uğramanız yerler arasında.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/%C5%9Eire+Pazar%C4%B1+Sk.,+44100+Battalgazi%2FMalatya/@38.3514841,38.3151205,17z/data=!3m1!4b1!4m6!3m5!1s0x407636bf9c8f7103:0xcb7fa51f4a24b541!8m2!3d38.3514799!4d38.3176954!16s%2Fg%2F1td4ybgh?entry=ttu">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">5. Malatya Hürriyet Parkı</span></h2>
    <p dir="ltr">
        <span><img alt="malatya-hurriyet-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malatya-hurriyet-parki-51098.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Malatya'nın en büyük parklarından biri de Yunus Emre Caddesi üzerinde güzel bir konumda yer alan Hürriyet Parkı. 20 dönümlük geniş bir yeşil alana sahip olan park; ağaçlarla çevrili yürüyüş yolları, geceleri ışıklandırılan fıskiyelerin bulunduğu göleti ve çocuk oyun parklarıyla hem yerli halk hem de turistler tarafından çok ilgi görüyor. Şehrin kalabalığından bir süre uzaklaşabileceğiniz ve spor yapabileceğiniz Hürriyet Parkı’nda huzurlu atmosferde çayınızı yudumlayarak gezinizin yorgunluğunu da atabilirsiniz. Malatya Hürriyet Parkı, açıldığı 1930’lu yıllardan beri şehrin en sevilen rekreasyon alanı olarak hizmet vermeye devam ediyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Zafer,+H%C3%BCrriyet+Park%C4%B1,+Yunus+Emre+Caddesi,+Malatya+Merkez%2FMalatya/@38.3671839,38.368834,17z/data=!4m5!3m4!1s0x407636c2f6364067:0x9a0dca4af1c19f4f!8m2!3d38.3483791!4d38.3274481?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">6. Malatya Kültür Evi</span></h2>
    <p dir="ltr">
        <span><img alt="malatya-kultur-evi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malatya-kultur-evi-51099.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">19. yüzyılda inşa edilen tarihi bir konağın restore edilmesiyle hizmete başlayan Malatya Kültür Evi, şehrin etkileyici kültürel geçmişini anlamak isteyenlerin ilk uğraması gereken yerlerden biri. 1980 yılında Malatya Belediyesi tarafından alınarak 2010 ile 2015 yılları arasında restore edilen Malatya Kültür Evi, İnönü Mahallesi’nde yürüyerek ulaşılabilen güzel bir konumda yer alıyor. Malatya'nın kültürel ve tarihi mirasını yansıtan yüzlerce çapıcı esere ev sahipliği yapan müzede geleneksel el sanatları, yöresel kıyafetler, tarihi eserler ve fotoğraflar arasında Malatya tarihinde unutulmaz bir yolculuk yapabilirsiniz. Hem kültür hem sanat tutkunlarının keyifle gezebileceği Malatya Kültür Evi’nin etkileyici mimarisini de incelemeyi unutmayın.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Malatya Kültür Evi Ziyaret Saatleri</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Pazartesi günleri hariç haftanın her günü saat 09:00 ile 17:00 saatleri arasında ziyaret edilebilir.</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/%C4%B0n%C3%B6n%C3%BC,+Malatya+K%C3%BClt%C3%BCr+Evi,+Ye%C5%9Filyurt%2FMalatya/@38.3295844,37.6355898,10z/data=!4m5!3m4!1s0x4076371364c5e159:0xbdef7542b0c31c50!8m2!3d38.3480572!4d38.2913999?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">7. Malatya Tohma Kanyonu</span></h2>
    <p dir="ltr">
        <span><img alt="malatya-tohma-kanyonu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malatya-tohma-kanyonu-51100.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Tohma Çayı'nın oluşturduğu 2 kilometre uzunluğunda ve 100 metre genişliğinde bir vadide uzanan Tohma Kanyonu, Malatya'nın Darende ilçesinde yer alıyor. Önemli bir doğa sporları merkezi haline gelen görkemli kanyon; sarp kayalıklar arasındaki birçok küçük şelale, gölet ve mağaraya ev sahipliği yapıyor. İyi düzenlenmiş yürüyüş parkurları, sessiz piknik alanları ve organik ürünlerle kahvaltılar yapabileceğiniz kır bahçeleri gibi olanaklar bulabileceğiniz Tohma Kanyonu’nun hırçın derelerinde rafting yaparak da unutulmaz anlar yaşayabilirsiniz. Yüzlerce metrelik seyir alanlarından muhteşem tabiat fotoğrafları çekebileceğiniz Tohma Kanyonu, kamp yapmak için de Malatya’da gidebileceğiniz en özel noktalar arasında.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Zaviye,+TOHMA+KANYONU,+Darende%2FMalatya/@38.4948581,38.0400875,9z/data=!4m5!3m4!1s0x4077f903fff713c7:0x120e378e099888b2!8m2!3d38.5737252!4d37.4928037?entry=ttu">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">8. Malatya Kudret Havuzu</span></h2>
    <p dir="ltr">
        <span><img alt="malatya-kudret-havuzu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malatya-kudret-havuzu-51101.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Tohma Kanyonu içerisinde yer alan benzersiz bir yüzme havuzu olan Kudret Havuzu, hem doğa tutkunları hem de şifa arayanların Malatya’da ilk uğradığı yerler arasında. Tohma Çayı'ndan ayrılarak kayalıklardan çıkan termal sular ile beslenen Kudret Havuzu; 0,5 metre, 1 metre ve 1,5 metre olarak iç farklı derinlikte inşa edilmiştir. Yılın her mevsimi 22 derece sıcaklıktaki şifalı sularıyla ünlü olan havuzun sularının başta cilt hastalıkları olmak üzere romatizma ve kas ağrıları gibi birçok rahatsızlığa iyi geldiği biliniyor. Sarp kanyon duvarları arasında unutulmaz bir yüzme deneyimi yaşayabileceğiniz ve şifalı sularda dinlenebileceğiniz Kudret Havuzu’na Malatya gezinizde mutlaka uğramanızı öneririz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Zaviye,+Kudret+Havuzu,+Hulusi+Efendi+Caddesi,+Darende%2FMalatya/@38.5737294,37.4902288,17z/data=!4m5!3m4!1s0x4077f9d7dc826231:0x335e3aca5dbe4254!8m2!3d38.5747021!4d37.4928014?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">9. Malatya Levent Vadisi</span></h2>
    <p dir="ltr">
        <span><img alt="malatya-levent-vadisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/malatya-levent-vadisi-51102.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Malatya'nın Akçadağ ilçesinde bulunan ve 28 kilometre uzunluk ile 200 metre derinliğinde bir doğa harikası olan Levent Vadisi, yaklaşık 65 milyon yıl önce jeolojik deformasyonlar sonucu oluşmuş keşfedilmeye değer bir yer. Vadi her köşesinde karşınıza çıkacak etkileyici jeolojik oluşumlar, tarihi ve kültürel zenginlikleri ile sadece Malatya’nın değil, Türkiye'nin de önemli doğa miraslarından biri olarak kabul ediliyor. Doğa yürüyüşleri, kamp, bisiklet, kaya tırmanışı gibi doğa sporları için ideal bir yer olan Levent Vadisi; kaya oluşumları, mağaralar, şelaleler, dereler ve ormanlar arasında unutulmaz zamanlar geçirme fırsatı sunuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Levent Vadisi'nin en önemli turistik merkezlerinden biri ise 104 metre yükseklikte ve zemininin bir bölümü cam olan seyir terası. Her yıl binlerce kişinin ziyaret ettiği seyir terasından, vadinin muhteşem panoramik manzarasını seyrederek harika fotoğraflar çekebilirsiniz. Neolitik Çağ'da Selçuklu ve Osmanlı dönemlerine kadar uzanan yapıları inceleme şansı bulabileceğiniz Levent Vadisi, zengin endemik bitki ve vahşi hayvan çeşitliliğiyle de görülmeye değer yerler arasında.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Do%C4%9Fanlar,+Levent+Vadisi+Seyir+Teras%C4%B1,+Ak%C3%A7ada%C4%9F%2FMalatya/@37.9806768,38.7383091,17z/data=!4m5!3m4!1s0x4077d9b45effd979:0xa550764f73442c36!8m2!3d38.4082198!4d37.9240153?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">10. Karakaya Barajı Gölü</span></h2>
    <p dir="ltr">
        <img alt="karakaya-baraji-golu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karakaya-baraji-golu-51157.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b">Türkiye'nin en büyük ikinci baraj gölü olan ve Malatya merkezine yaklaşık 2 saat uzaklıktaki Diyarbakır’ın Çüngüş ilçesi sınırlarında yer alan Karakaya Barajı Gölü, günübirlik gezilerin sevilen adreslerinden biri. Fırat Nehri üzerinde Güneydoğu Anadolu Projesi (GAP) kapsamında 1976-1987 yılları arasında inşa edilen baraj gölü, çevresindeki doğal güzellikleriyle çok sevilen bir rekreasyon alanı haline gelmiş durumda. Göl çevresinde irili ufaklı birçok ada bulunuyor ve gölde yaz aylarında balıkçılık ve su sporları gibi aktiviteler düzenleniyor. Hem huzurlu ortamda piknik yapmak hem de temiz havada yürüyüşler yapmak için Malatya gezinizde Karakaya Barajı Gölü’ne de uğrayabilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-58c4cbfe-7fff-7a60-c60f-f6053d89425b"><a href="https://www.google.com/maps/place/Karakaya+Baraj%C4%B1/@38.4948581,38.0400875,9z/data=!3m1!4b1!4m6!3m5!1s0x40765dac226aba2d:0xe42a7263672e73c3!8m2!3d38.4662591!4d38.5233226!16s%2Fg%2F11bymzqd5w?entry=ttu" target="_blank">Konum Linki</a></span></p>


</body>
</html>
