<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manisa'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>MANİSA</h5>
    <p><span style="font-weight: 400;">Ege Bölgesi’nin İzmir’den sonraki en büyük şehri olan Manisa Spil Dağı’nın eteklerinde konumlanıyor. Antik dönemlerde “Magnesia” ismiyle bilinen Manisa Gediz Nehri, Spil Dağı Milli Parkı, Sardes Antik Kenti, Ağlayan Kaya gibi turistik destinasyonları dışında Kula evleri, hanları, külliyeleri ve kaplıcalarıyla da önemli bir popülerliğe sahip. </span></p>
    <p><span style="font-weight: 400;">Bu yazımızda Şehzadeler Şehri unvanıyla bilinen Manisa’da gezilecek yerleri keşfedeceksiniz. </span></p>
        <h2><b>Manisa'da gezilecek yerler:</b></h2>
        <ol>
            <li>Spil Dağı Milli Parkı</li>
            <li>Niobe Doğal Anıtı</li>
            <li>Tarihi Kula Evleri</li>
            <li>Manisa Kulesi</li>
            <li>Süreyya Tabiat Parkı</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">1. Spil Dağı Milli Parkı</span></h2>
    <p dir="ltr">
        <span><img alt="spil-dagi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/spil-dagi-37065.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Manisa’nın sembol yerlerinden biri olan Spil Dağı Milli Parkı, merkeze yaklaşık 25 km uzaklıkta. 1969 senesinde milli park statüsüne kavuşan bölge, sene boyunca ziyaretçilerini ağırlıyor. Profesyonel dağcılık için de oldukça elverişli bir yapıya sahip olan Spil Dağı Milli Parkı, ilginç jeolojik yapısıyla dikkat çekiyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Yıllarca anlatılan meşhur Manisa tarzanı hikâyesine bu dağın ev sahipliği yaptığı biliniyor. Milli park içerisinde özel seyir tepelerinden, göletlerden ve mesire alanlarından yararlanabilirsiniz. Öte yandan milli parkın, yamaç paraşütü aktivitelerine de elverişli olduğunu anımsatalım.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8"><a href="https://www.google.com/maps/place/Spil+Da%C4%9F%C4%B1+Milli+Park%C4%B1+Orman+K%C3%B6%C5%9Fk+Evleri/@38.5490847,27.4615118,15z/data=!4m2!3m1!1s0x0:0x84007df377a0a8c2?sa=X&amp;ved=2ahUKEwiH27344ZOCAxVzQ_EDHUbMCYAQ_BJ6BAhVEAA&amp;ved=2ahUKEwiH27344ZOCAxVzQ_EDHUbMCYAQ_BJ6BAhjEAg" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">2. Niobe Doğal Anıtı</span></h2>
    <p dir="ltr">
        <span><img alt="niobe-dogal-aniti" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/niobe-dogal-aniti-52495.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Niobe Manisa’nın efsane figürlerinden biri olarak tanınıyor. Anlatılanlara göre bu bölgede doğan Niobe, çocukluk yıllarını da tanrıça Leto’yla beraber Manisa’da geçirmiş. Evlendikten sonra Niobe’nin 14 çocuğu olmuş. Çocukluk yıllarını beraber geçirdiği Leto ise Zeus ile evlenmiş. Onların ise yalnızca 2 çocukları olmuş. Niobe’nin daima çocuk sayısıyla övünmesi, Leto’yı kızdırmış. Onu cezalandırmak adına çocuklarının öldürülmesini sağlamış.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Niobe, ölen çocuklarından sonra günler boyunca yas tutmuş. Bu dayanılmaz durum karşısında Zeus ona acımış ve zulmün sona ermesi için kendisini Spil Dağı’nda bir taşa çevirmiş. Niobe’nin anısını yaşatan bu özel anıt, halk arasında “Ağlayan Kaya” olarak da biliniyor. Kayadan akan sular, biraz uzaktan bakıldığında adeta bir kadından süzülen gözyaşları gibi görünüyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8"><a href="https://www.google.com/maps/place/Niobe+A%C4%9Flayan+Kaya/@38.6049531,27.4213901,17z/data=!3m1!4b1!4m6!3m5!1s0x14b99c445719ac1f:0x13bc0ff19da76873!8m2!3d38.6049489!4d27.423965!16s%2Fg%2F113gbf_30?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">3. Tarihi Kula Evleri</span></h2>
    <p dir="ltr">
        <span><img alt="tarihi-kula-evleri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tarihi-kula-evleri-52496.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Manisa’ya kadar geldiyseniz, Kula sokaklarında dolaşmanızı ve Tarihi Kula Evlerini yakından görmenizi öneriyoruz. Fotoğraf meraklılarının da her daim ilgisini çeken bu şirin evlerde hem Rum hem de Türk mimarisinden izlere rastlayabilirsiniz. Uzun yıllar boyunca burada Türk ve Rum mahallelerinin yan yana olması, bu durumun en önemli nedeni olarak öne çıkıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Günümüzde “Kula Evi” konseptine uygun olan 3 bin civarında tarihi ev söz konusu. Fakat bu evlerin tamamı tescilli halde değil. Büyük bir çoğunluğu 18’inci yüzyılın son yıllarından kalan Tarihi Kula Evleri, otel ve kafelerle iç içe geçmiş durumda. Bu evler genel olarak iki katlı ve ahşap bir yapı olarak karşımıza çıkıyor. Evlerin çatılarının birbirine değmesi, ilginç bir görüntünün ortaya çıkmasına neden oluyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8"><a href="https://www.google.com/maps/place/Tarihi+Kula+Evleri/@38.5466644,28.6509222,17z/data=!3m1!4b1!4m6!3m5!1s0x14b80ab4e584001b:0xbdd28d71b511c27d!8m2!3d38.5466602!4d28.6534971!16s%2Fg%2F11fy_2bfj3?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">4. Manisa Kalesi</span></h2>
    <p dir="ltr">
        <span><img alt="manisa-kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/manisa-kalesi-52497.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Manisa tarihinin önemli bir kısmına tanıklık eden Manisa Kalesi, Spil Dağı’nın hemen eteklerinde konumlanıyor. Manisa Kalesi’nin kalıntıları büyük ölçüde günümüze dek gelmiş durumda. Fakat ne yazık ki bugün için bir kitabeye ulaşmak mümkün değil. Bundan dolayı yapım tarihine dair net bilgiler mevcut değil. Yine de İskender’in Manisa Kalesi’nde değerli malzemelerini sakladığı söyleniyor. Ayrıca kale, Magnesia Antik Kenti ile alakalı bilgilerde de geçiyor. Kimi kaynaklarda kalenin 3. Joannes Dukas Vatatzer tarafından 1200’lü yılların başında yaptırıldığı belirtiliyor. Şehir merkezinin güneyinde bulunan tarihi kalenin 2 ayrı bölümü söz konusu. Halk arasında burası “Sandık Kale” olarak biliniyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8"><a href="https://www.google.com/maps/place/Manisa+Kalesi/@38.607064,27.4281742,17z/data=!3m1!4b1!4m6!3m5!1s0x14b99c40934370dd:0x6f78d664fa417a7!8m2!3d38.6070598!4d27.4307491!16s%2Fg%2F11c6q7dv7k?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">5. Süreyya Tabiat Parkı</span></h2>
    <p dir="ltr">
        <span><img alt="sureyya-tabiat-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sureyya-tabiat-parki-52498.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8">Manisa’nın doğal güzelliklerini gezi listenize almak istiyorsanız, Yunus Emre ilçesindeki Süreyya Tabiat Parkını es geçmeyin. 2011 senesinde resmi düzeyde tabiat parkı olarak ilan edilen Süreyya Tabiat Parkı, çocuklu ailelerin favorisi durumunda. Karaçay Deresi’nin de bu alanda olması, bölgeye apayrı bir hava katıyor. 3600 hektarlık bir alanı kaplayan parkın içinde yürüme parkurları, şelaleler, özel piknik noktaları, açık spor noktaları ve kamelyalar yer alıyor. Ciddi bir bitki çeşitliliğine sahip olan Süreyya Tabiat Parkı’nda yılın belli zamanlarında doğa etkinlikleri ve festivaller düzenleniyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-e57613d0-7fff-1f70-8584-3ab5df77d8a8"><a href="https://www.google.com/maps/place/S%C3%BCreyya+Tabiat+Park%C4%B1/@38.5873759,27.3509072,17z/data=!3m1!4b1!4m6!3m5!1s0x14b982b6e6347e6f:0xfe7a8b6b603df270!8m2!3d38.5873717!4d27.3534821!16s%2Fg%2F11b7hhmdfq?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
