<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mersin'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>MERSİN</h5>
    <p><span style="font-weight: 400;">321 kilometreyi aşan sahil uzunluğuyla ünlü Mersin, hem doğal hem de tarihi güzellikleriyle keşfedilmeye değer pek çok hazineye sahip. Akdeniz boyunca sıralanan turistik ilçeleri, mavi bayraklı plajları ve otelleriyle her yıl yüz binlerce insanın ziyaret ettiği şehirde tarihleri M.Ö. 7000 yılına kadar uzanan devasa kaleler ve antik kentler de çok ilgi görüyor.</span></p>
    <p><span style="font-weight: 400;">Cennet Cehennem Mağaraları, hem Müslümanlar hem de Hristiyanlar için kutsal kabul edilen Eshab-ı Kehf Mağarası (Yedi Uyurlar Mağarası), yüzlerce kuş türünü yakından görebileceğiniz Göksu Deltası Kuş Cenneti ve milyonlarca yıllık kaya oluşumlarıyla benzersiz bir manzara sunan Taşeli Platosu gibi pek çok turistik noktası bulunan Mersin; görkemli şelaleleri, tatilcilerin uğrak adresi olan Mersin otelleri gizli koyları ve Kız Kalesi gibi etkileyici tarihi yapılarıyla da ziyaretçilerini büyülüyor. </span></p>
        <h2><b>Mersin'de gezilecek yerler:</b></h4>
        <ol>
            <li>Tarsus</li>
            <li>Silifke</li>
            <li>Mersin Marina</li>
            <li>Erdemli</li>
            <li>Anamur</li>
            <li>Taşucu</li>
            <li>Ayaş</li>
            <li>Bozyazı</li>
            <li>Çamlıyayla</li>
            <li>Susanoğlu</li>
        </ol>
    <h3>1- Tarsus</h3>
    <p>
        <img alt="Tarsus'taki tarihi Kleopatra Kapısı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tarsus-38186.webp" loading="lazy"></p>
    <p>
        Mersin’e sadece 30 kilometre uzaklıktaki Tarsus, hem şehrin en büyük ilçelerinden hem de turistik noktalarından biri. Her yıl yüz binlerce yerli ve yabancı turist tarafından ziyaret edilen Tarsus, büyüleyici tarihi hazinelerden her mevsim etkileyici manzaralar izleyebileceğiniz doğal güzelliklere kadar görülecek pek çok yere sahip.</p>
    <p>
        Türkiye'nin en güzel tabiat harikalarından biri olan Tarsus Şelalesi’yle doğa severleri kendine çeken ilçede 3 kilometre boyunca uzanan ve bölgenin en önemli doğa yürüyüş rotası olan Roma Yolu, Mersin’in simgelerinden biri haline gelen ve Roma döneminde Mısır kraliçesi için yaptırılan Kleopatra Kapısı, yüzlerce yıldır hizmet vermeye devam eden otantik dekorasyonlu Şahmeran Hamamı ve 1579 yılında inşa edilerek Osmanlı döneminden günümüzde kadar önemli bir ticaret merkezi olan Kırkkaşık Bedesteni gibi tarihi hazineleri de yakından görebilirsiniz.</p>
    <p>
        Kur'an-ı Kerim'de bahsedilen Eshab-ı Kehf Mağarası (Yedi Uyurlar Mağarası), günümüzde otel, kafe ve restoran olarak hizmet veren taş mimarili Tarsus evleri, etkileyici Tarsus Ulu Camii ve yol üstü kafelerinde dinlenebileceğiniz ilçenin en hareketli yeri Yarenlik Caddesi'ne de Tarsus gezinizde mutlaka uğramayı unutmayın.</p>
    <p>
        <a href="https://www.google.de/maps/place/Tarsus,+Mersin,+T%C3%BCrkiye/@36.9229694,34.8619619,13z/data=!3m1!4b1!4m5!3m4!1s0x1527de5d1a44b753:0xfcba86596ef20940!8m2!3d36.9165612!4d34.8952102" target="_blank">Konum Linki</a></p>
    <h3>2- Silifke</h3>
    <p>
        <img alt="Silifke havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/silifke-38187.webp" loading="lazy"></p>
    <p>
        Mersin’e yaklaşık 90 kilometre uzaklıkta Akdeniz kıyısında uzanan başka bir turistik ilçesi olan Silifke; önü masmavi deniz, arkası Toros Dağları, iki tarafı ise Göksu Nehri ile çevrili çok sevilen bir gezi alanı. Mavi bayraklı Akçakıl Plajı, Akkum Plajı ve İncekum Plajı’nda tüm gün tertemiz denizin ve güneşin tadını çıkarabileceğiniz Silifke’de her bütçeye uygun butik oteller, apart oteller ve aile pansiyonlarıyla turistik olanaklarını çok gelişmiş durumda.</p>
    <p>
        Onlarca çeşit yöresel ürün, kıyafet ve organik yiyecek satın alabileceğiniz Silifke Çarşısı’nı gezdikten sonra tarih ve kültür turlarının değişmez adreslerinden Mezgit Kalesi, Taşköprü ve Aya Tekla Yeraltı Kilisesi’ni keşfe çıkabilir, ilçenin simgesi haline gelen görkemli Silifke Kalesi’nin surlarından ise Akdeniz'in panoramik mağazalarının fotoğraflarını çekebilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/Silifke,+Mersin,+T%C3%BCrkiye/@36.3779789,33.8962374,13z/data=!3m1!4b1!4m5!3m4!1s0x14d8dd803117ff13:0x640f53d4646d3662!8m2!3d36.37633!4d33.925311" target="_blank">Konum Linki</a></p>
    <h3>3- Mersin Marina</h3>
    <p>
        <img alt="Mersin Marina parkedilmiş tekneler" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mersin-marina-35552.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Mersin'in merkez ilçesi Yenişehir'de yer alan ve restoranları, kafeleri, yürüyüş yollarıyla şehrin popüler gezi alanlarından biri olan Mersin Marina, aynı zamanda Türkiye'nin en büyük marinası olmasıyla da ünlü. 2011 yılında hizmete başlayan ve 500 karada, 500 denizde toplamda 1000 yat bağlama kapasitesine sahip marinada Mersin’in büyüleyici koylarını keşfedebileceğiniz ve dalışlar yapabileceğiniz turlara da katılabilirsiniz.</p>
    <p>
        Muhteşem marina manzaraları eşliğinde Akdeniz ve dünya mutfaklarından lezzetler sunan restoranlarıyla yerli ve yabancı turistleri kendine çeken Mersin Marina’da keyifli akşam yürüyüşlerine çıkabilir ve hediyelik eşya dükkanlarına uğrayarak tatil alışverişleri yapabilirsiniz. Adnan Menderes Bulvarı üzerinde yürüyerek kolayca ulaşılabilecek bir konumda bulunan marina, her gün 10:00 ile 23:00 saatleri arasında açık.</p>
    <p>
        <a href="https://www.google.de/maps/place/Mersin+Marina/@36.7708407,34.5664827,17z/data=!3m1!4b1!4m5!3m4!1s0x15278b39d8e37aa1:0x62779ae38b503282!8m2!3d36.7708364!4d34.5686714" target="_blank">Konum Linki</a></p>
    <h3>4- Erdemli</h3>
    <p>
        <img alt="Erdemli Mersin Plajı'nda tarihi, Antik Kızkalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/erdemli-32963.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Mersin ile Silifke ilçesi arasında yer alan Erdemli, çam ormanlarıyla sarılı yemyeşil doğası ve masmavi denizi ile şehrin başka bir sevilen tatil cenneti. Mersin’in en bilinen simgesel yapılarından biri olan ve denizin ortasında ihtişamlı bir şekilde yükselen Kız Kalesi'ne ve kalenin hemen karşısındaki mavi bayraklı Kız Kalesi Plajı’na ev sahipliği yapan Erdemli’de ince kumlu sahiliyle çok sevilen Ayaş Plajı, 1 kilometre boyunca uzanan sahiliyle Kocahasanlı Halk Plajı, limon ağaçları ile çevrili Limonlu Plajı ve akşam yürüyüşleri için ideal Tömük Halk Plajı gibi Akdeniz’in tadını çıkarabileceğiniz pek çok güzel plaj var.</p>
    <p>
        Her bütçeye göre otel, restoran, kafe, eğlence mekanının hizmet verdiği ve yaz aylarında oldukça kalabalık olan Erdemli’de doğa gezileri ve fotoğrafçılık turlarına katılarak ilçeye sadece 17 kilometre uzaklıktaki büyüleyici Karacaoğlan Şelalesi, doğa sporları için elverişli Kayacı Vadisi, M.Ö. 300’lü yıllara kadar uzanan tarihiyle ilgi gören Kanlı Divane Ören Yeri, Roma döneminin önemli ticaret merkezlerinden olan Sebaste Antik Kenti gibi tarihi ve doğal güzellikleri de keşfe çıkabilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/Erdemli,+K%C3%B6sbuca%C4%9F%C4%B1,+Erdemli%2FMersin,+T%C3%BCrkiye/@36.6086092,34.2785244,14z/data=!3m1!4b1!4m5!3m4!1s0x14d863750c7f2bc1:0x6d0712909fd16e25!8m2!3d36.6058189!4d34.310167" target="_blank">Konum Linki</a></p>
    <h3>5- Anamur</h3>
    <p>
        <img alt="Anamur İlçesi'ndeki Mamure Kalesi'nin panoramik görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/anamur-38188.webp" loading="lazy"></p>
    <p>
        17 kilometre uzunluğundaki büyüleyici sahili ile ünlü Anamur, Mersin'in turizm olanaklarının gelişmiş sevilen bir ilçesi. Rehberli turlarla gezebileceğiniz Anemurium Antik Kenti’nin tarihi manzaraları arasında denizin tadını çıkarabileceğiniz ilçede antik kente çok yakın bir konumda yer alan ve Mersin’in en güzel kalelerinden biri olarak gösterilen Mamure Kalesi’nin surlarından da Akdeniz’i izleyebilirsiniz.</p>
    <p>
        Bahar ve yaz aylarında küçük sandallar ve kanolarla Dragon Çayı olarak da bilinen Anamur Çayı’nda gezilere çıkabileceğiniz ilçede doğa severler, Çukurpınar Düdeni ve bölgedeki en etkileyici mağaralardan biri olan Köşekbükü Mağarası'nı keşfe çıkabilirler. Anamur gezilerinde tarih ve arkeoloji meraklıları ise binlerce yıllık Titiopolis Antik Kenti, paha biçilmez tarihi hazinenin sergilendiği Anamur Müzesi, 14. yüzyılda inşa edilmiş Ala Köprü, 13. yüzyıl mimarisini yansıtan Tol Kervansarayı ve bölgenin en eski yerleşimlerinden Nagidos Antik Kenti gibi önemli yerleri yakından görebilirler.</p>
    <p>
        Altın kumlu Anamur Halk Plajı, Anamur Burnu Plajı, Melleç Plajı, Cerenler Plajı’nda tertemiz denizin tadını çıkarabileceğiniz ve onlarca su sporu ile eğlenebileceğiniz Anamur, sahil yolunda ve plaj çevrelerinde sıralanan güzel otelleri ile de yaz tatilleri için ideal bir yer.</p>
    <p>
        <a href="https://www.google.de/maps/place/Anamur,+Mersin,+T%C3%BCrkiye/@36.069081,32.8224884,14z/data=!3m1!4b1!4m5!3m4!1s0x14dc3db2292a43e7:0xb097b35eb7eb2884!8m2!3d36.077286!4d32.832889" target="_blank">Konum Linki</a></p>
    <h3>6- Taşucu</h3>
    <p>
        <img alt="Taşucu denizin sıçrayan köpüklü dalgaları gün batımının ışınlarında çakıl taşlı sahil görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tasucu-38189.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Silifke ilçesine bağlı 10.000 nüfuslu bir belde olan Taşucu, mavinin her tonunu görebileceğiniz kristal berraklığındaki denizinin yanı sıra sessiz ve huzurlu atmosferinden dolayı Mersin’in gizli cenneti olarak kabul ediliyor. Yılın 300 günü güneşli olan belde, M.Ö. 7. yüzyıla kadar uzanan zengin bir tarihe sahip. Mersin'de en hareketli limanlarından biri olan Taşucu Limanı’nda tekne turlarına çıkabileceğiniz beldede feribotlarla da birçok turistik noktaya kolayca gidebilirsiniz.</p>
    <p>
        Tüm dünyadan doğa severleri kendine çeken Göksu Deltası Kuş Cenneti'ne sadece 10 kilometre uzaklıkta yer alan Taşucu'nda Akdeniz’in en güzel plajlarından olan mavi bayraklı Susanoğlu Plajı’nda yüzebilir, tekne gezilerinin sevilen mola noktalarından Boğsak Koyu’na uğrayabilir, bölgeye hakim yüksek bir tepeye inşa edilmiş Tokmar Kalesi’nde manzarayı izleyebilir ve Arslan Eyce Amfora Müzesi’nin çarpıcı koleksiyonlarını inceleyebilirsiniz. Gezinizde akşamları Taşucu Limanı’nda yürüyüşe çıkmayı ve kızıl gün batımı manzaraları eşliğinde bir yol üstü kafesinde mola vermeyi de unutmayın.</p>
    <p>
        <a href="https://www.google.de/maps/place/Ta%C5%9Fucu,+33900+Silifke%2FMersin,+T%C3%BCrkiye/@36.3199854,33.8791652,15z/data=!3m1!4b1!4m5!3m4!1s0x14d8dc01863d73fd:0x548ae7087efaa3b8!8m2!3d36.319969!4d33.88792" target="_blank">Konum Linki</a></p>
    <h3>7- Ayaş</h3>
    <p>
        <img alt="Ayaş havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ayas-38190.webp" loading="lazy"></p>
    <p>
        Erdemli ilçesinin Akdeniz kıyısında uzanan küçük tatil cenneti Ayaş, Mersin’e sadece 70 kilometre uzaklıkta. Hem sessiz ve huzurlu ortamı hem de mavi bayraklı tertemiz plajlarıyla yaz tatillerinin sevilen adreslerinden biri haline gelen Ayaş, organik zeytin ve zeytinyağları ile de ünlü.</p>
    <p>
        Zeytin ve çam ormanlarıyla sarılı Yemişkumu Plajı ve Ayaş Plajı ile yaz aylarında oldukça hareketli olan beldede Romalılardan Osmanlılara kadar uzanan tarihi hazineleri de keşfe çıkabilirsiniz. Hem plajların çevresinde hem de küçük limanında güzel manzaralar eşliğinde mevsimlik balıklar tadabileceğiniz balık restoranlarının sıralandığı Ayaş, günübirlik bir gezi için ideal bir yer. Mersin Otogarı’nda her yarım saatte bir bulabileceğiniz Erdemli ve Ayaş minibüsleri ile ilçeye 1 saatte ulaşabilir veya tekne turlarıyla Ayaş'a giderek gezinize başlayabilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/Aya%C5%9F,+Erdemli%2FMersin,+T%C3%BCrkiye/@36.4833494,34.1745782,15z/data=!3m1!4b1!4m5!3m4!1s0x14d88d1b84f3cfdd:0xfba149ef064697ca!8m2!3d36.483333!4d34.183333" target="_blank">Konum Linki</a></p>
    <h3>8- Bozyazı</h3>
    <p>
        <img alt="Bozyazı havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bozyazi-38191.webp" loading="lazy"></p>
    <p>
        Mersin ile Alanya arasında Akdeniz kıyısında uzanan küçük tatil beldesi Bozyazı, son yıllarda sessiz ve huzurlu bir tatil arayanların değişmez adreslerinden biri haline geldi. Yılın büyük bölümü güneşli olan belde; mavi bayraklı Bozyazı Plajı, çam ormanları arasında gizlenmiş Toslaklar Koyu ve tertemiz Tekmen Plajı gibi denizin tadını çıkarabileceğiniz pek çok yere sahip. Bozyazı, zengin balık çeşitliliğinden dolayı balık restoranları ve balıkçılık turlarıyla da ilgi görüyor.</p>
    <p>
        Akdeniz'in panoramik manzaralarını sunan 1000 metre yüksekliğindeki Maraş Tepesi, yer altı tünelleri ile Mamure Kalesi’ne bağlandığı söylenen Softa Kalesi, deniz seviyesinden 1200 metre yükseklikte çam ormanları arasında gizlenmiş Çaltı Mağarası gibi tarihi ve doğal güzellikleri gezebileceğiniz Bozyazı’da 33 hektar yeşil alanı kapsayan Dikilitaş Tabiat Parkı’nda ise temiz havada doğa yürüyüşleri yapabilir veya çadırınızı kurarak birkaç gün yorgunluk atabilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/Bozyaz%C4%B1,+Mersin,+T%C3%BCrkiye/@36.1062563,32.9441199,13z/data=!3m1!4b1!4m5!3m4!1s0x14dc1927a17fc313:0x2df31e1a2288e5e8!8m2!3d36.10543!4d32.973901" target="_blank">Konum Linki</a></p>
    <h3>9- Çamlıyayla</h3>
    <p>
        <img alt="Çamlıyayla sinap kalesi görünümü" src="https://cdn2.enuygun.com/media/lib/750x525/uploads/image/camliyayla-38192.webp" style="width: 750px; height: 525px;" loading="lazy"></p>
    <p>
        Yaz günlerinde bile serin kalan havasıyla Mersin'in yayla turizmi cenneti olan Çamlıyayla ilçesi, ismini de büyüleyici yaylalarından alıyor. Kış aylarında 5000 olan nüfusu yaz aylarında yaylaya gelen turistlerle 100.000’i geçen Çamlıyayla, deniz seviyesinden 2200 metre yükseklikte inşa edilen etkileyici Baştepe Gözetleme Kulesi ile de ziyaretçilerini büyülüyor.</p>
    <p>
        Dağların, kanyonların ve göllerin büyüleyici manzaralarını izleyebileceğiniz Baştepe’nin yanı sıra her mevsim fotoğraf safarilerinin düzenlendiği Çinili Göl, çarpıcı bir tarihi yapı olan Sinap Kalesi ve dağ bisikleti turlarından kaya tırmanmaya kadar pek çok aktivite yapabileceğiniz Çocakdere Milli Parkı da Çamlıyayla’nın çok ziyaret edilen yerleri arasında. Doğa severlerin Cehennem Deresi’ni ve 1107 yaşındaki anıt ağaca ev sahipliği yapan Ana Ardıç Tabiat Anıtı’na mutlaka uğramasını önerdiğimiz Çamlıyayla’da kır bahçeleri, dere kenarlarına kurulmuş alabalık çiftlikleri ve mesire alanlarında da güzel zaman geçirebilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/%C3%87aml%C4%B1yayla,+Mersin,+T%C3%BCrkiye/@37.1619904,34.5845229,14z/data=!3m1!4b1!4m5!3m4!1s0x152804733698330f:0x1d7c84d58437acfc!8m2!3d37.16653!4d34.5935879" target="_blank">Konum Linki</a></p>
    <h3>
        10- Susanoğlu</h3>
    <p>
        <img alt="susanoglu havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/susanoglu-52525.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Mersin’in Akdeniz kıyısında uzanan başka bir tatil cenneti olan Susanoğlu, Atakent olarak da biliniyor. Sahil yolu boyunca sıralanan butik otelleri, apart otelleri, pansiyonları, kafeleri, restoranları ve plaj kulüpleriyle Akdeniz'in tadını çıkarmak için gidebileceğiniz Mersin'deki en güzel yerlerden biri olan Susanoğlu, bölgenin en güzel plajlarından biri olarak gösterilen mavi bayrak ödüllü Susanoğlu Plajı için de sıkça ziyaret ediliyor.</p>
    <p>
        Tüm gün altın renkli kumlarla süslü geniş sahile havlunuzu sererek turkuaz sularda yüzebileceğiniz Susanoğlu Plajı’nın yanı sıra Yapraklı Koyu ve Kapızlı Plajı’nda da yelken, rüzgâr sörfü, uçurtma sörfü ve deniz paraşütü gibi onlarca su sporu yapabilirsiniz. Akşamları sahil yolunda deniz esintileri eşliğinde keyifli akşam yürüyüşlerine çıkabileceğiniz ilçeye Mersin'de her saat bulabileceğiniz Susanoğlu minibüsleriyle 1,5 saatlik bir yolculukla ulaşabilirsiniz.</p>
    <p>
        <a href="https://www.google.de/maps/place/Susano%C4%9Flu,+Atakent,+33990+Silifke%2FMersin,+T%C3%BCrkiye/@36.4150794,34.0726252,15z/data=!3m1!4b1!4m5!3m4!1s0x14d8ec0ddd7ed9f1:0xecd3ae1c42b1316!8m2!3d36.415063!4d34.08138" target="_blank">Konum Linki</a></p>


</body>
</html>
