<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niğde'de Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>NİĞDE</h5>
<p><span style="font-weight: 400;">Hem tarihi hem de doğal varlıkları bakımından bizlere zengin bir hazine sunuyor Niğde. Niğde merkezde bulunan büyük tarihi mimari değerlerin yanı sıra kırsal alanda ve ilçelerde bulunan güzellikler de göze çarpıyor. Gerek Hititlerden, gerek Roma ve Bizans’tan, sonrasında da Türklerin Anadolu’ya girişiyle birlikte Selçuklu, Eretna ve Osmanlı’dan birçok eserin günümüze kadar ulaşmış olması bu kenti önemli kılıyor.

Bu tarihi zenginliğin yanında volkanik göl ve dağ oluşumları ile birlikte ziyaretçilerine keyifli vakitler sunan Niğde’de gezilecek yerleri gelin beraber keşfedelim.</span></p>
<h2><b>Niğde'de gezilecek yerler:</b></h2>
    <ol>
        <li>Niğde Kalesi</li>
        <li>Rahmaniye Camii</li>
        <li>Gümüşler Manastırı</li>
        <li>Niğde Müzesi</li>
        <li>Alaeddin Camii</li>
    </ol>
<h2 dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">1. Niğde Kalesi</span></h2>
<p dir="ltr">
	<span><img alt="nigde-kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/nigde-kalesi-51840.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">Eski Niğde şehrinin bulunduğu lokasyonda yer alan Niğde Kalesi’nin birçok yeri yıkılmış olsa da yapının bedestenlerinin bir bölümü kimi evlerin duvarı haline gelmiş. Niğde şehir merkezinde bulunan kalenin yapım tarihi hakkında net bir bilgiye ulaşılamıyor fakat bazı kaynaklara göre ilk olarak milattan önce 8. yüzyılda inşa edilmiş olduğuna dair bilgiler mevcut. Niğde topraklarında Osmanlı Devleti hakimken 1740 yılında bu kale onarılıyor. Niğde Kalesi’nin eski burçlarından birinin üzerine de bir saat kulesi yapılmış. Kaleyle birlikte görenleri eski zamanlara götüren ve Niğde’nin güzel sembollerinden biri olan saat kulesi de listemizde bahsedeceğimiz üzere ziyaretçilerin ilgisini çekiyor.</span></p>

<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307"><a href="https://maps.app.goo.gl/MZigcMLrreNfG6Yj9" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">2. Rahmaniye Camii</span></h2>
<p dir="ltr">
	<span><img alt="rahmaniye-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/rahmaniye-camii-51852.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">Rahmaniye Camii, 1747 yılında Abdurrahman Paşa’nın emriyle inşa edilmiş. Niğde Kalesi’nin yakınlarında bulunan camii, sade ve bir o kadar da göze görkem görünen mimarisini, tek minareli haliyle de ortaya koyar nitelikte. Bulunduğu konum itibariyle de gayet dingin ve sakin bir alanda bulunuyor ve ziyaretçilerine hem Niğde’deki Osmanlı tarihinden günümüze bir yansımayı hem de inanç turizmi bakımından çeşitlilik sağlıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307"><a href="https://maps.app.goo.gl/Tu576LmeEbZFKip78" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">3. Gümüşler Manastırı</span></h2>
<p dir="ltr">
	<span><img alt="gumusler-manastiri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gumusler-manastiri-51829.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">Gümüşler Manastırı, Niğde’nin Gümüşler Kasabası’nın yakınlarında bulunuyor. Kapadokya bölgesindeki antik dönem mimarisinin doğal kayaç yapılar üzerindeki oyma şeklindeki yapım yöntemlerinin günümüze kadar ulaşmış güzel bir örneği olan Gümüşler Manastırı’nın bahsi geçen bölgede günümüze kadar ulaşmış en büyük manastırlardan biri olduğu söyleniyor. Şerit şeklinde duvar resimleri bulunan manastırda, resim ustalarının en az üç kişi olmuş olabileceği düşünülüyor. Bu duvar resimleri, aynı zamanda Hristiyan inancının birçok önemli kişi ve sembolünü de içerisinde barındırıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307"><a href="https://maps.app.goo.gl/kS7ozBepTFAiQpfg6" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">4. Niğde Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="nigde-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/nigde-muzesi-51830.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">Niğde Müzesi, şehir merkezinde bulunuyor. Müzenin içerisindeki altı farklı teşhir salonunda, bölgede gerçekleştirilmiş olan kazılardan çıkarılan ve tarihi değer taşıyan eserler sergileniyor. Salonlar kronolojik olarak sıralanmış şekilde ziyaretçilerini bekliyor. Birinci salonda Köşk Höyük ve Tepecik Höyüğü gibi Neolitik ve Kalkolitik çağların temsili olarak günümüze ulaşmış bölgelerden çıkarılmış bulgular sergilenirken, salonlarda ilerledikçe giderek daha da günümüze yakınlaşan, kronolojik bir zaman çizelgesi yer alıyor. Eğer siz de Niğde ilinin ve çevresindeki bölgenin antik çağlardan günümüze kadar gelmiş olan tarihi miraslarını merak ediyorsanız, Niğde Müzesi’ni gezmenizi tavsiye ederiz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307"><a href="https://maps.app.goo.gl/YELBJuJmj1PizpyU7" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">5. Alaeddin Camii</span></h2>
<p dir="ltr">
	<span><img alt="alaeddin-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/alaeddin-camii-51831.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307">Anadolu Selçuklu Devleti’nin Niğde ilinde bıraktığı değerli bir miras olarak ziyaretçilerini karşılayan Alaeddin Camii, 1223 yılında dönemin Niğde sancak beyi olan Ziynettin Beşare tarafından yaptırılmış. Selçukluların mimari anlayışının çok güzel bir şekilde görselliğe dökülmüş olduğu bu yapının iki mimarı olduğu biliniyor. Kitabesinde verilen bilgiye göre de bu isimler Üstad Sıddık ve erkek kardeşi olan Gazi imiş. Ayrıca camiinin bir de ilginç yönü bulunuyor. Doğu tarafındaki kapıda, yaz aylarında vuran güneşin altında saat 09.30-11.00 sularında Taçlı Kadın Başı olarak adlandırılan bir gölge ortaya çıkıyor. Kimi iddialara göre de bu siluetin ustalardan birinin aşık olduğu dönemin Niğde sancak beyinin kızına ait olduğu düşünülüyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-7d22decd-7fff-3b7c-c522-ffb481578307"><a href="https://maps.app.goo.gl/icgwkehdZkFv641g8" target="_blank">Konum Linki</a></span></p>


</body>
</html>
