<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordu'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>ORDU</h5>
    <p><span style="font-weight: 400;">Karadeniz'de tatil denilince akla ilk gelen yerlerden olan Ordu antik dönemlerden itibaren önemini kaybetmeden günümüze kadar geliyor.Tarihi kayıtlarda Cotyora olarak geçen Ordu, yaz aylarında Karadeniz’in tertemiz sularının tadını çıkarabileceğin mavi bayraklı plajlarının yanı sıra kültür turları, yayla gezileri ve termal kaplıcalara düzenlenen sağlık turları ile de şehri keşfe çıkabilirsin.

    100 kilometreyi bulan kıyı şeridi ve 30’dan fazla plajıyla Karadeniz’in tatil cennetlerinden biri olan Ordu'yu anlatmaya geçmeden önce Ordu'ya seyahat edeceklerin bize en çok sorduğu birkaç soruyu senin için yanıtladık.</span></p>
    <h2><b>Ordu'da gezilecek yerler:</b></h2>
        <ol>
            <li>Ordu Boztepe</li>
            <li>Yason Burnu</li>
            <li>Yason Kilisesi</li>
            <li>Perşembe Yaylası</li>
            <li>Paşaoğlu Konağı Etnografya Müzesi</li>
            <li>Ünye Yaşayan Kültür Miras Müzesi</li>
            <li>Taşbaşı Kültür Merkezi</li>
            <li>Bolaman Kalesi</li>
            <li>Ablak Taşı</li>
            <li>Ortaköy Şelalesi</li>
        </ol>
    <h2>1. Ordu Boztepe</h2>
    <p>
        <span><img alt="Boztepe" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/boztepe-38022.webp" loading="lazy"></span></p>
    <p>
        Hem Ordu'nun hem de Karadeniz'in panoramik manzaralarını izlenmek için mutlaka uğramanı önerdiğimiz Boztepe, şehrin en popüler gezi alanlarından biri. Ordu merkezinden hareket eden teleferikle 10 dakikada 500 metre yükseklikteki Boztepe’ye çıkabilir ve çam ormanlarının masmavi Karadeniz sularıyla buluştuğu panoramik manzaranın tadını çıkarabilirsin.</p>
    <p>
        Özellikle gün doğumu ve gün batımlarında muhteşem manzarayı izlerken çayını içebileceğin kır bahçeleri ve tertemiz havada yürüyüş yapabileceğin yürüyüş parkurlarıyla hafta sonları oldukça kalabalık olan Boztepe’de konaklayabileceğin oteller ve sevdiklerinle güzel zamanlar geçirebileceğin oteller bulunuyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Boztepe,+52000+Alt%C4%B1nordu%2FOrdu/@41.0046981,37.8301822,15z/data=!3m1!4b1!4m5!3m4!1s0x4062dff192c68da3:0xd22dd7a7512471f6!8m2!3d41.004699!4d37.838937" target="_blank">Konum Linki</a></p>
    <h2>2. Yason Burnu</h2>
    <p>
        <span><img alt="Yason Burnu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yason-burnu-38030.webp" loading="lazy"></span></p>
    <p>
        Büyüleyici Karadeniz manzarası, binlerce yılda rüzgâr ve dalgalarla şekillenmiş kaya oluşumlarıyla turistlerin fotoğraf çekmek için en çok ziyaret ettiği yerlerden biri olan Yason Burnu, Perşembe İlçesine 15 km uzaklıkta yer alıyor.</p>
    <p>
        1. derece arkeolojik ve 2. derece doğal sit alanı olarak korunan Yason Burnu; Karadeniz'in içlerine uzanan yarımadanın ucunda yer alan küçük deniz feneri, gün batımı manzarasıyla ünlü Yason Kilisesi, sahil boyunca sıralanan balık restoranları ve yürüyüş yollarıyla unutulmaz bir günlük gezi deneyimi sunuyor.</p>
    <p>
        Yunan mitolojisinde Truva Savaşı'ndan önce yaşandığı söylenen Argonot efsanesinin geçtiği yer olduğu için yabancı turistlerin de sıkça ziyaret ettiği Yason Burnu’nu doğa gezileri veya fotoğraf safarileri ile keşfe çıkarak yılın her mevsimi harika fotoğraflar çekebilir; yaz aylarında düzenlenen kültürel ve sanatsal etkinliklere katılarak ise hem kamp yapabilir hem de eğlenceli zaman geçirebilirsin.</p>
    <p>
        <a href="https://www.google.com/maps/place/Yason+Burnu/@41.1337424,37.680207,17z/data=!3m1!4b1!4m5!3m4!1s0x4062e91950561c2f:0x25a5d7cdfd4778e1!8m2!3d41.1337488!4d37.6823375" target="_blank">Konum Linki</a></p>
    <h2>3. Yason Kilisesi</h2>
    <p>
        <span><img alt="Yason Kilisesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yason-kilisesi-38031.webp" loading="lazy"></span></p>
    <p>
        Yason Burnu’nun en çok ziyaret edilen tarihi yapısı olan Yason Kilisesi, 1868 yılında bölgede yaşayan Rumlar ve Gürcüler tarafından inşa edilmiş etkileyici bir tarihi hazine. Karadeniz ile Yason Burnu’na hakim bir tepede yükselen ve yüzlerce yıllık mimari özelliklerini günümüze kadar korumayı başarmış Yason Kilisesi, özellikle gün doğumu ve gün batımlarında sunduğu büyüleyici manzaralardan dolayı turistlerin akınına uğruyor. Yemyeşil bir düzlükte sarp bir falez üzerinde etkileyici bir görüntü sunan tarihi kilisenin iç bölümlerini de gezebilir ve benzersiz fotoğraflar çekebilirsin.</p>
    <p>
        <a href="https://www.google.com/maps/place/Yason+Burnu/@41.1337424,37.680207,17z/data=!3m1!4b1!4m5!3m4!1s0x4062e91950561c2f:0x25a5d7cdfd4778e1!8m2!3d41.1337488!4d37.6823375" target="_blank">Konum Linki</a></p>
    <h2>4. Perşembe Yaylası</h2>
    <p>
        <span><img alt="Perşembe Yaylası" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/persembe-yaylasi-38023.webp" loading="lazy"></span></p>
    <p>
        Karadeniz'in de en güzel yaylalarından biri olan Perşembe Yaylası ilkbahardan sonbaharın sonuna kadar ziyaret edebileceğin, en sevilen yeşil alanlardan biri. Bahar aylarında açan rengarenk yayla çiçekleri ve dağ laleleri arasında keyifli yürüyüşlere çıkabileceğin Perşembe Yaylası; ahşap yayla evleri, buz gibi dereleri ve etkileyici dağ manzaralarıyla fotoğrafçılık turlarının da değişmez adreslerinden biri.</p>
    <p>
        Yaz aylarında yağlı güreş, at yarışı, folklor gösterileri ve konserler ile eğlenceli yayla şenliklerine ev sahipliği yapan Perşembe Yaylasında turizm olanakları da oldukça gelişmiş durumda. Yaylada market, restoran, kır bahçeleri, bungalov oteller, orman köşkleri, mesire alanları ve donanımlı kamp alanları bulabilirsin. Doğa yürüyüşlerinin yanı sıra bisiklet gezileri ve yamaç paraşütü gibi etkinlikler de yapabileceğin Perşembe Yaylası, Ordu'da mutlaka görmen gereken güzelliklerden biri.</p>
    <p>
        <a href="https://www.google.com/maps/place/PER%C5%9EEMBE+YAYLASI/@40.6274329,37.2923031,17z/data=!3m1!4b1!4m5!3m4!1s0x407cdf96b31d3831:0x2f68b835df97b200!8m2!3d40.6274329!4d37.2944918" target="_blank">Konum Linki</a></p>
    <h2>5. Paşaoğlu Konağı Etnografya Müzesi</h2>
    <p>
        <span><img alt="Paşaoğlu Konağı Etnografya Müzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/pasaoglu-konagi-etnografya-muzesi-57801.webp" loading="lazy"></span></p>
    <p>
        Ordu’nun binlerce yıllık tarihi ve kültürüyle ilgili bilgiler alabileceğin Paşaoğlu Konağı Etnografya Müzesi, Taş Ocak Caddesi üzerinde kolay ulaşılabilir bir konumda yer alıyor. 1896 yılında inşa edilen etkileyici bir Osmanlı yapısı olan Paşaoğlu Konağı’nın odalarında zengin koleksiyonlar bulunuyor.</p>
    <p>
        19. yüzyılın en güzel mimari yapılarından biri olarak kabul edilen Paşaoğlu Konağı’nın dönem mobilyaları ile süslü odalarında tarihi silahlar, takılar, el sanatı ürünleri, yöresel kadın ve erkek giysileri yer alıyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Etnografya+M%C3%BCzesi/@40.9829,37.8730584,17z/data=!3m1!4b1!4m5!3m4!1s0x406320487df117f9:0xc87c9500984e649b!8m2!3d40.9829!4d37.8752471" target="_blank">Konum Linki</a></p>
      <h2>6. Ünye Yaşayan Kültür Miras Müzesi</h2>
    <p>
        <span><img alt="" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/unye-yasayan-kultur-miras-muzesi-57802.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p>
        Ordu'nun kültürel yapısını, el sanatı ürünlerini ve geleneksel yaşam tarzını anlamak için ziyaret edebileceğin en popüler yerlerden biri olan Ünye Yaşayan Kültür Miras Müzesi, Ünye Evi olarak da biliniyor. İlçe merkezinden kolayca yürüyerek ulaşabileceğin Hacı Emin Caddesi üzerinde yer alan müze, 16. yüzyıl klasik Osmanlı mimarisinin örneklerinden biri olan kesme taş ve ahşap tasarımlı bir konakta hizmet veriyor.</p>
    <p>
        Zengin koleksiyonlarında selamlık, gelinlik odası, kaptan odası, mutfak, sofa, şark köşeleri ve antika mobilyalar arasında geleneksel Karadeniz yaşamını detaylı bir şekilde inceleyebileceğin müze; sanat atölyeleri, workshoplar, geleneksel çocuk oyunları, Karagöz-Hacivat ve kukla gösterileri gibi pek çok etkinliğinden dolayı yaşayan müze unvanına sahip. Somut ve somut olmayan kültürel miras araştırmalarının da yapıldığı müzeyi mutlaka ziyaret etmeni öneriyoruz.</p>
    <p>
        <a href="https://www.google.com/maps/place/%C3%9Cnye+Belediyesi+Ya%C5%9Fayan+K%C3%BClt%C3%BCrel+Miras+M%C3%BCzesi/@41.1303064,37.280591,17z/data=!3m1!4b1!4m5!3m4!1s0x4062bbbe7a293805:0xdc730380c1fa1dc4!8m2!3d41.1303162!4d37.2826516" target="_blank">Konum Linki</a></p>
    <h2>7. Taşbaşı Kültür Merkezi</h2>
    <p>
        <span><img alt="Taşbaşı Kültür Merkezi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tasbasi-kultur-merkezi-38050.webp" loading="lazy"></span></p>
    <p>
        Ordu merkezinde Taşbaşı Mahallesi'nde 1853 yılında inşa edilen tarihi bir Rum Ortodoks kilisesinin restore edilmesiyle ziyarete açılan Taşbaşı Kültür Merkezi, hem çarpıcı mimarisi hem de zengin koleksiyonlarıyla ziyaret edilmeye değer yerlerden biri.</p>
    <p>
        1937 ile 1977 yılları arasında hapishane olarak kullanılan kilise, Karadeniz kıyısında sunduğu büyüleyici manzarasıyla özellikle gün batımlarında fotoğraf çekmek isteyen turistler tarafından çok ziyaret ediliyor. Taşbaşı Kültür Merkezi'nin etkinlik takvimini inceleyerek yıl boyu düzenlenen atölyeler, workshoplar, kültür ve sanat etkinliklerine katılabilir, kilisenin tarihi atmosferinde keyifli zaman geçirebilirsin.</p>
    <p>
        <a href="https://www.google.com/maps/place/Ta%C5%9Fba%C5%9F%C4%B1+K%C3%BClt%C3%BCr+Merkezi/@40.994023,37.8700593,17z/data=!3m1!4b1!4m5!3m4!1s0x40632017c57e21df:0xe189680f85a56721!8m2!3d40.994023!4d37.872248" target="_blank">Konum Linki</a></p>

	<h2>8. Bolaman Kalesi</h2>
	<p>
		<span><img alt="Bolaman Kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bolaman-kalesi-38034.webp" loading="lazy"></span></p>
	<p>
		Ordu’nun simgesel yapılarından biri olan ve kendine özgü büyüleyici mimarisiyle kartpostalları süsleyen Bolaman Kalesi; alt bölümü kesme taş, üst bölümü ise ahşap olarak inşa edilmiş bir tarihi yapı olarak karşımıza çıkıyor. Bizans döneminde gözetleme ve karakol amacıyla inşa edilen Osmanlı döneminde ise geliştirilen kale, hem tarih hem de mimari meraklılarının ilgisini çekiyor. Günümüzde kent müzesi olarak hizmet veren Bolaman Kalesinin dönem mobilyaları, antikalar ve el sanatı eserleriyle süslü odalarını gezerek tarihte yolculuk yapabilirsin.</p>
	<p>
		<a href="https://www.google.com/maps/place/Bolaman+Kalesi/@41.0366448,37.5893784,17z/data=!3m1!4b1!4m5!3m4!1s0x4062c358607b0027:0xb2890f250feb4b2a!8m2!3d41.0366448!4d37.5915671" target="_blank">Konum Linki</a></p>
	<h2>9. Ablak Taşı</h2>
	<p>
		<span><img alt="Ablak Taşı" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ablak-tasi-57794.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
	<p>
		Ordu'da mutlaka keşfetmen gereken doğa koruma alanlarından biri de Kabadüz ilçesi sınırlarında yer alan Ablak Taşı. Sarp bir kayanın zirvesinde doğal yollarla oluşmuş bir seyir terası olan Ablak Taşı, inanılmaz manzarasından dolayı doğa yürüyüşlerinin değişmez adreslerinden biri haline geldi. İhtişamlı Geçilmez Kanyonu’nun da bir parçası olan seyir alanının ladin ormanlarıyla çevrisi muhteşem atmosferinde neredeyse çevre şehirlere kadar uzanan kesintisiz panoramik manzarası bulunuyor.</p>
	<p>
		<a href="https://www.google.com/maps/place/Ablak+Ta%C5%9F%C4%B1/@40.6998127,37.963972,17z/data=!3m1!4b1!4m5!3m4!1s0x40634b0e5ee1bbbd:0xc6a0b6aa4816232a!8m2!3d40.6998127!4d37.9661607" target="_blank">Konum Linki</a></p>
	<h2>10. Ortaköy Şelalesi</h2>
	<p>
		<span><img alt="Ortaköy Şelalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ortakoy-selalesi-38048.webp" loading="lazy"></span></p>
	<p>
		Ordu'da yılın her mevsimi farklı güzelliğe sahip olan Ortaköy Şelalesi,20 metre yükseklikten dökülen bembeyaz sularıyla görülmeye değer yerlerden biri olarak karşımıza çıkıyor. Seyir terasları, mesire alanları ve yürüyüş yolları ile turizme kazandırılan şelale, binlerce yılda şekillenmiş etkileyici kaya oluşumlarıyla her sene binlerce turiste ev sahipliği yapıyor. Fındık bahçeleri arasında uzanan patika bir yolla ulaşabileceğin, gizli kalmış bu güzellik sakin ve huzurlu bir atmosfere sahip.</p>
	<p>
		<a href="https://www.google.com/maps/place/Ortak%C3%B6y+%C5%9Eelalesi/@41.0237344,36.1308756,17z/data=!3m1!4b1!4m5!3m4!1s0x4087bf10a897a6a3:0x672cadb9795ded61!8m2!3d41.0237344!4d36.1330643" target="_blank">Konum Linki</a></p>


</body>
</html>
