<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samsun'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>SAMSUN</h5>
    <p><span style="font-weight: 400;">Türkiye&#8217;nin nüfus bakımından en büyük on altıncı şehri olan Samsun, Orta Karadeniz’in en kalabalık şehri olması sebebiyle de turistik seyahatler için oldukça sık şekilde ziyaret ediliyor. İlk çağlara kadar uzanan zengin bir tarihe sahip Samsun, 19 Mayıs 1919’da Mustafa Kemal Atatürk’ün Milli Mücadele’yi başlattığı şehir olması sebebiyle yakın dönem tarihi açısından da en önemli şehirlerden biri olarak anılıyor.</span></p>
    <p><span style="font-weight: 400;">Köklü geçmişi, mimari güzellikleri ve mutlaka görülmesi gereken tarihi ve doğal yerleri ile Samsun; her yıl binlerce turiste ev sahipliği yapıyor. Hem yaz hem kış aylarında ziyaret edilen ancak özellikle ilkbahar aylarında ziyaret edilmesi gereken Samsun; tarihî, doğal güzellikleri ve kendisine özgü özellikleriyle zengin bir şehir. </span></p>
    <p><span style="font-weight: 400;">Eğer Samsun ziyaretinizi planlarken zorlanıyorsanız sizler için derlediğimiz listeyi inceleyebilirsiniz. Yılın herhangi bir mevsiminde yapacağınız Samsun seyahatinde gezmeniz gereken yerler:</span></p>
    <h2><b>Samsun’da Gezilecek Yerler</b></h2>
         <ol>
            <li>Bandırma Vapur Müzesi</li>
            <li>Vezirköprü</li>
            <li>Gazi Müzesi</li>
            <li>Onur Anıtı</li>
            <li>Bafra</li>
            <li>Amisos Tepesi</li>
            <li>Şahinkaya Kanyonu Tabiat Parkı</li>
            <li>Amazon Adası, Batı Park</li>
            <li>İlkadım Anıtı</li>
            <li>Kızılırmak Deltası Kuş Cenneti</li>
        </ol>

    <h2>1.Bandırma Vapur Müzesi</h2>
    <p><span style="font-weight: 400;">Bandırma Gemisi, Türkiye Cumhuriyeti’nin kurulması esnasında en önemli rolü oynayan araçlardan biri olarak biliniyor. 1878 yılında Trocadero ismi ile inşa edilen ve uzun yıllar boyunca yük taşıyan gemi 1891 yılında battığı yerden çıkarılmış, onarılarak tekrar kullanılabilir hale getirilmiş.</span></p>
    <p><span style="font-weight: 400;">Atatürk ve silah arkadaşlarının Milli Mücadele süreci boyunca kullandıkları gemilerden biri olan ve günümüzde müze haline getirilen Bandırma Vapur Müzesi; Samsun&#8217;un tarihi ve Milli Mücadele hakkında daha detaylı bilgi edinmek isteyen herkesin ziyaret etmesi gereken bir müze konumunda. Vapurun müze haline getirilmiş olması ise şehrin en dikkat çekici kültürel yapılarından biri olmasını sağlıyor!</span></p>
    <h2>2.Vezirköprü</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2023/11/Vezirkopru.jpg" alt="Vezirköprü" width="1000" height="667" />
            <figcaption class="wp-caption-text">Vezirköprü</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Samsun&#8217;un en tarihi ilçelerinden biri olan Vezirköprü şehir merkezine yaklaşık 110 km uzaklıkta yer alıyor. Şehir merkezinden kalkan toplu taşıma araçları veya şahsi aracınız ile ulaşabileceğiniz Vezirköprü sarp kaya duvarları arasından benzersiz bir manzara sunuyor. Kaya tırmanma, dağcılık ve doğa yürüyüşleri gibi ekstrem doğa sporlarından hoşlananların en çok ziyaret ettikleri yerlerden biri Vezirköprü oluyor.</span></p>
    <p><span style="font-weight: 400;">Yılın her mevsimi bölgede rehberli doğa yürüyüşleri gerçekleşiyor. Bunun yanı sıra Vezirköprü ilçesini ziyaret ettiğiniz esnada mutlaka görmeniz gereken yerler:</span></p>
    <ul>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Vezirköprü Tabiat Parkı</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Taceddin Paşa Camii</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Kale Camii</span></li>
    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Taş Medrese</span></li>
    </ul>
    <p><span style="font-weight: 400;">Muhteşem tarihi yapıları bulunduran sokakları ile açık hava müzesini andıran Vezirköprü, Samsun seyahatinizi çok daha keyifli hale getirmeyi amaçlıyor. Özellikle bahar aylarında ilçenin kalabalık turist gruplarına ev sahipliği yaptığını ise söylemek gerekiyor.</span></p>
    <p><em>&#8221;Vezirköprü </em><em><a href="https://maps.app.goo.gl/h1qDtfAwaGUxRPmY7">konum</a> için tıklayın&#8221;</em></p>
    <h2>3.Gazi Müzesi</h2>
    <p><span style="font-weight: 400;">Samsun, Türkiye’nin tarihi açısından en önemli şehirlerden biri olduğu için şehir içerisinde tarihi ve kültürü daha yakından tanımanızı sağlayacak çok sayıda yapı bulunuyor. Bunların başında ise İlkadım ilçesinde yer alan Gazi Müzesi geliyor.</span></p>
    <p><span style="font-weight: 400;">Günümüzde müze olarak kullanılan ve zengin bir koleksiyona ev sahipliği yapan yapının 1902 yılında inşa edilen tarihi bir konak olduğu biliniyor. Kurtuluş Savaşı’nın ardından Mustafa Kemal Atatürk’e armağan edilen ve Atatürk&#8217;ün eşi Latife Hanım ile Samsun ziyaretlerinde konakladıkları bilinen konak, 1940 yılında yapılan düzenleme ile müze haline getirilmiş.</span></p>
    <p><span style="font-weight: 400;">Milli Mücadele dönemine ait fotoğraflar, Atatürk ve komutanların çalışma masalarında bire bir ölçüyle tasvir edildikleri balmumundan hazırlanmış heykeller, Tütün İskelesi&#8217;nin minyatür bir örneği ve Atatürk’ün kişisel eşyaları gibi zengin bir koleksiyona sahip olan Gazi Müzesi, Samsun’da mutlaka görülmesi gereken yerlerin arasında yer alıyor. Müze haftanın her günü 08.30 ile 16.30 arasında ziyaret edilebilir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Gazi Müzesi</span> </em><em><a href="https://maps.app.goo.gl/DT8E8MWfZXmizeCR7">konum</a> için tıklayın&#8221;</em></p>
    <h2>4.Onur Anıtı</h2>
    <p><span style="font-weight: 400;">İlkadım ilçesinde yer alan Onur Anıtı, Atatürk Parkı’nda konumlanıyor. Şehrin simgesi olan ve Mustafa Kemal’in Samsun’a çıktığı noktada yer alan Onur Anıtı Kurtuluş Savaşı&#8217;nın başlangıcı sayılan bu anı simgelemek üzere tasarlanmış. Cumhuriyet tarihinde tasarlanan ilk anıtlardan biri olması sebebiyle tarihi açıdan da önemli bir yere sahip bulunuyor.</span></p>
    <p><span style="font-weight: 400;">Samsun Valisi Kazım Paşa tarafından Samsun halkı adına Avusturyalı heykeltıraş H. Krippel’e ısmarlanan ve 1927 yılının 19 Mayıs günü kaidenin resmi temel atma töreni yapılan Onur Anıtı’nın inşası 1931 yılında tamamlanmış. 1932 yılında ise anıtın resmi açılışı yapılmış. Resmi açılışı yapıldığı günden bugüne şehrin en önemli sembollerinden biri olmayı başaran Onur Anıtı, büyüleyici güzelliği ile görenleri kendine hayran bırakmayı başarıyor. Samsun geziniz esnasında bu anıtı ziyaret ederek Milli Mücadele dönemini daha yakından kavrama şansı elde edebilirsiniz.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Onur Anıtı </span></em><em><a href="https://maps.app.goo.gl/LDSE46Po4JWYfwUF9">konum</a> için tıklayın&#8221;</em></p>
    <h2>5.Bafra</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2023/11/Bafra.jpg" alt="Bafra" width="1000" height="667" />
            <figcaption class="wp-caption-text">Bafra</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Samsun&#8217;da doğal güzelliği ile büyüleyen ve yaz tatilleri için oldukça yoğun bir ilgi gören çok sayıda ilçe bulunuyor. Bunların başında ise Bafra geliyor.</span></p>
    <p><span style="font-weight: 400;">Şehir merkezine 51 km uzaklıkta bulunan; merkezden kalkan toplu taşıma araçları ya da şahsi aracınız ile ulaşmamızın mümkün olduğu Bafra, Kızılırmak&#8217;ın oluşturduğu bir ova üzerine kurulmuş. Konumu sebebiyle dikkatleri üzerine çekmeyi başaran ilçe verimli toprakları ile bugüne dek Venedikliler, Cenevizliler, Rumlar ve Osmanlılar gibi pek çok medeniyete ev sahipliği yapmış.</span></p>
    <p><span style="font-weight: 400;">Günübirlik seyahatler için en ideal noktalardan biri olan Bafra; kamp yapılabilecek alanlara da sahip bulunuyor. Liman Gölü, Bafra Kuş Cenneti ve Balık Gölü gibi Samsun için önemli yerler de Bafra’da yer alıyor. </span></p>
    <p><em>&#8221;Bafra<span style="font-weight: 400;"> </span></em><em><a href="https://maps.app.goo.gl/bBrDxMzDYBaNRDREA">konum</a> için tıklayın&#8221;</em></p>
    <h2>6.Amisos Tepesi</h2>
    <p><span style="font-weight: 400;">Samsun’un ve içerisinde yer aldığı İlkadım ilçesinin en kıymetli turistik yerlerinden biri olan Amisos Tepesi, sunduğu muhteşem manzaralar ile görenleri büyülemeyi başarıyor. 2008 yılından beri seyahate açık olan ve dört farklı bölümden oluşan Amisos Tepesi, bütün bölümlerin oldukça etkileyici yapılar olması sebebiyle dikkatleri üzerine çekmeyi başarıyor. </span></p>
    <p><span style="font-weight: 400;">M.Ö. 6. yüzyılda ilk yerleşimin başladığı tepe olarak bilinen ve bugün birçok farklı medeniyetin izlerini halen taşıyan Amisos Tepesi, yalnızca Türkiye için değil dünya için önemli bir turistik lokasyon konumunda. Helenistik dönemde inşa edilen Baruthane Tümülüsleri ise Amisos Tepesi ziyaretiniz sırasında mutlaka incelemeniz gereken yapıların başında geliyor!</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Amisos Tepesi</span><span style="font-weight: 400;"> </span></em><em><a href="https://maps.app.goo.gl/mBSPXQPdMREbQvbG9">konum</a> için tıklayın&#8221;</em></p>
    <h2>7.Şahinkaya Kanyonu Tabiat Parkı</h2>
    <p><span style="font-weight: 400;">Samsun il merkezine yaklaşık 125 km uzaklıkta yer alan Şahinkaya Kanyonu içerisinde bulunan Şahinkaya Kanyonu Tabiat Parkı, Samsun’da mutlaka ziyaret edilmesi gereken doğal güzelliklerin başında geliyor. Alanın ana kaynağını oluşturan baraj gölünde yer alan kanyon, doğal bir görünümle ikiye ayrılmış olması sebebiyle görenleri adeta büyülüyor.</span></p>
    <p><span style="font-weight: 400;">Şahinkaya Kanyonu Tabiat Parkı aktivite açısından da oldukça önemli bir zenginlik sunuyor. 2015 yılından beri “Tabiat Parkı” olarak koruma altında tutulan Şahinkaya Kanyonu Tabiat Parkı; karaca, tilki, porsuk, yaban kedisi ve su samuru gibi çok sayıda hayvana da ev sahipliği yapıyor.</span></p>
    <p><span style="font-weight: 400;">Ekoturizm açısından son derece zengin olan Şahinkaya Kanyonu Tabiat Parkı; tekne gezisi, tırmanma, sportif olta balıkçılığı ve su altı dalışı gibi ekstrem sporlar adına da ideal bir lokasyon konumunda. Bunun yanı sıra kamp yapmak istiyorsanız da Şahinkaya Kanyonu Tabiat Parkı’nı ziyaret edebilirsiniz! Şehir merkezinden toplu taşıma araçları ya da şahsi aracınız ile ulaşım sağlayabileceğiniz Şahinkaya Kanyonu Tabiat Parkı’na girişte kişi başı veya araç üzerinden ücret ödemeniz gerekiyor.</span></p>
    <h2>8.Amazon Adası, Batı Park</h2>
    <p><span style="font-weight: 400;">Samsun tarihi ve kültürel açıdan önemli yapıları ile olduğu kadar doğal güzellikleriyle de dikkat çekmeyi başarıyor. Öyle ki şehirde birbirinden farklı iki büyük park bulunuyor. Bunlardan biri olan Batı Park, İlkadım ilçesinde konumlanıyor.</span></p>
    <p><span style="font-weight: 400;">Toplu taşıma araçlarıyla kolaylıkla ulaşabileceğiniz Batı Park içerisinde Amazon Adası ile anılan ilgi çekici bir bölüme sahip. Geçmiş yıllarda Amazon kadınlarının yaşadığı düşünülen bu bölgede günümüzde çarpıcı heykeller ve anıtlar sergileniyor.</span></p>
    <p><span style="font-weight: 400;">Bunun yanı sıra Amazon Adası, Batı Park denize sıfır konumda olduğu için yürüyüş yapmak adına en ideal yerlerden biri. 825.000 metrekarelik devasa bir alanı kaplayan Batı Park’ta yeme içme ihtiyacınızı karşılayabileceğiniz restoranlar, spor sahaları, go-kart pisti ve yürüyüş parkurları bulunuyor. Dolayısıyla park içerisinde yapılacak çok sayıda aktivite olduğundan keyifli vakit geçirebilirsiniz.</span></p>
    <h2>9.İlkadım Anıtı</h2>
    <p><span style="font-weight: 400;">Atatürk ve silah arkadaşlarının Samsun’da ayak bastığı ilk yer olan iskelede, bu anı ölümsüzleştirmek için yapılmış bir anıt bulunuyor. İlkadım Anıtı ismi ile anılan ve görenleri büyüleyen bu heykel, kıyıdan 250 metre içeride yer alan iskelenin yerini belirli hale getirmek için dikilmiş.</span></p>
    <p><span style="font-weight: 400;">Dayanışmayı simgeleyen ve anıt taş blok kaide üzerinde bulunan İlkadım Anıtı, Milli Mücadele’nin ne büyük zorluklar ile kazanıldığını gösterecek nitelikte. Mutlaka ziyaret edilmesi gereken anıtın önü ise her mevsim kalabalık oluyor!</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">İlkadım Anıtı</span><span style="font-weight: 400;"> </span></em><em><a href="https://maps.app.goo.gl/yGotnbm9LURp6aJR8">konum</a> için tıklayın&#8221;</em></p>
    <h2>10.Kızılırmak Deltası Kuş Cenneti</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2023/11/Kizilirmak-Deltasi-Kus-Cenneti.jpg" alt="Kızılırmak Deltası Kuş Cenneti" width="1000" height="667" />
            <figcaption class="wp-caption-text">Kızılırmak Deltası Kuş Cenneti</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Kızılırmak Deltası Kuş Cenneti’nin en önemli özelliği, Türkiye&#8217;nin en büyük deltalarından biri olması. Liman Gölü, Balık Gölü, Uzun Göl, Çernek Gölü, Tatlı Göl, Karaboğaz Gölü, Gıcı Gölü isimleri ile anılan 7 farklı göle ev sahipliği yapan Kızılırmak Deltası Kuş Cenneti ismini ev sahipliği yaptığı 350’den fazla kuş türünden alıyor! </span></p>
    <p><span style="font-weight: 400;">Balıkçılık, kuş gözlemciliği ve doğa yürüyüşleri için en ideal noktalar arasında yer alan Kızılırmak Deltası Kuş Cenneti; tepeli pelikanlarından şah kartallarına; bir başka yerde görmenin mümkün olmadığı uçan canlılar ile karşılaşmanızın mümkün olduğu bir lokasyon! UNESCO Dünya Mirası Geçici Listesi’nde yer alan Kızılırmak Deltası Kuş Cenneti; Samsun seyahatiniz esnasında mutlaka ziyaret etmelisiniz. Kızılırmak Deltası Kuş Cenneti’ne giriş için herhangi bir ücret ödemeniz gerekmiyor.</span></p>
    <h2>11.Anadolu Aslanı</h2>
    <p><span style="font-weight: 400;">Amazon Köyü sınırları içerisinde yer alan Anadolu Aslanı, İlkadım ilçesinde konumlanıyor. Şehir içi ulaşım araçlarıyla kolaylıkla ulaşabileceğiniz Anadolu Aslanı, devasa büyüklükte bir heykel olmasının sebebiyle dikkatleri üzerine çekmeyi başarıyor. İki farklı aslan figürünün bir araya getirilmesiyle oluşturulmuş bir çalışma olan Anadolu Aslanı, parkın en sevilen bölgelerinden biri olmayı başarıyor. Heykel etrafında pek çok hediyelik eşya satan dükkan ve kafeterya bulunuyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Anadolu Aslanı</span><span style="font-weight: 400;"> </span></em><em><a href="https://maps.app.goo.gl/PakB37FjALWXLnnP6">konum</a> için tıklayın&#8221;</em></p>
    <h2>12.Samsun Panorama Müzesi</h2>
    <p><span style="font-weight: 400;">Dijital ve diagromik olmak üzere iki bölümden oluşan Samsun Panorama Müzesi, Samsun’un köklü tarihini daha yakından tanımak isteyenler tarafından ziyaret edilen bir yapı. Üstü kapalı olarak tasarlanan tek panoramik müze olması sebebiyle Karadeniz Bölgesi’nde bir ilk olan Samsun Panaroma Müzesi; oldukça zengin bir koleksiyona sahip. Müzede çeşitli tabloların ve heykellerin dijital hallerini görebilirsiniz. İçinde yer alan hediyelik eşya mağazasından kendiniz veya sevdikleriniz için hediyeler alabilirsiniz.</span></p>
    <p><span style="font-weight: 400;">Samsun Panaroma Müzesi’ni haftanın 7 günü ziyaret edebilirsiniz. Samsun Panaroma Müzesi yaz sezonunda 08.30 ile 18.45; kış sezonunda ise 08.00 ile 17.00 saatleri arasında hizmet veriyor.</span></p>
