{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
    <link rel="stylesheet" href="{% static 'second.css' %}">

</head>
<body>
    <!-- Header section -->
    <header class="header">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </header>

    <!-- Main section -->
    <main class="main">
        <div class="container">
            <!-- Türkiye'nin 81 ili -->
            {% for city in cities %}
            <div class="box">

                <a href="{% url 'city_detail' city_name=city.name %}">

                    <img src="{{ city.image.url }}" alt="{{ city.name }}">

                </a>
                <p class="city-name">{{ city.name }}</p>

            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
