<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinop'ta Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>SİNOP</h5>
    <p><span style="font-weight: 400;">Sinop Karadeniz Bölgesi’nde yer alan şehirlerden biridir. Tarihi hazinelere, doğal güzelliklere ve tertemiz plajlara sahip olan şehir Karadeniz bölgesinin tatil cennetlerinden biridir. Yalnızca yaz tatilleri için değil, tarih ve kültür turları için de ziyaret edilen Sinop görkemli tarihi camilere, devasa kalelere ve ince kumlu sahillere ev sahipliği yapıyor.</span></p>
    <p><span style="font-weight: 400;">Türkiye’nin en kuzeyinde yer alan Sinop dört mevsim yağışla karşılaşmanın muhtemel olduğu bir şehirdir. Eğer şehre turistik bir seyahat yapmak için ziyaret ediyorsanız gezinizi yaz aylarında gerçekleştirmeniz öneriliyor. Doğanın uyanış vakitleri olan bahar sezonu da şehrin muhteşem güzelliklerini daha yakından görmek için ideal bir aralıktır. </span></p>
    <h2>Sinop’ta Gezilecek Yerler:</h2>
    <ol>
    <li>Hamsilos Tabiat Parkı</li>
    <li>Bazalt Kayalıkları</li>
    <li>Boyabat Kalesi</li>
    <li>Sinop Arkeoloji Müzesi</li>
    <li>Erfelek Tatlıca Şelaleleri Tabiat Parkı</li>
    <li>Sarıkum Gölü Tabiatı Koruma Alanı</li>
    <li>Akgöl</li>
    <li>İnaltı Mağarası</li>
    <li>Ayancık</li>
    <li>Şahin Tepesi</li>
    </ol>

    <h2>1.Hamsilos Tabiat Parkı</h2>
    <p><span style="font-weight: 400;">Sinop Karadeniz’in oldukça düzgün kıyılarına ev sahipliği yapan şehirlerinden biridir. Sinop yarımadası iki uzantıdan oluşur. Hamsilos Tabiat Parkı ise uzantılarından biri olan İnceburun uzantısında yer alıyor.</span></p>
    <p><span style="font-weight: 400;">Hamsilos Tabiat Parkı ismini aldığı Hamsilos Koyu’na ev sahipliği yapıyor. Eşsiz güzellikte bir doğaya sahip olan Hamsilos Tabiat Parkı, Sinop seyahatiniz esnasında mutlaka görmeniz gereken doğal destinasyonlardan biridir. Bataklık, kum, deniz ve ormanlık alanlara sahip olan Hamsilos Tabiat Parkı biyoçeşitlilik konusunda da oldukça zengindir. İl merkezine yaklaşık 14 km uzaklıkta yer alan Hamsilos Tabiat Parkı birinci derece doğal sit alanı olduğu için koruma altında tutulur.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Hamsilos Tabiat Parkı</span></em><em> <a href="https://maps.app.goo.gl/cRwMv3raYFntVbPx8">konum</a> için tıklayın&#8221;</em></p>
    <h2>2.Bazalt Kayalıkları</h2>
    <p><span style="font-weight: 400;">Bazalt Kayalıkları Sinop için en önemli turistik yerlerden biri olmasına rağmen henüz yeni keşfedildiklerini söylemek mümkündür. Kurusaray köyü civarında, Fındıklı Mevkii’nde yer alan, Boyabat ilçesinde yaklaşık 15 km uzaklıkta bulunan Bazalt Kayalıkları birbirine yakın üç vadide yer alan kayalıklardır. Ortalama 30-40 metre yüksekliğinde; 4, 5 ve 6 köşeli sütunlardan oluşan Bazalt Kayalıkları üst tarafından bakıldığında çok yoğun bir görüntü yaratır. Arı peteğini andıran şekliyle dikkat çeken Bazalt Kayalıkları hakkında halen araştırmalar yapılıyor. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Bazalt Kayalıkları</span></em><em> <a href="https://maps.app.goo.gl/rDiTRTxN3JjgyZVi8">konum</a> için tıklayın&#8221;</em></p>
    <h2>3.Boyabat Kalesi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Boyabat-Kalesi.jpg" alt="Boyabat Kalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Boyabat Kalesi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Boyabat Kalesi Sinop şehrinin sembolik yapılarından biridir. Sahip olduğu görkemli tarihi ile Boyabat Kalesi M.Ö. 7. yüzyılda inşa edilmiştir.</span></p>
    <p><span style="font-weight: 400;">Paflagonyalılar tarafından inşa edilen; Bizans, Roma ve Osmanlı dönemlerinde de kullanılan ve değişikliklere uğrayarak genişletilen Boyabat Kalesi görkemli bir yapıdır. Karadeniz&#8217;i gözleyebileceğiniz, 135 metre yüksekte yer alan Boyabat Kalesi Gökırmak Vadisi&#8217;nin panoramik manzaralarını izleyebileceğiniz bir yerdir. Kalenin içerisinde bulunan sarnıçlar, devasa surlar, yaşam odaları ve avlular gezinti sırasında yakıdan incelenebilir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Boyabat Kalesi</span></em><em> <a href="https://maps.app.goo.gl/9x4Wk3FM2E76WviZ8">konum</a> için tıklayın&#8221;</em></p>
    <h2>4.Sinop Arkeoloji Müzesi</h2>
    <p><span style="font-weight: 400;">1921 yılında temeli atılan Sinop Arkeoloji Müzesi oldukça zengin bir koleksiyona ev sahipliği yapıyor. Müzenin koleksiyonu Pontus, Grek, Roma, Paftagonya, Selçuklu, Bizans ve Osmanlı dönemlerini kapsıyor. Paha biçilmez eserler ile bölgenin uzun tarihini daha yakından tanımaya yardımcı olan Sinop Arkeoloji Müzesi haftanın her günü 09.00 ile 17.00 saatleri arasında ziyaret edilebilir.</span></p>
    <p><span style="font-weight: 400;">Giriş için 70 TL ücret talep edilen Sinop Arkeoloji Müzesi küçük buluntular salonu, sikke bölümü, taş eserler salonu ve amphora salonu gibi farklı bölümlere ayrılmıştır. Masa heykelleri, mozaik ve mezar taşlarının sergilendiği bir açık hava müzesine sahip olan Sinop Arkeoloji Müzesi toplu taşıma araçları ile ulaşılabilecek bir konumda yer alıyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Sinop Arkeoloji Müzesi</span></em><em> <a href="https://maps.app.goo.gl/8VaRkp9TTnNDLqd68">konum</a> için tıklayın&#8221;</em></p>
    <h2>5.Erfelek Tatlıca Şelaleleri Tabiat Parkı</h2>
    <p><span style="font-weight: 400;">Sinop&#8217;un en çok ziyaret edilen yerlerinden biri Erfelek Tatlıca Şelaleleri Tabiat Parkı’dır. 28 farklı şelaleden oluşan ve bir benzerini dünyanın herhangi bir yerinde görme ihtimalinizin düşük olduğu Erfelek Tatlıca Şelaleleri Tabiat Parkı, muhteşem manzaralara sahiptir.</span></p>
    <p><span style="font-weight: 400;">1997 yılında keşfedilmiş olan Erfelek Tatlıca Şelaleleri Tabiat Parkı şehir merkezine 30 km uzaklıkta konumlanır. Endemik bitki türleri ve sarp kayalardan dökülen tertemiz sularıyla dört mevsim ziyaretçilerine hizmet verir. </span></p>
    <p><span style="font-weight: 400;">Yaz aylarında göletlerde yüzebilir, ahşap yürüyüş parkurlarında yürüyüş yapabilir veya seyir terasından fotoğraflar çekebilirsiniz. Erfelek Tatlıca Şelaleleri Tabiat Parkı içerisinde donanımlı kamp alanları, kır bahçeleri ve mesire alanları da bulunur.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Erfelek Tatlıca Şelaleleri</span></em><em> <a href="https://maps.app.goo.gl/CW16oCKAuKsjXVAy5">konum</a> için tıklayın&#8221;</em></p>
    <h2>6.Sarıkum Gölü Tabiatı Koruma Alanı</h2>
    <p><span style="font-weight: 400;">Şehir merkezine 25 km uzaklıkta yer alan Sarıkum Gölü Tabiatı Koruma Alanı ince kumlu bir sahile ve gölün çevresini saran büyüleyici longoz ormanlarına ev sahipliği yapar. 1991 yılından beri 1. derece sit alanı olarak koruma altında tutulan Sarıkum Gölü Tabiatı Koruma Alanı, 4 kilometre uzunluğunda büyüleyici plajları ile yaz aylarının favorisidir. </span></p>
    <p><span style="font-weight: 400;">Sarıkum Gölü Tabiatı Koruma Alanı endemik bitki türleri ve kuş çeşitliliği bakımından da önemli bir zenginlik sunar. Sarıkum Gölü Tabiatı Koruma Alanı 35’ten daha fazla endemik bitki türü ve 250 farklı türden su kuşuna ev sahipliği yapar.  </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Sarıkum Gölü Tabiatı Koruma Alanı</span></em><em> <a href="https://maps.app.goo.gl/o5ftXzRdLAPQeEmG9">konum</a> için tıklayın&#8221;</em></p>
    <h2>7.Akgöl</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/akgol.jpg" alt="Akgöl" width="1000" height="667" />
            <figcaption class="wp-caption-text">Akgöl</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Ayancık ilçesi sınırlarında yer alan Akgöl, deniz seviyesinden 1.200 metre yükseklikte konumlanır. Yapay bir göl olan ve 1999 yılından beri turizm alanı ilan edilerek koruma altında tutulan Akgöl, el değmemiş doğal güzelliklere sahiptir.</span></p>
    <p><span style="font-weight: 400;">Havası oldukça serin, oksijen seviyesi yüksek ve keyifli vakit geçirmeye imkan tanıyan Akgöl dört mevsim ziyaret edilir. Akgöl’de doğa gezileri, fotoğraf safarileri, balık avlama turları ve kampçılık gibi aktiviteler yapılır. Bölgeye ilçeye giden minibüsleri kullanarak ulaşım sağlayabilirsiniz. </span></p>
    <p><em>&#8221;Akgül</em><em> <a href="https://maps.app.goo.gl/cuFBFRYHJdk29EXL7">konum</a> için tıklayın&#8221;</em></p>
    <h2>8.İnaltı Mağarası</h2>
    <p><span style="font-weight: 400;">Ayvacık ilçesi sınırlarında yer alan ve bölgenin en büyük mağaralarından biri olan İnaltı Mağarası 3,5 km boyunca rehberli turlar ile keşfe çıkabileceğiniz bir mağaradır. İçerisinde binlerce yılda oluşan sarkıtlar, mağara göletleri ve dikitler bulunur. 1995 yılından beri ziyaretçilerini ağırlayan ve Sinop’un en çok ziyaret edilen yerlerinden biri haline gelen İnaltı Mağarası kendine özgü temiz bir havaya sahiptir. Havasının solunum yolu rahatsızlıklarına şifa olduğu düşünülüyor. </span></p>
    <p><span style="font-weight: 400;">İnaltı Mağarası etrafında hizmet veren balık çiftlikleri bulunur. Kısa bir yürüyüş ile ulaşabileceğiniz balık çiftliklerini akşam yemekleri için tercih edebilirsiniz. Mağara haftanın her günü 09.00 ile 18.00 saatleri arasında ziyaret edilebilir. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">İnaltı Mağarası</span></em><em> <a href="https://maps.app.goo.gl/rRNfmaC8Q8GorTB5A">konum</a> için tıklayın&#8221;</em></p>
    <h2>9.Ayancık</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Ayancik.jpg" alt="Ayancık" width="1000" height="667" />
            <figcaption class="wp-caption-text">Ayancık</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Sinop merkezine 56 km uzaklığında yer alan Ayancık, Karadeniz kıyısında konumlanıyor. Doğal ve tarihi hazineleri ile şehrin en çok ziyaret edilen lokasyonlarından biri olan Ayancık Sinop ilçelerinden biridir. Bugüne dek Paflagonyalılar, Amazonlar, Akalar, Dorlar, Danişmendoğulları, Selçuklular, Candaroğulları gibi farklı hakimiyetler altına girmiştir. Sinop’un en sevilen plajlarından biri olan Harzana Plajı’na ev sahipliği yapan Ayancık, Sinop seyahatimiz esnasında görmeniz gereken yerlerden biridir. 1996 senesinde turizme açılan İnaltı Mağarası da Ayancık ilçesinde yer alıyor.</span></p>
    <p><em>&#8221;Ayancık</em><em> <a href="https://maps.app.goo.gl/xJJKEzPE3CuBCw2h9">konum</a> için tıklayın&#8221;</em></p>
    <h2>10.Şahin Tepesi</h2>
    <p><span style="font-weight: 400;">Yalnızca Sinop olmamakla birlikte Karadeniz bölgesinin en sevilen turistik lokasyonlarından biri Şahin Tepesi’dir. Karadeniz’in panoramik manzarasını sunan Şahin Tepesi, Sinop merkezinde Kefevi Mahallesi’nde yer alıyor.</span></p>
    <p><span style="font-weight: 400;">Antik dönemlerde gözetleme alanı olarak kullanıldığı bilinen, günümüzdeyse yürüyüş yolları, kır bahçeleri ve manzaraya hakim terasları ile sevilen bir turistik lokasyon haline getirilen Şahin Tepesi, 4 mevsim ziyaretçilerini ağırlıyor. Özellikle gün doğumu ve batımı saatlerinde en hareketli zamanlarını yaşayan Şahin Tepesi, bölgenin en dikkat çekici turistik alanlarından biri olarak değerlendiriliyor.</span></p>
    <h2>11.İnceburun Yarımadası</h2>
    <p><span style="font-weight: 400;">Anadolu’nun en kuzey noktasında yer alan İnceburun Yarımadası, ünlü deniz fenerinin yanı sıra katılaşmış lav ve aglomeralardan oluşan jeolojik yapısı ile benzersiz bir yerdir. Volkanik kayaçlar, etkileyici falezler ve kaya oluşumlarına sahip olan İnceburun Yarımadası tekne turları ile gezilebilir. </span></p>
    <p><span style="font-weight: 400;">En önemli özelliklerinden biri ise Türkiye’nin tek fiyorduna ev sahipliği yapıyor olmasıdır. Sinop merkezine 19 km uzaklıkta yer alan İnceburun Yarımadası’na merkezden kalkan minibüsler ile ulaşım sağlayabilirsiniz. Bunun yanı sıra yılın her mevsimi rehberli turlar da İnceburun Yarımadası’na ulaşmak ve daha yakından tanımak için tercih edilebilir.</span></p>
    <h2>12.Salar Köyü Kaya Mezarı</h2>
    <p><span style="font-weight: 400;">Salar Köyü sınırları içerisinde yer alan ve ismini de köyden alan Salar Köyü Kaya Mezarı şehrin en tarihi mekanlarından biridir. Ana kaya gövdesinin oyulması ile oluşmuş üç sütun ve giriş bölümü, arkada ise dikdörtgen mezar odasından oluşan kaya mezarı oldukça dikkat çekici bir yapıdır. Kültür turizmi amacıyla sıklıkla ziyaret edilen Salar Köyü Kaya Mezarına ulaşım için şahsi araçlarınızı kullanabilirsiniz. Sinop’un Boyabat ilçesinde yer alan Salar Köyü Kaya Mezarı yerli ve yabancı turistler tarafından yoğun ilgi görüyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Salar Köyü Kaya Mezarı</span></em><em> <a href="https://maps.app.goo.gl/59MQueX9NX1Eo2xj8">konum </a>için tıklayın&#8221;</em></p>
    <h2>13.Sinop Tarihi Cezaevi</h2>
    <p><span style="font-weight: 400;">Alcatraz dünyanın en ünlü hapishanesidir. Alcatraz ile sık sık karşılaştırılan ve Anadolu’nun Alcatraz’ı olarak adlandırılan Sinop Tarihi Cezaevi 1999 yılında ziyarete açılmıştır. 1999 yılında müzeye çevrilen ve ziyaretçiler tarafından yoğun ilgi gören Sinop Tarihi Cezaevi, üç yanı denizlerle ve sarp kayalarla çevrili bir yarımada da yer alır.</span></p>
    <p><span style="font-weight: 400;">Adeta bir kaleyi andıran ve oldukça sağlam bir yapı olan Sinop Tarihi Cezaevi bugüne dek Roma, Bizans, Osmanlı ve Selçuklu dönemlerinde kullanılmıştır. Tarihe eşlik etmiş bir yapı olan Sinop Tarihi Cezaevi’nde Refik Halit Karay ve Sabahattin Ali gibi ünlü isimler de bir dönem yatmıştır. Haftanın her günü 140 TL ücret ödeyerek 08.00 ile 17.30 saatler arasında ziyaret edebilirsiniz. </span></p>
    <h2>14.Ağcaçal Mağarası</h2>
    <p><span style="font-weight: 400;">Durağan ilçesinde bulunan Cevizli Bağ Köyü’nde yer alan Ağcaçal Mağarası binlerce yılda oluşan yumuşak kireç taşının aşınması ile oluşmuş devasa dikitlere, buz gibi kaya göletlerine ve sarkıtlara ev sahipliği yapıyor. </span></p>
    <p><span style="font-weight: 400;">Kendine ait özellikleri ile fotoğraf safarileri için en ideal yerlerden biri olan Ağcaçal Mağarası Türkiye’nin görülmeye değer mağaralarından biridir. Oksijen dolu havasında rahatlamak ve kireç taşı oluşumlarının fotoğrafını çekmek için ziyaret edilen Ağcaçal Mağarası merkeze 113 km ilçe ise 25 km uzaklıkta konumlanıyor. Ziyaret etmek için en ideal aralığın bahar ve yaz ayları olduğunu söylemek gerekiyor.</span></p>
    <h2>15.Buzluk Yaylası</h2>
    <p><span style="font-weight: 400;">Durağan ilçesine 15 km uzaklıkta yer alan ve Buzluk Mağarası’na komşu konumda bulunan Buzluk Yaylası Sinop’un en popüler yaylalarından biridir. Deniz seviyesinden 1150 metre yükseklikte bulunan dolayısıyla oksijen seviyesi oldukça yüksek Buzluk Yaylası tertemiz bir havaya sahiptir. Seyahatinizde bu alanı ziyaret ederek yayla yürüyüşlerine katılıp doğayla iç içe olabilir ve kalabalık şehirlerin kaotik gürültüsünden uzaklaşabilirsiniz. </span></p>
    <p><span style="font-weight: 400;">Yaylada orman köşkleri, ahşap yayla evleri ve bungalov oteller bulunuyor. Konaklama için tercih edebileceğiniz pek çok seçeneğiyle konforlu ve eğlenceli bir seyahat imkanı sunan Buzluk Yaylası en sıcak yaz günlerinde bile serin havasını koruyor. </span></p>
    <h2>16.Sinop Aşıklar Caddesi</h2>
    <p><span style="font-weight: 400;">İlin merkezinde, Gazi Caddesi’nde yer alan ve sunduğu gün batışı manzarası nedeniyle Sinop Aşıklar Caddesi ismi ile anılan bu cadde şehrin en popüler gezi alanları arasında yer alıyor. Keyifli bir akşam yürüyüşü için tercih edilebilecek Sinop Aşıklar Caddesi rengarenk gezi teknelerine, çiçek bahçelerine ve palmiyelere ev sahipliği yapıyor.</span></p>
    <p><span style="font-weight: 400;">Alışveriş yapmak için tercih edebileceğiniz çok sayıda dükkan da Sinop Aşıklar Caddesi’nde yer alıyor. Kente özgü hamur işlerini yiyebileceğiniz, çay içerek dinlenebileceğiniz çeşitli kafe ve restoranlara da ev sahipliği yapan Sinop Aşıklar Caddesi seyahatinizde mutlaka ziyaret etmeniz gereken yerlerden biridir.  </span></p>
    <h2>17.Bektaşağa Göleti</h2>
    <p><span style="font-weight: 400;">Bektaşağa Köyü’ne kısa bir yürüyüş mesafesinde bulunan ve ismini de buradan alan Bektaşağa Göleti, tarım alanlarını sulanması için kurulmuştur. Günümüzde şehrin sevilen turistik lokasyonlarından biri olan ve çevresinde bulunan bungalov otelleri ile dikkat çeken Bektaşağa Göleti mesire ve çocuk oyun alanlarına, orman köşklerine, kır bahçelerine, at çiftliklerine, doğa otellerine ve yürüyüş parkurlarına da ev sahipliği yapıyor.</span></p>
    <p><span style="font-weight: 400;">Özellikle ilkbahar ve sonbahar mevsimlerinde iç içe geçmiş mavi ve yeşil tonlarını Bektaşağa Göleti’nde gözlemleyebilirsiniz. Gölette bulunan tesislerde binicilik eğitimleri alabilir, at safarilerine katılabilir ya da gölette düzenlenen deniz bisikleti turları veya kano gibi aktiviteleri tercih edebilirsiniz.</span></p>
    <h2>18.Babaçay Kanyonu</h2>
    <p><span style="font-weight: 400;">Özellikle ilkbahar ve yaz aylarında çok kalabalık olan Babaçay Kanyonu kalabalık arkadaş grupları ve çocuklu aileler için uygun doğal lokasyonlardan biridir. Yürüyüş parkurları ile doğa severlerin dikkatini çeken, uzun bir keşif rotasına sahip olan Babaçay Kanyonu Sinop’un Ayancık ilçesinde konumlanıyor. Kanyon sonunda İnaltı Mağarası bulunuyor. Dolayısıyla kanyonu ve mağarayı aynı gün içerisinde ziyaret edebilir, keşif dolu bir gün geçirebilirsiniz. Ziyaretçi potansiyelini doğa severlerin oluşturduğu bu kanyon yemyeşil manzarasıyla doğayla iç içe keyifli bir gün geçirmek isteyenler tarafından ilgi görüyor. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Babaçay Kanyonu</span></em><em> <a href="https://maps.app.goo.gl/oximf82R88BjpxZUA">konum</a> için tıklayın&#8221;</em></p>
    <div class="yarpp yarpp-related yarpp-related-website yarpp-template-thumbnails">

</body>
</html>
