<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sivas'ta Gezilecek Yerler</title>
        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>SİVAS</h5>
    <p><span style="font-weight: 400;">İç Anadolu’nun doğusunda yer alan Sivas, eski zamanlarda Mezopotamya’dan gelen kervanların geçtiği İpek Yolu üzerinde yer alıyor. Konumu sebebiyle tarihte önemli bir yeri olan Sivas ünlü Kral Yolu ile de tanınıyor. Yüzölçümü bakımından Türkiye’nin en büyük ikinci ili olan Sivas Giresun, Ordu, Tokat, Erzincan ve Yozgat illeri ile komşu konumda bulunuyor. </span></p>
    <p><span style="font-weight: 400;">Sivas’a ulaşmak için kara yolu, hava yolu ve demir yolu kullanılabilir. Ankara, İstanbul, Kayseri ve Kars’tan Sivas’a direkt gerçekleşen tren seferlerini kullanabilir ya da hemen her şehirden Sivas’a giden otobüs seferlerini tercih edebilirsiniz. Hava yolu aracılığıyla şehre ulaşmak için Sivas Nuri Demirağ Havalimanı’nı kullanmalısınız. Şehir merkezine 22 km uzaklıkta yer alan havalimanından merkeze ulaşmak için özel servisleri, toplu taşıma araçlarını ya da araç kiralama hizmetini tercih edebilirsiniz. </span></p>
    <p><span style="font-weight: 400;">Sivas İç Anadolu Bölgesi’nin sert ikliminin etkisindedir. Bu durum kış aylarının çok soğuk ve kar yağışlı geçmesinin nedenidir. Yılın en az 3 ayı karlar altında olan şehre yapılacak turistik seyahatler için en ideal aralık bahar aylarıdır. Yaz aylarında şehir kurak ve sıcak bir iklimin etkisi altına girer. Bahar aylarında şehrin tarihi ve doğal güzelliklerini rahat bir şekilde ziyaret edebilirsiniz. </span></p>
    <h3><b>Sivas’ta Gezilecek Yerler:</b></h3>
    <ol>
    <li>Divriği Ulu Camii ve Darüşşifası</li>
    <li>Sızır Şelalesi</li>
    <li>Aşık Veysel Müzesi</li>
    <li>Buruciye Medresesi</li>
    <li>Gökpınar Gölü</li>
    <li>Çift Minareli Medrese</li>
    <li>Şuğul Vadisi</li>
    <li>Eğri Köprü</li>
    <li>Sarissa Antik Kenti</li>
    <li>Sivas Kalesi</li>
    </ol>
    <h2>1.Divriği Ulu Camii ve Darüşşifası</h2>
    <p><span style="font-weight: 400;">Hititler Dönemi’nin en erken yerleşim yeri Divriği ve civarında görülüyor. Bölgede bulunan cami ve şifahanesinin 13’üncü yüzyılda yapıldığı tahmin ediliyor. Geniş bir kompleks olduğu için zamanının önde gelen yerlerinden birisi olarak öne çıktığı kabul ediliyor. </span></p>
    <p><span style="font-weight: 400;">UNESCO Dünya Mirası Listesi’nde bulunan Divriği Ulu Camii ve Darüşşifası, İslam mimarisinin başyapıtı kabul ediliyor. Türkiye’de UNESCO Dünya Mirası Listesi’ne alınan ilk mimari yapı olan ve geçmiş yıllarda tarihi cami ve hastane olarak kullanılan Divriği Ulu Camii ve Darüşşifası günümüzde Türkiye’nin en önemli tarihi yapılarından biridir. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Divriği Ulu Camii ve Darüşşifası</span></em><em> <a href="https://maps.app.goo.gl/ZeEvV82Wv6rJ52xn6">konum</a> için tıklayın&#8221;</em></p>
    <h2>2.Sızır Şelalesi</h2>
    <p><span style="font-weight: 400;">Merkeze 1,5 saat uzaklıkta Gemerek ilçesi sınırlarında yer alan Sızır Şelalesi el değmemiş doğal güzellikleri sebebiyle koruma altında tutuluyor. Endemik bitki çeşitlerinin içinden dökülen berrak sular Sivas’ta yapılan fotoğraf safarilerinin en sevilen adreslerinden birinin Sızır Şelalesi olmasını sağlıyor. </span></p>
    <p><span style="font-weight: 400;">Seyir alanlarına, yürüyüş parkurlarına ve gölgelikli piknik alanlarına sahip olan Sızır Şelalesi taze alabalıklar ve yöresel lezzetler tadabileceğiniz tesisler de bulunduruyor. Sızır Şelalesi, etrafında bulunan tarihi kalıntılar, mağaralar ve ören yerleri ile Sivas’ın en sevilen kaçış noktalarından biridir.</span></p>
    <p><span style="font-weight: 400;">Şelalenin çevresi sarp kayalarla sarılı olduğu için yapılacak doğa gezilerinde kaymayan ayakkabılar tercih etmelisiniz. Tek başınıza keşfe çıkabileceğiniz gibi rehberli turlara da katılabilirsiniz. </span></p>
    <h2>3.Aşık Veysel Müzesi</h2>
    <p><span style="font-weight: 400;">Sivas’ın Sivrialan köyünde bulunan Aşık Veysel Müzesi, Türkiye’nin ünlü halk ozanı Aşık Veysel Şatıroğlu&#8217;nun evidir. 1979 yılında satın alınarak restore edilen ev, 1982 yılından beri ziyaretçilere açık olarak hizmet veriyor. </span></p>
    <p><span style="font-weight: 400;">Ünlü ozanın fotoğrafları, kişisel eşyaları ve eserlerinin sergilendiği Aşık Veysel Müzesi keyifli bir gezi noktasıdır. Her yıl temmuz ayının ilk haftasında düzenlenen Aşık Veysel Aşıklar Bayramı&#8217;na da ev sahipliği yapan Aşık Veysel Müzesi, ücretsiz olarak ziyaret edilebiliyor.  Müze hafta sonları hariç haftanın her günü 9 ile 17 saatleri arasında ziyaretçilerini ağırlıyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Aşık Veysel Müzesi</span></em><em> <a href="https://maps.app.goo.gl/6GruNrWXQSJuwWE36">konum</a> için tıklayın&#8221;</em></p>
    <h2>4.Buruciye Medresesi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Buruciye-Medrese.jpg" alt="Buruciye Medresesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Buruciye Medresesi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">13’üncü yüzyılda Keyhüsrev zamanında yapılan medrese dönemin ilim yuvası olması amacıyla inşa ettirilmiş. Anadolu açık avlulu medrese stilinin en etkileyici örneklerinden biridir. Dört eyvanlı, iki katlı planla ve kesme taşlar ile inşa edilmiş olan Buruciye Medresesi yivli kuleleri ile çarpıcı etkiye sahip mimari yapılardan biridir. </span></p>
    <p><span style="font-weight: 400;">Haftanın her günü 24 saat açık olan Buruciye Medresesi Sivas merkezinde Tarihi Kent Meydanı’nda yer alır. Merkezden yapılacak kısa bir yürüyüş ya da toplu taşıma araçları ile kolaylıkla ulaşabileceğiniz Buruciye Medresesi’nin bazı bölümleri müze olarak faaliyet gösteriyor. </span></p>
    <p><span style="font-weight: 400;">Medrese kent meydanında yer aldığı için etrafında konaklayabileceğiniz alternatiflere de yer veriyor.</p>
    <p><em>&#8221;<span style="font-weight: 400;">Buruciye Medresesi</span></em><em> <a href="https://maps.app.goo.gl/bHkXzbjwgEwRToTv7">konum</a> için tıklayın&#8221;</em></p>
    <h2>5.Gökpınar Gölü</h2>
    <p><span style="font-weight: 400;">Merkeze yaklaşık 2 saat uzaklıkta bulunan Gökpınar Gölü, güneş ışınlarının açılarına göre renk değiştiriyor. Bu özelliği ile turistlerin en çok ilgisini çeken destinasyonlardan biri oluyor. Çevresinde kır bahçeleri, yürüyüş parkurları ve mesire alanları bulunuyor. Şehrin kalabalığından uzakta, sakin bir gün geçirmek isteyen turistler ve yerel halk tarafından ziyaret ediliyor. </span></p>
    <p><span style="font-weight: 400;">Gökpınar Gölü’nde vakit geçirirken küçük sandallar ile tertemiz gölde geziler yapabilirsiniz. Göl, kalabalık arkadaş grupları veya çocukların piknik yaparak dinlendirici bir gün geçirmelerine de olanak tanır. Pek çok efsaneye konu olduğu bilinen Gökpınar Gölü 3 bin metre karelik genişliği ile etkileyicidir. Berrak suları ile doğal bir akvaryumu andıran Gökpınar Gölü yeşil ve mavinin bütün tonlarını sunuyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Gökpınar Gölü</span></em><em> <a href="https://maps.app.goo.gl/HNydmpBvMLDf7VaJ8">konum</a> için tıklayın&#8221;</em></p>
    <h2>6.Çift Minareli Medrese</h2>
    <p><span style="font-weight: 400;">Sivas Ulu Cami’nin yanında yer alan Çift Minareli Medrese, 1271 yılında İlhanlı veziri Şemsedddin Cüveyni tarafından yapılmıştır. Mimari bir şaheser olan Çift Minareli Medrese iki katlı ve dikdörtgen planlıdır. Kesme taş ile inşa edilmiş, çini örgülü iki minare ile süslenmiş olan Çift Minareli Medrese iç mekanlarında etkileyici eyvanlar ve hücreler bulundurur. Bugüne dek gelebilmeyi başarmış en önemli özelliği ise yüksek taç kapının bulunduğu ön cephesidir. </span></p>
    <p><span style="font-weight: 400;">Haftanın her günü 24 saat boyunca açık olan Çift Minareli Medrese 2014 yılında UNESCO Dünya Mirası Geçici Listesine eklenmiştir. İç salonları müze olarak kullanılan Çift Minareli Medreseye şehir merkezinden kısa bir yürüyüş ile ulaşılabilir. </span></p>
    <h2>7.Şuğul Vadisi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Sugul-Vadisi.jpg" alt="Şuğul Vadisi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Şuğul Vadisi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Şehir merkezine bir buçuk saat uzaklıkta yer alan Şuğul Vadisi yüzlerce metre yükseklikte kanyonlara, irili ufaklı mağaralara, derelere ve ırmaklara ev sahipliği yapıyor. Sivas&#8217;ta düzenlenen doğa yürüyüşlerinin vazgeçilmez adreslerinden biri olan Şuğul Vadisi kaya tırmanma ve dağcılık gibi ekstrem sporlar için de ziyaret ediliyor. </span></p>
    <p><span style="font-weight: 400;">İyi düzenlenmiş yürüyüş parkurları ile keşfe çıkabileceğiniz Şuğul Vadisi dere kenarlarında balık çiftlikleri ve organik ürünlerle kahvaltı olanağı sunan kır bahçelerine de ev sahipliği yapıyor. </p>
    <h2>8.Eğri Köprü</h2>
    <p><span style="font-weight: 400;">Sivas&#8217;ın 3 km güney doğusunda Kızılırmak üzerine inşa edilmiş olan Eğri Köprü Selçuklu döneminde İpek Yolu’na, Osmanlı ve Cumhuriyet döneminde de Malatya ve Güneydoğu Anadolu’ya ulaşım sağlamıştır. Selçuklu döneminde inşa edilen ancak yapım tarihi tam olarak bilinmeyen Eğri Köprü 179,60 metre uzunluk ve 4,55 metre genişlik ile tasarlanmıştır.</span></p>
    <p><span style="font-weight: 400;">Sivri kemerli yapıları ve yirmiyi bulan gözlü yapısı sayesinde geçişlerde yüksek mukavemet sağlaması amacıyla dayanıklı şekilde yapılmıştır. Günümüzde köprü araç trafiğine kapalı olsa da yaya trafiğine açık ve aktif olarak kullanılıyor.</span></p>
    <h2>9.Sarissa Antik Kenti</h2>
    <p><span style="font-weight: 400;">Sarissa Antik Kenti ya da yöre halkı tarafından Kuşaklı olarak adlandırılan antik kent Sivas’ın unutulmaya yüz tutmuş değerlerinden biridir. M.Ö. 1500’lü yıllara ait yerleşim merkezi olan Sarissa Antik Kenti’nde uzunca bir süre Hitit hükümdarlarının yaşadığı düşünülüyor.</span></p>
    <p><span style="font-weight: 400;">Sarissa Antik Kenti Anadolu’da kil tabletlere rastlanan beşinci merkezdir. Uzunca bir süre Hitit ulusuna ev sahipliği yapan Sarissa Antik Kenti Altınyayla ilçesinde konumlanıyor. İl merkezine ortalama 60 km uzaklıkta bulunan Sarissa Antik Kenti’ne toplu taşıma araçları ya da özel araçlar ile ulaşılabiliyor. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Sarissa Antik Kenti</span></em><em> <a href="https://maps.app.goo.gl/UYe3dfn7rADdMKCz6">konum </a>için tıklayın&#8221;</em></p>
    <h2>10.Sivas Kalesi</h2>
    <p><span style="font-weight: 400;">Topraktepe’de bulunan Sivas Kalesi Sivas&#8217;ın gelişimi için önemli bir yere sahiptir. Kenti tamamen kuşatan dış surları ile M.Ö. 2 bin başlarından itibaren iskan edilen Sivas Kalesi, pek çok medeniyet tarafından kullanılmıştır. Yedi farklı dış kapıya sahip olan bu kalenin yapılma amacı Moğol istilasına karşı koruma sunmasıydı. Çünkü Moğollar yaptıkları istila ile pek çok bölgeyi yakıp geçmiş ve büyük korku oluşturmuşlardır. Bu yüzden kale yapımı döneminde oldukça önemli bir yere sahipti. Kaledeki her kapının ayrı bir ismi bulunur. Günümüzde turistler tarafından yoğun ilgi gören Sivas Kalesi’ne merkezden kalkan toplu taşıma araçları ile ulaşılabilir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Sivas Kalesi</span></em><em> <a href="https://maps.app.goo.gl/VcWDLWfUcgLHKZwS7">konum</a> için tıklayın&#8221;</em></p>


</body>
</html>
