<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunceli'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>TUNCELİ</h5>
    <p><span style="font-weight: 400;">Yüzölçümü ve nüfus yoğunluğu olarak Türkiye’nin en küçük şehri olarak bilinen Tunceli, kalkolitik çağa kadar uzanan tarihi geçmişiyle çağlar boyunca birden fazla medeniyete ev sahipliği yapmış. Gerçek bir Anadolu hazinesi olan Tunceli muhteşem doğası, farklı etnik kökene sahip insanların bir arada yaşaması sayesinde son dönemlerin yoğun ilgi gören destinasyonlarından biri olarak adını duyuruyor.  </span></p>
    <p><span style="font-weight: 400;">Her mevsimin ayrı güzel yaşandığı Tunceli’yi özellikle mayıs ayında ziyaret etmenizi öneriyoruz. Yemyeşil doğası içerisinde huzur bulacağınız aynı zamanda doğa sporlarını rahat rahat yapabileceğiniz mükemmel bir zaman olduğunu düşünüyoruz. Tunceli otelleri için tercihimiz ise doğa ile iç içe olanlardan yana olacak elbette.  </span></p>
    <h2><b>Tunceli'de gezilecek yerler:</b></h2>
    <ol>
        <li>Pertek Kalesi</li>
        <li>Munzur Vadisi Milli Parkı</li>
        <li>Yelmaniye Camii</li>
        <li>İn Delikleri</li>
        <li>Sağman Cami</li>
        <li>Tunceli Müzesi</li>
    </ol>

    <h2>1. Pertek Kalesi</h2>
    <p dir="ltr">
        <span><img alt="pertek-kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/pertek-kalesi-50926.webp" style="width: 825px; height: 620px;" loading="lazy"><span></p>
    <p dir="ltr">
        <span>Murat Irmağı kenarına bir tepenin üzerine inşa edilen kale savunma amaçlı inşa ediliyor. Bölgeye Keban Barajı’nın inşa edilmesiyle beraber kale ada şeklini alıyor. Osmanlı döneminde onarım gördüğü bilinse de kalenin inşa tarihi hakkında kesin bir tarih bulunmuyor. Kale, iç içe iki surdan meydana gelirken, günümüze kadar bazı kalıntılar ve mavi çiniler geliyor. Osmanlı döneminde aktif olarak kullanılan kaleye Tunceli seyahatiniz sırasında uğramanızı öneriyoruz.<span></p>
    <p dir="ltr">
        <a href="https://maps.app.goo.gl/pJXHuhP8cMi9Qvgp8" target="_blank">Konum Linki</a></p>


    <h2>2. Munzur Vadisi Milli Parkı</h2>
    <p dir="ltr">
        <span><img alt="munzur-cayi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/munzur-cayi-15295.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span>Yazın sıcak günlerinde buz gibi suda ferahlayacağınız park 1971 yılında milli park olarak ilan ediliyor. 42 bin hektarlık bir alanı kaplayan bölge akarsu kaynakları, gözeler, endemik bitki türleri ve yöreye özgü hayvan türlerini barındırıyor. Türkiye’nin en büyük milli parklarından biri olma özelliğini barındıran Munzur Milli Parkı, kent merkezinden başlayıp Munzur dağlarına kadar uzanıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e"><a href="https://maps.app.goo.gl/mUyVSjth2g5giV5z6" target="_blank">Konum Linki</a></span></p>

    <h2>3. Yelmaniye Camii</h2>
    <p dir="ltr">
        <span><img alt="yelmaniye-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yelmaniye-camii-51998.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e">Caminin Timur zamanında Emir Taceddin Yelman Keykubat tarafından ilk önce medrese olarak yaptırıldığı biliniyor. Medrese sonradan cami olarak kullanılmaya başlandığı için ‘’Medrese Camii’ olarak adlandırılmaya başlanıyor. Cami Selçuklu ve Osmanlı mimari tarzları arasındaki geçişinde bir örneği olarak karşımıza çıkıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e"><a href="https://maps.app.goo.gl/Cd7NZMzL3FC3TT4KA" target="_blank">Konum Linki</a></span></p>
    <h2>4. İn Delikleri</h2>
    <p dir="ltr">
        <span><img alt="in-delikleri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/in-delikleri-51997.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e">Tahar Çayı vadisinin tepelerinde konut yapmak için oyulmuş yaklaşık olarak 20 adet oda bulunuyor. Tam olarak kim tarafından ve ne zaman yapıldığı bilinmeyen bu odalar üç kat halinde sıralı oluşan odalar , büyük pencereler ve uzun koridorlardan oluşuyor. Odaların genişliği 2.5 metre derinliği 1,7 metre. Su gereksinimini gidermek için kayalardan sızan suların odalara ulaşması için bir yol yapılmış durumda. Suyun odaklara ulaşması için kayalardan merdiven ve galeriler yapıldığı görülüyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e"><a href="https://maps.app.goo.gl/9866SXXAbqJKVFh57" target="_blank">Konum Linki</a></span></p>
    <h2>5. Sağman Cami</h2>
    <p dir="ltr">
        <span><img alt="sagman-cami" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sagman-cami-51790.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e">1555 yılında Keyhüsrev Bey’in oğlu Salih Bey'in yaptırdığı düşünülen cami, renkli taşlardan yapılan taç kapısı ve oyma işçilikleri ile görenleri kendine hayran bırakıyor. Camide bulunan kubbe sekizgen bir kasnağın üzerine oturtulmuş, üzeri taştan olan bir yapı olarak karşımıza çıkıyor. Taş yapı ile inşa edilen cami, dörtgen ve kubbeli bir ana alana da sahip. Tahmini olarak 500 senelik bir geçmişe sahip olan camiyi Tunceli ziyaretiniz sırasında görmenizi öneriyoruz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e"><a href="https://maps.app.goo.gl/u9ZvhKBcEcpvRzgm8" target="_blank">Konum Linki</a></span></p>
    <h2>6. Tunceli Müzesi</h2>
    <p dir="ltr">
        <span><img alt="tunceli-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tunceli-muzesi-51797.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-5a1684ba-7fff-cc75-b9e7-178f7ea8f70e">Müze, geniş bir arkeolojik ve etnografik koleksiyona sahip olup, koleksiyon içerisinde eski dönemlere ait arkeolojik buluntular, geleneksel el sanatları ürünleri, giyim eşyaları ve takılar sanat severlere sergileniyor. Müze, farklı dönemlere ait eserleri sergileyen birkaç farklı galeriye sahip. Bu galerilerde, ziyaretçiler Tunceli'nin tarihini ve geçmişini daha yakından inceleyebilirler.</span></p>
  </body>
</html>

