<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çanakkale'de Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ÇANAKKALE</h5>
<p> Antik çağlara kadar uzanan binlerce yıllık zengin bir tarihi olan Çanakkale, 1. Dünya Savaşı ve Türkiye Cumhuriyeti’nin kuruluş dönemlerinde de hayati bir rol oynamış etkileyici bir yer. Marmara ve Ege bölgelerinde toprakları bulunan şehir, Çanakkale Savaşı’nın yaşandığı alanlarda kurulan tarihi parkları, etkileyici şehitlikleri ve anıtlarıyla her yıl milyonlarca yerli ve yabancı turist tarafından ziyaret ediliyor.

Antik dünyanın en önemli iki kenti olan Troya Antik Kenti ve Assos Antik Kenti’ne de ev sahipliği yapan Çanakkale; Bozcaada ve Gökçeada gibi büyüleyici turistik adaları, Ayvacık gibi sevilen tatil beldeleri, mavi bayraklı plajları, birbirinden güzel müzeleri ve otantik köyleriyle her köşesinde farklı bir güzellik sunuyor.</p>

<h2>Çanakkale'de Gezilecek Yerler</h2>
        <ol>
            <li>Çanakkale Savaşları Gelibolu Tarihi Alanı</li>
            <li>Çanakkale Şehitleri Anıtı ve Harp Müzesi</li>
            <li>Namazgah Tabyası</li>
            <li>Rumeli Mecidiye Tabyası</li>
            <li>Kilitbahir Kalesi</li>
            <li>57. Piyade Alayı Şehitliği</li>
            <li>Akbaş Şehitliği</li>
            <h2>
	1. Çanakkale Savaşları Gelibolu Tarihi Alanı</h2>
<p>
	<img alt="Gelibolu Savaşı'na katılan yaklaşık Türk askerinin hizmetini anan bir savaş anıtı görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gelibolu-milli-parki-37638.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Gelibolu Yarımadası’nın güneyinde 33.000 hektar gibi bir alana yayılan ve Çanakkale'nin her yıl milyonlarca kişi tarafından ziyaret edilen önemli noktalarından biri olan Gelibolu Yarımadası Tarihi Milli Parkı, 1973 yılında kuruldu. Birleşmiş Milletler tarafından da tanınan özel bir koruma alanı olan milli park, etkileyici anıtlarla dolu.</p>
<p>
	60 binden fazla Türk askerinin yanı sıra 150 binden fazla İngiliz, Fransız, Yeni Zelanda, Avustralya askerinin mezarı ve anıtlarının yer aldığı, tarihi sit alanı olarak korunan Gelibolu Yarımadası Tarihi Milli Parkı’nda savaşın yaşandığı siperler, kaleler, burçlar ve devasa toplar arasında ilginç bir gün yaşayabilirsin. Şehit mezarlarını ziyaret ederek duygu dolu anlar da yaşayabileceğin park, etkileyici Çanakkale Şehitler Anıtını görmek ve Çanakkale Savaşında kaybettiğimiz binlerce şehidi anmak için mutlaka uğraman gereken yerler arasında.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87anakkale+Sava%C5%9Flar%C4%B1+Gelibolu+Tarihi+Alan+Ba%C5%9Fkanl%C4%B1%C4%9F%C4%B1/@40.1704076,26.3656014,17z/data=!3m1!4b1!4m5!3m4!1s0x14b1af39cb098055:0x1c771dfb37c95218!8m2!3d40.1704035!4d26.3677954" target="_blank">Konum Linki</a></p>
<h2>
	2. Çanakkale Şehitleri Anıtı ve Harp Müzesi</h2>
<p>
	<img alt="Çanakkale Şehitleri Anıtı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/canakkale-anit-37577.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Çanakkale Savaşı'nın yaşandığı bölgeyi görmek ve şehitlerimizi anmak için ziyaret edebileceğin Çanakkale Şehitleri Anıtı ve Harp Müzesi, 1971 yılında ziyarete açıldı. Morto Koyu, Hisarlık Tepesi üzerinde bulunan ve Çanakkale Savaşı’nın yapıldığı yerleri gösteren krokiler, fotoğraflar, döneme ait savaş malzemeleri, siperler, mermi çekirdekleri, askeri üniformalar ve Şehitler Abidesi gibi etkileyici anıtları inceleyebileceğin açık hava müzesinde 2000’e yakın obje sergileniyor.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87anakkale+%C5%9Eehitler+Abidesi/@40.0498374,26.2168389,17z/data=!3m1!4b1!4m5!3m4!1s0x14b04d7909b54199:0x6d329c06deeabf9a!8m2!3d40.0498333!4d26.2190329" target="_blank">Konum Linki</a></p>
<h2>
	3. Namazgah Tabyası</h2>
<p>
	<img alt="Çanakkale Boğazı, Gelibolu Yarımadası'ndaki  Namazgah Tabyası görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/namazgah-tabyasi-37696.webp" loading="lazy"></p>
<p>
	Çanakkale Boğazı’nın en dar noktasına yapılan ilk ve en büyük tabyasını ziyaret etmeye hazır mısın? Çanakkale’ye düzenlenen tarih ve kültür gezilerinin değişmez adreslerinden biri olan ve 1770 yılında temeli atılan Namazgah Tabyası, Çanakkale Boğazı'nın en dar kısmı olan Kilitbahir Kalesi ile Çimenlik Kalesi arasında uzanıyor. Çanakkale Savaşı sırasında cuma namazlarının kılınmasından ismini alan Namazgah Tabyası, 16 adet kıyı topuyla Çanakkale savunmasında kilit noktalarından biriydi.</p>
<p>
	18 Mart 1915'te isabet alarak hasar gören tabya, etkileyici taş mimarileri ve boğaza hakim manzarasıyla her yıl binlerce kişi tarafından ziyaret ediliyor. Namazgah Tabyası Müzesi'nde ise döneme ait belgeler, şarapneller, silahlar, fotoğraflar ve askerlerin günlük hayatını simgeleyen balmumu heykelleri gibi etkileyici bölümleri gezebilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Namazgah+Tabyas%C4%B1/@40.1445324,26.3806974,15z/data=!4m2!3m1!1s0x0:0x9e603485e652f09c?sa=X&amp;ved=2ahUKEwjh8Z3o_ozzAhV9_rsIHRUHCcAQ_BJ6BAhbEAU" target="_blank">Konum Linki</a></p>
<p>
	<strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 09.00-18.00</div></li>
</ul>
<h2>
	4. Rumeli Mecidiye Tabyası</h2>
<p>
	<img alt="Rumeli Mecidiye yerleşim kalesi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mecidiye-tabyasi-37680.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Gelibolu Yarımadası'nda Namazgah Tabyasının hemen yanında yer alan Rumeli Mecidiye Tabyası, 2. Abdülhamit döneminde 1892 yılında inşa edilen etkileyici bir Osmanlı dönemi yapısı. Çarpıcı taş mimarisiyle günümüze kadar sağlam kalmayı başarmış tabya, Çanakkale Boğaz Muharebesi sırasında şehit olan 16 askerin mezarına da ev sahipliği yapıyor. İçerisinde ünlü Seyit Onbaşı Anıtının da bulunduğu Rumeli Mecidiye Tabyasında Alman yapımı 28 santim çapındaki devasa topları yakından görebilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Rumeli+Mecidiye+Tabyas%C4%B1/@40.142878,26.374691,17z/data=!3m1!4b1!4m5!3m4!1s0x14b1a99f3c179c09:0x790cc169dcaa32cb!8m2!3d40.142878!4d26.376885" target="_blank">Konum Linki</a></p>
<h2>
	5. Kilitbahir Kalesi</h2>
<p>
	<img alt="Kilitbahir kalesi havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kilitbahir-kalesi-37642.webp" style="width: 825px; height: 563px;" loading="lazy"></p>
<p>
	Eceabat ilçesine bağlı küçük bir köy olan Kilitbahir Köyünde yer alan ve Türkiye'nin en güzel kalelerinden biri olarak gösterilen Kilitbahir Kalesi, Fatih Sultan Mehmet tarafından yaptırılmış büyüleyici bir mimari eser. Diğer Osmanlı kalelerinden farklı olarak üç yapraklı yonca biçiminde inşa edilen Kilitbahir Kalesi, İstanbul kuşatması döneminde Bizans'a yardım gitmesini engellemek amacıyla Çanakkale Boğazı'na hakim bir konumda inşa edilmiş.</p>
<p>
	7 katlı ve üçgen planlı olan Kilitbahir Kalesi, çevresini saran iç ve dış sularıyla günümüze kadar sağlam kalmayı başarmış. 1980 yılında korunması gereken kültürel varlık olarak tescil edilen ve 2013 yılında restore edilen kalenin iç odalarını gezebilir ve surlarından muhteşem Çanakkale Boğazı manzaralarının fotoğraflarını çekebilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Kilitbahir+Kalesi/@40.1475971,26.377571,17z/data=!3m1!4b1!4m5!3m4!1s0x14b1a9a392e7da23:0xad37f0c00044e5ea!8m2!3d40.147593!4d26.379765" target="_blank">Konum Linki</a></p>
<p>
	<strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 09.00-16.45</div></li>
</ul>
<h2>
	6. 57. Piyade Alayı Şehitliği</h2>
<p>
	<img alt="57. Piyade Alayı Şehitliği girişi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/57-piyade-37662.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Çanakkale'de yer alan ve çok ziyaret edilen önemli bir şehitlik de Eceabat ilçesi Kocadere mevkiinde bulunan 57. Piyade Alayı Şehitliği. Çanakkale Savaşının başlangıcı kabul edilen 1915 Anzak çıkarması sırasında şehit düşen askerlerimiz için 1992 yılında açılan şehitlikte 628 askerin anıt mezarı ve etkileyici heykellerin yanı sıra Çanakkale gazisi olarak 108 yaşında vefat eden Hüseyin Kaçmaz'ın tasvir edildiği heykel de görülmeye değer. Tarihseverlerin mutlaka görmesi gereken 57. Piyade Alayı Şehitliğinde rehberlerden Anzak çıkarmasıyla ilgili ilginç bilgiler de alabilirsin.</p>
<p>
	<a href="https://www.google.com.tr/maps/place/57.+Piyade+Alay%C4%B1+%C5%9Eehitli%C4%9Fi/@40.2402496,26.2901792,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x14b1a597ca902ff1:0x97bc259f7b8a7254!2zNTcuIFBpeWFkZSBBbGF5xLEgxZ5laGl0bGnEn2k!8m2!3d40.2402496!4d26.2923679!3m4!1s0x14b1a597ca902ff1:0x97bc259f7b8a7254!8m2!3d40.2402496!4d26.2923679?hl=tr" target="_blank">Konum Linki</a></p>
<h2>
	7. Akbaş Şehitliği</h2>
<p>
	<img alt="Akbaş şehitliği" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/akbas-sehitligi-37650.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Gelibolu-Eceabat yolunun 30. kilometresinde Akbaş mevkiinde yer alan Akbaş Şehitliği, 1945 yılında düzenlenerek ziyarete açıldı. Akbaş Limanının yanında yer alan şehitlik, Çanakkale Savaşı sırasında ağır saldırı altında kalarak batan gemilerde şehit olan askerler anısına yapıldı.</p>
<p>
	459 sembolik mezar taşı ile oldukça duygulandırıcı bir manzaraya sahip Akbaş Şehitliğindeki rölyeflerde 754 şehidimizin ismi anılıyor ve Mustafa Kemal Atatürk’ün ünlü “Türk Kumandanları kumanda etmesini, Türk askeri ölmesini bildi. Harbi kazanışımızın sırrı bundan ibarettir.” sözleri yazıyor. Etkileyici Mehmetçik heykellerinin de bulunduğu alanı rehberlerle gezebilir ve o döneme ait ilginç bilgiler alabilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Akba%C5%9F+%C5%9Eehitli%C4%9Fi/@40.2339665,26.4350599,17z/data=!3m1!4b1!4m5!3m4!1s0x14b109c8b2e53573:0xbc41a34c608ddcb1!8m2!3d40.2339624!4d26.4372539" target="_blank">Konum Linki</a></p>

</body>
</html>
