<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şırnak'ta Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>ŞIRNAK</h5>
<p><span style="font-weight: 400;">Güneydoğu Anadolu’da bulunan Şırnak köklü bir tarihi geçmişe ev sahipliği yapıyor. Şehrin tarihi Nuh tufanı öncesine dayanıyor. Rivayetlere göre Cizre, tufandan sonra tekrar Nuh Peygamber ve oğulları tarafından inşa ediliyor. Geçmişe yolculuk yapabileceğin ve tarihe tanık olacağın Şırnak’ta güzel zamanlar geçireceğine inanıyoruz. Şırnak seyahatine çıkmadan sıkça sorulan soruları da senin için yanıtlıyoruz.</span></p>
<h2><b>Şırnak'ta gezilecek yerler:</b></h2>
    <ol>
        <li>Hz. Nuh Türbesi ve Camii</li>
        <li>Cizre Ulu Camii</li>
        <li>İsmail Ebul-iz El Cezeri Müzesi</li>
        <li>Kırmızı Medrese</li>
        <li>Mem-u Zin Türbesi</li>
        <li>Meryem Ana Kilisesi</li>
        <li>Cizre Kalesi</li>
        <li>Abdaliye Medresesi Mescidi</li>
        <li>Zümrüt Kaplıcaları</li>
        <li>Yılmaz Güney Parkı</li>
    </ol>
<h2>1. Hz. Nuh Türbesi ve Camii</h2>
<p dir="ltr">
	<span><img alt="Hz. Nuh Türbesi ve Camii" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/hz-nuh-turbesi-ve-camii-58818.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Nuh Peygamberin tam olarak ne zaman vefat ettiği bilinmese de Kuran ve Tevrat’ta bulunan bilgilere göre tufandan sonra Cizre'ye yerleştiği ve burada vefat ettiği belirtiliyor. Nuh Peygamberin </span>Dağkapı Mahallesi’nde yer aldığı rivayet edilen kabri ise dünyanın en eski türbelerinden biri.</p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/DEfXRrqpZaAHwbim7" target="_blank">Konum Linki</a></span></p>

<h2>2. Cizre Ulu Camii</h2>
<p dir="ltr">
	<span><img alt="Cizre Ulu Camii" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cizre-ulu-camii-58819.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Cizre Ulu Cami’nin Anadolu’ya İslamiyet'in ilk olarak geldiği yıllarda kilisenin camiye dönüştürülmesi ile yapıldığı düşünülüyor. Cami dikdörtgen, tek kubbeli ve girişinde kapı yer alırken, caminin minaresi 1156 yılında dört köşe şeklinde tasarlanıyor. 1203 ve 1284 yıllarında tadilat gördüğü düşünülen camii en son 2007 yılında Vakıflar Genel Müdürlüğü tarafından restore edildi. Cizre Ulu Camii Türkiye’nin en eski camilerinden olup, Anadolu'da kiliseden camiye dönüştürülen ilk cami olmasıyla da önemli.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/6n2NVXxN1ST2crx69" target="_blank">Konum Linki</a></span></p>

<h2>3. İsmail Ebul-iz El Cezeri Müzesi</h2>
<p dir="ltr">
	<span><img alt="İsmail Ebul-iz El Cezeri Müzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ismail-ebul-iz-el-cezeri-muzesi-58820.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">12. yüzyılda yaşamış olan İsmail Ebul-iz El Cezeri'nin anısına, 1997 yılında Cizreli araştırmacı yazar Abdullah Yaşın tarafından kurulan müze Cizre’de yer alıyor. İsmail Ebul-iz El Cezeri 1136-1206 yılları arasında Cizre'de doğan ve yaşayan mucit ve otomatik kontrol alanının kurucusu olup aynı zamanda "El-Kitab fi'l-Hiyel" (Hileler Kitabı) yazarı olarak biliniyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Müzede, El Cezeri'nin "El-Kitab fi'l-Hiyel" kitabında yer alan otomatik makinelerin ve robotların kopyaları sergilenirken ayrıca mucidin hayatına ve eserlerine ilişkin bilgi veren paneller de bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/RqaFJAZuiBnmo98Q7" target="_blank">Konum Linki</a></span></p>

<h2>4. Kırmızı Medrese</h2>
<p dir="ltr">
	<span><img alt="Dört köşe kare biçiminde kırmızı tuğlalarla örülen sur kalıntıları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/kirmizi-medrese-58821.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Kızıl Medrese ya da Kırmızı Medrese Cizre ilçesinin merkezindeki Dağkapı Mahallesi’nde yer alıyor. Dört köşe kare biçiminde kırmızı tuğlalarla örülen ve adını bu malzemeden alan medrese şehrin batı kısmındaki sur kalıntıları üzerinde bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">500 yıl boyunca eğitim kurumu olarak faaliyet gösteren medresede, İslami ilimler ve felsefe eğitimi verildiği biliniyor. Türkiye'nin en eski medreselerinden biri olan Kızıl Medrese, aynı zamanda Anadolu'da kiliseden camiye dönüştürülen ilk camilerden biri olma özelliğini taşıyor. Cizre'nin tarihi ve kültürel açıdan önemli yapılarından olan medrese, 2007 yılında Vakıflar Genel Müdürlüğü tarafından restore edilerek ziyarete açık bir durumda bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/oAZXJghjC4kUeGwU7" target="_blank">Konum Linki</a></span></p>
<h2>5. Mem-u Zin Türbesi</h2>
<p dir="ltr">
	<span><img alt="Mem-u Zin Türbesi görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/mem-u-zin-turbesi-58822.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Şırnak'ın Cizre ilçesinde yer alan ve Mem ve Zin adlı iki kişinin aşk hikayesine adanmış tarihi bir yapı olarak karşımıza çıkıyor. 13. yüzyılda Cizre'de yaşayan ve imkansız bir aşka tutulan iki gençten Mem, Cizre beyinin oğlu iken, Zin ise fakir bir ailenin kızıdır. Kavuşmak için birçok yolu deneyen aşıklardan biri sonunda ölür.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">16. yüzyılda inşa edilen ve günümüzde Cizre'nin en önemli turistik mekanlarından olan türbe dikdörtgen planlı ve tek kubbeli bir yapı. İçi oldukça sade olan türbede Mem ve Zin'in sandıkları türbenin ortasında yer alıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/yBzthqWBmR5857V8A" target="_blank">Konum Linki</a></span></p>

<h2>6. Meryem Ana Kilisesi</h2>
<p dir="ltr">
	<span><img alt="Meryem Ana Kilisesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/meryem-ana-kilisesi-58823.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Türkiye'nin en eski kiliselerinden biri olan Meryem Ana Kilisesi, İdil ilçesinde yer alıyor. Hristiyanlığın ilk yıllarında inşa edilmiş olan kilise, zaman içerisinde birçok kez restorasyona uğramış ve son olarak 2010 yılında restorasyon geçirmiş. İçerisi oldukça sade olan kilisede Meryem Ana'ya ait ikonlar yer alırken, kilisenin inşasında kesme taş ve tuğla kullanılmış.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/2Efwz8P7Q3LVLT287" target="_blank">Konum Linki</a></span></p>

<h2>7. Cizre Kalesi</h2>
<p dir="ltr">
	<span><img alt="Dicle Nehri kenarında kurulmuş olan kale kalıntıları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cizre-kalesi-58824.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Cizre Kalesi’nin tarihi MÖ 4000 yıllarına kadar uzanıyor. Kale tarih boyunca Asurlular, Romalılar, Bizanslılar, Abbasiler, Selçuklular, Artuklular, Eyyubiler, Akkoyunlular ve Osmanlı tarafından kullanılmış. Dicle Nehri’nin hemen kıyısında yer alan Cizre Kalesi bir tepenin üzerinde olup, kale iç ve dış bölüm olmak üzere toplamda 2 kısımdan oluşuyor. Kalenin surları, bazalt taşından yapılmış olup, kalenin içerisinde mescit, medrese, zindan ve askeri kısımlar gibi yapılar yer alıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/jfgVn9dHtURysJqdA" target="_blank">Konum Linki</a></span></p>
<h2>8. Abdaliye Medresesi Mescidi</h2>
<p dir="ltr">
	<span><img alt="Abdaliye Medresesi Mescidi avlu görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/abdaliye-medresesi-mescidi-58825.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">1568 yılında Cizre Beyi Abdali Paşa tarafından yaptırılan medrese uzun yıllar boyunca eğitim kurumu olarak kullanılırken, 20. yüzyıla gelindiğinde ise medrese mescit olarak kullanılmaya başlanıyor. Mescid, dikdörtgen planlı ve tek kubbeli bir yapı olup, mescidin girişinde anıtsal bir kapı yer alırken, avluda bir şadırvan ve yeşil alan bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/T8U35vBkKiErdAJU6" target="_blank">Konum Linki</a></span></p>
<h2>9. Zümrüt Kaplıcaları</h2>
<p dir="ltr">
	<span><img alt="Zümrüt Kaplıcaları havadan görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/zumrut-kaplicalari-58826.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Beytüşşebap İlçe merkezine 7 km uzaklıktaki Ilıcak köyünde yer alan Zümrüt Kaplıcaları bölge halkı kadar çevre illerden de rağbet görüyor. Su sıcaklığının 39 derece olduğu kaplıcada cilt, böbrek ve romatizmal hastalıklara iyi geldiği söyleniyor. Birçok sağlık sorununda da tedaviye yardımcı alternatif tedavi olarak kullanılan kaplıca sularında radyoaktivite, kalsiyum, sülfür, karbondioksit, magnezyum, kükürt, bikarbonat, ve demir bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/baCjRY4Wht55VFqM7" target="_blank">Konum Linki</a></span></p>
<h2>10. Yılmaz Güney Parkı</h2>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33">Şırnak halkı tarafından sevilen Yılmaz Güney Parkı, Silopi ilçesinde yer alıyor. Silopi merkezde yer alan park geniş bir alana yayılıyor. Park içerisinde çocuk parkı, yürüyüş yolları ve yeşil alanlar yer alıyor. Sevdiklerinle günün yorgunluğunu atmak ve keyifli zamanlar geçirmek için beraberinde getirdiğin yiyeceklerle parkta piknik yapabilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-4766a2f5-7fff-752d-f26c-7ebec8399c33"><a href="https://maps.app.goo.gl/75wpj2YNpajBnhJL6" target="_blank">Konum Linki</a></span></p>

</body>
</html>
