<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adana'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

}
h2 {
    color: #333;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5><b>ARDAHAN</b></h5>
<p> Türkiye’nin kuzeydoğusunda, Doğu Anadolu bölgesinde dört tarafı dağlarla çevrili bir şehir Ardahan. Doğu Karadeniz ile Doğu Anadolu bölgelerinin kesiştiği noktada yer alıyor. Aynı zamanda Gürcistan sınırımızı oluşturuyor. 3 bin yıllık geçmişiyle zengin tarihi kalıntılara sahip olan Ardahan dağlık arazisi, ovaları, gölleri, nehirleri ve kış turizmiyle dikkat çekiyor. </p>
        <h2>Ardahan’da Gezilecek Yerler</h2>
        <ol>
            <li>Çıldır Gölü</li>
            <li>Akçakale Adası</li>
            <li>Ardahan Kalesi</li>
            <li>Kura Nehri</li>
            <li>Ardahan Kent Müzesi ve Kongre Binası</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">1. Çıldır Gölü</span></h2>
<p dir="ltr">
	<span><img alt="Harika göl manzarası. Arka planda bulutlu mavi gökyüzü." src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cildir-golu-59046.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Çıldır Gölü, Ardahan’ın en ünlü doğal güzelliklerinin başında geliyor. Denizden 1959 metre yüksekliğinde bulunan Çıldır Gölü, Doğu Anadolu bölgesinin en büyük tatlı su gölüdür. Çıldır Gölü, yüzölçümü bakımından Van Gölü’nün ardından Türkiye’nin ikinci büyük gölü. Çıldır Gölü’nde yazın doğal göl manzarası eşliğinde kamp ve piknik yapma imkânı bulunuyor. Kışları ise özellikle Kasım-Nisan ayları arasında gölün tamamı buz tuttuğu için kızakla kayma, atlarla gezinti yapma, buz pateni gibi birçok kış aktivitesi yapılabiliyor.  </span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Çıldır Gölü’nde dört mevsim balık avlanabiliyor. Yazları bu işlem daha kolayken, kışları buzla kaplı gölde buzlar kırılarak balık avlanıyor. Çıldır Gölü, özel olarak avlanan alabalık ve sazan balıklarını tatmak için doğru bir durak. Ayrıca Çıldır Gölü, kuş gözlemcileri için de önemli bir alan, gölün çevresinde farklı türlerde birçok kuş görülebiliyor. </span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19"><a href="https://maps.app.goo.gl/vzyLvrkvtCgKfqZa8" target="_blank">Konum Linki</a></span></p>

            <h2 dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">2. Akçakale Adası</span></h2>
<p dir="ltr">
	<span><img alt="Akçakale Adası" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/akcakale-adasi-59047.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Çıldır Gölü içinde yer alan Akçakale Adası, Ardahan’ın binlerce yıllık kalıntılarını barındırır. Akçakale Köyü’nün batısında bulunan ve adını da buradan alan Akçakale Adası, Çıldır Gölü’nün yaz aylarında çözülmesiyle ortaya çıkar. Akçakale Adası bozulmamış doğal güzelliklere sahiptir. Sit alanı ilan edilmiş bölge, Neolitik Çağ’dan günümüze ulaşan kalıntılara sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19"><a href="https://maps.app.goo.gl/jU6F9pyUYcegH71m7" target="_blank">Konum Linki</a></span></p>

            <h2 dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">3.  Ardahan Kalesi</span></h2>
<p dir="ltr">
	<span><img alt="Ardahan Kalesi kış mevsiminde manzarası" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ardahan-kalesi-59048.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Ardahan Kalesi, şehrin en tarihi simgelerinden. Ardahan Kalesi, 16. yüzyılda Kanuni Sultan Süleyman’ın emriyle üzerinde daha önce başka kale kalıntıları bulunan alana inşa edilmiş. Şehre hâkim olan kale 16. yüzyıldan bu yana tamamının ayakta kalmasıyla dikkat çekiyor. Kalenin önünden şehrin bir diğer simgesi olan Kura Nehri geçiyor. </span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19"><a href="https://maps.app.goo.gl/T1yocV7RF3ebh2YV9" target="_blank">Konum Linki</a></span></p>

            <h2 dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">4. Kura Nehri</span></h2>
<p dir="ltr">
	<span><img alt="kura nehri ve çevresinde bulunan yerleşim yerleri" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/kura-nehri-59049.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Kura Nehri, Ardahan’ın engebeli, dağlar ve ovalarla süslü ikliminde ülkenin sınırlarını aşan bir nehir. Kura Nehri, Ardahan’ın Göle ilçesinden başlayıp Gürcistan ve Azerbaycan’dan geçerek Aras Nehri ile birleşip oradan da Hazar Denizi’ne dökülüyor. Nehirde rafting ve sportif balıkçılık yapılabiliyor. Şehrin ortasından geçen Kura Nehri, yazları artan su havzasıyla muhteşem manzaralar sunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19"><a href="https://maps.app.goo.gl/YDM9hfsVvUHQ4VSm9" target="_blank">Konum Linki</a></span></p>

<h2 dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">5. Ardahan Kent Müzesi ve Kongre Binası</span></h2>
<p dir="ltr">
	<span><img alt="Ardahan Kent Müzesi ve Kongre Binası akşam görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ardahan-kent-muzesi-ve-kongre-binasi-59050.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19">Ardahan Kent Müzesi ve Kongre Binası, Ardahan şehir merkezinde I. ve II. Ardahan Kongrelerinin yapıldığı binada yer alıyor. Bina 1911 senesinde yapılmış ve günümüzde aslına uygun olarak restore edilmiş bir konak. Konakta tavan süslemeleri, kalem işi işlemeler ve oymalar dikkat çekiyor. Müze içerisindeki eşyalarla tarihi bir seyahat imkânı sağlıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-bef708d3-7fff-1938-5ec6-b57979904f19"><a href="https://maps.app.goo.gl/QV6f4viF6q7M2Shq8" target="_blank">Konum Linki</a></span></p>


</body>
</html>
