<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aydın'da Gezilecek Yerler</title>
    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5><b>AYDIN</b></h5>
<p>Aydın'ın eski isimleri Tralleis ve Güzelhisar olup 14. yüzyılda Anadolu Beylikleri döneminde kurulan Aydınoğulları beyliği döneminde ismi Aydın olarak değişmiştir. Herodot, Aydın ili ile ilgili “Bizim yeryüzünde bildiğimiz en güzel gökyüzünün altı ve en güzel iklimin bulunduğu yer” demiştir. Evliya Çelebi ise “Dağlarından yağ, ovalarından bal akar” demiştir.</p>
<h2>Aydın’da Gezilecek Yerler</h2>
        <ol>
            <li>Dilek Yarımadası Büyük Menderes Deltası Milli Parkı</li>
            <li>Zeus Mağarası</li>
            <li>Aydın Arkeoloji Müzesi</li>
            <li>Akvaryum Koyu</li>
            <li>Kadınlar Plajı</li>
            <li>Bafa Gölü</li>
            <li>Yörük Ali Efe Müzesi</li>
            <li>Nysa Antik Kenti</li>
            <li>Tralleis Antik Kenti</li>
            <li>Nasuh Paşa Külliyesi</li>

 <h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">1. Dilek Yarımadası Büyük Menderes Deltası Milli Parkı</span></h2>
<p dir="ltr">
	<span><img alt="dilek-yarimadasi-buyuk-menderes-deltasi-milli-parki" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/dilek-yarimadasi-buyuk-menderes-deltasi-milli-parki-35749.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">27 bin hektarlık devasa bir alanı kaplayan Dilek Yarımadası Büyük Menderes Deltası Milli Parkı, Samos Adası’nın hemen karşısında yer alıyor. Bölgenin bir bölümü resmi olarak Dilek Yarımadası’na bir bölümü ise Büyük Menderes Deltası’na ait. Parkın içerisinde yer alan 15 km uzunluğundaki Oluklu Kanyonu, buradaki en popüler noktalardan biri. Kanyon içerisinde yürüyüş meraklıları için özel rotalar belirlenmiş. Dilek Yarımadası, tarihte İkarus’a ev sahipliği yapması bakımından da önemli bir yer olarak kabul ediliyor. Zengin bir bitki çeşitliliğine sahip olan milli parkta Panionion, Doğanbey Köyü, Thebai, Zeus Mağarası, Hagios Antonios Manastırı ve Ayayorgi Manastırı yer alıyor. Senede yaklaşık 500 bin kişinin ziyaret ettiği bölgede botanik turlar, dağ bisikleti, doğa fotoğrafçılığı ve kuş gözlemciliği gibi aktivitelere yönelmek mümkündür.</span></p>

<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Dilek+Yar%C4%B1madas%C4%B1+B%C3%BCy%C3%BCk+Menderes+Deltas%C4%B1+Milli+Park%C4%B1/@37.6691576,27.183927,15z/data=!4m2!3m1!1s0x0:0x6d1a9fb097d2335?sa=X&amp;ved=2ahUKEwjrndaA9aeCAxX2bfEDHZIqCY0Q_BJ6BAhgEAA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">2. Zeus Mağarası</span></h2>
<p dir="ltr">
	<span><img alt="zeus-magarasi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/zeus-magaras-29532.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Dilek Yarımadası Büyük Menderes Deltası Milli Parkı’nın hemen giriş bölümünde yer alan Zeus Mağarası, sene boyunca pek çok yerli ve yabancı ziyaretçiye ev sahipliği yapıyor. Aydın il merkezine uzaklığı 70 km olan bu önemli mağaranın en ilginç özelliği yıl boyunca suyunun aynı sıcaklık derecesine sahip olmasıdır. Mağaradaki suyun iki ayrı kaynağı bulunuyor. Dağdan ulaşan tatlı sularla denizden gelen tuzlu suyun birleşimi, bu ilginç durumu ortaya çıkarıyor. Suyun ve özellikle de çamurun zengin bir şifa kaynağı olduğuna inanan yerli ve yabancı ziyaretçiler, Zeus Mağarası’na yoğun bir ilgi gösteriyor. Bu arada Afrodit’in de bizzat bu mağarada yüzdükten sonra güzelleştiğine inanılıyor. Mağara toplamda 60 metrelik bir uzunluğa sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Zeus+Ma%C4%9Faras%C4%B1/@37.7112553,27.2132099,17z/data=!3m1!4b1!4m6!3m5!1s0x14bea0fc6f2c2ec9:0x44a727e0b97c445c!8m2!3d37.7112511!4d27.2157848!16s%2Fg%2F11b863xpm2?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">3. Aydın Arkeoloji Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="aydin-arkeoloji-muzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/aydin-arkeoloji-muzesi-52736.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Aydın’da mutlaka görülmesi gereken yerlerden biri olan Aydın Müzesi, özellikle antik kentlerin zenginliğini kanıtlıyor. Aydın’da yer alan antik kent sayısının görece fazla olması, Aydın Müzesi’ndeki koleksiyonlara net şekilde yansımış durumda. Nysa, Tralleis, Alabanda, Piginda, Myus, Harpasa ve Orthosia bu Antik kentlerin başında geliyor. Aydın Arkeoloji Müzesi’nde heykellerden sütun başlıklarına, lahitlerden mezar stellerine kadar birçok eseri inceleme şansı bulabilirsiniz. Müzede genel olarak sikke, arkeoloji ve etnografik eser olmak üzere 3 ayrı seksiyon söz konusu. Athena büstü ve Satyr heykeli, müzenin en çok ilgi çeken parçaları arasında.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Ayd%C4%B1n+Arkeoloji+M%C3%BCzesi/@37.846962,27.8598482,17z/data=!3m1!4b1!4m6!3m5!1s0x14b92b0e3b293b7b:0x9061f4a14f5a4160!8m2!3d37.8469578!4d27.8624231!16s%2Fg%2F11bw27mhg8?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">4. Akvaryum Koyu</span></h2>
<p dir="ltr">
	<span><img alt="akvaryum-koyu" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/akvaryum-koyu-50396.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Aydın Didim’de denize girilecek bir diğer yer cazip yer de Akvaryum Koyu. Didim’in pek çok noktasında aşina olunan turkuaz renk, Akvaryum Koyu’nda da kendini net biçimde yansıtıyor. Genel olarak çevrede yer alan koylara göre buranın daha sakin ve sığ olduğunu söyleyelim. Tekne turlarının uğrak yerlerinden biri olan Akvaryum Koyu, deniz canlıları bakımından son derece zengin. Adının hakkını verecek düzeyde berrak bir denizi olan Akvaryum Koyu’nda şnorkelle yüzmek apayrı bir keyif. Fakat koyun olduğu alanda herhangi bir işletme söz konusu değil. Buraya toplu ulaşımla gelmek adına İnönü Bulvarı yönünde hareket eden dolmuşlardan yararlanmalısınız.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Akvaryum+Koyu/@37.3459732,27.3123132,17z/data=!3m1!4b1!4m6!3m5!1s0x14be871460e4373b:0x97193b3581d98eb3!8m2!3d37.345969!4d27.3148881!16s%2Fg%2F11h7g3g7gp?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">5. Kadınlar Plajı</span></h2>
<p dir="ltr">
	<span><img alt="kusadasi-kadinlar-plaji" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/kusadasi-kadinlar-plaji-40039.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Aydın Kuşadası’nın en ünlü halk plajlarından biri olan Kadınlar plajı, muhteşem doğası kadar tarihiyle de öne çıkıyor. Osmanlı Dönemi içerisinde sadece kadınların kullanabildiği bir plaj olmasından dolayı böyle bir isim konulmuş. Bugün ise değişmeyen ismine rağmen erkeklerin de kullanabildiği, karma bir plaj olarak hizmet veriyor. İnce kumlu yapısıyla beğeni toplayan Kadınlar plajı, geniş yapısı ve uzun şeridiyle dikkat çekiyor. Tüm hat boyunca birden fazla işletmeyle karşılaşabilirsiniz. Plajın hemen arka bölümünde ise yan yana sıralanmış çok sayıda otel ve pansiyon bulunuyor. Tuvalet, soyunma kabini ve duş olanaklarından ücretsiz olarak yararlanabilirsiniz.</p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Kad%C4%B1nlar+Denizi+Plaj%C4%B1/@37.8448175,27.2403331,17z/data=!3m1!4b1!4m6!3m5!1s0x14bea8e7e2a2a93d:0xc75917e11697d56e!8m2!3d37.8448133!4d27.242908!16s%2Fm%2F0crdwmp?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">6. Bafa Gölü</span></h2>
<p dir="ltr">
	<span><img alt="bafa-golu" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/bafa-golu-38358.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Yolu Aydın’a düşenlerin genellikle es geçmediği Bafa Gölü, özellikle günübirlik ziyaretler için oldukça ideal. Aydın il merkezine 90 km uzaklıkta olan Bafa Gölü, aynı zamanda Ege’nin en büyük gölü durumunda. Aynı zaman kuş gözlem merkezleri arasında gösterilen göl, Muğla sınırına da oldukça yakın. Bafa Gölü 1989 senesinden bu yana SİT alanı olarak değerlendiriliyor. Ciddi düzeyde bitki ve hayvan türlerine ev sahipliği yapan bu tabiat güzelliği, aynı zamanda popüler bir köy olan Kapkırı Köyü’ne de epey yakın. Göl içerisinde toplamda 260 civarında kuş ve 22 sürüngen türüne rastlamak mümkün. Özellikle de flamingoları ve kuğuları yakından gözlemlemek adına Bafa Gölü önemli bir fırsat sunuyor. Bafa Gölü’nün Heraklia Antik Kenti’ne yakın olması, burayı daha da kıymetli hale getiriyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Bafa+G%C3%B6l%C3%BC/@37.5153888,27.3692361,12z/data=!3m1!4b1!4m6!3m5!1s0x14be9106efcef09d:0x5e8903934c4d3ca8!8m2!3d37.4998372!4d27.4438924!16zL20vMGQxMHJy?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">7. Yörük Ali Efe Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="yoruk-ali-efe-muzesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/yoruk-ali-efe-muzesi-52738.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Yörük Ali Efe Müzesi, Aydın’a yaklaşık olarak 40 kilometrelik uzaklıkta bulunuyor. Tam olarak Yenipazar ilçesinde konumlanan müze, Kuva-i Milliye komutanlarından biri olan Yörük Ali Efe’ye adanmış. Yörük Ali Efe’nin bir dönem yaşadığı ev, 2001 senesinde böylesine bir müzeye dönüştürülmüş. Hem Yörük Ali Efe’nin kişisel eşyaları hem de savaş yıllarına dair pek çok materyal ve belge ziyaretçilere sunuluyor. Yörük Ali Efe’nin İzmir dönüşü bu evde 15 sene boyunca oturduğu biliniyor. Ev, mirasçılar tarafından 1995 senesinde Kültür Bakanlığı’na bağışlanış. Yangından dolayı kullanılamaz hale gelen ev, kapsamlı bir restorasyondan sonra müzeye dönüştürülmüş. Bu arada Yörük Ali Efe’nin mezarı da müzenin bahçesinde yer alıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Y%C3%B6r%C3%BCk+Ali+Efe+M%C3%BCzesi/@37.8214761,28.1878495,17z/data=!3m1!4b1!4m6!3m5!1s0x14b8ceb0cfdf203b:0xa1bea55483d5617a!8m2!3d37.8214719!4d28.1904244!16s%2Fg%2F122kjmrc?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">8. Nysa Antik Kenti</span></h2>
<p dir="ltr">
	<span><img alt="nysa-ancient-city" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/nysa-ancient-city-52739.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Aydın’ın tarihi mirasını önemli ölçüde yansıtan Nysa Antik Kenti’nin geçmişi M.Ö. 3’üncü yüzyıla kadar uzanıyor. Zamanında Karia’nın en önemli kentlerinden biri olarak öne çıkan Nysa’nın kuruluşunda özellikle I. Antiokhos Soter ‘in ciddi bir etkisi bulunuyor. Önemli coğrafyacılarından biri olan Strabon, Nysa kentinde eğitim almış. Aktif olduğu dönemin en nitelikli eğitim merkezlerinden biri olarak kabul edilen Nysa içerisinde bouleuterion, tiyatro, hamam, sahne binası ve kütüphaneye dair kalıntılar bulunuyor. Sahnedeki frizlerin orijinalleri Aydın Müzesi’nde sergileniyor. Nysa Antik Kenti, Aydın’ın bir ilçesi olan Sultanhisar’da konumlanıyor.</span></p>

<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Nysa+Antik+Kenti/@37.903445,28.1427241,17z/data=!3m1!4b1!4m6!3m5!1s0x14b8cf89dae883cf:0x989f07e95bcfc4cc!8m2!3d37.9034408!4d28.145299!16s%2Fm%2F04zybb3?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">9. Tralleis Antik Kenti</span></h2>
<p dir="ltr">
	<span><img alt="tralleis-antik-kenti" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tralleis-antik-kenti-29535.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Tarih ve kültür meraklıların gezi listesinde mutlaka kendine yer bulan Tralleis Antik Kenti, Efeler ilçesinde yer alan Kemer Mahallesi’nde konumlanıyor. Antik kentin kuruluş aşaması, bundan 15 bin yıl öncesine dek uzanıyor. Menderes Havzası’nın hemen üstünde kurulan Tralleis, “halkın kent” anlamına geliyor. Üç gözlü yapıda bugün itibarıyla stadyum, hamam, agora ve tiyatro gibi alanlar söz konusu. Ayrıca kentin hemen etrafında “'latriana” adıyla da bilinen tuvaletlere tanıklık edebilirsiniz. Tarihi kentin kuruluşunda Argoslular ve Tralleisliler önemli bir paya sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Tralleis+Antik+Kenti+Kaz%C4%B1+Alan%C4%B1/@37.8585373,27.8282924,17z/data=!3m1!4b1!4m6!3m5!1s0x14b92b7e59386181:0xc0d7f1c6514d7de8!8m2!3d37.8585332!4d27.8329058!16s%2Fg%2F1tgv3t_f?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">10. Nasuh Paşa Külliyesi</span></h2>
<p dir="ltr">
	<span><img alt="nasuh-pasa-kulliyesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/nasuh-pasa-kulliyesi-52740.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f">Şehrin merkezinde görülmeye değer destinasyonlardan biri olan Nasuh Paşa Külliyesi’nde sizi hamam, han, medrese gibi bölümler bekliyor. Külliyenin inşa aşamasında büyük ölçüde taş ve devşirme malzemelerden yararlanılmış. Burası, Osmanlı Dönemi’nin karakteristik avlulu hanlarına dair önemli bir örnek teşkil ediyor. 1700’lü yılların başında Nasuh Paşa tarafından inşa edilen yapıdaki tarihi hamam, “Paşa Hamamı” adıyla da biliniyor. Dikdörtgen plana sahip olan hamam, yuvarlak ve kemerli bir kapıya sahip. Han ise bitişik haldeki 2 ayrı kısımdan meydana geliyor. Halk arasında tarihi han, “Zincirli Han” şeklinde tanınıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-3a876279-7fff-b1b7-7fc2-f5a831cdb85f"><a href="https://www.google.com/maps/place/Nasuh+Pa%C5%9Fa+K%C3%BClliyesi/@37.8523654,27.837595,17z/data=!3m1!4b1!4m6!3m5!1s0x14b92b7ad2081387:0xc5349e67898e4ce2!8m2!3d37.8523612!4d27.8401699!16s%2Fg%2F11bxdy04yw?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
