<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartın'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>

<h5><b>BARTIN</b></h5>
<p>
	Binlerce yıl öncesine uzanan zengin bir tarihe sahip şehirde Roma döneminden günümüze kalan Kemere Köprüsü, Amasra Kalesi, Kuş Kayası Yol Anıtı ve Güzelcehisar Kalesi gibi pek çok tarihi hazineyi de yakından görme şansı bulacaksınız. Bakacak Tepesi ve Çakraz Seyir Tepesi’nden mavi ile yeşilin bileştiği panoramik manzaraları izleyebileceğiniz Bartın gezinizde Küre Dağları’nın el değmemiş güzellikleri arasında da ruhunuzu dinlendirebilirsiniz. </p>
<p>
	Bartın’da mutlaka görmeniz gereken 60 yeri yazarken Instagram etiketlerini kullandık ve en çok etiketlenen yer en üstte olacak şekilde özel bir sıralama hazırladık. Hem deniz hem de doğa tutkunlarını kendine çeken Bartın’ı yazımızı okuyarak hemen keşfe çıkabilirsiniz. Eklediğimiz konum linklerinden yararlanarak programınızı detaylı bir şekilde yapabilirsiniz.</p>

<h2>Bartın’da Gezilecek Yerler</h2>
        <ol>
            <li>Amasra</li>
            <li>Kurucaşile</li>
            <li>Küre Dağları Milli Parkı</li>
            <li>Güzelcehisar Koyu</li>
            <li>Tavşan Adası</li>
            <li>Amasra Kalesi</li>
            <li>Çakraz</li>
            <li>Mugada Sahili</li>
            <li>Ağlayan Ağaç</li>
            <li>Kemere Köprüsü</li>
<h2>1- Amasra</h2>
<p>
	<img alt="Amasra" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/amasra-41562.webp" loading="lazy"></p>
<p>
	Sadece Bartın'ın değil Karadeniz'in de en sevilen turistik ilçelerinden biri olan Amasra; Ege ve Akdeniz'i aratmayan büyüleyici plajları, kalabalıklardan uzakta denizin tadını çıkarabileceğiniz koyları ve doğa harikası şelaleleriyle çok popüler günübirlik gezi rotalarından biri. Amasra Plajı, Büyük Liman Plajı, Küçük Liman Plajı, Çakraz Plajı ve İnkumu Plajı gibi ince kumlu uzun sahilleriyle ünlü plajlarında Karadeniz'in masmavi sularının tadını çıkarabileceğiniz Amasra'da deniz manzaralı butik ve apart otellere kadar her türlü konaklama alternatifi de bulabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Amasra,+Bart%C4%B1n/data=!4m2!3m1!1s0x409b0be44ab0f0b7:0x8d97128b9a1b4cb2?sa=X&amp;ved=2ahUKEwiO7q6t94j4AhVAS_EDHYsOC8gQ8gF6BQiDARAB" target="_blank">Konum Linki</a></p>
<h2>
	2- Kurucaşile</h2>
<p>
	<img alt="Kurucaşile" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kurucasile-41584.webp" loading="lazy"></p>
<p>
	Bartın'ın Karadeniz kıyısında uzanan başka bir turistik ilçesi olan Kurucaşile, şehir merkezine sadece 1 saat uzaklıkta dinlendirici bir gezi sunuyor. Önü masmavi Karadeniz, arkası ise çam ormanları ile çevrili küçük ilçe, Karaman Plajı ve Kapısuyu Plajı gibi birbirinden güzel plajlarının yanı sıra tabiat harikası Gölderesi Şelalesi’yle de yaz aylarında insanları kendine çekiyor.</p>
<p>
	Bölgedeki önemli antik yerleşim yerlerinden biri olan Kromna Antik Kenti’nden günümüze kalan tarihi hazineleri de gezme şansı bulabileceğiniz Kurucaşile, hafif rüzgarlı ve dalgalı deniziyle uçurtma sörfü, rüzgar sörfü, yelken ve deniz paraşütü gibi onlarca su sporu yapmak için de ideal bir yer. Karadeniz manzaralı butik otellerde tatil yapabileceğiniz ilçede sahil çevresinde hizmet veren restoranlarda ise mevsimlik balıklar ve yöresel lezzetler tadarak keyifli bir akşam geçirebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Kuruca%C5%9File,+Bart%C4%B1n/@41.8431732,32.7152462,15z/data=!3m1!4b1!4m5!3m4!1s0x409b1cfc90365717:0x13ee0912341a0c72!8m2!3d41.843903!4d32.720692" target="_blank">Konum Linki</a></p>
<h2>
	3- Küre Dağları Milli Parkı</h2>
<p>
	<img alt="Küre Dağları Milli Parkı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kure-daglari-milli-parki-41586.webp" loading="lazy"></p>
<p>
	Her doğa ve fotoğrafçılık tutkununun keşfe çıkması gereken, ülkemizin en önemli tabiat cennetlerinden biri olan Küre Dağları Milli Parkı, büyüleyici doğa manzaraları eşliğinde unutulmaz bir gezi deneyimi sunuyor. Küre Dağları’nın büyük bir bölümünü kapsayan ve 2000 yılında el değmemi doğası koruma altına alınan milli park, Kastamonu ile Bartın arasında şehir merkezine yaklaşık 2 saat uzaklıkta yer alıyor. Yılın her mevsimi trekking turları, fotoğraf safarileri, dağcılık, kaya tırmanma ve kampçılık gibi aktiviteler için binlerce kişinin uğradığı Küre Dağları Milli Parkı’nı gezerken Horma Kanyonu, Valla Kanyonu ve Ilgarini Mağarası gibi ünlü tabiat harikalarını da yakından görebilirsiniz.</p>
<p>
	Zengin bitki ve vahşi yaşam çeşitliliğiyle ünlü dağın güzelliklerini iyi düzenlenmiş yürüyüş parkurlarında keşfe çıkabilir ve nadir görülen 130’a yakın kuş türüne ev sahipliği yapan milli parkta harika fotoğraflar çekebilirsiniz. Çam ormanları arasında uzanan mesire alanlarında, oksijen seviyesi yüksek havada yorgunluk atmak veya kamp alanlarında çadırınızı kurarak modern dünyadan uzakta dinlendirici günler geçirmek için de Küre Dağları Milli Parkı’na gidebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Horma+Kanyonu+(K%C3%BCre+Da%C4%9Flar%C4%B1+Milli+Park%C4%B1)/@41.6340235,33.1391026,17z/data=!3m1!4b1!4m5!3m4!1s0x409b2ce32d9838e7:0xbc0a0b5a86b47a10!8m2!3d41.6340196!4d33.1433298" target="_blank">Konum Linki</a></p>
<h2>
	4- Güzelcehisar Koyu</h2>
<p>
	<img alt="Güzelcehisar Koyu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/guzelcehisar-koyu-41574.webp" loading="lazy"></p>
<p>
	Sadece Bartın'ın değil, Türkiye'nin de en özel koylarından biri olan ve çevresini saran yemyeşil güzelliklerle doğal sit alanı olarak koruma altına alınan Güzelcehisar Koyu, Bartın gezinizde mutlaka görmeniz gereken yerlerden. Yaz aylarında kalabalıklardan uzakta denizin ve doğanın tadını çıkarabileceğiniz koyu tekne gezileri veya doğa yürüyüşleriyle de keşfe çıkabilirsiniz.</p>
<p>
	Dünyanın çok az yerinde görebileceğiniz 30 metre yüksekliğindeki devasa lav sütunları için de her yıl binlerce kişi tarafından ziyaret edilen Güzelcehisar Koyu’nda gezinizin en güzel fotoğraflarını çekebilirsiniz. Cam berraklığındaki deniziyle tüplü ve tüpsüz dalış turlarının ana merkezlerinden biri haline gelen Güzelcehisar Koyu’nda tüm gün Karadeniz’in tadını çıkardıktan sonra akşamları da büyüleyici gün batımı manzaralarına şahit olabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/G%C3%BCzelcehisar,+74110+G%C3%BCzelcehisar%2FBart%C4%B1n+Merkez%2FBart%C4%B1n/@41.6469352,32.2047067,16z/data=!3m1!4b1!4m5!3m4!1s0x409b76636f6be62f:0xb0a8ea307dcd95ee!8m2!3d41.647866!4d32.2092061" target="_blank">Konum Linki</a></p>
<h2>
	5- Tavşan Adası</h2>
<p>
	<img alt="Tavşan Adası" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tavsan-adasi-41587.webp" loading="lazy"></p>
<p>
	Bartın’ın simgesel yapılarından biri olan Kemere Köprüsü’nün hemen karşısında çarpıcı bir manzara sunan Tavşan Adası, tekne gezilerinin değişmez adreslerinden biri. Hiçbir yapılaşma veya yerleşimin olmadığı küçük ada, sessiz ve huzurlu atmosferiyle hem yürüyüş yapmak hem de masmavi sularda doyasıya yüzmek için ideal bir yer. Bir zamanlar savunma amaçlı olarak kullanılan Tavşan Adası’nda Bizans döneminden kalan bir kalenin ve manastırın kalıntılarını da gezme şansı bulacaksınız. Kaya teraslarında güneşlenebileceğiniz ve şnorkelli dalışlar yaparak Karadeniz’in su altı zenginliklerinin fotoğraflarını çekebileceğiniz Tavşan Adası’ndan gün batımlarında Amasra’nın en güzel manzaralarını izleyebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Amasra,+Bart%C4%B1n/@41.747262,32.3809141,15.06z/data=!4m5!3m4!1s0x409b0be44ab0f0b7:0x8d97128b9a1b4cb2!8m2!3d41.7470209!4d32.3855369" target="_blank">Konum Linki</a></p>
<h2>
	6- Amasra Kalesi</h2>
<p>
	<img alt="Amasra Kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/amasra-kalesi-41557.webp" loading="lazy"></p>
<p>
	Bartın'ın en çok ziyaret edilen tarihi hazinelerinden biri olan Amasra Kalesi, özellikle gün batımlarında görülmeye değer bir manzara sunuyor. Roma İmparatorluğu döneminde sağlam kesme taşlarla inşa edilen ve 2013 yılında UNESCO Dünya Mirası Geçici Listesi’ne dahil edilen etkileyici kale, Boztepe Adası’nın antik köprü ile karaya bağlanıyor. Çevresinde Sormagir Kalesi ve Zindan Kalesi gibi iki küçük kalenin de bulunduğu Amasra Kalesi, Cenevizlilerden Bizanslılar ve Osmanlılara kadar pek çok medeniyet tarafından savunma amacıyla kullanılmış.</p>
<p>
	65 metreyi bulan surları ve 8 tane burcu ile yüzlerce yıllık tarihi evleri arasında çarpıcı bir manzara sunan kalenin iç bölümlerini keşfe çıkabilir, devasa surlardan Karadeniz'in ve Amasra'nın muhteşem panoramik fotoğraflarını çekebilirsiniz. Amasra Kalesi'nin her köşesini süsleyen etkileyici taş oymaları, yazıtları ve kartal kabartmalarını yakından inceleyebileceğiniz gezinizde tarihte keyifli bir yolculuk yapabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Kale+kap%C4%B1s%C4%B1/@41.7506295,32.3814647,17z/data=!4m8!1m2!2m1!1sAmasra+Kalesi!3m4!1s0x409b0b0e05145d4b:0xac0976b2c6ca9ecf!8m2!3d41.7506293!4d32.3845514" target="_blank">Konum Linki</a></p>
<h2>
	7- Çakraz</h2>
<p>
	<img alt="Çakraz" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cakraz-41570.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Bartın'ın Amasra ilçesine bağlı olan ve Karadeniz kıyısında uzanan küçük bir tatil beldesi olan Çakraz, Karadeniz'in en güzel plajlarından biri olarak gösterilen Çakraz Plajı ile her yıl binlerce insanı kendine çekiyor. Cam berraklığındaki denizinin yanı sıra el değmemiş doğal güzellikleriyle hem günübirlik gezi hem de tatil yapmak için en ideal adreslerden biri olan Çakraz'da Roma döneminde kalan lahitler ve anıtsal yapıları da inceleyebilirsiniz.</p>
<p>
	Yılın her mevsimi düzenlenen rehberli doğa yürüyüşleri, bisiklet gezileri, fotoğraf safarileri ve tekne turlarının ana merkezlerinden biri olan huzurlu beldesinde her bütçeye uygun butik oteller, apart oteller ve aile pansiyonları bulmanız mümkün. Bartın merkezine yaklaşık 40 kilometre uzaklıktaki Çakraz'a minibüslerle her saat kolaylıkla ulaşım sağlayabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87AKRAZ/@41.7803879,32.4751707,15z/data=!3m1!4b1!4m5!3m4!1s0x409b0f3e6e236267:0x55a9f4990374f416!8m2!3d41.7803728!4d32.4839255" target="_blank">Konum Linki</a></p>
<h2>
	8- Mugada Sahili</h2>
<p>
	Bartın'da Karadeniz'in mavisi ile yemyeşil çam ormanlarının birleştiği büyüleyici bir atmosferde akşam yürüyüşlerine çıkmak için Mugada beldesinin sahiline de gidebilirsiniz. Şehir merkezine yaklaşık 40 kilometre uzaklıkta, Güzelcehisar Koyu’nun hemen yanı başında uzanan ve çevresindeki bakir güzelliklerden dolayı sit alanı olarak koruma altına alınmış Mugada sahilinde ince kumlara havlunuzu sererek güneşlenebilir, çam ormanları arasında gizlenen mesire alanlarında piknik yapabilir veya çadırınızı kurarak kamp yapabilirsiniz. Balık restoranları, kafeler gibi olanaklar bulabileceğiniz ve kıyısına bağlanmış renkli balıkçı teknelerinin gün batımlarında tablo güzelliğinde fotoğraflarını çekebileceğiniz Mugada sahilinde el yapımı hediyelik eşyalar da satın alabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Mugada+Sahili/@41.6115597,32.147722,15z/data=!3m1!4b1!4m5!3m4!1s0x409b779a843be865:0xab7daae8ad3d799f!8m2!3d41.6115445!4d32.1564768" target="_blank">Konum Linki</a></p>
<p style="margin-left:35.4pt;">
	<div class="insight-box" data-testid="insight-box"><strong>Yazar Notu:</strong> Duş ve tuvalet ücretli. Soyunma kabini mevcut değil. Civarda ihtiyaçlarını karışlayabileceğin bir tesis ya da market bulunmadığı için son derece tedarikli gitmeni öneririm.</div> </p>
<h2>
	9- Ağlayan Ağaç</h2>
<p>
	Turistik ilçe Amasra’nın en çok fotoğrafı çekilen simgelerinden biri olan Ağlayan Ağaç, yerden ve havadan aldığı nemden dolayı ağlıyormuş gibi görünen asırlık bir selvi ağacı. Büyüleyici güzelliğinden dolayı anıt olarak koruma altına alınan ilginç ağaç, küçük Tavşan Adası’nın hemen karşısında sunduğu büyüleyici manzarasıyla yerli ve yabancı turistleri kendine çekiyor. Çevresinde kahvenizi yudumlayarak büyüleyici Karadeniz manzaralarının tadını çıkarabilecek çay bahçeleri, yürüyüş yolları ve tarihi evlerin sıralandığı Ağlayan Ağaç’ın en güzel fotoğraflarını ise gün batımı saatlerinde çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Boztepe,+A%C4%9Flayan+A%C4%9Fa%C3%A7,+Amasra%2FBart%C4%B1n/@41.7506295,32.3814647,17z/data=!4m5!3m4!1s0x409b0bffdfec852b:0x94c67ffb19fcd291!8m2!3d41.752941!4d32.384727" target="_blank">Konum Linki</a></p>
<h2>
	10- Kemere Köprüsü</h2>
<p>
	<img alt="Kemere Köprüsü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kemere-koprusu-41582.webp" loading="lazy"></p>
<p>
	Tarih, kültür ve mimari meraklılarının mutlaka görmesini önerdiğimiz Bartın'ın tarihi hazinelerinden biri de Boztepe Adası ile Amasra’yı birbirine bağlayan bir antik Roma dönemi köprüsü olan Kemere Köprüsü. Sağlam mimarisi ile yüzlerce yıldır ayakta kalmayı başaran ve Cenevizliler, Bizanslılar, Osmanlılar döneminde de kullanılan devasa köprü, kesme taş mimarisinin yanı sıra altı bölümlerini süsleyen çakıl taşlarıyla da kartpostalları süsleyen bir güzelliğe sahip. 2006 yılında aslına uygun olarak restore edilen etkileyici Kemere Köprüsü, Amasra'nın büyüleyici manzarası tamamlayan en etkileyici şaheser yapılardan biri olarak görülmeye değer.</p>
<p>
	<a href="https://www.google.com/maps/place/Kemere+K%C3%B6pr%C3%BCs%C3%BC/@41.7503135,32.3824926,17z/data=!3m1!4b1!4m5!3m4!1s0x409b0be7b3c00ef5:0xcfba7d377baf7e18!8m2!3d41.7503095!4d32.3846813" target="_blank">Konum Linki</a></p>



</body>
</html>
