<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diyarbakır'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>DİYARBAKIR</h5>
<p>
    Diyarbakır tarih boyunca Asurlar, Urartular, Artuklu ve Osmanlı İmparatorluğuna ev sahipliği yapmış köklü bir tarihi geçmişe sahip bir şehir olarak karşımıza çıkıyor.

Her köşesinde başka bir tarihi hazine gizleyen şehirde UNESCO Dünya Mirası Listesi’ne giren görkemli Diyarbakır Kalesi ve Hevsel Bahçelerini yakından görebilir; Çin Seddi’nden sonra 5 kilometre uzunluğuyla dünyanın en uzun sur duvarları olan Diyarbakır surlarıyla büyüleyici bir manzara sunan şehirde avcı toplayıcılıktan ilk yerleşik hayata geçen insanlardan günümüze kalan Amida Höyük, Hasuni Mağaraları ve Hilar Mağaraları gibi dünya çapında öneme sahip yerleri de keşfe çıkabilirsin.
</p>

<h2>Diyarbakır'da Gezilecek Yerler</h2>
        <ol>
            <li>Gazi Köşkü ve Atatürk Müzesi</li>
            <li>İçkale</li>
            <li>Cahit Sıtkı Tarancı Müzesi</li>
            <li>Ziya Gökalp Müze Evi</li>
            <li>Diyarbakır Kent Müzesi</li>
            <li>Ahmet Arif Edebiyat Müzesi</li>
            <li>Diyarbakır Kalesi</li>

<h2>
	1. Gazi Köşkü ve Atatürk Müzesi</h2>
<h2>
	<img alt="Gazi Köşkü ve Atatürk Müzesi dış görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gazi-kosku-40216.webp" style="width: 825px; height: 498px;" loading="lazy"></h2>
<p>
	15. yüzyıl Akkoyunlular dönemi mimari şaheseri olan iki katlı Gazi Köşkü, I. Dünya Savaşı sırasında 16. Kolordu Komutanı olan Mustafa Kemal Atatürk'ün bir dönem karargâh olarak da kullandığı çarpıcı bir mimari yapı. 1916 yılında da Atatürk'ün bir dönem konakladığı köşk, 1937 yılında belediye tarafından satın alınarak Atatürk'ün armağan edildi. Günümüzde müze olarak hizmet veren Gazi Köşkü, Diyarbakır'ın yerel mimari özelliklerini yansıtan siyah ve beyaz bazalt kesme taşlar ile inşa edilmiş mimari ve zengin koleksiyonlarıyla çok ziyaret ediliyor.</p>
<p>
	Gazi Köşkü, odalarını süsleyen Mustafa Kemal Atatürk'ün kişisel eşyalarından Diyarbakır'ın paha biçilmez antikaları ve el sanatı ürünlerine kadar pek çok objeyi görebileceğiniz zengin koleksiyonlarıyla ziyaretçileri büyülüyor. Haftanın her günü 08:30 ile 23:00 arasında bu etkileyici köşkü ziyaret ederek hem etkileyici sergileri inceleyebilir hem de köşkün asırlık ağaçlarıyla süslü geniş avlusunda yorgunluk atabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Gazi+K%C3%B6%C5%9Fk%C3%BC+%C5%9EARK+EVI/@37.8956415,40.2270171,17z/data=!3m1!4b1!4m5!3m4!1s0x407521a561ae48a3:0x15b734a1d6f25ffb!8m2!3d37.8956373!4d40.2292058!5m1!1e4" target="_blank">Konum Linki</a></p>

<p>
	<strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Haftanın her günü09.00-18.00</div></li>
</ul>
<h2>
	2. İçkale</h2>
<p>
	<img alt="Diyarbakır'ın İçkale (İçkale) kısmı görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ickale-40215.webp" loading="lazy"></p>
<p>
	Diyarbakır'ın ilk yerleşim bölgelerini de kapsayan İçkale, 1524 ile 1526 yıllarında Kanuni Sultan Süleyman döneminde, klasik Osmanlı mimari tarzda tekrar inşa edilmiş bir şaheser. 5 kilometre uzunluğundaki Diyarbakır surları içinde uzanan, 20 tane burcu ve 4 etkileyici kapısıyla hem tarih hem de fotoğraf meraklılarının en sık ziyaret ettiği yerlerden olan İçkale, 2005 yılında aslına uygun olarak restore edilerek turizme kazandırıldı.</p>
<p>
	<a href="https://www.google.com/maps/place/%C4%B0%C3%A7kale+A%C3%A7%C4%B1k+Hava+M%C3%BCzesi/@37.9156699,40.2396777,17z/data=!3m1!4b1!4m5!3m4!1s0x4075212469e5ecfd:0xfdfe61079df7b233!8m2!3d37.9157697!4d40.2418705!5m1!1e4" target="_blank">Konum Linki</a></p>
<h2>
	3. Cahit Sıtkı Tarancı Müzesi</h2>
<p>
	<img alt="Cahit Sıtkı Tarancı Müzesi giriş cephe görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cahit-sitki-taranci-muzesi-40224.webp" loading="lazy"></p>
<p>
	Dünyaca ünlü şair Cahit Sıtkı Tarancı'nın doğup büyüdüğü tarihi konak, günümüzde şehrin en çok ziyaret edilen müzelerinden birine ev sahipliği yapıyor. 1733 yılında Diyarbakır'a özgü bir mimariyle bazalt ve kalker taşlar kullanılarak inşa edilen konak, çarpıcı ahşap doğramalarıyla da görülmeye değer bir manzara sunuyor.</p>
<p>
	Tarihi konağın dönem mobilyaları ile süslenmiş 14 tane odasını gezerek Cahit Sıtkı Tarancı'nın kişisel eşyalarından şiirlerine, değerli antikalardan el sanatı eserlerine kadar pek çok objeyle süslü sergileri inceleyebilirsin.Cahit Sıtkı Tarancı Müzesi, hem mimarisi hem de Diyarbakır'ın binlerce yıllık kültürünü gözler önüne seren zengin etnografya bölümü ile ziyaret edilmeye değer yerler arasında.</p>
<p>
	<a href="https://www.google.com/maps/place/Cahit+S%C4%B1tk%C4%B1+Taranc%C4%B1+M%C3%BCzesi/@37.9132172,40.2333412,17z/data=!3m1!4b1!4m5!3m4!1s0x407520384e594951:0x8889fbc070078df6!8m2!3d37.913213!4d40.2355299!5m1!1e4" target="_blank">Konum Linki</a></p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 08.30.17.00</div></li>
</ul>
<h2>
	4. Ziya Gökalp Müze Evi</h2>
<p>
	<img alt="Ziya Gökalp Müze Evi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ziya-gokalp-40242.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Ünlü yazar ve sosyolog Ziya Gökalp'in 1876 yılında doğduğu ev, 1956 yılında aslına uygun olarak restore edilerek müze haline getirildi. Diyarbakır'ın en güzel yapılarından biri olan ve 1806 yılında bazalt taşlarla iki katlı olarak inşa edilen konağın otantik dekorasyonlarla süslü odalarında yazarın kişisel eşyalarından tarihi belgelere, dönem mobilyalarından antikalara kadar pek çok objeyi inceleyebilirsin. Geniş avlusunda harika fotoğraflar çekebileceğin, Osmanlı döneminde Diyarbakır’da yapılan en güzel sivil mimari örneklerinden biri olarak kabul edilen konak, hem zengin koleksiyonları hem de büyüleyici mimarisiyle görülmeye değer güzellikte.</p>
<p>
	<a href="https://www.google.com/maps/place/Ziya+G%C3%B6kalp+M%C3%BCzesi/@37.9115532,40.2317915,17z/data=!3m1!4b1!4m5!3m4!1s0x40752037f3ab24b5:0x3e674d945473d3a1!8m2!3d37.9115499!4d40.2339574" target="_blank">Konum Linki</a></p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><b>Açık olduğu saatler</b></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 10.00-16.00</div></li>
</ul>
<h2>
	5. Diyarbakır Kent Müzesi</h2>
<p>
	<img alt="Diyarbakır Kent Müzesi avlusu görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/diyarbakir-kent-muzesi-40223.webp" style="width: 825px; height: 615px;" loading="lazy"></p>
<p>
	Şehrin en çok ziyaret edilen müzelerinden biri olan Diyarbakır Kent Müzesi, büyüleyici güzellikteki Cemil Paşa Konağı’nın taş ve ahşap mimarili odalarında zengin koleksiyonlarıyla çok ilgi görüyor. Diyarbakır’ın binlerce yıllık zengin kültürel yapısını gözler önüne serecek olan kent müzesi, 1500'den fazla esere ev sahipliği yapıyor.</p>
<p>
	Bölgede hakimiyet kuran pek çok medeniyetlerin dinleri, gelenekleri, görenekleri, sosyal yaşam tarzları, yemek kültürleri ve kentsel gelişim süreçlerini görebileceğin Diyarbakır Kent Müzesi’nde ulusal kütüphane, kafe, sinema salon ve çocuklar için atölyeler gibi farklı bölümler de hizmet veriyor. Etkileyici görsel ve işitsel koleksiyonlarıyla da dikkat çeken kent müzesi, Diyarbakır seyahatinde mutlaka uğraman gereken yerler arasında.</p>
<p>
	<a href="https://www.google.com/maps/place/Diyarbak%C4%B1r+Kent+M%C3%BCzesi/@37.9083736,40.2315544,17z/data=!3m1!4b1!4m5!3m4!1s0x407521cdad21bccd:0xe990d8e99208d93b!8m2!3d37.9082893!4d40.2337472" target="_blank">Konum Linki</a></p>
<h2>
	6. Ahmet Arif Edebiyat Müzesi</h2>
<p>
	<img alt="Ahmet Arif Edebiyat Müzesi iç görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ahmet-arif-edebiyat-muzesi-58968.webp" loading="lazy"></p>
<p>
	Diyarbakır'ın en ünlü şairlerinden biri olan Ahmet Arif'in anısına 120 yıllık büyüleyici bir Diyarbakır konağının restore edilmesi ile hizmete açılan Ahmet Arif Edebiyat Müzesi, zengin koleksiyonlarıyla her yıl binlerce kişiyi kendine çekiyor. 2011 yılından beri yüz binlerce kişinin gezdiği, siyah bazalt taşlarla inşa edilmiş konağın dönem mobilyalarıyla süslü odalarında şairin kişisel eşyaları, el yazması şiirleri, resimleri ve fotoğraflarının yanı sıra Diyarbakır’da yetişmiş birçok ünlü şair, yazar ve sanatçıların eserlerini de inceleme şansı bulabilirsin.</p>
<p>
	Binlerce kitaplık zengin kütüphanesiyle de dikkat çeken Ahmet Arif Edebiyat Müzesi’nin asırlık ağaçlarla süslü taş avlusunda çayını yudumlayarak, harika fotoğraflar çekebilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Ahmet+Arif+Edebiyat+M%C3%BCzesi/@37.9130065,40.2334856,17z/data=!3m1!4b1!4m5!3m4!1s0x40752038f068dc2b:0x3f03461a30843778!8m2!3d37.9130023!4d40.2356747!5m1!1e4">Konum Linki</a></p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><b>Açık olduğu saatler</b></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 08.00-17.00</div></li>
</ul>
<h2>
	7. Diyarbakır Kalesi</h2>
<p>
	<img alt="Diyarbakır Kalesi'nin kapıları" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/diyarbakir-kalesi-40230.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Şehrin en önemli simgesi ve tarihi hazinesi olan Diyarbakır Kalesi, turistlerin en çok ziyaret ettiği yerlerden biri. 9000 yıllık olduğu tahmin edilen ve yaklaşık 5 kilometrelik sur duvarlarıyla Çin Seddi'nin ardından dünyanın en uzun ve geniş savunma duvarıyla ünlü olan Diyarbakır Kalesi, 2015 yılında UNESCO Dünya Miras Listesi'ne dahil edildi.</p>
<p>
	Dağ Kapı (Harput Kapısı), Urfa Kapı (Rum Kapısı), Mardin Kapı ve Yeni Kapı (Şat Kapı) isimli 4 tane girişi bulunan, ayrıca İçkale ve Dışkale olarak iki bölüme ayrılan Diyarbakır Kalesi; ilk olarak M.Ö. 2000'li yıllarda Hurriler döneminde yapımına başlanan ve Roma döneminde de inşaatı devam eden devasa suları, birbirinden güzel taş oymalarıyla süslü anıtsal kapıları ve ev sahipliği yaptığı konaklarıyla hem fotoğraf safarileri hem de tarih ve kültür turlarının değişmez adreslerinden.</p>
<p>
	Diyarbakır'ın tarihi yapılarında yaygın olarak kullanılan siyah bazalt taşlarla inşa edilen ve 82 tane burca sahip olan Diyarbakır Kalesi’nin bazı bölümleri de günümüzde güzel sanatlar galerisi olarak kullanılıyor. Artuklu, Selçuklu ve Osmanlı dönemlerinden de izler taşıyan, her dönem çeşitli eklemeler yapılarak geliştirilen Diyarbakır Kalesi’nin şehrin başka bir ünlü doğal güzelliği olan Hevsel Bahçeleri ile birlikte keşfe çıkabilirsin.</p>
<p>
	<a href="https://www.google.com/maps/place/Diyarbak%C4%B1r+Kalesi+ve+Arkeoloji+M%C3%BCzesi/@37.9155583,40.238666,17z/data=!3m1!4b1!4m5!3m4!1s0x4075203eb0e359f7:0x8e5115320e4af4a2!8m2!3d37.9155541!4d40.2408547" target="_blank">Konum Linki</a></p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><b>Açık olduğu saatler</b></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 08.30-17.00</div></li>
</ul>

</body>
</html>
