<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elazığ'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ELAZIĞ</h5>
<p>
    Gakgoşlar diyarı olarak bilinen Elazığ, 4000 yıldan uzun tarihi ve büyüleyici doğal güzellikleriyle keşfedilmeye değer pek çok özel yere sahip. M.Ö. 3000’li yıllarda Harput Antik Kenti’yle bölgenin en önemli yerleşimlerinden biri haline gelen ve uzun süre Harput olarak anılan Elazığ’da antik kentten günümüze kalan Anadolu’nun en güzel kalelerinden Harput Kalesi’nin devasa surlarında unutulmaz bir gün geçirebilirsiniz. Her köşesinde Urartulardan Artuklu, Selçuklu, Osmanlı dönemlerinde uzanan paha biçilmez tarihi yapılarla karşılaşacağınız şehir, onlarca camisi ve türbesiyle inanç turlarının da en önemli adreslerinden biri.
</p>
<h2>Elazığ'da Gezilecek Yerler</h2>
        <ol>
            <li>Hazar Gölü</li>
            <li>Harput Kalesi</li>
            <li>Keban Barajı</li>
            <li>Elazığ Kültür Park</li>
            <li>Çırçır Şelalesi</li>
<h2>
	1- Hazar Gölü</h2>
<p>
	<img alt="hazar gölü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/hazar-golu-40622.webp" loading="lazy"></p>
<p>
	Sadece Elazığ'ın değil, Türkiye'nin de büyüleyici doğa harikalarından biri olan Hazar Gölü, Elazığ'a 20 kilometre uzaklıkta keyifli bir doğa gezisi sunuyor. Deniz seviyesinden yaklaşık 1250 metre yükseklikte yer alan ve yeşil ile mavinin buluştuğu muhteşem manzaralara şahit olacağınız göl, çevresindeki huzurlu bir atmosferde tatil yapabileceğiniz turistik tesisler ve balık restoranları için de çok ziyaret ediliyor.</p>
<p>
	Sularının altındaki batık şehirle ünlü olan Hazar Gölü'nde batık şehir tekne gezilerine katılabilir veya dalış yaparak benzersiz su altı fotoğrafları çekebilirsiniz. Dağ eteklerindeki pistlerden yamaç paraşütü yaparak kuş bakışı manzaralarını da izleyebileceğiniz Hazar Gölü’nün tertemiz sularında ise sıcak yaz günlerinde doyasıya yüzerek güzel bir gün geçirebilirsiniz. Çevre şehirlerden de her yıl binlerce insanın tatil yapmak için uğradığı göl, masmavi sonsuz manzarasıyla halk arasında Hazar Denizi olarak anılıyor. İyi düzenlenmiş yürüyüş parkurlarında keşfe çıkabileceğiniz ve dağ eteklerinden panoramik fotoğraflarını çekebileceğiniz Hazar Gölü’nün mesire alanlarında da çocuklarınızla dinlendirici bir gün geçirebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Hazar+G%C3%B6l%C3%BC,+Elaz%C4%B1%C4%9F/data=!4m2!3m1!1s0x40769c33d81b1d67:0xd0bd4a42c7294818?sa=X&amp;ved=2ahUKEwjIgcDmwMX2AhUdSvEDHa0uDwIQ8gF6BAgzEAE" target="_blank">Konum Linki</a></p>
<h2>
	2- Harput Kalesi</h2>
<p>
	<img alt="harput kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/harput-kalesi-40623.webp" loading="lazy"></p>
<p>
	Elazığ'ın en çok ziyaret edilen tarihi hazinesi olan Harput Kalesi, M.Ö. 8 yüzyıl Urartular döneminden günümüze kalan bir şaheser. Şehre hakim yüksek bir tepe üzerinde konumlanan devasa kale, uzun tarihi boyunca pek çok efsaneye konu olmuş. Dikdörtgen planlı olarak, iç kale ve dış kale bölümleriyle tasarlanan Harput Kalesi, yüzlerce metrelik kesme taşlarla inşa edilmiş kalın surlarıyla günümüze kadar sağlam kalmayı başarmış. Kaleye uzun tarihinde Abbasiler, Bizanslılar, Selçuklular ve Osmanlılar döneminde de çarpıcı eklemeler yapılmış.</p>
<p>
	Görkemli kaleler üzerindeki görülmeye değer manzarasıyla Anadolu'daki en güzel kalelerden biri olarak gösterilen ve surlarından panoramik Elazığ manzaralarının fotoğraflarını çekebileceğiniz Harput Kalesi’nin içinde gezerken farklı dönemlerde inşa edilmiş cephanelik, su sarnıcı, darphane, depo, hastane, cami ve yaşam alanları arasında unutulmaz bir tarih gezisi yapabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Harput+Kalesi/@38.7041358,39.2551207,17z/data=!3m1!4b1!4m5!3m4!1s0x4076c74b4d0f46cd:0xf8249460d930ef5b!8m2!3d38.7041316!4d39.2573094" target="_blank">Konum Linki</a></p>
<h2>
	3- Keban Barajı</h2>
<p>
	<img alt="keban barajı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/keban-baraji-40624.webp" loading="lazy"></p>
<p>
	Elazığ merkezine yaklaşık 1 saat uzaklıkta yer alan ve Türkiye'nin en büyük hidroelektrik santrallerine ev sahipliği yapan Keban Barajı, çevresindeki turistik tesislerle şehrin sevilen gezi alanlarından biri konumunda. Türkiye'nin en büyük 2. yapay gölü olan Keban Barajı Gölü ile sıcak yaz günlerinin değişmez adreslerinden biri haline gelen barajın çevresinde çocuklarınızla piknik yapabileceğiniz mesire alanları, temiz havada yürüyüş yapabileceğiniz trekking parkurları ve panoramik fotoğraflar çekebileceğiniz seyir terasları gibi imkanlar bulabilirsiniz. Balık tutma alanlarıyla da yılın yorgunluğunu atabileceğiniz Keban Barajı’nın seyir teraslarından Murat Nehri Vadisi'nin büyüleyici doğal güzelliklerine de şahit olabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Keban+Baraj%C4%B1+G%C3%B6l%C3%BC/@38.6491826,39.4793007,15z/data=!3m1!4b1!4m5!3m4!1s0x4076a529ddcef6c5:0x44097d8bc6a9edea!8m2!3d38.6491667!4d39.4880556" target="_blank">Konum Linki</a></p>
<h2>
	4- Elazığ Kültür Park</h2>
<p>
	<img alt="kültür park elazığ" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kultur-park-elazig-40625.webp" loading="lazy"></p>
<p>
	2015 yılında tamamlanarak ziyarete açılan Elazığ Kültür Park, şehrin en büyük parkı ve en popüler rekreasyon alanlarından biri. Doğu Anadolu ve Güneydoğu Anadolu bölgelerinin en büyük şehir parkı olan ve deniz seviyesinden 1060 metre yükseklikte 245 hektarlık geniş bir alanı kaplayan Elazığ Kültür Park; kilometrelerce uzanan yürüyüş parkurları, bisiklet yolları, çocuk oyun alanları ve çay bahçeleriyle güzel bir mola vermek için ideal.Geceleri rengarenk aydınlatılan süs havuzlarının fotoğraflarını çekebileceğiniz, spor alanlarında hafta sonu sporunuzu yapabileceğiniz park, yıl boyu pek çok kültürel ve sanatsal etkinliğe de ev sahipliği yapıyor. Elazığ Kültür Park’a şehir merkezinden 20 dakikalık bir yürüyüşle veya toplu taşıma araçlarıyla kolaylıkla gidebilirsiniz. <a href="https://www.enuygun.com/otel/elazig-1188/" target="_blank">Elazığ otelleri</a> arasından tercihinizi de bu bölgeye yakın bir konumda planlayabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Elaz%C4%B1%C4%9F+K%C3%BClt%C3%BCr+Park/@38.672652,39.2219144,17z/data=!4m5!3m4!1s0x4076c06c5a48f807:0xd7680a56cb396d92!8m2!3d38.671172!4d39.2065559" target="_blank">Konum Linki</a></p>
<h2>
	5- Çırçır Şelalesi</h2>
<p>
	<img alt="circir-selalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/circir-selalesi-52582.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Elazığ gezilerinde her doğa severin mutlaka keşfetmesi gereken büyüleyici güzelliklerinden biri de Çırçır Şelalesi. Yaz aylarında düzenlenen trekking turları ve fotoğraf safarileriyle keşfe çıkabileceğiniz çarpıcı şelale, Erzurum'a sadece 5 kilometre uzaklıkta. Keban Barajı Gölü’nün sularıyla beslenen ve sarp kayalar arasından dökülen bembeyaz sularıyla büyüleyici bir manzara sunan Çırçır Şelalesi, 1974 yılında doğal bir şekilde oluşmuş dünyanın en genç şelalelerinden biri olmasıyla da çok ilgi görüyor.</p>
<p>
	Çevresinde hizmet veren alabalık restoranları, kır bahçeleri ve mesire alanlarıyla yaz aylarının sevilen adreslerinden biri haline gelen Çırçır Şelalesi, sadece Elazığ'dan değil çevre şehirlerden gelen binlerce kişi tarafından da ziyaret ediliyor. Seyir teraslarından en güzel fotoğraflarını çekebileceğiniz Çırçır Şelalesi’nde yöresel ürünler satın alabileceğiniz hediyelik eşya tezgahları gibi olanaklar da bulabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87%C4%B1r%C3%A7%C4%B1r+%C5%9Eelalesi+Keban+Alabal%C4%B1k+Tesisleri/@38.785186,38.7498052,17z/data=!3m1!4b1!4m5!3m4!1s0x40771ed700000001:0x97e754ee3a8cb8a6!8m2!3d38.7851818!4d38.7519939" target="_blank">Konum Linki</a></p>


</body>
</html>
