<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erzurum'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ERZURUM</h5>
<p>
 Ülkemizin en eski yerleşim alanlarından biri olan Erzurum, deniz seviyesinden 1900 metre yükseklikte yer alıyor ve Palandöken Kayak Merkezi gibi popüler kış turizmi merkezleriyle her yıl binlerce turisti misafir ediyor. Hem şehir içinde hem de ilçelerinde Selçuklu ile Osmanlı dönemlerinden kalan büyüleyici medreseler, kaleler, kümbetler ve tarihi çeşmelerle karşılaşacağınız Erzurum, tarih meraklıları için adeta bir cennet.
    Kısa yürüyüşlerle ulaşabileceğiniz mimari şaheserler Çifte Minareli Medrese, Yakutiye Medresesi, Üç Kümbetler ve tarihi Erzurum evlerinin yanı sıra Osmanlı-Rus Harbi sırasında savunma amacıyla kullanılan devasa tabyalara da şehri gezerken mutlaka uğramalısınız. Milli Mücadele Dönemi’nin en önemli adımlarından biri olan Erzurum Kongresi’nin gerçekleştirildiği salonu gezebileceğiniz, Narman Peribacaları gibi etkileyici doğa harikalarını yakından görebileceğiniz Erzurum’da Türkiye’nin en büyük şelalesi Tortum Şelalesi’nde ve dünyanın en hızlı akan nehirlerinden biri olan Çoruh Nehri’nde de harika fotoğraflar çekebilirsin
</p>

<h2>Erzurum'da Gezilecek Yerler</h2>
        <ol>
            <li>Palandöken Kayak Merkezi</li>
            <li>Tortum Şelalesi</li>
            <li>Tarihi Erzurum Evleri</li>
            <li>Çifte Minareli Medrese</li>
            <li>Yakutiye Medresesi</li>
            <li>Erzurum Kalesi</li>
            <li>Çoruh Nehri ve Çoruh Vadisi</li>
<h2>
	1- Palandöken Kayak Merkezi</h2>
<p>
	<img alt="palandöken" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/palandoken-40572.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Kış aylarındaki sert iklimiyle bilinen Erzurum, Türkiye'nin en popüler kış tatili merkezlerinden biri olan Palandöken Kayak Merkezi’yle kış turizmi açısından en önemli şehirlerimizden biri. 6 aydan daha uzun bir kayak sezonuna sahip olan ve 3125 metre yükseklikteki Palandöken Dağı eteklerinde hizmet veren kayak merkezi, 1993 yılında açıldığı günden beri her yıl binlerce yerli ve yabancı turistleri misafir ediyor.</p>
<p>
	Dünya standartlarında tasarlanmış kayak pistleriyle günde 12.000 kişinin aynı anda kayak yapmasına imkan veren merkezde 10 telesiyej, 2 baby lift, 1 teleski ve 1 gondol lift gibi teknik olanaklar da sunuluyor. Telesiyejlerle ulaşabileceğiniz 1000 metre yükseklikteki Ejder Tepesi’nde muhteşem panoramik kış fotoğrafları çekebileceğiniz Palandöken’in kolay, orta ve zor olarak düzenlenmiş pistlerinde ise her yaş grubu için kayak ve snowboard eğitimleri de alabilirsiniz.</p>
<p>
	Alp disiplini ve snowboard yapmak için özel pistleri olan ve yıl boyu dağcılık, yamaç paraşütü, paintball gibi pek çok etkinliğin düzenlendiği Palandöken Kayak Merkezi’nde kış aylarında rehberli kar yürüyüşlerine çıkarak Palandöken Dağı'nın zirvelerini keşfedebilirsiniz. Turizm olanakları bakımından oldukça gelişmiş olan Palandöken Kayak Merkezi’nde kaliteli kayak otellerinden ekipmanlar kiralayabileceğiniz tesislere, kaliteli restoranlardan kafelere kadar pek çok olanak bulabilirsiniz. Erzurum'a sadece 5 kilometre uzaklıktaki kayak merkezine toplu taşıma araçların yanı sıra taksiler veya otel servisleriyle de kolayca ulaşabilirsiniz.</p>


<p>
	<a href="https://www.google.com/maps/place/Paland%C3%B6ken+Kayak+Merkezi/@39.8600144,41.2726995,17z/data=!3m1!4b1!4m5!3m4!1s0x406e5e41570f6d41:0xdd7352779872f776!8m2!3d39.8600103!4d41.2748882" target="_blank">Konum Linki</a></p>
<h2>
	2- Tortum Şelalesi</h2>
<p>
	<img alt="tortum şelalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tortum-selalesi-40573.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Erzurum'un en bilinen ve çok ziyaret edilen doğa harikalarından biri olan Tortum Şelalesi, Türkiye'nin en büyük, dünyanın ise 3. büyük şelalesi olmasıyla özel bir öneme sahip. 48 metre yükseklik ve 21 metre genişliğiyle benzersiz bir manzara sunan Tortum Şelalesi’ni özellikle bahar ve yaz aylarında düzenlenen fotoğrafçılık ve doğa gezileriyle keşfe çıkabilir, büyüleyici doğal güzellikler arasında yılın yorgunluğunu atabilirsiniz.</p>
<p>
	Heyelanla oluşan Tortum Gölü’nün en sevilen trekking parkurlarından biri olan ve bölgenin doğa sporları merkezlerinden biri haline gelen Tortum Şelalesi’nin çevresinde mesire alanları, iyi düzenlenmiş yürüyüş parkurları ve kaya tırmanma alanları gibi olanaklar da bulabilirsiniz. Tortum Şelale’nde kalabalıklardan uzakta dinlendirici bir piknik yapabilir, seyir teraslarından ise kartpostal güzelliğinde fotoğraflar çekebilirsiniz.</p>

<p>
	<a href="https://www.google.com/maps/place/Tortum+%C5%9Eelalesi/@40.6574945,41.6499864,15z/data=!3m1!4b1!4m5!3m4!1s0x4068c3e9c8ed0621:0xc7b567507aa36060!8m2!3d40.6574791!4d41.6587412" target="_blank">Konum Linki</a></p>
<h2>
	3- Tarihi Erzurum Evleri</h2>
<p>
	<img alt="erzurum" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/erzurum-40574.webp" loading="lazy"></p>
<p>
	Binlerce yıllık bir tarihe sahip olan Erzurum'un her köşesi büyüleyici taş ve ahşap mimarili evlerle çevrili. Günümüzde 100 kadarı koruma altına alınan tarihi Erzurum evleri, sert kış koşullarına uygun olarak kalın kesme taşlarla ve çoğunlukla iki katlı olarak inşa edilmiş. En güzel örneklerini Yakutiye ilçesinin tarihi sokaklarında görebileceğiniz Erzurum evlerinin bazıları restore edilerek günümüzde müze ve sanat galerisi olarak hizmet veriyor.</p>
<p>
	Müze olarak hizmet veren tarihi Erzurum evlerinde şehrin kültürüne yansıtan yöresel mobilyalar, günlük ev eşyaları ve antikalarla süslü taş odaların yanı sıra yer sofraları, şark köşeleri ve divanları da inceleyerek harika fotoğraflar çekebilirsiniz. Kafe ve restoran olarak hizmet veren evlerde ise geleneksel Doğu Anadolu mutfağından en güzel lezzetleri tadarak otantik atmosferinin tadını çıkarabilirsiniz.</p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Haftanın her günü 08.00-23.00</li>
</ul>

<p>
	<a href="https://www.google.com/maps/place/Tarihi+Erzurum+Evleri/@39.9055417,41.2736133,17z/data=!3m1!4b1!4m5!3m4!1s0x406e5f0e8365166d:0x7a4414b51989340f!8m2!3d39.9055376!4d41.275802" target="_blank">Konum Linki</a></p>
<h2>
	4- Çifte Minareli Medrese</h2>
<p>
	<img alt="çifte minareli medrese" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cifte-minareli-medrese-40575.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Erzurum'un simgesel yapılarından biri olan ve ziyaretçilerini büyüleyici mimarisiyle etkileyen Çifte Minareli Medrese, 13. yüzyılda Selçuklular döneminden günümüze kalan bir şaheser. Hatuniye Medresesi olarak da tarihi kayıtlarda geçen ve ünlü Selçuklu sultanlarından Alâeddin Keykubad’ın kızı Hundi Hatun tarafından inşa ettirilen devasa medrese, Selçuklu klasik mimari özelliklerini en iyi görebileceğiniz yapılar arasında. Etkileyici bitkisel desenlerin yanı sıra Orta Asya simgelerinden kartal ve yılan figürleriyle de süslü olan, el yapımı taş kabartmalarıyla her köşesi sanat eserini andıran Çift Minareli Medrese, tarihi atmosferini günümüze kadar korumayı başarmış.</p>
<p>
	Osmanlı döneminde kışla, Cumhuriyet döneminde ise müze olarak kullanılan Çifte Minareli Medrese, günümüzde de içindeki sergi salonlarında Erzurum'un tarihi ve kültürel dokusunu yansıtan yüzlerce etnografik esere ev sahipliği yapıyor. Her yıl binlerce yerli ve yabancı turist tarafından ziyaret edilen, iki katlı ve açık avlulu olarak tasarlanan tarihi medresesinin taş mimarili eğitim odalarını gezebilir; çarpıcı taç kapısı ve turkuaz renkli çinilerle süslü minaresinin harika fotoğraflarını çekebilirsiniz.</p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu günler</strong></p>
<ul>
	<li>
		Cumartesi ve pazartesi günleri kapalı</li>
	<li>
		Diğer günler 09.00-18.00</li>
</ul>

<p>
	<a href="https://www.google.com/maps/place/%C3%87ifte+Minareli+Medrese/@39.9058096,41.2761686,17z/data=!3m1!4b1!4m5!3m4!1s0x406e5f0c42f74281:0xf67a98feb11ed22e!8m2!3d39.9058455!4d41.2783487" target="_blank">Konum Linki</a></p>
<h2>
	5- Yakutiye Medresesi</h2>
<p>
	<img alt="yakutiye medresesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yakutiye-medresesi-40576.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Günümüzde Türk İslam Eserleri ve Etnografya Müzesi olarak hizmet veren Yakutiye Medresesi, Erzurum'un en önemli ve mutlaka görülmesi gereken tarihi yapılarından biri. 1310 yılında İlhanlı hükümdarı Sultan Olcaytutarafından inşa ettirilen büyüleyici taş yapı, Anadolu inşa edilmiş en büyük kapalı avlulu, eyvanlı ve revaklı medrese olmasıyla da özel bir tarihi öneme sahip. Orijinal mimarisini günümüze kadar korumayı başaran ve uzun yıllar boyunca dini eğitimlerin verildiği tarihi medrese, 1991 yılında restore edilerek etnografya müzesi olarak hizmete açıldı.</p>
<p>
	Büyüleyici taş kabartmalarında insan, çift başlı kartal ve hayat ağacı gibi Orta Asya Türk kültüründen simgelerin tasvir edildiği Yakutiye Medresesi’nin iç bölümlerini gezerek Erzurum'un binlerce yıllık kültürünü yansıtan yüzlerce etnografik eseri inceleme şansı da bulabilirsiniz.</p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu günler</strong></p>
<ul>
	<li>
		Haftanın her günü 08.00-17.00</li>
</ul>

<p>
	<a href="https://www.google.com/maps/place/Yakutiye+Medresesi/@39.906393,41.2700336,17z/data=!3m1!4b1!4m5!3m4!1s0x406e5f0e1ea3baed:0x3595f8e55569aee0!8m2!3d39.9063577!4d41.2722278" target="_blank">Konum Linki</a></p>
<h2>
	6- Erzurum Kalesi</h2>
<p>
	<img alt="erzurum kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/erzurum-kalesi-40577.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	2000 metre uzunluğu bulan devasa surlarıyla şehrin en önemli tarihi hazinelerinden biri olan Erzurum Kalesi, yerli ve yabancı turistlerin ilk uğradığı yerlerden biri. 415 yılında Roma İmparatorluğu döneminde inşa edilen ve uzun tarihinde Asur, Pers, Roma, Bizans, Osmanlı dönemlerinde aktif olarak kullanılan devasa kaleye Saltuklu Beyliği döneminde de İslami mimari özelliklerini yansıtan çeşitli eklemeler yapılmış.</p>
<p>
	Erzurum'a hakim bir konumda görkemli manzarası ile hemen dikkatinizi çekecek olan Erzurum Kalesi’nin bulunduğu alanda yerleşimin 2500 yıl öncesinde başladığı söyleniyor. İç Kale Mescidi, Kırklar Türbesi, Ebu İshak Kazeruni Türbesi ve Ali Ağa Çeşmesi gibi önemli Osmanlı dönemi eserlerine ev sahipliği yapan kalenin etkileyici bölümlerini gezebilir; Tebriz Kalesi, Erzincan Kalesi, Gürcü Kalesi, İstanbul Kapı ve Yenikapı gibi anıtsal kapıların harika fotoğrafları çekebilirsiniz. Geceleri aydınlatıldığında en güzel manzaralarını görebileceğiniz Erzurum Kalesi’nin surları ve kulelerinden ise şehrin panoramik manzaralarını izleyebilirsiniz.</p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu günler</strong></p>
<ul>
	<li>
		Haftanın her günü 08.00-18.30</li>
</ul>

<p>
	<a href="https://www.google.com/maps/place/Erzurum+Kalesi/@39.907569,41.277064,15z/data=!4m2!3m1!1s0x0:0x7e73b464e2dd2582?sa=X&amp;ved=2ahUKEwjOlYvZ67_2AhV_SPEDHZm8CEoQ_BJ6BAg1EAU" target="_blank">Konum Linki</a></p>
<h2>
	7- Çoruh Nehri ve Çoruh Vadisi</h2>
<p>
	<img alt="çoruh nehri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/coruh-nehri-40578.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
<p>
	Erzurum'un hemen kuzeyinde uzanan Mescit Dağları’ndan başlayan, vadiler ve boğazlar oluşturarak 150 kilometre boyunca ilerleyen Çoruh Nehri, büyüleyici güzellikleriyle dünyanın her yerinden doğa ve fotoğraf meraklılarını kendine çekiyor. Erzurum'un İspir ilçesi sınırlarından geçen Çoruh Nehri’nin çevresi, her zorluk derecesine göre düzenlenmiş trekking parkurları ile bölgenin en sevilen yürüyüş rotaları arasında.</p>
<p>
	Dünyanın en hızlı akan nehirlerinden biri olmasıyla ünlü Çoruh Nehri’nde yaz aylarında 100 kilometrelik oldukça zorlu parkurlarda uzmanlarla birlikte rafting ve kano gibi su sporları yaparak heyecan dolu zamanlar geçirebilirsiniz. Nehir, balık bolluğundan dolayı sessiz ortamda balık avlayarak yorgunluk atmak için de sıkça ziyaret ediliyor.</p>
<p>
	Kızıl akbaba gibi pek çok nadir görülen kuş türlerine ev sahipliği yapan Çoruh Nehri ve Çoruh Vadisi'ni her mevsim düzenlenen rehberli turlarla keşfe çıkabilir, doğal seyir teraslarında bölgenin muhteşem panoramik manzaralarını izleyebilirsiniz. Çoruh Nehri; onlarca endemik bitki türü, yüzlerce kuş ve kelebek türü ile doğa tutkunlarının görmesi gereken tabiat cennetlerimizden biri.</p>
<p>
	<a href="https://www.google.com/maps/place/%C3%87oruh+Nehri/@40.8803682,39.810487,8z/data=!4m9!1m2!2m1!1s%C3%87oruh+vadisi!3m5!1s0x40678564c5895fc1:0xf1a1db764f104925!8m2!3d40.6460011!4d41.2117767!15sCg3Dh29ydWggdmFkaXNpWg8iDcOnb3J1aCB2YWRpc2mSAQVyaXZlcpoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VObmJVdDFUWEpuUlJBQg" target="_blank">Konum Linki</a></p>



</body>
</html>
