<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eskişehir'de Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ESKİŞEHİR</h5>
<p>
  İç Anadolu Bölgesi'nin en kendine özgü şehirlerinden biri olan Eskişehir, Anadolu Üniversitesi ve Osmangazi Üniversitesi gibi iki büyük üniversitesiyle tam bir öğrenci şehri olarak biliniyor. Son 20 yılda yapılan yeniliklerle Türkiye’nin örnek şehirlerinden biri haline gelen Eskişehir, Porsuk Çayı çevresinde sıralanan turistik tesislerinin yanı sıra ülkemizin en büyük şehir parklarından biri olan Sazova Bilim, Kültür ve Sanat Parkı ile de ünlü.

Şehri ortadan ikiye bölen ve Venedik kanallarına benzer bir manzara oluşturan Porsuk Çayı’nda yapılan gondol gezilerinin çok sevildiği Eskişehir’in her köşesi yemyeşil parklar, mesire alanları, spor sahaları ve çocuk oyun bahçeleri ile çevrili. Parkları kadar dünya standartlarındaki müzeleriyle de ünlü olan Eskişehir’de havacılık müzelerinden ahşap el sanatları müzelerine kadar müze gezmeyi sevenler için onlarca farklı seçenek var.
</p>

<h2>Eskişehir'de Gezilecek Yerler</h2>
        <ol>
            <li>Sazova Bilim, Kültür ve Sanat Parkı</li>
            <li>Odunpazarı Modern Müze (OMM)</li>
            <li>Odunpazarı</li>
            <li>Porsuk Çayı</li>
            <li>Odunpazarı Evleri</li>
            <li>Eskişehir Balmumu Heykeller Müzesi</li>
            <li>Eskişehir Çağdaş Cam Sanatları Müzesi</li>
            <li>Eskişehir Masal Şatosu</li>
            <li>Eskişehir Adalar Bölgesi</li>
            <li>Doktorlar Caddesi</li>


<h2>
	<strong>1- Sazova Bilim, Kültür ve Sanat Parkı</strong></h2>
<p>
	<strong><img alt="Eskişehir'deki Sazova Parkı'ndaki (Bilim Sanat ve Kültür Parkı) Masal Kalesi." src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sazova-park-20712.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Tepebaşı ilçesi Sazova Mahallesi'nde 400.000 m2 gibi devasa bir alan üzerinde 2008 yılında ziyarete açılan Sazova Bilim, Kültür ve Sanat Parkı, Eskişehir'in en bilinen simgelerinden biri ve en büyük parkı. Etkileyici bölümleriyle tüm dünyanın ilgisini çeken ve Türkiye'nin en büyük en güzel parkları arasında yer alan Sazova Bilim, Kültür ve Sanat Parkı’nın içerisinde 1200 kişilik açık hava konser salonu, yapay gölet, su sporları olanakları, Japon bahçesi, bilim merkezleri, müzeler, yürüyüş yolları, restoranlar ve kafeler gibi pek çok farklı bölüm var.</p>
<p>
	Çocukların çok sevdiği masal şatosu, hayvanat bahçesi, oyun alanları, su altı dünyası ve etkinlik alanlarının da bulunduğu parkın Sazova Bilim Deney Merkezi’nde ise Türkiye’nin ilk uzay evini ziyaret edebilirsiniz. Yılın her dönemi eğlenceli ve öğretici etkinliklerle hareketli olan park, hem çocuklu aileler hem de spor severlerin Eskişehir’de kesinlikle uğraması gereken yerler arasında.</p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Açık olduğu saatler</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 10.00-17.00</div></li>
</ul>
<p>
	<a href="https://www.google.com/maps/place/Sazova+Bilim+Park%C4%B1/@39.7663734,30.4736931,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc16f6ad649637:0x3fdb331065245db6!8m2!3d39.7663693!4d30.4758818" target="_blank">Konum Linki</a></p>
<h2>
	<strong>2- Odunpazarı Modern Müze (OMM)</strong></h2>
<p>
	<strong><img alt="Odunpazarı Modern Müze yakın görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/odunpazari-modern-muze-36991.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Eskişehir'in Odunpazarı semtinde, Atatürk Bulvarı üzerinde ahşap mimarili ultra modern binası ile hemen dikkat çeken Odunpazarı Modern Müze (OMM), Türkiye'nin yanı sıra dünyanın pek çok ülkesinden modern ve çağdaş sanat eserlerinin sergilendiği koleksiyonlara sahip. Müze, sadece Eskişehir'in değil Türkiye'nin de en büyük ve en güzel sanat müzelerinden biri olarak gösteriliyor.</p>
<p>
	Onlarca uluslararası ödül kazanan Odunpazarı Modern Müze’de kalıcı sergilerin yanı sıra bazı dönemlerde geçici sergiler, workshoplar, atölyeler ve sanatçılarla söyleşiler gibi onlarca çeşit etkinliğe katılabilirsiniz. Pazartesi hariç her gün 10:00 ile 18:00 saatleri arasında ziyaret edebileceğiniz Odunpazarı Modern Müze’nin ahşap el sanatı bölümlerini de mutlaka gezmenizi öneririz.</p>

<p>
	<a href="https://www.google.com/maps/place/Odunpazar%C4%B1+Modern+M%C3%BCze+(OMM)/@39.7646885,30.5204812,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc161c9c711fd7:0x6ef38d5a759c164f!8m2!3d39.7646216!4d30.5226496" target="_blank">Konum Linki</a></p>
<h2>
	<strong>3- Odunpazarı </strong></h2>
<p>
	<strong><img alt="Eskişehir’in en eski yerleşim bölgesi  Odunpazarı renkli evler görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/odunpazari-36981.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Eskişehir’in en eski yerleşim bölgesi ve tarihi kalbi olan Odunpazarı ilçesi, aynı zamanda şehrin kültürel merkezi konumunda. UNESCO Dünya Mirası Geçici Listesi’nde yer alan Odunpazarı merkezi, kentsel sit alanı olarak korunuyor. Geleneksel Anadolu ve Türk mimarisinin en güzel örneklerini görebileceğiniz Arnavut kaldırımlı sokakları ve birbirinden güzel ahşap konakları ile sadece Eskişehir'de değil, Türkiye'de düzenlenen fotoğraf safarileri ve kültür gezilerinin de en önemli adreslerinden biri olan Odunpazarı’nda 300'den fazla tarihi ev, camiler, külliyeler, hanlar ve kervansaraylar sıralanıyor.</p>
<p>
	Evliya Çelebi’nin de kitaplarında güzelliğinden bahsettiği Odunpazarı’nın tarihi çarşılarında hizmet veren geleneksel el sanatları atölyeleri, alışveriş için Eskişehir’de ilk uğramanız gereken yerler arasında. Her sokağının büyüleyici manzaralar sunduğu Odunpazarı’nda her mevsim muhteşem fotoğraflar çekeceksiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Tarihi+Odunpazar%C4%B1+Evleri/@39.7650741,30.5194053,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc161b65adf1e7:0xe2049d97b8973319!8m2!3d39.7650724!4d30.5216171" target="_blank">Konum Linki</a></p>
<h2>
	<strong> 4- Porsuk Çayı</strong></h2>
<p>
	<strong><img alt="venedik kanalına benzeyen Porsuk Çayı Eskişehir görümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/porsuk-cayi-eskisehir-1842.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Eskişehir'in merkezinden geçen ve Venedik benzeri çarpıcı bir manzara oluşturan Porsuk Çayı, şehri Tepebaşı ve Odunpazarı olarak iki bölüme ayrılıyor. Şehrin en önemli turistik merkezlerinden biri haline gelen Porsuk Çayı’nda gondol ve tekne gezilerine katılarak unutulmaz bir gün geçirebilirsiniz. Kafeler, restoranlar, kitap evleri, çay bahçeleri, eğlence mekanları ve etkinlik alanlarıyla çevrili 448 metre uzunluğundaki Porsuk Çayı’nda köprüler, yürüyüş parkurları, bisiklet yolları ve çiçek bahçeleri arasında keyifli bir gezi yapabilirsiniz. Geceleri eşsiz aydınlatmalarla büyülü bir atmosfere sahip olan Porsuk Çayı, Eskişehir’de romantik bir akşam yaşamak için de ilk uğramanız gereken yer.</p>
<p>
	<a href="https://www.google.com/maps/place/Porsuk+%C3%87ay%C4%B1/@39.6499109,30.3085127,13z/data=!3m1!4b1!4m5!3m4!1s0x14cc1c6fc29d5611:0xbe3e7670eee15c45!8m2!3d39.6498501!4d30.3435322" target="_blank">Konum Linki</a></p>
<h2>
	<strong>5- Odunpazarı Evleri</strong></h2>
<p>
	<strong><img alt="Eskişehir'in tarihi merkezinde  Odunpazarı Evleri bulunan sokak görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/odunpazari-evleri-36983.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Eskişehir'in tarihi merkezi Odunpazarı ilçesinde sıralanan ve Safranbolu, Beypazarı, Göynük’ün büyüleyici evleri ile mimari özellikleri benzeyen Odunpazarı evleri, UNESCO Dünya Mirası Listesi’nde yer alıyor ve özenle korunuyor. Ahşap ve taş malzemelerle klasik Osmanlı tarzında inşa edilmiş cumbalı Odunpazarı evlerinin bazıları müze, sanat galerisi ve kültür merkezine dönüştürmüş durumda. 300'e yakın evin bulunduğu bölgede bu tarihi evlerin iç bölümlerini gezebilir ve Osmanlı dönemi dekorasyonları arasında o zamanların günlük yaşamı hakkında bilgi alabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Tarihi+Odunpazar%C4%B1+Evleri/@39.7650741,30.5194053,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc161b65adf1e7:0xe2049d97b8973319!8m2!3d39.7650724!4d30.5216171" target="_blank">Konum Linki</a></p>
<h2>
	<strong>6- Eskişehir Balmumu Heykeller Müzesi</strong></h2>
<p>
	<strong><img alt="Orhan Gencebay ve Aşık Veysel Balmumu Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/orhan-gencebay-ve-asik-veysel-balmumu-muzesi-1849.webp" style="width: 821px; height: 545px;" loading="lazy"></strong></p>
<p>
	Eskişehir'in en bilinen müzelerinden biri ve Türkiye'nin ilk balmumu müzesi olarak 19 Mayıs 2013 yılında ziyarete açılan Balmumu Heykeller Müzesi, Eskişehir'de yerli ve yabancı turistlerin ilk ziyaret ettiği yerler arasında. Müzenin koleksiyonlarında başta Mustafa Kemal Atatürk olmak üzere Osmanlı padişahları; Barış Manço, Orhan Gencebay, Müslüm Gürses ve İbrahim Tatlıses gibi ünlü sanatçılar, Albert Einstein gibi bilim insanları, Kemal Sunal’dan Cüneyt Arkın'a kadar pek çok ünlü aktör, Nasrettin Hoca ve Yunus Emre gibi Eskişehir’in simgesel isimleri hatta İngiltere kraliçesinin balmumu heykeli bile bulunuyor.</p>
<p>
	Çocuklu ailelerin de çok eğlenceli zaman geçirebileceği Eskişehir Balmumu Heykeller Müzesi, Odunpazarı ilçesi Atatürk Bulvarı üzerinde kolayca ulaşılabilecek bir konumda yer alıyor.</p>

<p>
	<strong>Çalışma Saatleri</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 10.00-17.00</div></li>
</ul>
<p>
	<a href="https://www.google.com/maps/place/Eski%C5%9Fehir+B%C3%BCy%C3%BCk%C5%9Fehir+Belediyesi+Y%C4%B1lmaz+B%C3%BCy%C3%BCker%C5%9Fen+Balmumu+Heykeller+M%C3%BCzesi/@39.7651859,30.519702,17z/data=!3m1!4b1!4m5!3m4!1s0x14b55d0f2d130af7:0xe41cc716f5e3aa48!8m2!3d39.7651818!4d30.5218907" target="_blank">Konum Linki</a></p>
<h2>
	<strong>7- Eskişehir Çağdaş Cam Sanatları Müzesi</strong></h2>
<p>
	<strong><img alt="Eskişehir Çağdaş Cam Sanatları Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/eskisehir-cagdas-cam-sanatlari-muzesi-37000.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Eskişehir'in Odunpazarı ilçesinde gezebileceğiniz başka bir önemli müze de Türkiye'nin ilk cam sanatları müzesi olarak 2007 yılında ziyarete açılan Eskişehir Çağdaş Cam Sanatları Müzesi. Odunpazarı Evleri Kent Müzesi Kompleksi içerisinde Eskişehir Büyükşehir Belediyesi, Anadolu Üniversitesi ve Cam Dostları Grubu ortaklığı ile kurulan müze, tarihi bir Osmanlı konağında hizmet veriyor. Müzenin koleksiyonlarında 75 Türk sanatçının yanı sıra dünyanın dört bir yanından 12 sanatçının da cam eserleri sergileniyor.</p>
<p>
	İyi düzenlenmiş koleksiyonlarını gezdikten sonra müzenin kütüphanesi ve dokümantasyon merkezinden de faydalanabilirsiniz. Yılın bazı dönemlerinde atölyeler, workshoplar, kültürel ve sanatsal etkinliklerin düzenlendiği Eskişehir Çağdaş Cam Sanatları Müzesi’ne toplu taşıma araçları ile kolayca gidebilir ve pazartesi günleri hariç her gün 10:00 ile 17:00 saatleri arasında müzeyi ziyaret edebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Eski%C5%9Fehir+B%C3%BCy%C3%BCk%C5%9Fehir+Belediyesi+%C3%87a%C4%9Fda%C5%9F+Cam+Sanatlar%C4%B1+M%C3%BCzesi/@39.7651164,30.5197309,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc16588122aae7:0xf12da40ebe1a62e6!8m2!3d39.7650739!4d30.5217273" target="_blank">Konum Linki</a></p>
<p>
	<div class="working-hours-box" data-testid="working-hours-box"><strong>Çalışma Saatleri</strong></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 10.00-17.00</div></li>
</ul>
<h2>
	<strong>8- Eskişehir Masal Şatosu</strong></h2>
<p>
	<strong><img alt="Eskişehir Masal Şatosu yakın görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/eskisehir-masal-satosu-36997.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Sazova Bilim, Sanat ve Kültür Parkı içerisinde yer alan Masal Şatosu, çocuklu ailelerin Eskişehir'de ilk ziyaret etmesi gereken yer. Çizgi filmlerden çıkmış gibi görünen etkileyici şatosundan ismini alan eğlence merkezi, 2014 yılında ziyarete açıldı.</p>
<p>
	Masal Şatosu, Efsaneler Diyarı ve Gizemli Yolculuk gibi farklı bölümleri bulunan eğlence merkezinin faaliyet ve etkinlik alanları ise yıl boyu çocuklar için düzenlenen pek çok etkinliğe ev sahipliği yapıyor. Masal Şatosu’nda her yaş grubu için sanat atölyeleri, drama atölyeleri, yaratıcı yazma ve düşünme atölyeleri gibi birçok atölye veya eğitim de düzenleniyor. Masal Şatosu’nun seyir terasında ise Sazova Bilim, Sanat ve Kültür Parkı’nın en güzel panoramik manzaralarını izleyebilir; kitapçılar ve hediyelik eşya mağazalarında güzel tatil alışverişleri yapabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Eski%C5%9Fehir+B%C3%BCy%C3%BCk%C5%9Fehir+Belediyesi+Masal+%C5%9Eatosu/@39.7604087,30.4711114,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc16fa5ee3dacb:0x3dc74d29fb61f2f!8m2!3d39.7604046!4d30.4733001" target="_blank">Konum Linki</a></p>

<p>
	<b>Açık olduğu saatler</b></p>
<ul>
	<li>
		Pazartesi günleri kapalı</li>
	<li>
		Diğer günler 10.00-17.00</div></li>
</ul>
<h2>
	<strong>9- Eskişehir Adalar Bölgesi</strong></h2>
<p>
	<strong><img alt="eskişehir adalar bölgesi, Porsuk Çayı'nın etrafında sıralanan kafeler, restoranlar ve yürüyüş yolları" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/adalar-bolgesi-43810.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Atatürk Caddesi, Şair Fuzuli Caddesi ve Porsuk Çayı arasında yer alan Adalar Bölgesi, Eskişehir'in en sevilen gezi alanları arasında. Porsuk Çayı'nın etrafında sıralanan kafeler, restoranlar ve yürüyüş yollarıyla güzel bir gezi alanı olan Adalar Bölgesi, Eskişehir'in sosyal hayatının en canlı olduğu yerlerden biri. Hem gündüz hem de geceleri oldukça hareketli olan bölgede yürüyüş yaptıktan sonra Porsuk Çayı manzaraları eşliğinde kahvenizi içebilir ve kış aylarında Eskişehir’in en güzel fotoğraflarını burada çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C4%B0stiklal,+Adalar+Sk.,+26010+Odunpazar%C4%B1%2FEski%C5%9Fehir,+T%C3%BCrkiye/@39.7760188,30.5134035,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc16087183907b:0x5b5f5f2c3e821ca6!8m2!3d39.7760147!4d30.5155922" target="_blank">Konum Linki</a></p>
<h2>
	<strong>10- Doktorlar Caddesi</strong></h2>
<p>
	<strong><img alt="Doktorlar Caddesi akşam görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/doktorlar-caddesi-amirhosseinhasanloo-20148.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
<p>
	Doktor muayenelerinin fazla olmasından dolayı halk arasında Doktorlar Caddesi diye bilinen İsmet İnönü Caddesi, Eskişehir’in en hareketli caddelerinden biri. Tramvayı, çiçeklerle süslü yürüyüş yolları, onlarca mağazası, hediyelik eşya dükkanları, kafeleri ve eğlence merkezleri ile Eskişehir'de sosyal hayatın kalbinin attığı yerlerden biri olan Doktorlar Caddesi, yapı olarak İstanbul'un ünlü İstiklal Caddesi'ne de oldukça benziyor.</p>
<p>
	Hem yürüyüş yapmak hem de alışveriş yapmak için Eskişehir’de ilk gitmeniz gereken en popüler yerlerden biri olan trafiğe kapalı Doktorlar Caddesi'nde gezerken caddeyi süsleyen birbirinden ilginç heykelleri de incelemeyi unutmayın.</p>
<p>
	<a href="https://www.google.com/maps/place/Ho%C5%9Fnudiye,+%C4%B0smet+%C4%B0n%C3%B6n%C3%BC+1+Cd.,+26130+Tepeba%C5%9F%C4%B1%2FEski%C5%9Fehir,+T%C3%BCrkiye/@39.7777341,30.5141895,17z/data=!3m1!4b1!4m5!3m4!1s0x14cc15e2acced573:0x86d37dd9014effb!8m2!3d39.77773!4d30.5163782" target="_blank">Konum Linki</a></p>


</body>
</html>
