<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giresun'da Gezilecek Yerler</title>
	    <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>GİRESUN</h5>
<p>
    Dağ eteklerinde sıralanmış yemyeşil yaylaları, Karadeniz’e hakim konumda inşa edilmiş etkileyici kaleleri, Akdeniz ve Ege’yi aratmayan mavi bayraklı plajlarıyla görülmeye değer pek çok büyüleyici yere sahip Giresun, Doğu Karadeniz Bölgesi’nin en popüler tatil cennetlerinden biri. Tirebolu, Bulancak, Keşap ve Espiye gibi Karadeniz sahili boyunca uzanan turistik ilçeleriyle her yıl binlerce tatilciyi ağırlayan Giresun, yeşil ve mavinin buluştuğu manzarasıyla her mevsim keyifli bir gezi sunuyor.
    Giresun Kalesi, Tirebolu Kalesi, Andoz Kalesi ve Eynesil Kalesi gibi yüzlerce yıldır sağlam kalmış devasa kalelerin surlarından panoramik Karadeniz fotoğrafları çekebileceğiniz Giresun’da Ağaçbaşı Tabiat Parkı, Yedi Değirmenler Tabiat Park ve Kuzalan Tabiat Parkı gibi çok sevilen doğa cennetlerinde de irili ufaklı şelaleler ve buz gibi dereler arasında yılın yorgunluğunu atabilirsiniz. Kümbet Yaylası, Kulakkaya Yaylası, Bektaş Yaylası ve Sis Dağı Yaylası gibi turizm bölgesi ilan edilmiş, Karadeniz’in en güzel yaylalarından bazılarına ev sahipliği yapan Giresun, her köşesinde başka bir doğa güzelliği gizliyor.
</p>

<h2>Giresun'da Gezilecek Yerler</h2>
        <ol>
            <li>Buluncak</li>
            <li>Tirebolu</li>
            <li>Görele</li>
            <li>Espiye</li>
            <li>Şebinkarahisar</li>
            <li>Eynesil</li>
            <li>Keşap</li>
<h3>
	1- Bulancak</h3>
<p>
	Giresun'a sadece 17 kilometre uzaklıkta Karadeniz kıyısında uzanan Bulancak ilçesi, hem yüzlerce yıllık tarihi yapıları hem de masmavi suların tadını çıkarabileceğiniz sahili ile günübirlik geziler yapmak için en ideal yerler arasında. Yemyeşil doğal güzellikleri ve tertemiz havasıyla ilgi gören Bulancak, bölgenin en çok ziyaret edilen yaylalarından biri olan büyüleyici Paşakonağı Yaylası’yla özellikle bahar ve yaz aylarında yüzlerce insanı kendine çekiyor.</p>
<p>
	Kızılağaç, akçaağaç, köknar ve meşe ağaçlarıyla çevrili dağ yamaçlarda sıralanan yaylalarını keyifle gezebileceğiniz, sıcak yaz günlerinde Akdeniz’i aratmayan Burunucu Plajı ve Ayvasıl Plajı’nın masmavi denizinde doyasıya yüzebileceğiniz Bulancak’ta Osmanlı döneminin en büyük ustası Mimar Sinan'ın çıraklık dönemi eseri olan etkileyici Sarayburnu Camii, yüzlerce yıllık Acısu Kaya Kilisesi ve tarihi bir hazine olan Burunucu Camii gibi mimari şaheserleri de yakından görebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Bulancak,+Giresun/data=!4m2!3m1!1s0x4063146cd676e727:0x68c25c0f3a092ec9?sa=X&amp;ved=2ahUKEwiAs_amv5_1AhW6RfEDHU3OAsgQ8gF6BAg1EAE" target="_blank">Konum Linki</a></p>
<h3>
	2- Tirebolu</h3>
<p>
	<img alt="Tirebolu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/tirebolu-39703.webp" loading="lazy"></p>
<p>
	Yeşil ile mavinin buluştuğu büyüleyici güzelliği, sessiz ve huzurlu atmosferiyle sadece Giresun’un değil, Karadeniz'in de en sevilen tatil cennetlerinden biri haline gelen Tirebolu, şehri sadece 40 dakikalık uzaklıkta. Büyüleyici Karadeniz manzaraları eşliğinde keyifli bir günübirlik gezi yapabileceğiniz Tirebolu’da tertemiz sahiliyle çok ilgi gören Tirebolu Plajı, Beygir Kumu Plajı ve Uzunkum Plajı’nda denizin tadını çıkarabilir, Tirebolu sahilinde ise kızıl gün batımı manzaraları eşliğinde akşam yürüyüşlerine çıkabilirsiniz.</p>
<p>
	Karadeniz’in etkileyici simgesel yapılardan olan Tirebolu Kalesi’nin surlarından panoramik Karadeniz ve Tirebolu fotoğrafları çekebileceğiniz gezinizde Harşit Vadisi’ne hakim bir konumda inşa edilen Bedrama Kalesi ve M.Ö. 1300 yılından günümüze kalan çarpıcı Andoz Kalesi’ni de keşfe çıkabilirsiniz.</p>
<p>
	Sahile kadar uzanan dar sokaklarını yüzlerce yıllık tarihi konakların süslediği Tirebolu; taze balıklar ve Karadeniz mutfağından yöresel lezzetler tadabileceğiniz restoranları, yol üstü kafeleri, sahil parkları ve el yapımı yöresel ürünler bulabileceğiniz hareketli çarşılarıyla da keyifli bir gün yaşatıyor. Gezinizde bisiklet kiralayarak Karadeniz'in en güzel sahillerinden biri olarak gösterilen Tirebolu sahilini gezmeyi de unutmayın.</p>
<p>
	<a href="https://www.google.com/maps/place/Tirebolu,+Giresun/data=!4m2!3m1!1s0x406383a11c3a32f3:0x65d620ccf21d381?sa=X&amp;ved=2ahUKEwi7zIXR0Z_1AhV6QvEDHQEqCxUQ8gF6BAg2EAE" target="_blank">Konum Linki</a></p>
<h3>
	3- Görele</h3>
<p>
	<img alt="Görele" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gorele-39691.webp" loading="lazy"></p>
<p>
	Giresun'un Karadeniz kıyısında uzanan başka bir sevilen tatil cenneti olan ve Karadeniz'in İncisi olarak adlandırılan Görele, şehre yaklaşık 62 kilometre uzaklıkta. Her saati bulabileceğiniz minibüslerle kolaylıkla ilçeye ulaşabilir ve keyifli bir gezi yapabilirsiniz. Giresun limanından hareket eden gezi tekneleriyle de kıyılarını keşfe çıkabileceğiniz Görele, büyüleyici doğa harikalarından dolayı doğa gezilerinin en önemli adreslerinden biri.</p>
<p>
	Karla kaplı dağ manzaraları arasında yamaç paraşütü yapabileceğiniz Dokuzgöz Milli Parkı ve çevresini bulutların sardığı bir dağ yamacında uzanan ünlü Sis Dağı Yaylası gibi doğa severler tarafından keşfedilmesi gereken pek çok güzelliği ev sahipliği yapan Görele, masmavi denizin tadını çıkarabileceğiniz Deliklitaş Plajı ve Denizkızı Plajı’yla da yaz aylarının sevilen tatil merkezlerinden biri.</p>
<p>
	<a href="https://www.google.com/maps/place/G%C3%B6rele,+Giresun/@41.0080837,38.8110005,13z/data=!4m5!3m4!1s0x406387d50648453d:0xa665af74018acbcb!8m2!3d41.033277!4d39.002071" target="_blank">Konum Linki</a></p>
<h3>
	4- Espiye</h3>
<p>
	Giresun’dan sadece 30 dakikalık kısa bir yolculuk ulaşabileceğiniz Espiye’de Karadeniz kıyısı boyunca uzanan sahilde ve yüzlerce yıllık tarihi yapılar arasında unutulmaz bir günübirlik gezi yapabilirsiniz. İlçe girişinde bölgeye ve denize hakim yüksek bir tepede yükselen Andoz Kalesi’nin surlarından panoramik manzaraları izlemenizi önerdiğimiz Espiye’de Kanun Köprüsü, Harova Köprüsü, Sınır Köprüsü ve Gelevera Köprüsü gibi tarihi hazineleri de yakından görebilirsiniz.</p>
<p>
	Doğa gezileri ile keşfe çıkabileceğiniz tabiat harikası Yeniköy Mağarası'nın devasa sarkıtları ve dikitlerinin harika fotoğraflarını çekebilir, mağaranın içinden fışkıran şifalı kaynak sularından tadabilirsiniz. Yayla şenlikleri ile ünlü Otçu Yaylası'nın oksijen seviyesi yüksek tertemiz havasında da Espiye gezinizden sonra yorgunluk atabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Espiye,+Giresun/@40.9453964,38.7007256,15z/data=!3m1!4b1!4m5!3m4!1s0x406379a925e3fbff:0x711f8ac7102cb202!8m2!3d40.949744!4d38.708485" target="_blank">Konum Linki</a></p>
<h3>
	5- Şebinkarahisar</h3>
<p>
	Giresun'da keşfe çıkabileceğiniz başka bir güzel ilçe olan Şebinkarahisar; dağ eteklerinde sıralanan yemyeşil yaylaları, el değmemiş doğal güzellikleri ve tarihi yapılarıyla hem doğal severler hem de tarih meraklılarının uğraması gereken yerlerden. İlçede M.Ö. 1. yüzyılda Roma döneminde inşa edilen ve çarpıcı manzarasıyla Giresun’un simgelerinden biri haline gelen Şebinkarahisar Kalesi’ni keyifle gezebilirsiniz.</p>
<p>
	Kültür turlarıyla sıkça ziyaret edilen kayalar içine oyulmuş etkileyici Meryem Ana Manastırı, 1874 yılında inşa edilen Licese Kilisesi, ilk dönem Osmanlı mimari özelliklerini görebileceğiniz 12. yüzyıla tarihlenen Fahrettin Behramşah Camii ve Otlukbeli Savaşı'ndan sonra 1473 yılında Fatih Sultan Mehmet'in anısına yaptırılan Fatih Camii de Şebinkarahisar’da yakından görebileceğiniz tarihi hazineler arasında. Dikmetaş Göleti'ne tertemiz havasında yürüyüşler yapabileceğinizi ve balık tutabileceğiniz Şebinkarahisar’da 1924 yılında Mustafa Kemal Atatürk'ün ziyaretinde kaldığı ve sonradan müzeye çevrilen Atatürk Evi ve Müzesi'ne de uğrayabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/%C5%9Eebinkarahisar,+Giresun/@40.2916829,38.4011838,14z/data=!3m1!4b1!4m5!3m4!1s0x407b479f1b6a28c1:0x2dc05992f2e08c05!8m2!3d40.288496!4d38.422166" target="_blank">Konum Linki</a></p>
<h3>
	6- Eynesil</h3>
<p>
	Giresun'a yaklaşık 1,5 saat uzaklıkta, Karadeniz kıyısında uzanan ve çok ziyaret edilen ilçelerden biri olan Eynesil, Trabzon ile Giresun arasında güzel bir konumda yer alıyor. Hem Roma döneminde denize hakim bir yarımada üzerine inşa edilen simgesel Eynesil Kalesi ve Çağlayan Başı Köprüsü gibi tarihi hazineleri hem de çam ormanları içinde sıralanan birbirinden güzel yaylalarıyla ilçe, pek çok görülmeye değer güzelliğe sahip.</p>
<p>
	Eynesil Kalesi Plajı’nda Karadeniz’in tertemiz sularının tadını çıkarabilir veya balık bolluğu bakımından zengin sularında yılın her mevsimi düzenlenen balık avlama turlarına katılarak Eynesil’de güzel zaman geçirebilirsiniz. Kilometrelerce uzanan sahil yolunda büyüleyici gün batımı manzaraları eşliğinde akşam yürüyüşlerine de çıkabileceğiniz ilçede deniz manzaralı otellerden kaliteli restoranlara kadar pek çok işletme de bulabilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Eynesil,+Giresun/data=!4m2!3m1!1s0x406475e307da11a1:0xcda9f49329ef4ce2?sa=X&amp;ved=2ahUKEwjN5s-tiKf1AhX2RvEDHSFZDJEQ8gF6BAgbEAE" target="_blank">Konum Linki</a></p>
<h3>
	7- Keşap</h3>
<p>
	Giresun’un başka bir büyük ve sevilen turistik ilçesi olan Keşap, şehir merkezine yaklaşık 19 kilometre uzaklıkta ve deniz tatili yapmak isteyenlerin ilk tercih ettiği yerler arasında. Doğal bir şekilde oluşan ve Türkiye haritasını andıran manzarasıyla ünlü Şahin Kayası’nı mutlaka ziyaret etmenizi önerdiğiniz ilçede çevresi kayalarla çevrili olduğu için sert rüzgârlardan korunan ve tertemiz berrak sularıyla çok ilgi gören Uluburun Plajı, Düzköy Plajı ve Çatalkaya Plajı’nda da güzel bir deniz günü yaşayabilirsiniz.</p>
<p>
	Çam ormanları arasında, çarpıcı Karadeniz manzaraları eşliğinde çadır kurabileceğimiz kamp alanları için de sık ziyaret edilen Keşap'ta bahar ve yaz aylarında düzenlenen rehberli yayla turlarına katılarak ise Çakrak, Çıkrıkkap, Turnaobası, Kazankaya, Ağacalı, Karadoğa, Ağlıkkıranı, Güzlekderesi gibi yemyeşil yaylaları gezebilir ve kartpostal güzelliğinde fotoğraflar çekebilirsiniz.</p>
<p>
	<a href="https://www.google.com/maps/place/Ke%C5%9Fap,+Giresun/@40.9117684,38.5029738,15z/data=!3m1!4b1!4m5!3m4!1s0x406371d5c6ee50ef:0x4e5e08c5a757f95b!8m2!3d40.915626!4d38.513043" target="_blank">Konum Linki</a></p>


</body>
</html>
