<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gümüşhane'de Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>GÜMÜŞHANE</h5>
<p>
 Doğu Karadeniz’in küçük ancak bir o kadar da sıcak ve yoğun şehirlerinden biri olan Gümüşhane Tomara şelalesinden Zigana Turizm Merkezi’ne, Santa harabelerinden Limni gölüne oldukça güzel manzaralar vadediyor. Adını yüzlerce yıllık gümüş madenlerinden alan şehir, ayrıca Tarihi İpek Yolu güzergâhında bulunuyor.
</p>

<h2>Gümüşhane'de Gezilecek Yerler</h2>
        <ol>
            <li>Karaca Mağarası</li>
            <li>Tomara Şelalesi Tabiat Parkı</li>
            <li>Limni Gölü Tabiat Parkı</li>
            <li>İkizevler Kent Müzesi</li>
            <li>Artabel Gölleri</li>
            <li>Sarıçiçek Köy Odaları</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">1. Karaca Mağarası</span></h2>
<p dir="ltr">
	<span><img alt="karaca mağarası" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/gumushane-karaca-magrasi-35935.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Gümüşhane’de gezilecek yerler denildiği zaman akla gelen ilk yerlerden biri olan Karaca Mağarası, yerli ve yabancı ziyaretçiler tarafından sene boyunca ilgi görmeyi başarıyor. Torul ilçesinde konumlanan Karaca Mağarası, aynı zamanda şehrin turizminde çok kilit bir rol oynuyor. Giriş bölümünde sadece bir kişinin girebileceği bir alan ziyaretçileri karşılıyor. Fakat mağara içerisinde ilerlemeye başladıkça alanın genişlediğini görebilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Turizme 1996 senesinde kazandırılan bu önemli mağara, toplamda 256 metrelik uzunluğuyla dikkat çekiyor. Karaca Mağarasının yerden yüksekliği ise yaklaşık 18 metre civarında. Mağara, kendi içinde 5 bağımsız bölümden oluşuyor. Karstik oluşumuyla dikkat çeken Karaca Mağarası, hediyelik eşya dükkânları ve dinlenme bölümleri mevcut. Buranın astım hastası olan kişilere iyi geldiğine inanılıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/Karaca+Ma%C4%9Faras%C4%B1/@40.5442858,39.4029794,15z/data=!4m6!3m5!1s0x4064e2c4c8f1fea1:0xdec632a34222ce58!8m2!3d40.5442858!4d39.4029794!16s%2Fm%2F0280cvr?entry=ttu" target="_blank">Konum Linki</a></span></p>

<p dir="ltr">
	<strong><span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Her gün 08.30 ile 17.30 saatleri arasında ziyaret edilebilir.</div></span></p>
	</li>
</ul>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">2. Tomara Şelalesi Tabiat Parkı</span></h2>
<p dir="ltr">
	<span><img alt="Tomara Şelalesi Tabiat Parkı" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/gumushane-tomara-selalesi-35957.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Şehir merkezine epey uzak olmasına rağmen görmeye değer bir güzellik olan Tomara Şelalesi Tabiat Parkı, tam olarak Seydibaba Köyü içerisinde konumlanıyor. Şelale, buradaki halk tarafından “Kırk Gözeler” ismiyle de biliniyor. Buradaki su 25 metrelik yükseklikten akıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">40’a yakın su kaynağından beslenen şelale, çevresinde çok sayıda yürüyüş parkuru barındırıyor. Hem bu yürüme rotalarını hem de bölgedeki yoğun florayı keşfetmek adına buraya gelebilirsin. Şelalenin etrafında alabalık yiyebileceğin çok sayıda restoran bulunuyor. Şiran ilçesine bağlı olan Tomara Şelalesi, 2011 yılından bu yana tabiat parkına dönüştürülmüş durumda. Şelaleye temmuz ayında gelirsen Tomara Şelalesi Kültür Festivali’ne katılabilirsin.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/Tomara+%C5%9Eelalesi/@40.0815483,39.0403542,17z/data=!3m1!4b1!4m6!3m5!1s0x407acf8743dd33e7:0x8efdb27ad575b452!8m2!3d40.0815442!4d39.0429291!16s%2Fg%2F11c6zkbvys?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">3. Limni Gölü Tabiat Parkı</span></h2>
<p dir="ltr">
	<span><img alt="Limni Gölü Tabiat Parkı" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/limni-golu-tabiat-parki-56756.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Torul ilçe sınırlarında yer alan Limni Gölü Tabiat Parkı, başarılı peyzaj çalışmaları sayesinde son yıllarda ciddi bir ilgi görüyor. Zigana Köyünde yer alan bu keyifli destinasyon, etkileyici bir manzara vadediyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Saranoy Yaylası ile iç içe olan Limni Gölü Tabiat Parkı’nın 1720 rakıma sahip olduğunu belirtelim. Uzun yıllar piknik alanı olarak kullanılsa da son dönemde burası tabiat parkı olarak hizmet görüyor. Buranın farklı noktalarında çardak, dinlenme alanı, çocuk oyun bölgesi ya da bungalov evleri ile karşılaşabilirsin. Şehir merkezine yaklaşık 60 km sürüş mesafesi bulunan Limni Gölü Tabiat Parkı, ceylandan karacaya çok sayıda hayvana ev sahipliği yapıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/Limni+G%C3%B6l%C3%BC+Tabiat+Park%C4%B1/@40.609399,39.4103728,17z/data=!3m1!4b1!4m6!3m5!1s0x4064fb8b0c52a25f:0x24276dbab209003b!8m2!3d40.609395!4d39.4129477!16s%2Fg%2F11c1p53m3t?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">4. İkizevler Kent Müzesi</span></h2>
<p dir="ltr">
	<span><img alt="İkizevler Kent Müzesi iç görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ikizevler-kent-muzesi-56757.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Hasanbey bölgesinde yer alan İkizevler Kent Müzesi, toplamda 3 ayrı kattan meydana geliyor. Son derece büyük bir alana kurulan müzeye, iki konak ev sahipliği yapıyor. Bu konaklar, geleneksel Gümüşhane konaklarına örnek olarak gösteriliyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">2006 senesinde resmi olarak açılışı yapılan İkizevler Kent Müzesi, 10 ayrı etnografik vitrinden meydana geliyor. Yakın zaman önce kapsamlı bir restorasyon sürecinden geçen müze, ahşap bir yapıya sahip. İkizevler Kent Müzesi’nde genel olarak eski paralar, silahlar, bölgesel kıyafetler sergileniyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/%C4%B0kizevler+Kent+M%C3%BCzesi/@40.4647861,39.4624072,17z/data=!3m1!4b1!4m6!3m5!1s0x40651c08b644a237:0xa111b93569b70c!8m2!3d40.464782!4d39.4649821!16s%2Fg%2F1tftctgb?entry=ttu" target="_blank">Konum Linki</a></span></p>

<p dir="ltr">
	<strong><span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Açık olduğu saatler</span></strong></p>
<ul>
	<li aria-level="1" dir="ltr">
		<p dir="ltr" role="presentation">
			<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Her gün 08.00 ile 17.00 saatleri arasında ziyaret edilebilir.</div></span></p>
	</li>
</ul>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">5. Artabel Gölleri</span></h2>
<p dir="ltr">
	<span><img alt="Artabel Gölleri" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/gumushane-artabel-golu-35963.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Torul ilçesinde bulunan Artabel Gölleri Tabiat Parkı, bölge halkı kadar turistlerin de uğrak yerlerinden biri durumunda. Gölün 6 bin hektara yakın bölümü 1998 senesinde tabiat parkı olarak tescil edilmiş. Burası aynı zamanda şehrin en yüksek tepesi olarak öne çıkan Abdal Musa Tepesinin yamaçlarında konumlanıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Buzul gölleri ve krater gölleri dışında çok sayıda yabani hayvan ve bitki türlerine ev sahipliği yapan Artabel Gölleri Tabiat Parkı, 3305 metrelik yükseklikte yer alıyor. Fauna ve flora bakımından bir hayli zengin olan bölgede altın çiçeği, kaplan otu, bodur mazı ve peygamber çiçeği gibi nadir görülen bitki türleri söz konusu. Toplamda 5 ayrı gölden meydana gelen bu devasa bölge için tüm gününü ayırmanı tavsiye ediyoruz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/Artabel+G%C3%B6lleri+Tabiat+Park%C4%B1/@40.4042583,39.0741506,17z/data=!3m1!4b1!4m6!3m5!1s0x4064da27edcfbffb:0xb935937ec323ac20!8m2!3d40.4042542!4d39.0767255!16s%2Fg%2F11c53gqsj7?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">6. Sarıçiçek Köy Odaları</span></h2>
<p dir="ltr">
	<span><img alt="Sarıçiçek Köy Odaları" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/saricicek-koy-odalari-56758.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Gümüşhane şehir merkezine yaklaşık olarak 40 km uzaklıkta olan Sarıçiçek Köy Odaları, en az adı kadar ilgi çekici bir destinasyon. 1870’li senelerde Hacı Ömer Ağa’nın girişimleri ile ortaya çıkarılan Sarıçiçek Köy Odaları, özellikle ahşap işlemeleriyle ilgili dönemin mimarisini temsil ediyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896">Sarıçiçek Köyü merkezinde yer alan bu mekânlar, birbirine yaklaşık 50’ler metrelik uzaklıklara sahip. Dikdörtgen formundaki odalar temel olarak Çırak Odası ve Usta Odası olmak üzere iki ayrı bölüme sahip. Özellikle de Usta Odası içerisinde yer alan kahve köşkleri ve özel oturma alanlarını değerlendirebilirsin. Bu arada Hacı Ömer Ağa’nın zamanında burayı özel misafirlerini ağırlamak adına inşa ettiği biliniyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-aef3bd74-7fff-bf37-5b36-a12873db4896"><a href="https://www.google.com/maps/place/Sar%C4%B1%C3%A7i%C3%A7ek+K%C3%B6y+Odalar%C4%B1/@40.4428127,39.8533383,17z/data=!3m1!4b1!4m6!3m5!1s0x40650d37dc4be437:0x255d7a7044671bd2!8m2!3d40.4428086!4d39.8559132!16s%2Fg%2F11flr5__93?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
