<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isparta'da Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>ISPARTA</h5>
<p>İçinde gül özü ve gül esansı bulunan birçok ürünün Isparta’da üretilen güllerden olduğunu biliyor muydunuz? Türkiye’deki en güzel güllerin yetiştiği şehir olarak bilinen Isparta, gül cenneti olarak adını hem ülkemizde hem de dünyada duyuruyor. Bulunduğu konum dolayısıyla bereketli topraklara sahip olan Isparta aynı zamanda asırlar boyunca birçok medeniyete de ev sahipliği yapmış.
    Her yıl resimleriyle sosyal medyayı kasıp kavuran, kartpostaldan çıkmışçasına manzaralara sahip olan güzelliği ile kendine hayran bırakan Isparta birbirinden güzel yerler ile gelen ziyaretçilerini kendine hayran bırakıyor. Hazırsanız Isparta’da gezilecek yerler yazımıza başlayalım</p>

<h2>Isparta'da Gezilecek Yerler</h2>
        <ol>
            <li>Kuyucak Lavanta Köyü</li>
            <li>Eğirdir Gölü</li>
            <li>Bedre Koyu Plajı</li>
            <li>Kovada Gölü</li>
            <li>Yazılı Kanyon</li>
            <li>Zindan Mağarası</li>
            <li>Kızıldağ Milli Parkı</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">1. Kuyucak Lavanta Köyü</span></h2>
<p dir="ltr">
	<span><img alt="kuyucak-lavanta-koyu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kuyucak-lavanta-koyu-51636.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Her sene milyonlarca Instagram hesabına konuk olan Lavanta Köyü uçsuz bucaksız lavanta tarlalarının uzandığı büyüleyici bir manzaraya sahip. Şehir merkezine 47 kilometre uzaklıkta bulunan köyde Türkiye’deki lavanta üretiminin yaklaşık olarak %93’ü karşılanıyor. Büyüleyici fotoğraflar çekebileceğiniz bu köyde yürüyüş veya kamp yapabilir, bisiklet sürebilirsiniz. Köyde lavantadan üretilen birçok lezzeti deneyebilir, güzelliğinize güzellik katacak ürünleri deneyebilirsiniz. Isparta’yı keşfetmek için </span><a href="https://www.enuygun.com/otel/isparta-4450/" target="_blank">Isparta otelleri</a> arasından size uygun otel tercihi için linke tıklayabilirsiniz.</p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/DRZG9GopHhbDnpvs5" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">2. Eğirdir Gölü</span></h2>
<p dir="ltr">
	<span><img alt="egirdir-golu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/egirdir-golu-51637.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Biyolojik çeşitliliğiyle uluslararası yere sahip olan gölde tam olarak 225 farklı kuş çeşidi bulunurken gölde aynı zamanda doğal içme suyu havzası da bulunuyor. Eğirdir Gölü, doğa severler, kuş gözlemcileri, fotoğrafçılar ve macera severler için keşfedilmeyi bekleyen güzelliklerle dolu bir doğal cennet olarak karşımıza çıkıyor. Doğanın tadını çıkarmak ve sakinliğin keyfini sürmek için harika bir seçenek olan göl, çevresi sessiz ve sakin atmosferiyle ruhunuzun dinleneceğine inanıyoruz. Kalabalık şehir hayatından uzaklaşmak sevdiklerinizle birlikte şehir hayatının stresinden arınmak isteyenler için Eğirdir Gölü mükemmel bir destinasyon olabilir. Gölün suyu son derece temiz olduğu için doğa tutkunları ve kuş gözlemcileri için aynı zamanda mükemmel bir kamp noktası olarak biliniyor. Yedi renkli göl olarak bilinen gölün çevresinde yeme içme hizmeti ve konaklama yapabileceğiniz tesisler de bulunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/CuyydbFYG78d7nYk6" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">3. Bedre Koyu Plajı</span></h2>
<p dir="ltr">
	<span><img alt="bedre-koyu-plaji" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/bedre-koyu-plaji-51638.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Her yıl yaz aylarında binlerce yerli ve yabancı turist tarafından tercih edilen plaj Türkiye’nin en büyük 4. gölü olan Eğirdir’in Bedre köyünde yer alıyor. Doğa severlerin kamp yaptığı koy 1500 metre uzunluğunda bir sahil şeridine sahip. Plajda soyunma kabini, şezlong, şemsiye, büfe ve kamp alanları mevcut.</span></p>

<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/nd8om9y9NozGUiPPA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">4. Kovada Gölü</span></h2>
<p dir="ltr">
	<span><img alt="kovada-golu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kovada-golu-51639.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Bize göre en güzel zamanının sonbahar olduğu kuşların göç mevsiminde uğradıkları, etrafında farklı ağaçların oluşturduğu ormanlarla çevrili göl, sonbahar aylarında rengarenk bir görünüme bürünüyor. Milli park kategorisine dahil edilen göl zengin flora yapısı ve yaban hayatın çeşitliliğiyle de şehirde görülmesi gereken yerlerden biri olarak karşımıza çıkıyor. Şehirdeki diğer göllere göre daha sığ yapıda olan gölde; kamp, trekking, doğa fotoğrafçılığı ve kuş gözlemciliği yapabilirsiniz. Park içerisinde bulunan yürüyüş yollarında elma ağaçları içerisinde yürüyüş yapabilir doğanın keyfini sonuna kadar çıkarabilirsiniz.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/jpV6TAfFYWTmHyHi8" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">5. Yazılı Kanyon</span></h2>
<p dir="ltr">
	<span><img alt="yazili-kanyon" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yazili-kanyon-51640.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Türkiye’nin gizli kalmış cennetlerden biri olan kanyon 1989 yılında Milli Park olarak ilan ediliyor. Yürüyüş yolları, temiz havası ve eşsiz manzarası ile doğa ile iç içe muhteşem bir gün geçireceğinize inanıyoruz. Kanyonda sevdikleriniz ile piknik yapabilir, trekking ve yürüyüş yapabilir veya sadece muhteşem manzaranın keyfini sürebilirsiniz. Özellikle botanik severlerin dikkatini çeken kanyon bitki çeşitliliği bakımından çok zengin bir yapıya sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/QVqjaV5c7WcD5rSaA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">6. Zindan Mağarası</span></h2>
<p dir="ltr">
	<span><img alt="zindan-magarasi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/zindan-magarasi-51642.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Roma medeniyetinden kalıntılar bulunan ve kutsal alan olarak kabul edilmiş olan mağaranın içi 765 metre uzunluğunda. Mağaranın içinde aydınlatma bulunması ve asma köprüler ile desteklenmesi sayesinde kolay bir gezme deneyimi sunuyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/vE6dHweutkmY5FGEA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">7. Kızıldağ Milli Parkı</span></h2>
<p dir="ltr">
	<span><img alt="kizildag-milli-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kizildag-milli-parki-51643.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Göğüs hastalığına sahip olanların çok fazla tercih ettiği 1840 metre yüksekliğe konumlanmış olan park mavi sedir ormanlarından başka karaçam, köknar, ardıç, meşe, söğüt, köknar gibi birçok ağaç cinsini içinde barındırıyor. Temiz havası ile ünlü olan bu yer 550 hektarlık bir alanda faaliyet veriyor. Parkta dağ evleri, kamp yerleri ve piknik alanları yer alıyor. Parkta sevdikleriniz ile birlikte hazır getirdiğiniz yiyeceklerle piknik yapabilir veya restoran bölümünden yiyecek ve içecek gibi ihtiyaçlarınızı karşılayabilirsiniz.</span></p>
<p dir="ltr">
	<strong><span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">Açık olduğu saatler</span></strong></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1">09.00-19.00</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-fe199d14-7fff-7863-eaae-4df4391cb7d1"><a href="https://maps.app.goo.gl/rok3wTyjyB6zbdi67" target="_blank">Konum Linki</a></span></p>


</body>
</html>
