<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kastamonu'da Gezilecek Yerler</title>
        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KASTAMONU</h5>
    <p><span style="font-weight: 400;">Karadeniz Bölgesi’nde yer alan Kastamonu binlerce yıllık tarihi zenginlikleri ve doğal güzellikleri ile Türkiye’nin turizmi açısından önemli bir şehridir. Tertemiz koylara, masmavi denize ve birbirinden güzel tatil beldelerine ev sahipliği yapan Kastamonu tarihi açıdan da önemli bir şehirdir. Şehir içerisinde her noktada şelaleler, mağaralar, kanyonlar ve ahşap camiler gibi turistik destinasyonlar ile karşılaşmak mümkündür.  </span></p>
    <p><span style="font-weight: 400;">Kastamonu dört mevsim boyunca ziyaret edilen bir şehir olsa da özellikle bahar ve yaz aylarında şehirde hareketlilik artar. Hafta sonu tatilleri, günübirlik tatiller veya uzun bir yaz tatili için Kastamonu ziyaret edilebilir. Şehre yapılan ziyaretlerin eğlenceli hale gelmesini sağlayan birçok yer bulunur. </span></p>
        <h2><b>Kastamonu'da gezilecek yerler:</b></h2>
        <ol>
            <li>Cide</li>
            <li>Taşköprü</li>
            <li>İnebolu</li>
            <li>Abana</li>
            <li>Daday</li>
        </ol>
    <h3>
        <strong>1- Cide</strong></h3>
    <p>
        <strong><img alt="Cide" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cide-37498.webp" loading="lazy"></strong></p>
    <p>
        Cide, Kastamonu'nun en güzel tatil beldelerinden biri olarak biliniyor. Antik çağlardan günümüze kadar uzanan binlerce yıllık tarihi ile öne çıkan Cide, Karadeniz'in büyüleyici koylarından Gideros Koyu'na ev sahipliği yapıyor. Ayrıca doğa sporlarının popüler adreslerinden biri olan Loç Vadisi de ilgi çekiyor.</p>
    <p>
        Kerempe Feneri'nde gün batımı manzaraları izleyebilir, Karadeniz'in ünlü köylerinden Karakadı ve Hamitli'yi ziyaret edebilirsiniz. Ayrıca Cide Halk Plajı, Gideros Koyu, Gökçekale Plajı, Gebeş Plajı ve Çamaltı Köyü Plajı gibi temiz plajlarda denizin tadını çıkarabilirsiniz.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Cide,+Kastamonu/@41.8911767,32.9687519,14z/data=!3m1!4b1!4m5!3m4!1s0x409add8bbe66d9ef:0x7c67121287a59979!8m2!3d41.892221!4d33.0036761" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>2- Taşköprü</strong></h3>
    <p>
        <strong><img alt="Taşköprü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/taskopru-37549.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Kastamonu'nun tarihi ilçelerinden biri olan ve ismini 1366 yılında Gökırmak üzerinde inşa edilen etkileyici köprüden alan Taşköprü ilçesi, Kastamonu'ya sadece 42 kilometre uzaklıkta keyifli bir gezi sunuyor. Etiler, Sümerler, Lidyalılar, Kapadokyalılar, Helenler, Romalılar, Danışmentliler ve Osmanlılar dönemlerinden birçok tarihi eseri görebileceğiniz Taşköprü, bu zenginliğiyle Kastamonu tarih ve kültür gezilerinin vazgeçilmez adreslerinden biri.</p>
    <p>
        İlçeye ismini veren 68 metre uzunluğu ve 7 gözü ile çarpıcı bir mimari eser olan Taşköprü, ilçede ilk uğramanız gereken yer. M.Ö 64. yılında Romalılar tarafından inşa edilen Pompeipolis Antik Kenti ile tüm dünyadan arkeoloji meraklılarını kendine çeken ilçede Zımbıllı Tepesi’ne uğrayarak panoramik fotoğraflar çekebilir; M.Ö. 7. yüzyılda inşa edilmiş etkileyici kaya mezarlıkları, Kılıçkaya Tüneli ve Kızlar Kalesi’ni gezebilirsiniz.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Ta%C5%9Fk%C3%B6pr%C3%BC,+Kastamonu/@41.5050951,34.2042072,15z/data=!3m1!4b1!4m5!3m4!1s0x4085a92717468033:0x701cbd19accb012c!8m2!3d41.509945!4d34.210284" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>3- İnebolu</strong></h3>
    <p>
        <strong><img alt="İnebolu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/inebolu-37517.webp" loading="lazy"></strong></p>
    <p>
        İnebolu, Karadeniz'in güzel ilçelerinden olmakla kalmayıp tarihi önemiyle de öne çıkıyor. İnebolu, Rusya'dan gelen silahların İstanbul'a taşınmasında büyük rol oynayan iskelesi ile ünlü. İnebolu ayrıca, Gemiciler Koyu, Kadınlar Plajı, Boyranaltı Plajı gibi tertemiz plajları ve koylarıyla yaz aylarında denize girmek için ideal bir destinasyon. İlçe, yüzlerce yıllık ahşap ve taş mimari konakları ile tam bir açık hava müzesini andırmakla kalmayıp sessiz atmosferiyle ziyaretçilerine huzurlu bir ortam vadediyor.</p>
    <p>
        İlçede, İstiklal Yolu ve Karacehennem Boğazı'nın muhteşem manzaralarına tanık olabilirsiniz. 495 metre yükseklikteki Geriş Tepesi'nden ilçenin panoramik manzaralarını fotoğraflayabilirsiniz. İlçe merkezinde, Şehit Şerife Bacı Anıtı gibi etkileyici anıtlar ve tarihi konaklar yer alıyor. İnebolu'nun Kent Müzesi binlerce yıllık tarihi ile ilgili geleneksel ve kültürel ürünlerin sergilendiği bir müze.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/%C4%B0nebolu,+Kastamonu/@41.9738337,33.736577,14z/data=!3m1!4b1!4m5!3m4!1s0x40854dcdcc83e2b1:0x238f6150a08ec2a0!8m2!3d41.97725!4d33.759358" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>4- Abana</strong></h3>
    <p>
        <strong><img alt="Abana" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/abana-37494.webp" loading="lazy"></strong></p>
    <p>
        Arkası Karadeniz'in gür çam ormanları, önü ise masmavi deniz ile çevrildi Abana ilçesi, 11 kilometreyi bulan uzun sahili ve güzel plajlarıyla yaz tatilleri için ideal. Kastamonu'ya 145 kilometre uzaklıkta yer alan Abana; tertemiz plajlarının yanı sıra doğa sporlarının değişmez adreslerinden olan Hacıveli Kanyonu, yemyeşil doğası ve masmavi deniziyle tekne gezilerinin önemli duraklarından biri haline gelen Hacıveli Koyu ve Karadeniz üzerinde muhteşem kızıl gün batımı manzaraları izleyebileceğiniz Toza Seyir Tepesi için de her yıl binlerce kişiyi tarafından ziyaret ediliyor.</p>
    <p>
        Tarihi bir taş konakta binlerce yıllık el yapımı aletleri ve eşyaları inceleyebileceğiniz Abana Müzesi ve ahşap oyması el sanatı ürünler satın alabileceğimiz Abana Hediyelik Eşya Çarşısı da ilçeyi gezerken mutlaka uğramanız gereken yerler arasında.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Abana,+Kastamonu/@41.9768347,33.9952727,15z/data=!3m1!4b1!4m5!3m4!1s0x40855bbbb165fb71:0xb85ac8f1c90d193!8m2!3d41.978757!4d34.014747" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>5- Daday</strong></h3>
    <p>
        <strong><img alt="Daday" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/daday-37501.webp" loading="lazy"></strong></p>
    <p>
        Kastamonu merkezine 36 kilometre uzaklıktaki küçük Daday kasabası, el değmemiş doğal güzelliğinden dolayı yılın her mevsimi yerli ve yabancı turistlerin ilgisini çekiyor. Çam ormanlarının sağladığı büyüleyici yaylalarının yanı sıra at çiftlikleri ile de ünlü olan Daday'da her yaş grubu için binicilik eğitimleri alarak ve at safarilerine çıkarak bölgenin güzelliğini keşfedebilirsiniz.</p>
    <p>
        Kastamonu kültür turlarına katılarak da gezebileceğiniz Daday’da 1632 yılı yapımı Balaban Konağı, Lidyalılar tarafından inşa edildiği söylenen büyüleyici Honsalar Tepesi Tümülüsü, sarp kayalara oyulmuş etkileyici mezarları ile görülmesi gereken yerlerden olan Taşlıbayır Sarkıt Mağaraları, 18. yüzyıl Osmanlı mimarisini yansıtan Ali Paşa Camii gibi tarihi ve doğal güzellikleri keşfe çıkarak harika fotoğraflar çekebilirsiniz. Daday, aynı zamanda lezzetli etli ekmekleri ile de biliniyor, bu yüzden ilçeyi gezdikten sonra yerel bir restoranda mola vererek Daday etli ekmeklerini tatmayı unutmayın.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Daday,+Merkez,+Daday%2FKastamonu/@41.4766227,33.4561101,15z/data=!3m1!4b1!4m5!3m4!1s0x4084c2d085d6cc3b:0xb5be04fb82f6b6ac!8m2!3d41.477626!4d33.469228" target="_blank">Konum Linki</a></p>

</body>
</html>
