<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kilis'te Gezilecek Yerler</title>
    <style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

   </style>
</head>
<body>
<h5><b>KİLİS</b></h5>
    <p><span style="font-weight: 400;">Kilis, tarihi zenginliği ve benzersiz kültürüyle Güneydoğu Anadolu'nun gizli kalmış bir hazinesi. Sınırları içinde barındırdığı tarihi yapıları ve leziz mutfağıyla da ziyaretçilerine unutulmaz bir deneyim sunuyor. Osmanlı İmparatorluğu döneminden kalma camileri, tarihi hamamları ile bu kent sana inanılmaz keşifler sunabilir. </span></p>
    <p><span style="font-weight: 400;">Tarihi ve dini mekanların yanı sıra Kilis'in sokakları da kendine özgü bir çekiciliğe sahip. Sokaklarında dolaşırken şehrin yerel yaşamını keşfedebilir, geleneksel el sanatlarıyla yapılmış ürünler satan dükkanlara göz atabilirsin. Hadi gel Kilis’i keşfetmeye Kilis’le ilgili merak edilen sorularla başlayalım. </span></p>
        <h2><b>Kilis'te gezilecek yerler:</b></h2>
        <ol>
            <li>Ravanda Kalesi</li>
            <li>Kilis Müzesi</li>
            <li>Tarihi Kilis Evleri</li>
            <li>Talha Zübeyr Türbesi</li>
            <li>Şeyh Muhammed Bedevi Türbesi</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">1. Ravanda Kalesi</span></h2>
    <p dir="ltr">
        <span><img alt="revanda kalesi panoramik görünüm" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ravanda-kalesi-57331.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Ravanda Kalesi, Polateli ilçesine bağlı Belenözü köyü sınırlarında konumlanıyor. Yüksekçe, konik bir tepe üzerine kurulmuş olan bu kale, Afrin Çayı’nın doğusunda geniş bir görüş açısına sahip olduğu için oldukça stratejik bir öneme sahipti. Tepenin zirvesinde düz bir alan üzerine kurulu kale yapıları, zamana direnerek kısmen günümüze kadar ulaşmayı başardı. Yarı dairesel kuleler ve duvarlar, kaleyi koruyan unsurlar arasında. Kale içerisinde, doğu kısmında bulunan iki büyük su sarnıcı ve kuzeyde saray kalıntıları dikkat çekiyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Ravanda Kalesi’nin geçmişi, kazılar yerine yapılan detaylı araştırmalarla aydınlatıldı. Kale hakkında ulaşılan kesin bilgilere göre tarihi 11. yüzyıla ve o dönemde gerçekleşen Haçlı Seferleri'ne dayanıyor. Kale, Haçlı Seferleri sırasında İslami ve Latin kaynaklarında farklı isimlerle anıldığı görülüyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Tarihin farklı dönemlerinde bölgeye hakim olan devletler tarafından stratejik önemi dolayısıyla kullanıldı. 1097 yılından itibaren Ravanda Kalesi, sıkça anılan bir mekân haline geldi. Özellikle, Edessa (Urfa) Kontluğu’nun kurucusu ve Kudüs Haçlı Krallığı’nın ilk hükümdarı olan Baudouin de Boulogne ile adı öne çıkıyor. I. Haçlı Seferi sırasında, 1097 yılında, Hıristiyan ordularının Antakya’yı kuşatması esnasında kale, Selçukluların denetimine geçti.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb"><a href="https://www.google.com/maps/place/Revanda+Kalesi/@36.7938025,36.9493821,15z/data=!4m2!3m1!1s0x0:0xb3d65273da665a3b?sa=X&amp;ved=1t:2428&amp;ictx=111" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">2. Kilis Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="kilis müzesinde sergilenen tarihi eser" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/kilis-muzesi-57332.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Kilis Müzesi, geçmişin izlerini taşıyan ve kültürel değerleri ön plana çıkaran etkileyici bir mekan olarak öne çıkıyor. Bir zamanlar sabun üretimi yapılan bu tarihi bina, Kilis'in otantik ev mimarisini gözler önüne seriyor. Müze, arkeolojik buluntular ve etnografik eserler olmak üzere iki ana bölümden oluşmakta ve Kilis'in yanı sıra çevre bölgelerin de geçmişine ışık tutuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Müzenin birinci katında, arkeoloji meraklılarını cezbeden eserler yer alıyor. Bu koleksiyon, özellikle Güneydoğu Anadolu'nun önemli arkeolojik sit alanlarından biri olan Oylum Höyük'te yapılan kazılarda keşfedilen nesneleri barındırıyor. Taş devrinden kalma aletler, Mezopotamya'nın eski uygarlıklarına ait bulgular, Tunç Çağı'ndan Helenistik, Roma, Bizans ve İslami dönemlere kadar uzanan zaman dilimlerine ait eserler bu alanda sergileniyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">İkinci katta ise Kilis'in ve çevresinin kültürel mirasını vurgulayan etnografik eserler bulunuyor. Mercidabık Savaşı ve Kilis'in tarihi yerleri, detaylı maketlerle ziyaretçilere sunuluyor, bu da bölgenin zengin kültürünü gözler önüne seriyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb"><a href="https://www.google.com/maps/place/Kilis+M%C3%BCzesi+(Tarihi+Sabunhane+Binas%C4%B1)/@36.7174625,37.1147629,17z/data=!3m1!4b1!4m6!3m5!1s0x152fcf75d5df5c2d:0x7f791fc7b9bc769e!8m2!3d36.7174625!4d37.1173378!16s%2Fg%2F11ptlkk6zw?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">3. Tarihi Kilis Evleri</span></h2>
    <p dir="ltr">
        <span><img alt="tarihi kilis evleri görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tarihi-kilis-evleri-57333.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Kilis'in benzersiz mimari ve kültürel zenginliklerini sergileyen Kilis evleri, kentin özgün yapısını gösteren önemli birer simge. Kirli beyaz renkli, yerel taş ocaklarından elde edilen malzeme ile örülen bu evler, özgünlükleri ve estetik yapılarıyla dikkat çekiyorlar. Evlerin tasarımı, geniş avluları ve içe dönük yaşam alanlarıyla, Kilis'in geleneksel yaşam biçimini yansıtıyor; dış dünyaya az sayıda pencere açılır, bu da özel yaşamın korunmasına önem verildiğini gösterir.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Mimari açıdan, bu yapılar genellikle tek katlı ve kerpiçten inşa edilmiş olup, daha çok kırsal alanlarda bulunurken, şehir merkezinde yer alanlar taştan yapılarak iki katlı olabiliyor. Bu taş evler, Kilis'in tarihi mahallelerinde ve sokaklarında yer alıyor, bölgenin geçmiş dönemlerdeki yaşam şeklini ve kültürel yapısını ziyaretçilere aktarıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Kilis Evleri, şehrin tarihine ve kültürel dokusuna ışık tutan değerli yapılar olarak öne çıkıyor. Avlu, mutfak, odalar ve mağaralar gibi öğeleri içeren bu evler, Kilis'in kültürel mirasının korunması ve tanıtılması açısından büyük önem taşıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb"><a href="https://www.google.com/maps/place/Tarihi+Kilis+Evi/@36.7139244,37.118498,15z/data=!4m2!3m1!1s0x0:0x8abd38236f13477e?sa=X&amp;ved=1t:2428&amp;ictx=111" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">4. Talha Zübeyr Türbesi</span></h2>
    <p dir="ltr">
        <span><img alt="Talha Zübeyr Türbesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/talha-zubeyr-turbesi-57334.webp" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">İl merkezindeki Meşetlik Mahallesi'nde konumlanan Talha ve Zübeyr Türbesi, ziyaretçiler için hem tarihi hem de dini açıdan büyük öneme sahip bir mekan. Mimari açıdan basit bir yapıya sahip olan türbe, yakın zamanda onarım gördü. İç kısmında, betonla yeniden yapılandırılmış iki sanduka yer alır ve bu sandukalar, Hz. Zübeyr ve Hz. Talha'ya ait olduğu düşünülüyor. Hz. Zübeyr ve Hz. Talha, İslam tarihinin en önemli kişilikleri arasında yer alıyor. Her ikisi de cennet müjdesi alanlar arasında anıldığı için Müslümanlık dünyasında önem atfedilen kişiler.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Hz. Zübeyr, Hz. Muhammed'in halası Safiye'nin oğlu ve Hz. Ebubekir'in damadı olarak bilinirken, Hz. Talha, Hz. Zübeyr'in teyzesinin oğlu ve aynı zamanda Hz. Muhammed'in başka bir halasının oğlu olarak tanınıyor. İçerideki iki sanduka, sahabeleri anmak amacıyla konumlandırıldığı görülebiliyor. Ancak türbenin gerçekten Hz. Zübeyr ve Hz. Talha'ya ait olduğuna dair net bir bilgi mevcut değil. Buna rağmen, yerel halk ve ziyaretçiler bu mekanın onlara ait olduğuna dair güçlü bir inanca sahip.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb"><a href="https://www.google.com/maps/place/Hz+Z%C3%BCbeyr+ve+Hz+Talha/@36.7142024,37.1181461,15z/data=!4m6!3m5!1s0x152fcf7c77dd00c9:0xe778bfe6eef66329!8m2!3d36.7142024!4d37.1181461!16s%2Fg%2F11fs0788fv?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">5. Şeyh Muhammed Bedevi Türbesi</span></h2>
    <p dir="ltr">
        <span><img alt="Şeyh Muhammed Bedevi Türbesi ve camii görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/seyh-muhammed-bedevi-turbesi-57335.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Kilis'teki Şeyh Muhammed Bedevi Türbesi, geçmişin izlerini taşıyan önemli bir yapı. 14. yüzyılın ortalarında kurulduğu tahmin edilen bu türbe, Şeyh Muhammed Rittali ve Şeyh Muhammed Arabi olarak da tanınıyor. Yapı, kare bir plana sahip olup, dört köşede yer alan kemerler ve üzerini örten sivri bir kubbe ile karakterize edilmiş. Doğuda ve batıda birer pencere, güneyde ise iki pencere bulunuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb">Türbenin içinde yeşil bir örtü ile kaplanmış bir tahta sanduka yer alıyor. Sandukanın üstünde doğrudan kimliği belirten bir yazıt yok. Ancak Evliya Çelebi'nin Seyahatname isimli eserinde geçen bahse göre bu sanduka, Şeyh Muhammed Arabi ve Rıttal ismiyle tanınan ünlü bir sahabenin mezarı. Bu kişi, Hz. Ömer döneminde Ebu Ubeyde Bin Cerrah liderliğindeki İslam ordusunun bir parçası olarak bölgeye gelerek, 639 yılında burada şehit oldu.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-079b11e3-7fff-738c-28e7-26aee2aa5dcb"><a href="https://www.google.com/maps/place/Ashab%C4%B1+Kiram+Muhammed+Bedevi+Hazreti+T%C3%BCrbesi/@36.711836,37.0894535,15z/data=!4m2!3m1!1s0x0:0x4f25421c510f1303?sa=X&amp;ved=1t:2428&amp;ictx=111" target="_blank">Konum Linki</a></span></p>

</body>
</html>
