<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kocaeli'de Gezilecek Yerler</title>
        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KOCAELİ</h5>
    <p><span style="font-weight: 400;">Türkiye’nin en gelişmiş sanayi şehirlerinden biri olan Kocaeli; hem İzmit Körfezi hem de Karadeniz kıyılarında uzanan tertemiz plajları, yemyeşil milli parkları ve kaliteli kayak merkezleriyle aynı zamanda Marmara Bölgesi’nin en kendine özgü turistik şehirlerinden biri. Kartepe Kayak Merkezi’nde her yıl binlerce yerli ve yabancı turisti misafir eden şehir, Maşukiye’nin alabalık çiftlikleri, Kerpe ve Kefken’in benzersiz kaya oluşumları, Kandıra’nın Akdeniz’i aratmayan sahilleriyle de yaz tatillerinin sevilen adreslerinden biri.</span></p>
    <p><span style="font-weight: 400;">Binlerce yıllık uzun bir tarihe sahip olan Kocaeli, doğal güzelliklerinin yanı sıra birbirinden güzel müzeleri, tarihi hazineleri, şehrin her yerinde karşınıza çıkacak büyüleyici konak ve anıtlarıyla da keyifli bir gezi deneyimi sunuyor. Oksijen seviyesi yüksek yaylalarında unutulmaz doğa yürüyüşleri yapabileceğiniz, Pembe Kayalar ve Kerpe Kartal Kayaları’nda harika fotoğraflar çekebileceğiniz gezinizde, yılın her mevsimi pek çok çarpıcı güzellikle karşılaşacaksınız. </span></p>
    <p><span style="font-weight: 400;">Kocaeli’nde mutlaka görmeniz gereken 120 yer yazımızı hazırlarken Instagram etiketlerini kullandık ve en çok etiketlenen yer en üstte olacak şekilde özel bir sıralama yaptık. Gelişmiş turizm olanakları, lezzetli yöresel lezzetleri ve benzersiz doğa manzaralarıyla ilgi gören Kocaeli’ni yazımızı okuyarak hemen keşfetmeye başlayabilirsiniz. İçeriğimizde yer verdiğimiz konum linkleri sayesinde gitmek istediğiniz yerleri kolayca keşfedebilirsiniz.  </span></p>
        <h2><b>Kocaeli'de gezilecek yerler:</b></h2>
        <ol>
            <li>Ormanya Doğal Yaşam Parkı</li>
            <li>Seka Park</li>
            <li>Kartepe Kayak Merkezi</li>
            <li>Gayret Gemi Müzesi</li>
            <li>İzmit Saat Kulesi</li>
            <li>Ballıkayalar Kanyonu ve Tabiat Parkı</li>
            <li>Kumcağız Plajı</li>
            <li>Kerpe Kartal Kayaları</li>
            <li>Sardala Koyu</li>
            <li>Beşkayalar Tabiat Parkı</li>
        </ol>
    <h3>1- Ormanya Doğal Yaşam Parkı</h3>
    <p>
        <img alt="Ormanya" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ormanya-39293.webp" loading="lazy"></p>
    <p>
        Hem çocuklu ailelerin hem de doğa severlerin Kocaeli’nde mutlaka uğradığı yerlerden biri olan Ormanya Doğal Yaşam Parkı; 189 hektarlık orman alanı, benzersiz mantar evleri, donanımlı kamp ve karavan alanlarıyla dinlendirici bir gün sunuyor. Bahçelerinde onlarca kanatlı ve memeli hayvan türünü yakından görme şansı bulabileceğiniz parkta çocukların çok sevdiği deve kuşları, ceylanlar, midilli atlar ve karacaların harika fotoğraflarını çekebilirsiniz.</p>
    <p>
        Organik ürünlerle hazırlanan kahvaltılar ve yöresel lezzetler sunan restoranları, temiz havada dinlenebileceğiniz kır bahçeleri, çocuk oyun parkları, orman boyunca uzanan yürüyüş ve bisiklet parkurları ile hem eğlenceli hem de huzurlu bir gün geçirebileceğiniz Ormanya Doğal Yaşam Parkı’nı pazartesi günleri hariç haftanın her gün ziyaret edebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Ormanya/@40.7324575,30.1604748,17z/data=!3m1!4b1!4m5!3m4!1s0x14cca82a537bea89:0xde3fbacae2db0026!8m2!3d40.7324535!4d30.1626635" target="_blank">Konum Linki</a></p>
    <h3>2- Seka Park</h3>
    <p>
        <img alt="Seka Park" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/seka-park-39246.webp" loading="lazy"></p>
    <p>
        Sadece Kocaeli'nin değil, Türkiye’nin de en büyük şehir içi parklarından biri olan ve denize sıfır konumda inşa edilen Seka Park, eski Seka Kağıt Fabrikası arazisinde 580 dönümlük bir yeşil alanı kapsıyor. Etkileyici deniz manzaraları eşliğinde yürüyüşlere çıkabileceğiniz parkurların yanı sıra kır bahçeleri, kafeler, balık restoranları, mesire alanları ile ilgi çeken devasa parkta çocuklar için geniş oyun merkezleri, kaykay pisti, sergi salonları, sanat atölyeleri, açık ve kapalı spor sahaları gibi pek çok olanak bulabilirsiniz.</p>
    <p>
        Panoramik fotoğraflar çekebileceğiniz seyir teraslarının yanı sıra çocuklarınızla eğlenceli zaman geçirebileceğiniz uçurtma tepeleri ve yıl boyu konserlerin düzenlendiği etkinlik alanlarıyla da ilgi gören Seka Park, Kocaeli'nde güzel zaman geçirmek için ilk uğramanız gereken yerler arasında.</p>
    <p>
        <a href="https://www.google.com/maps/place/Seka+Park/@40.7624708,29.8980575,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb45edca95b0c9:0xd7d9838a9f8b6243!8m2!3d40.7624668!4d29.9002462?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>3- Kartepe Kayak Merkezi</h3>
    <p>
        <img alt="Kartepe" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kartepe-37718.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Sadece Kocaeli’nin değil, İstanbul ve Bursa gibi komşu şehirlerin de en sevilen kış tatil merkezlerinden biri olan Kartepe Kayak Merkezi, şehre sadece 32 kilometre uzaklıkta. Kartepe Dağı eteklerinde deniz seviyesinden yaklaşık 1600 metre yükseklikte kurulan kayak merkezi; dünya standartlarındaki pistleri, kayak ekipmanları kiralayabileceğiniz tesisleri, dünya mutfaklarından lezzetler sunan restoranları ve kaliteli otelleriyle her kış binlerce insanı ağırlıyor.</p>
    <p>
        Her yaş grubu için kayak ve snowboard eğitimleri alabileceğiniz Kartepe Kayak Merkezi’nde çocuklara özel pistler ve geniş oyun alanları da bulunuyor. Seyir teraslarından büyüleyici kar manzaraları izleyebileceğiniz kayak merkezi; tatiller, yılbaşı ve bayramlarda da tamamen doluyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kartepe+Ski+Center/@40.6512262,30.093604,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb59314e310cb1:0xcb61a9faac92abf5!8m2!3d40.6512222!4d30.0957927" target="_blank">Konum Linki</a></p>
    <h3>4- Gayret Gemi Müzesi</h3>
    <p>
        <img alt="Gayret Gemi Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/gayret-gemi-muzesi-39280.webp" loading="lazy"></p>
    <p>
        Kore ile Vietnam savaşlarında görev alan ve 1972 yılından beri Türk Deniz Kuvvetleri’ne hizmet veren Gayret Gemisi, ülkemizin önemli tersanelerinde Gölcük Tersanesi’nde iç bölümleri yenilenerek halkın ziyaretine açıldı. Savaş komuta merkezi ile komutanların kamaralarının yanı sıra geminin mutfak, yatakhane, çamaşırhane bölümlerini de gezebilir ve ilginç fotoğraflar çekebilirsiniz. Türkiye'nin ilk gemi müzesi olarak ayrı bir önemi de sahip olan Gayret Gemi Müzesi, haftanın her günü 09:00 ile 17.30 saatleri arasında ücretsiz olarak ziyaret edilebilir.</p>
    <p>
        <a href="https://www.google.com/maps/place/Gayret+Gemi+M%C3%BCzesi/@40.7609694,29.9149076,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb45855e682dc7:0xd7986babbca35b0b!8m2!3d40.7609784!4d29.9170988" target="_blank">Konum Linki</a></p>
    <h3>5- İzmit Saat Kulesi</h3>
    <p>
        <img alt="İzmit Saat Kulesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/izmit-saat-kulesi-39226.webp" loading="lazy"></p>
    <p>
        Kocaeli'nin simgesel yapılarından biri olan ve halk arasında Kocaeli Saat Kulesi olarak da bilinen 16 metre yükseklikteki 4 katlı İzmit Saat Kulesi, 1902 yılında Padişah II. Abdülhamit’in anısına inşa edilmiş etkileyici bir mimari şaheser. Şehrin her yerinden görünecek şekilde özel bir konuma yerleştirilen ve çarpıcı neo klasik mimarisiyle Kocaeli’nin en çok fotoğraflanan yapılarından biri olan saat kulesi, 2010 yılında aslına uygun olarak restore edildi. Çevresindeki kafeler, restoranlar, hediyelik eşya dükkanları, yürüyüş yolları ve çocuk oyun alanlarıyla sevilen bir gezi alanı da olan İzmit Saat Kulesi’ne kısa bir yürüyüşle kolayca ulaşım sağlayabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kemalpa%C5%9Fa,+%C4%B0zmit+Saat+Kulesi,+41200+%C4%B0zmit%2FKocaeli/@40.762834,29.9174113,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb458436f135d9:0x9c7d1205fce25cf7!8m2!3d40.76283!4d29.9196" target="_blank">Konum Linki</a></p>
    <h3>6- Ballıkayalar Kanyonu ve Tabiat Parkı</h3>
    <p>
        <img alt="Ballıkayalar kanyonu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ballikayalar-kanyonu-39219.webp" loading="lazy"></p>
    <p>
        Sadece Kocaeli'nde değil, Marmara Bölgesi'nde düzenlenen doğa gezileri ve fotoğraf safarilerinin en sevilen adreslerinden biri olan Ballıkayalar Kanyonu’nun çevresi 1995 yılında milli parkı ilan edilerek koruma altına alındı. 500'e yakın vahşi hayvan türü ve yüzlerce kuş türüne ev sahipliği yapan Ballıkayalar Kanyonu ve Tabiat Parkı, 850 hektarlık büyük bir alanı kapsıyor. 1,5 kilometre boyunca uzanan devasa sarp kaya duvarları ve zengin bitki çeşitliliği ile Türkiye'nin en güzel yürüyüş parkurlarından biri olarak gösterilen kanyon, her zorluk derecesine göre düzenlenmiş parkurlarıyla profesyonel yürüyüşleri de yılın her mevsimi kendine çekiyor.</p>
    <p>
        Şelaleleri, dereleri ve göletlerinde onlarca çeşit su kuşunun harika fotoğraflarını çekebileceğiniz; özellikle ilkbahar ve sonbahar aylarında kartpostal güzelliğinde manzaralara şahit olabileceğiniz Ballıkayalar Kanyonu, İstanbul'a olan yakınlığından dolayı da yaz aylarında temiz havada dinlenmek isteyen tatilciler tarafından sıkça ziyaret ediliyor. Kaya tırmanma, ATV safarileri, bisiklet gezileri ve kamp yapmak için Marmara Bölgesi’ndeki en güzel yerlerden biri olan Ballıkayalar Kanyonu ve Tabiat Parkı’nı kendi başınıza veya rehberli turlarla keşfe çıkabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Ball%C4%B1kayalar+Tabiat+Park%C4%B1/@40.8330992,29.5146133,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb242bfea49fbf:0x8a949c7858da831d!8m2!3d40.8330952!4d29.516802" target="_blank">Konum Linki</a></p>
    <h3>7- Kumcağız Plajı</h3>
    <p>
        <img alt="Kumcağız Plajı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kumcagiz-plaji-39235.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Kocaeli merkezine yaklaşık 1 saat uzaklıktaki Kandıra ilçesinde yer alan Kumcağız Plajı, yaz aylarında Karadeniz'in serin ve tertemiz suların tadını çıkarmak için gidebileceğiniz en güzel plajlardan. Huzurlu tatil arayanların sıkça ziyaret ettiği Kerpe ile Kefken arasında uzanan plaj, berrak denizi ve altın renkli kumlarla süslü sahiliyle çok seviliyor. Turizm olanakları bakımından da gelişmiş olan Kumcağız Plajı’nın çevresinde her bütçeye uygun apart oteller, butik oteller ve pansiyonlar hizmet veriyor.</p>
    <p>
        Balık geçiş noktasında yer alan plaj, hem olta balıkçılığı yapmak hem de teknelerle balık avlama turlarına çıkmak için de ideal noktalar arasında. Kocaeli'nde her saat bulabileceğiniz Kandıra minibüsleriyle kolayca gidebileceğiniz Kumcağız Plajı’nda dinlendirici bir deniz günü geçirebilir, plajın arkasını saran çam ormanlarında ise kamp yapabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kumca%C4%9F%C4%B1z+Halk+Plaj%C4%B1/@41.1616951,30.2161463,15z/data=!3m1!4b1!4m5!3m4!1s0x409e6d00b384e6e5:0x2d95c0878a329544!8m2!3d41.1616798!4d30.2249011" target="_blank">Konum Linki</a></p>
    <h3>8- Kerpe Kartal Kayaları</h3>
    <p>
        <img alt="Kerpe Kartal Kayaları" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kerpe-kartal-kayalari-39289.webp" loading="lazy"></p>
    <p>
        Kocaeli’nde her saat bulabileceğiniz minibüslerle 1 saat içinde ulaşabileceğiniz Kerpe, milyonlarca yılda sert dalgalar ve rüzgârlarla şekillenmiş birbirinden ilginç kayalarıyla tüm dünyadan fotoğrafçıların ilgisini çekiyor. Kartalı andırmasından ismini alan Kerpe Kartal Kayaları ise bölgede en çok fotoğraflanan kaya oluşumları arasında.</p>
    <p>
        Özellikle kızıl gün doğumu ve gün batımlarında inanılmaz manzaralara şahit olabileceğiniz devasa kayaların göletlerinin tertemiz sularında da unutulmaz bir yüzme deneyimi yaşayabilirsiniz. Doğa gezileri ve fotoğrafçılık turlarının yanı sıra tekne gezileriyle de Kerpe Kartal Kayaları’na uğrayabilir ve gezinizin en güzel fotoğraflarını burada çekebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kerpe+Kayal%C4%B1klar%C4%B1/@41.1562188,30.1876015,15z/data=!4m13!1m7!3m6!1s0x409e6ce61aaa8805:0xa7aeed182e030dd0!2sKerpe+Plaj%C4%B1!3b1!8m2!3d41.1562035!4d30.1963563!3m4!1s0x409e6ceea45ee071:0x34522d3389003d17!8m2!3d41.1589638!4d30.1915562" target="_blank">Konum Linki</a></p>
    <h3>9- Sardala Koyu</h3>
    <p>
        <img alt="Sardala Koyu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sardala-koyu-39244.webp" loading="lazy"></p>
    <p>
        Kocaeli'nde kesinlikle görmeniz gereken tabiat harikalarından biri olan ve gizli cenneti olarak adlandırılan Sardala Koyu; binlerce yılda rüzgâr ve dalgalarla şekillenmiş etkileyici kaya oluşumları, kristal berraklığındaki denizi ve el değmemiş yemyeşil doğasıyla dinlendirici bir gün geçirmek için ilk uğramanız gereken yerlerden.</p>
    <p>
        Sadece Türkiye'den değil tüm dünyadan doğal severlerin ve kampçıların ilgisini çeken bakir koy, arkası çam ormanları önü ise turkuaz denizle çevrili ince kumlu sahiliyle Ege ve Akdeniz’i aratmıyor. Panoramik deniz manzaraları izleyebileceğiniz seyir teraslarıyla fotoğrafçıların da sık ziyaret ettiği yerlerden olan Sardala Koyu’nda yılın her mevsimi doğa ve bisiklet gezilerine çıkabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Sardala+Koyu/@41.1390152,29.9596698,17z/data=!3m1!4b1!4m5!3m4!1s0x409e14eff11a6b65:0x22d4693263fdb0b1!8m2!3d41.1390112!4d29.9618585" target="_blank">Konum Linki</a></p>
    <h3>10- Beşkayalar Tabiat Parkı</h3>
    <p>
        <img alt="Beşkayalar Tabiat Parkı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/beskayalar-tabiat-parki-39274.webp" loading="lazy"></p>
    <p>
        Kocaeli'nde keşfe çıkabileceğiniz başka bir sevilen gezi alanı olan Beşkayalar Tabiat Parkı, şehir merkezinde yaklaşık 27 kilometre uzaklıkta. Devasa Kanyon duvarları, metrelerce yükseklikten dökülen şelaleleri ve irili ufaklı dereleri ile çam ormanları arasında dinlendirici bir gün yaşayabileceğiniz tabiat parkında binlerce yıllık mağaraları da rehberlerle birlikte keşfe çıkabilirsiniz.</p>
    <p>
        Donanımlı kamp alanları ve iyi işaretlenmiş yürüyüş yollarıyla yılın her mevsimi ilgi gören Beşkayalar Tabiat Parkı; Bursa İstanbul ve Ankara gibi büyük şehirlere yakın olduğu için bölgenin önemli doğa sporu merkezi haline gelen parkta yıl boyu fotoğrafçılık gezileri, dağ bisikleti turları, kaya tırmanma ve dağcılık gibi pek çok etkinlik düzenleniyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Be%C5%9Fkayalar+Tabiat+Park%C4%B1/@40.5988531,29.9267246,17z/data=!3m1!4b1!4m5!3m4!1s0x14cb6993dea24d71:0xa42e158126808b1b!8m2!3d40.598849!4d29.9289133" target="_blank">Konum Linki</a></p>

</body>
</html>
