<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konya'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KONYA</h5>
    <p><span style="font-weight: 400;">Türkiye'deki inanç ve kültür turlarının önemli duraklarından biri olan Konya aynı zamanda en köklü yerleşim yerlerinden. Çatalhöyük gibi ünlü kazı alanları ve Anadolu Selçuklu Devleti'ne başkentlik yapan Konya etkileyici tarihi yapılarıyla da ünlü. </span></p>
    <p><span style="font-weight: 400;">Hititler'den Osmanlılara kadar pek çok medeniyete ev sahipliği yapmış Konya, değerli tarihi eserlerle dolu. Mevlana Müzesi, Mevlana ve Şems-i Tebrizi türbeleri, Alaaddin Camii ve Sultan Selim Camii gibi önemli yapıları bulunuyor. Tuz Gölü'ndeki pembe flamingolar, Leylekler Vadisi, Beyşehir Gölü, Akşehir Gölü ve Meke Gölü gibi doğal güzelliklere de ev sahipliği yapıyor. Türkiye'nin tek çölü de Konya’da yer alıyor. </span></p>
        <h2><b>Konya'da gezilecek yerler:</b></h2>
        <ol>
            <li>Mevlana Müzesi ve Türbesi</li>
            <li>Çatalhöyük</li>
            <li>Konya Tropikal Kelebek Bahçesi</li>
            <li>Aziziye Camii</li>
            <li>Karatay Medresesi ve Çini Eserler Müzesi</li>
            <li>Alaaddin Keykubat Camii</li>
            <li>Sultanlar Türbesi</li>
            <li>İnce Minare Medrese</li>
            <li>Sultan Selim Camii ve Külliyesi</li>
            <li>Alaaddin Tepesi</li>
        </ol>
    <h3>1- Mevlana Müzesi ve Türbesi</h3>
    <p>
        <img alt="konya mevlana muzesi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/konya-mevlana-muzesi-37465.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya'daki inanç ve kültür turlarının önemli duraklarından Mevlana Müzesi ve Türbesi 1926'da açılan Türkiye'nin eski müzelerinden biri. Mevlana Celaleddin Rumi'nin türbesine ev sahipliği yapıyor. Mevlana Türbesi dışında Hürrem Paşa, Sinan Paşa, Fatma Hatun ve Hasan Paşa türbeleri de bulunuyor.</p>
    <p>
        Göz alıcı mimarisi ve zengin koleksiyonlarıyla ünlü müzede Mevlana ve Mevlevilik hakkındaki eserlerin yanı sıra Anadolu Selçuklu, Karamanoğulları ve Osmanlı dönemine ait el yazmaları, kandiller ve antika müzik aletleri gibi objeler sergileniyor.</p>
    <p>
        1276'da yapılan Mevlana'nın sandukasını da görmelisiniz. Geometrik desenler ve bitkisel motiflerle süslü sanduka keşfedilmeyi bekleyen bir kültür mirası.</p>
    <p>
        <strong>Açık olduğu saatler:</strong> Haftanın her günü <strong>09:00-17:30</strong> saatleri arasında ücretsiz ziyarete açık olan Mevlana Müzesi ve Türbesi'nde bulunuyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Mevlana+M%C3%BCzesi/@37.8707281,32.5028103,17z/data=!3m1!4b1!4m5!3m4!1s0x14d0851041d7b9a3:0x843bb18685ba9410!8m2!3d37.8707281!4d32.504999?shorturl=1" target="_blank">Konum Linki</a></p>
    <h3>2- Çatalhöyük</h3>
    <p>
        <img alt="Dünyanın ilk şehri Çatalhöyük Antik Kenti" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/catalhoyuk-34412.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya'ya sadece 45 kilometre uzaklıktaki Çatalhöyük kültür ve arkeoloji tutkunlarını cezbediyor. 9.000 yıl önce inşa edildiği düşünülen bu yerleşim Cilalı Taş Devri ve Bakır Çağı boyunca faal bir bölge haline gelmiş. Yıl boyunca düzenlenen turlarla ziyaret edilen Çatalhöyük, 2012'de UNESCO Dünya Mirası Listesi'ne girdi.</p>
    <p>
        Uzun süredir kazı çalışmaları yapılan Çatalhöyük'te binlerce yıllık çanak-çömlek ve günlük eşyaları görebilir, taş odalar ve kaya mezarları arasında gezinebilirsiniz. Rehberli turlarla ilginç bilgiler edinebilir ve Konya Otogarı'ndan kalkan Çumra minibüsleriyle kolayca ulaşabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/%C3%87atalh%C3%B6y%C3%BCk/@37.6664414,32.8234712,17z/data=!3m1!4b1!4m5!3m4!1s0x14d0a73eec8e512d:0x963a6c2aaf521b79!8m2!3d37.6664372!4d32.8256599" target="_blank">Konum Linki</a></p>
    <h3>3- Konya Tropikal Kelebek Bahçesi</h3>
    <p>
        <img alt="Konya kelebek bahçesi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/konya-kelebek-bahcesi-38833.webp" loading="lazy"></p>
    <p>
        2015'ten beri Konya'nın popüler yerlerinden olan Tropikal Kelebek Bahçesi turistlerin sıkça ziyaret ettiği bir merkez. 7600 metrekarelik alanı kapsayan bahçede, 100'e yakın farklı türde 20.000 bitki ve 15 farklı türde binlerce kelebek bulunuyor.</p>
    <p>
        Çocuklara doğa ve bahçe eğitimi verilen kelebek bahçesinde birçok farklı böcek türü sergileniyor. Avrupa'nın en büyük kelebek uçuş alanına sahip olan Konya Tropikal Kelebek Bahçesi Selçuklu ilçesinde bulunuyor.</p>
    <p>
        <strong>Açık olduğu saatler</strong>: Pazartesi hariç her gün <strong>09:00-17:00</strong> saatleri arasında ziyaret edebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Konya+Tropikal+Kelebek+Bah%C3%A7esi/@37.9484522,32.4618105,15z/data=!4m2!3m1!1s0x0:0x3a395c06ca6f41b7?sa=X&amp;ved=2ahUKEwiZhsTkkrH0AhUW7rsIHRL_DbMQ_BJ6BAheEAU" target="_blank">Konum Linki</a></p>
    <h3>4- Aziziye Camii</h3>
    <p>
        <img alt="Konya'daki Aziziye Camii manzarası." src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/konya-aziziye-camii-16418.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya, birbirinden güzel onlarca camiye ev sahipliği yapıyor ve bu camiler içinde mutlaka görmenizi önerdiklerimiz arasında yer alan Aziziye Camii, 17. yüzyılda Osmanlı döneminde inşa edilen bir şaheser. Karatay ilçesinde Selimiye Caddesi üzerinde yer alan tarihi cami, ilk olarak 1676 yılında inşa edilmiş ve 1867 yılında Sultan Abdülaziz’in annesi Pertevniyal Sultan tarafından baştan yeniden tasarlanmış.</p>
    <p>
        Son dönem Osmanlı mimari eserlerinden biri olması ile ayrı bir tarihi bir öneme sahip olan Aziziye Camii’nin başka bir önemli özelliği de Barok mimarisi ile klasik Osmanlı mimarisinin bir birleşimi olması. Hem mimarlık meraklılarının hem de tarih severlerin Konya’da mutlaka görmesi gereken yapılardan olan, tek kubbeli ve çift minareli inşa edilen Aziziye Camii, etkileyici mimari özelliklerini günümüze kadar korumayı başarmış bir tarihi hazine.</p>
    <p>
        <a href="https://www.google.com/maps/place/Aziziye+Cami/@37.8699623,32.4986894,17z/data=!3m1!4b1!4m5!3m4!1s0x14d0850576bdf545:0x922683bbd48ee6e!8m2!3d37.8699275!4d32.5008928?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>5- Karatay Medresesi ve Çini Eserler Müzesi</h3>
    <p>
        <img alt="Karatay Medresesi ve Çini Eserler Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karatay-medresesi-31082.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya'nın simgesi olan Karatay Medresesi Ferhuniye Mahallesi'nde Adliye Bulvarı'nda bulunuyor. 1251 yılında inşa edilmiş ve uzun yıllar eğitim merkezi olarak kullanılmış. Sille taşlarıyla yapılan medrese duvar ve tavan süslemeleri ve Selçuklu dönemi işçilikleriyle dikkat çekiyor.</p>
    <p>
        1955'ten beri Çini Eserler Müzesi olarak hizmet veren Karatay Medresesi'nde tarihi yapıyı inceleyebilir ve binlerce çiniyle süslü müze koleksiyonlarını gezebilirsiniz.</p>
    <p>
        <strong>Açık olduğu saatler:</strong> Pazartesi hariç her gün <strong>09:00-16:45</strong> saatleri arasında ziyaret edebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Karatay+Medresesi/@37.8749669,32.4906697,17z/data=!3m1!4b1!4m5!3m4!1s0x14d085083a582ca9:0xfc612cafa3826e04!8m2!3d37.874882!4d32.4928549?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>6- Alaaddin Keykubat Camii</h3>
    <p>
        <img alt="Alaaddin Keykubat Camii havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/alaaddin-cami-29569.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Alaaddin Keykubat Camii olarak da bilinen ve şehrin en sevilen tarihi gezi noktalarından Alaaddin Tepesi’nde yer alan Alaaddin Camii, Konya'nın en büyük ve en eski camisi olarak görülmeye değer bir eser. Sultanı 1. Rükneddin Mesud döneminde 1116 yılında inşa edilmeye başlayan ve I. Alâaddin Keykubad zamanında 1221 yılında tamamlanan etkileyici caminin avlusunda 8 tane Anadolu Selçuklu sultanın türbesini de ziyaret etme şansı bulacaksınız.</p>
    <p>
        Anadolu Selçuklu dönemini yansıtan etkileyici ahşap ve taş oymaları ile süslenerek kesme taşlarla inşa edilen Alaaddin Camii, bulunduğu tepeden sunduğu panoramik Konya manzarasıyla da ziyaretçilerini büyülüyor. Camiyi gezdikten sonra sultanların türbelerini ve Alaaddin Tepesi'nin diğer etkileyici yapılarını da ziyaret edebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Alaeddin+Keykubad+Cami/@37.8733947,32.4904391,17z/data=!3m1!4b1!4m5!3m4!1s0x14d0850807b82581:0x7898dc06956abf41!8m2!3d37.8733905!4d32.4926278?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>
        7- Sultanlar Türbesi</h3>
    <p>
        <img alt="Alaaddin Camii'nin bahçesinde yer alan ve 8 tane Anadolu Selçuklu sultanının türbesini kapsayan Sultanlar Türbesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sultanlar-turbesi-38876.webp" loading="lazy"></p>
    <p>
        Konya'nın simgesel yapılarından Alaaddin Camii'nin bahçesinde yer alan ve 8 tane Anadolu Selçuklu sultanının türbesini kapsayan Sultanlar Türbesi, her yıl binlerce kişi tarafından ziyaret ediliyor. Caminin iç avlusunda I. Mesut, I. Kılıçaslan, II. Rükneddin Süleyman, I. Gıyaseddin Keyhüsrev, I. Alâeddin Keykubad, II. Gıyaseddin Keyhüsrev, IV. Kılıçaslan ile III. Gıyaseddin Keyhüsrev'in on köşeli kesme taşlarla tasarlamış ve çarpıcı kubbeleriyle Selçuklu dönemi mimarisini yansıtan türbelerini ziyaret edebilirsiniz. Konya inanç ve kültür gezilerinin değişmez adreslerinden biri olan Sultanlar Türbesi, özellikle dini bayramlar ve kutsal günlerde tamamen doluyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Sultanlar+T%C3%BCrbesi/@38.6145813,27.4284156,17z/data=!3m1!4b1!4m5!3m4!1s0x14b99c6b68651ff5:0x756284c1f207fcc5!8m2!3d38.6145871!4d27.4306033" target="_blank">Konum Linki</a></p>
    <h3>8- İnce Minare Medrese</h3>
    <p>
        <img alt="İnce minare medrese" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ince-minare-medrese-38842.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya'da İnce Minareli Medrese Selçuklu döneminin taş işçiliğine güzel bir örnek. 1254'te yapılan medrese, dini eğitimlere 19. yüzyıla kadar ev sahipliği yapmış. Kubbesi, ders odaları, kapısı ve çinili minaresiyle etkileyici bir mimari yapı.</p>
    <p>
        Şimdi Taş Eserler Müzesi olarak kullanılan medresede Selçuklu ve Karamanoğlu dönemlerine ait süslemeler, kabartmalar ve figürler görebilirsiniz.</p>
    <p>
        <strong>Açık olduğu saatler:</strong> İnce Minare Medrese pazartesi <strong>10:00-18:00</strong>, diğer günler <strong>08:00-18:00</strong> saatleri arasında ziyaret edilebilir.</p>
    <p>
        <a href="https://www.google.com/maps/place/%C4%B0nce+Minare+Ta%C5%9F+Eserler+M%C3%BCzesi/@37.8728758,32.4877862,17z/data=!3m1!4b1!4m5!3m4!1s0x14d085a842c00001:0x5e8c95cd7d33d02f!8m2!3d37.872847!4d32.4901124?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>9- Sultan Selim Camii ve Külliyesi</h3>
    <p>
        <img alt="Sultan selim cami" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/sultan-selim-cami-38847.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        16. yüzyıl Osmanlı döneminden kalan bir tarihi yapı olan Sultan Süleyman Camii ve Külliyesi, Karatay ilçesinde Müze Alanı Caddesi üzerinde yer alıyor. 2. Sultan Selim'in Konya sancak beyi olduğu dönemde yapımına başlanan ve 1567 yılında yaklaşık 9 yılda tamamlanan mimari şaheser, klasik Osmanlı mimarisinin en güzel örneklerinden biri olarak ilgi gösteriliyor.</p>
    <p>
        İstanbul'un en ünlü camilerinden Fatih Camii'ne mimari açıdan oldukça benzeyen Sultan Selim Camii etkileyici iç süslemeleri, yarım kubbesi, ahşap ve taş oymaları ile görülmeye değer güzellikte. Günümüzde de hizmet vermeye devam eden Sultan Selim Camii, özellikle dini bayramlar ve kutsal günlerde tamamen doluyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Sultan+Selim+Camii/@37.870451,32.5019758,17z/data=!3m1!4b1!4m5!3m4!1s0x14d085100554d433:0xa96981de9937d1d6!8m2!3d37.8702466!4d32.5042074?hl=tr" target="_blank">Konum Linki</a></p>
    <h3>10- Alaaddin Tepesi</h3>
    <p>
        <img alt="Alaaddin Tepesi yeşil uzun ağaçlar yürüyüş yolu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/alaaddin-tepesi-31081.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Konya’nın en etkileyici camilerinden biri olan Alaaddin Camii, 8 tane Anadolu Selçuklu sultanının türbesinin sıralandığı Sultanlar Türbesi, tarihi Alaaddin Çeşmesi ve etkileyici kümbetleri ziyaret edebileceğiniz Alaaddin Tepesi, 13. yüzyıla ait tarih kaynaklarda ünlü Yunan filozofu Platon'un mezarının bulunduğu yer olarak da geçiyor. Konya merkezinden kısa bir yürüyüşle veya toplu taşıma araçlarıyla kolayca gidebileceğiniz tepede hem tarihi hazineler hem de büyüleyici Konya manzaraları eşliğinde güzel bir gün geçirebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Alaaddin+Tepesi+Park%C4%B1/@37.8725207,32.4901476,17z/data=!3m1!4b1!4m5!3m4!1s0x14d085a82ab352ad:0x361fb79cc1c486b0!8m2!3d37.8725165!4d32.4923363" target="_blank">Konum Linki</a></p>

</body>
</html>
