<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kırklareli'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>KIRKLARELİ</h5>
    <p><span style="font-weight: 400;">Kırklareli, doğa ve tarih severlerin keyifle gezebileceği yerler arasında. Koruma altına alınmış longoz ormanları, el değmemiş plajları ve doğal güzelliklerinin yanı sıra Osmanlı döneminden kalan tarihi yapılarıyla da dikkat çekiyor. Sultanlar Yolu'nda gezinti yaparak Cedid Ali Paşa Camii, Sokullu Mehmet Paşa Camii ve Demirköy Dökümhanesi gibi tarihi yapıları ziyaret edebilirsin. </span></p>
    <p><span style="font-weight: 400;">stanbul gibi büyük illere yakınlığıyla da dikkat çeken Kırklareli özellikle hafta sonlar doğa içerisinde zaman geçirmek isteyenleri ağırlıyor. Sevdiklerinizle birlikte keyifli zamanlar geçirmek ve huzur bulmak için yolculuk yapabileceğiniz Kırklareli ’ye yola çıkmadan önce şehre gidenlerin bize en çok sorduğu soruları cevaplamakla başlayalım. </span></p>
        <h2><b>Kırklareli'de gezilecek yerler:</b></h2>
        <ol>
            <li>Kırklareli Müzesi</li>
            <li>Kırklareli Atatürk Evi</li>
            <li>Ali Rıza Efendi Kültür Evi</li>
            <li>Kırklareli Aşıklar Tepesi</li>
            <li>Kofçaz</li>
        </ol>
    <h2>1. Kırklareli Müzesi</h2>
    <p>
        <img alt="Kırklareli Müzesi iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kirklareli-muzesi-52558.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Kırklareli Müzesi, 1894 yılında belediye binası olarak inşa edilmiş ve restore edilerek hizmete açılmış bir müze olarak karşımıza çıkıyor. Müze, Mustafa Kemal Bulvarı üzerinde bulunan müzede, tabiat salonu, etnografya salonu ve arkeoloji bölümü gibi pek çok bölüm yer alıyor. Yüzlerce canlı türü örneği, yöresel giysiler, takılar ve günlük eşyalar gibi birçok obje sergilenen müzeye Kırklareli seyahatin sırasında mutlaka uğramanı öneriyoruz.</p>
    <p>
        <a href="https://www.google.com/maps/place/K%C4%B1rklareli+M%C3%BCzesi/@41.7337093,27.2226681,17z/data=!3m1!4b1!4m5!3m4!1s0x40a75341bf574901:0xcd230f67bf1ae98c!8m2!3d41.7337053!4d27.2248568" target="_blank">Konum Linki</a></p>
    <p>
        <div class="working-hours-box" data-testid="working-hours-box"><strong>Giriş ücreti</strong></p>
    <ul>
        <li>
            Ücretsiz</li>
    </ul>
    <p>
        <strong>Açık olduğu saatler</strong></p>
    <ul>
        <li>
            Haftanın her günü 08.30-17.30</div></li>
    </ul>
    <h2>2. Kırklareli Atatürk Evi</h2>
    <p>
        <img alt="Kırklareli Atatürk Evi iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kirklareli-ataturk-evi-52554.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Yayla Mahallesi'nde bulunan ve tarihi konaklarıyla kentsel sit alanı olarak koruma altına alınan Kırklareli Atatürk Evi, ziyaret listesinin en üst sırasında yer alıyor. Mustafa Kemal Atatürk'ün Selanik'te dünyaya geldiği evin bir kopyası olan müze, her yıl binlerce kişi tarafından ziyaret ediliyor. Dönem mobilyaları, antikalar ve zengin koleksiyonlarıyla dikkat çeken Kırklareli Atatürk Evi, Atatürk'ün kişisel eşyalarından belgelere, üniformalardan madalyalara kadar birçok esere ev sahipliği yapıyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Atat%C3%BCrk+Evi/@41.7385046,27.2205301,17z/data=!3m1!4b1!4m5!3m4!1s0x40a75314ea919039:0xdd78506cb358cb16!8m2!3d41.7385045!4d27.222694" target="_blank">Konum Linki</a></p>
    <p>
        <strong>Açık olduğu saatler</strong></p>
    <ul>
        <li>
            Pazartesi günleri kapalı</li>
        <li>
            Diğer günler 09.30-17.30</div></li>
    </ul>
    <h2>3. Ali Rıza Efendi Kültür Evi</h2>
    <p>
        <img alt="Ali Rıza Efendi Kültür Evi iç görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ali-riza-efendi-kultur-evi-52556.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Kırklareli merkezindeki Laleli Sokak'ta yer alan Ali Rıza Efendi Kültür Evi, Balkan ve Trakya kültürünü anlamak için mutlaka uğraman gereken yerler arasında. Mustafa Kemal Atatürk'ün babası Ali Rıza Efendi'nin adını taşıyan kültür evi, Bulgaristan, Yunanistan ve Karadağ'dan getirilen eserleri barındırıyor. Balmumu heykeller, yöresel giysiler, antikalar ve el sanatı ürünleri gibi pek çok objeyi içeren müze, Balkan ve Trakya yemek kültüründen günlük yaşama kadar pek çok konuda bilgi edinme imkanı sunuyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Ali+R%C4%B1za+Efendi+K%C3%BClt%C3%BCr+Evi/@41.7396695,27.2213394,17z/data=!3m1!4b1!4m5!3m4!1s0x40a75314609e4865:0x700d708035f1131!8m2!3d41.7396655!4d27.2235281" target="_blank">Konum Linki</a></p>
    <p>
        <div class="working-hours-box" data-testid="working-hours-box"><strong>Giriş ücreti</strong></p>
    <ul>
        <li>
            Ücretsiz</li>
    </ul>
    <p>
        <strong>Açık olduğu saatler</strong></p>
    <ul>
        <li>
            Pazartesi günleri kapalı</li>
        <li>
            Diğer günler 09.30-17.30</div></li>
    </ul>
    <h2>4. Kırklareli Aşıklar Tepesi</h2>
    <p>
        <img alt="Kırklareli Aşıklar Tepesi yeşil alanda uzun ağaçlar görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kirklareli-asiklar-tepesi-52549.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Karadeniz'in en güzel manzaralarını sunan tepe günün her saati harika manzaralar sunarken gün doğumu ve gün batımı zamanlarında eşsiz manzaralara ev sahipliği yapıyor. Tepeden bakıldığı zaman Kıyıköy limanından, İğneada Longoz Ormanlarına kadar benzersiz manzaralar sunan Aşıklar Tepesinde yeşilin ve mavinin muhteşem uyumunu göreceksin.</p>
    <p>
        <a href="https://www.google.com/maps/place/K%C4%B1y%C4%B1k%C3%B6y,+39400+K%C4%B1y%C4%B1k%C3%B6y%2FVize%2FK%C4%B1rklareli/@41.6385152,28.0811962,15z/data=!3m1!4b1!4m5!3m4!1s0x40a089f42341bebb:0xe867cf481157adb9!8m2!3d41.6385!4d28.089951" target="_blank">Konum Linki</a></p>
    <h2>5. Kofçaz</h2>
    <p>
        <img alt="kofçaz havadan mavi gökyüzü görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kofcaz-41247.webp" loading="lazy"></p>
    <p>
        Kırklareli'nin doğal güzellikleri içinde yer alan Kofçaz, Balkan köylerini anımsatan atmosferiyle günübirlik geziler yapmak için çok tercih ediliyor. Doğa yürüyüşleri, kampçılık, fotoğraf safarileri ve kültür gezileri için çok tercih edilen Kofçaz, tarihi köyleri, tümülüsler ve Topçu Baba Türbesi gibi kutsal mekanları ile dikkat çekiyor. Yıldız Dağları eteklerindeki yaylaları ve yöresel lezzetleriyle de adını duyuran Kofçaz’da, her yıl düzenlenen Kofçaz Ceviz ve Bal Festivali ile de renkli sahnelere ev sahipliği yapıyor.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kof%C3%A7az,+K%C4%B1rklareli/@41.9453559,27.1532986,16z/data=!3m1!4b1!4m5!3m4!1s0x40a7476e10830077:0x4864a093f2f7eb58!8m2!3d41.9428!4d27.157148" target="_blank">Konum Linki</a></p>


</body>
</html>
