<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kırşehir'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>KIRŞEHİR</h5>
    <p><span style="font-weight: 400;">Anadolu’nun eski uygarlıklarına ve medeniyetlerine ev sahipliği yapmış tarih kokan Kırşehir. İç Anadolu’da yer alan bu şehir tarih tutkunları için bölgede vazgeçilmez yerlerden biri. Eskiden Macissus adı ile bilinen şehir Bizanslı I. Justinianus döneminde tekrar kurularak Justinianopolis adı ile anılmaya başlamış. Türklerin bu alana yerleşmesi ile coğrafik yapısından dolayı bozkır olduğu için ‘’Kır Şehri’’ adını vermişlerdir. Zamanla halk tarafından da Kırşehir adına dönüşmüş. </span></p>
        <h2><b>Kırşehir'de gezilecek yerler:</b></h2>
        <ol>
            <li>Seyfe Gölü-Kuş Cenneti</li>
            <li>Mucur Yeraltı Şehri</li>
            <li>Cacabey Medresesi</li>
            <li>Japon Bahçesi</li>
            <li>Kaman Kalehöyük Arkeoloji Müzesi</li>
        </ol>
    <h2 dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">1. Seyfe Gölü-Kuş Cenneti</span></h2>
    <p dir="ltr">
        <span><img alt="kirsehir-seyfe-golu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kirsehir-seyfe-golu-33105.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Hem Türkiye hem de dünya için önemli sulak alanlardan biri olan Seyfe Gölü şehrin doğal güzellikleri arasında ilk sırada yerini alıyor. 1994 yılında Ramsar Sözleşmesine eklenmiş bu göl dünyadaki en büyük flamingo topluluklarından birine ev sahipliği yapmakta. Sadece flamingo değil birçok kuş türünü de barındırmakta olup bölgede yaklaşık 480 bin kuşun yaşadığı bilinmekte. Gölün çevresindeki günübirlik kullanım alanları sayesinde piknik yapabilir ve kuş gözlem kulesinden kuşları inceleme fırsatına yakından erişebilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf"><a href="https://www.google.com/maps?q=seyfe+g%C3%B6l%C3%BC&amp;rlz=1C1CHZN_trTR989TR989&amp;gs_lcrp=EgZjaHJvbWUyCAgAEEUYJxg7MgYIARBFGEAyBggCEEUYOTIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIGCAYQRRg8MgYIBxBFGDzSAQg0MDIxajBqNKgCALACAA&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=2ahUKEwi0noiSlYyCAxVYcfEDHYeiCm0Q_AUoAnoECAMQBA" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">2. Mucur Yeraltı Şehri</span></h2>
    <p dir="ltr">
        <span><img alt="mucur-yeralti-sehri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mucur-yeralti-sehri-52467.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Volkanik oluşumlu tüf kayaların oyulması ile yapılan bu şehrin, yapılma amacına dair iki farklı rivayet bulunmakta. İlki, İlk Hristiyanlık Döneminde putperest kayzerlerden korunma amacı ile yapıldığı, ikincisi ise Orta Bizans döneminde Arap akınlarından korunma amacı ile yapıldığı düşünülmekte. İki katlı olan bu şehirde odalar, salonlar ve bunları birbirine bağlayan koridor-tüneller var. Yaklaşık 42 odası ziyarete açık olan bu şehir yerden 7-8 metre derinlikte bulunmaktadır. Tarihi bir yolculuk yapmak isteyenler için görülmeye değer.</p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">08.00-17.00 (Pazartesi hariç)</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf"><a href="https://www.google.com/maps?q=mucur+yeralt%C4%B1+%C5%9Fehri&amp;rlz=1C1CHZN_trTR989TR989&amp;gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyDQgBEC4YrwEYxwEYgAQyBwgCEAAYgAQyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEAAYgAQyCAgHEAAYFhgeMggICBAAGBYYHqgCALACAA&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;sqi=2&amp;ved=2ahUKEwiXieqTloyCAxU2hP0HHXcOAq4Q_AUoAnoECAIQBA" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">3. Cacabey Medresesi</span></h2>
    <p dir="ltr">
        <span><img alt="kirsehir-cacabey-camisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kirsehir-cacabey-camisi-33102.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Şehrin merkezinde bulunan Cacabey Medresesi, dünyanın ilk astronomi okulu olup gözlemevi amacıyla yaptırılmış bir medresesi. Medresenin minare yapımındaki 3 farklı örgü sistemi, Anadolu’nun tek örneği. Şehir için önemli faaliyetlerde bulunan ve saygı gören Cacabey tarafından yaptırılmıştır. Şu an cami olarak hizmet veren bu medrese hem ilim hem de maneviyatın birleştiği en güzel örneklerden birisi.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf"><a href="https://www.google.com/maps?q=cacabey+medresesi&amp;rlz=1C1CHZN_trTR989TR989&amp;gs_lcrp=EgZjaHJvbWUqCQgAECMYJxiKBTIJCAAQIxgnGIoFMg0IARAuGK8BGMcBGIAEMgYIAhBFGDkyDQgDEC4YrwEYxwEYgAQyDQgEEC4YrwEYxwEYgAQyBwgFEAAYgAQyBggGEEUYPDIGCAcQRRg8qAIAsAIA&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;sqi=2&amp;ved=2ahUKEwiqtcyLnoyCAxU8_7sIHQUnAagQ_AUoBHoECAIQBg" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">4. Japon Bahçesi</span></h2>
    <p dir="ltr">
        <span><img alt="japon-bahcesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/baltalimani-japon-bahcesi-51330.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Kırşehir’in Kaman ilçesinin Çağırkan köyünde bulunan asıl adı Mikasanomiya Anı Bahçesi olan bu bahçe, 1993 yılında Japonya Ortadoğu Kültür Merkezi tarafından Altes Prensi Takahito Mikasa’nın Kalehöyük kazılarını başlatmasının anısına ve halka rekreasyon alanı oluşturulması amacıyla yapılmış. Aynı zamanda bu bahçe Japonya sınırları dışındaki en büyük botanik bahçe ünvanına sahip. Birçok bitki türünü, çeşit çeşit ağaç türlerini ve göletleri yakından inceleyip doğa ile iç içe harika zaman geçirebilirsiniz.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Giriş ücreti</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Ücretsiz</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">10.00-17.00 (Kış aylarında kapalı.)</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf"><a href="https://maps.app.goo.gl/94m57fMh3QVg7fQN6" target="_blank">Konum Linki</a></span></p>
    <h2 dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">5. Kaman Kalehöyük Arkeoloji Müzesi</span></h2>
    <p dir="ltr">
        <span><img alt="kaman-kalehoyuk-arkeoloji-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kaman-kalehoyuk-arkeoloji-muzesi-52464.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Japonya’nın "Kültürel Mirası Koruma Projesi" kapsamında hibe edilen, höyük içine yapılmış bir müzedir. Japon Bahçesinin içinde yer alan bu müze yeşil alanı ve çevre duyarlılığı sebebiyle 2011 yılında Amerika’da “En İyi Yeşil Müze” ödülünü almıştır. Müzede genel hatlarıyla Kalehöyük, Büklükale ve Yassıhöyük kazılarında ortaya çıkarılan eserler sergilenmektedir. Selçuklu ve Osmanlı döneminden Anadolu’daki Kalkolitik Çağ’a uzanan geniş bir zaman aralığını kapsıyor. Diğer müzelerden farklı olarak eserler ters kronolojik sistemle sergilenmiş yakın dönemden eski döneme doğru sıralanmıştır. Ayrıca müze içerisinde kütüphane, resim sergisi, kafe, sinevizyon ve araştırma bölümü bulunmaktadır. Tarih yolculuğu yapmak isteyenlerin mutlaka ziyaret etmesi gereken yerlerde ilk sırada yer alıyor.</span></p>
    <p dir="ltr">
        <strong><span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">Açık olduğu saatler</span></strong></p>
    <ul>
        <li aria-level="1" dir="ltr">
            <p dir="ltr" role="presentation">
                <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf">08.00-19.00</span></p>
        </li>
    </ul>
    <p dir="ltr">
        <span id="docs-internal-guid-9300dd1d-7fff-2f93-42b8-f80b0af5adbf"><a href="https://www.google.com/maps?q=KAMAN+KALEH%C3%96Y%C3%9CK+ARKEOLOJ%C4%B0+M%C3%9CZES%C4%B0&amp;source=lmns&amp;entry=mt&amp;bih=963&amp;biw=1920&amp;rlz=1C1CHZN_trTR989TR989&amp;hl=tr&amp;sa=X&amp;ved=2ahUKEwjJqJDul46CAxXOnCcCHYy1DBgQ_AUoAnoECAEQAg" target="_blank">Konum Linki</a></span></p>

</body>
</html>
