<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mardin'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>MARDİN</h5>
    <p><span style="font-weight: 400;">Türkiye'nin kültür ve inanç turizmi açısından önemli şehirlerinden Mardin binlerce yıllık taş yapılar, medreseler, antik kentler ve camilerle ziyaretçi çekiyor. Farklı kültürlerin bir arada yaşadığı Mardin kültürel zenginliğiyle büyülüyor. Mezopotamya'da bulunan ve birçok medeniyet için önemli bir şehir olan Mardin, Türkiye'nin en çok ziyaret edilen tarih ve kültür turu destinasyonlarından. Mardin Kalesi'nin yamaçlarında bulunan tarihi taş evler ve labirent sokaklarda keşfedilecek hazineler sunuyor. </span></p>
        <h2><b>Mardin'de gezilecek yerler:</b></h2>
        <ol>
            <li>Kasımiye Medresesi</li>
            <li>Mardin Sokakları</li>
            <li>Zinciriye Medresesi</li>
            <li>Mardin Kalesi</li>
            <li>Mardin Müzesi</li>
        </ol>
    <h2>
        <strong>1. Kasımiye Medresesi</strong></h2>
    <p>
        <strong><img alt="Kasımiye Medresesi akşam görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kasimiye-medresesi-37758.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Mardin medreseler, camiler, tarihi yapılar konusunda çok zengin bir şehir ve burada turistlerin en çok ziyaret ettiği medrese ise Artuklular döneminde yapımına başlanan Kasımiye Medresesi. Yapıldığı dönemde Moğol saldırılarından dolayı yarım kalan ve 1457-1502 yılları arasında Akkoyunlu döneminde tamamlanabilen etkileyici medrese, tek kubbeli ve açık avlulu olarak düz kesme taşlarla inşa edilmiş.</p>
    <p>
        Benzersiz taş işçiliği ile dikkat çeken Kasımiye Medresesi’nin içerisinde cami, türbe, havuz ve çeşme bölümlerinin bulunduğu var ve medrese, Mardin'deki en büyük yapılardan biri olarak dikkat çekiyor. Şehir merkezine yer aldığı için kısa bir yürüyüşle kolayca ulaşabileceğiniz Kasımiye Medresesi’nin içerisinde El Cezire Sanat Müzesi de hizmet veriyor. Medresenin mimarisini inceledikten sonra müzenin zengin koleksiyonlarında fil saati gibi büyüleyici sanat eserlerini yakından görebilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kas%C4%B1miye+Medresesi/@37.3075,40.7178113,17z/data=!3m1!4b1!4m5!3m4!1s0x400a88a422640965:0x127a5952f0cf4a87!8m2!3d37.3075!4d40.72" target="_blank">Konum Linki</a></p>
    <h2>
        <strong>2. Mardin Sokakları</strong></h2>
    <p>
        <strong><img alt="Mardin sokaklarında bulunan evler havadan görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mardin-10171.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Sizi tarihte unutulmaz bir yolculuğa çıkaracak Mardin sokakları birbirinden güzel taş evler, tarihi eserler ve büyüleyici manzaralar ile tam bir açık hava müzesini andırıyor. Arnavut kaldırımlarla döşenmiş, tek bir insanın geçebildiği büyüklükteki labirent sokaklarında fotoğraf gezilerinin düzenlendiği Mardin, binlerce yıllık tarihi atmosferini korumayı başarmış ender şehirlerimizden biri.</p>
    <p>
        Büyüleyici camiler, kiliseler ve tapınakların yan yana sıralandığı şehirde dağ eteklerine kurulmuş ve hala kullanılan taş evler de manzarayı tamamlıyor. Bazıları kafe ve restoranlara dönüştürülmüş taş binalarda gezinizden sonra bir mola verebilir, dünyaca ünlü Mardin lezzetlerini tadabilir veya çayınızı yudumlayarak benzersiz manzara eşliğinde yorgunluk atabilirsiniz.</p>
    <h2>
        <strong>3. Zinciriye Medresesi</strong></h2>
    <p>
        <strong><img alt="Zinciriye Medresesi avludan açık havada görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/zinciriye-medresesi-32986.webp" loading="lazy"></strong></p>
    <p>
        Artuklu döneminin en güzel mimari eserlerinden biri olan ve döneminde Anadolu'nun en saygın eğitim kurumları arasında gösterilen Zinciriye Medresesi, Mardin merkezinde kolayca ulaşabileceğiniz güzel bir konumda yer alıyor. Mardin'de gezilecek tarihi mekanlar nelerdir diye merak edenlerin listelerinin ilk sıralarına yerleştirmeleri gereken adreslerden. 1385 yılında Artuklu Sultanı Melik Necmeddin İsa bin Muzaffer Davut Bin Malik Salih tarafından yaptırılan Zinciriye Medresesi, dikdörtgen olarak tasarlanmış ve oldukça geniş bir alanı kapsıyor.</p>
    <p>
        İki katlı medresede çiçeklerle süslü açık avlu, cami, türbe, yaşam ve eğitim odalarını gezebilirsiniz. Zinciriye Medresesi’nin kakma motifleri ve kesme taşlarla inşa edilmiş minberi de görülmeye değer güzellikte. Yapıldığı dönemdeki tarihi ve otantik atmosferini hala koruyan Zinciriye Medresesi, Mardin'in en önemli tarihi yapılarından biri olarak ziyaret edilmeye değer.</p>
    <p>
        <a href="https://www.google.com/maps/place/Zinciriye+Medresesi/@37.3142252,40.7378559,17z/data=!3m1!4b1!4m5!3m4!1s0x400a88c069f8abbd:0xfdc48c42e8244a80!8m2!3d37.3142252!4d40.7400446" target="_blank">Konum Linki</a></p>
    <h2>
        <strong>4. Mardin Kalesi</strong></h2>
    <p>
        <strong><img alt="Türkiye'nin güneydoğusunda yer alan Mardin Kalesi ile Eski Mardin'in (Eski Mardin) antik ve taş evleri" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mardin-kalesi-25618.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Şehrin en bilinen simgesel yapısı olan Mardin Kalesi, bölgeye hakim yüksek bir tepede hemen dikkatinizi çekecek. Halk arasında Kartal Yuvası olarak tanımlanan ve yamaçlarında ünlü Mardin taş evlerin sıralandığı Mardin Kalesi, deniz seviyesinden tam 1200 metre yükseklikte sunduğu inanılmaz Mardin manzarasından dolayı, şehir gezen yerli ve yabancı turistlerin ilk uğradığı yer.</p>
    <p>
        Uzun tarihi boyunca Sümerler, Asurlular, Babiller, Romalılar, Bizanslılar, Selçuklular, Osmanlılar tarafından kullanılan ve pek çok antik efsaneye konu olan Mardin Kalesi, aynı zamanda doğunun en sağlam kalesi olarak da biliniyor. Rehberli turlarla keşfe çıkabileceğiniz kaleye akşam uğrarsanız muhteşem Mardin ve gün batımı manzaralarına şahit olabilirsiniz.</p>
    <p>
        <a href="https://www.google.com/maps/place/Mardin+Kalesi/@37.3154432,40.7367666,17z/data=!3m1!4b1!4m5!3m4!1s0x400a889527bc8f23:0x7be56abe777f7be0!8m2!3d37.3154432!4d40.7389553" target="_blank">Konum Linki</a></p>
    <h2>
        <strong>5. Mardin Müzesi</strong></h2>
    <p>
        <strong><img alt="Mardin Müzesi görünümü" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/mardin-muzesi-37767.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Cumhuriyet Meydanı üzerinde yer alan Mardin Müzesi, 1895 yılında inşa edilen etkileyici taş binasında paha biçilmez eserleriyle hizmet veriyor. Bölgenin eşsiz tarihini ve kültürünü anlamak için mutlaka ziyaret etmeniz gereken yerlerden biri olan ve 1995 yılında açılan müzede Mardin ve çevresinde hüküm sürmüş onlarca medeniyetten paha biçilmez tarihi eserleri yakından görebilirsiniz.</p>
    <p>
        Roma, Bizans, Zengi ve Eyyubi dönemlerine ait mozaik mezar taşlarının özellikle çok ilgi çektiği Mardin Müzesi’nde Selçuklu, Urartu, Asur, Bizans, Pers, Roma, Artuklu ve Osmanlı dönemlerine kadar uzanan benzersiz bir koleksiyon var. Türkiye'nin en zengin arkeoloji müzelerinden.</p>
    <p>
        <a href="https://www.google.com/maps/place/Mardin+M%C3%BCzesi/@37.31351,40.7326225,17z/data=!3m1!4b1!4m5!3m4!1s0x400a88bf409dd887:0x61bab3a6802f40c0!8m2!3d37.3134552!4d40.7348136" target="_blank">Konum Linki</a></p>
    <p>


</body>
</html>
