<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevşehir'de Gezilecek Yerler</title>
        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>NEVŞEHİR</h5>

    <p><span style="font-weight: 400;">60 milyon yıl önce volkanik patlamalarla oluşmuş ve doğal süreçlerle şekillenmiş Nevşehir, peribacaları ve tüf kayalara oyulmuş kiliseleri ile nam salmış. Her yıl milyonlarca kişi tarafından ziyaret edilen bu turistik şehir özellikle Kapadokya ile turizm odağı haline gelmiş. Nevşehir yer altı şehirleri, kaleleri ve Kızılırmak manzaraları ile de dikkat çekmekle kalmaz ve her köşesinde keşfedilecek bir hazine barındırır.</span></p>
    <p><span style="font-weight: 400;">Nevşehir’de mutlaka görmeniz gereken 72 yeri hazırlarken Instagram etiketlerini kullandık ve en çok etiketlenen yer en üstte olacak şekilde özel bir sıralama yaptık. Yazımızı okuyarak milyonlarca yıllık doğal güzellikleri, ilginç müzeleri ve UNESCO Dünya Mirası Listesi’ne giren tarihi yapılarıyla ülkemizin görülmeye değer çok özel yerlerinden biri olan Nevşehir’i hemen keşfe çıkabilirsiniz.</span></p>
    <h2><b>Nevşehir'de gezilecek yerler:</b></h2>
        <ol>
            <li>Asmalı Konak</li>
            <li>Güvercinlik Vadisi</li>
            <li>Çavuşin</li>
            <li>Üç Güzeller</li>
            <li>Aşk Vadisi (Bağlıdere Vadisi)</li>
            <li>Uçhisar Kalesi</li>
            <li>Acıgöl</li>
            <li>Kozaklı</li>
            <li>Kızılçukur Vadisi (Kızıl Vadi)</li>
            <li>Göreme Açık Hava Müzesi</li>
        </ol>
    <h3>
        <strong>1- Asmalı Konak</strong></h3>
    <p>
        <strong><img alt="Asmalı Konak" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/asmali-konak-38649.webp" loading="lazy"></strong></p>
    <p>
        Nevşehir, pek çok büyüleyici tarihi konağa ev sahipliği yapıyor ve bu yapılar içine en ünlülerinden biri de Asmalı Konak. Birçok ünlü dizi ve filmin çekildiği bu nedenle de çok ziyaret edilen tarihi konak, Ürgüp'e sadece 5 kilometre uzaklıkta yer alıyor. Kapadokya bölgesine özgü geleneksel taş ve ahşap mimarili konakların en güzellerinden biri olarak kesinlikle görmenizi ve dönem mobilyaları ile süslenmiş odalarını gezmenizi öneririm.</p>
    <p>

    <p>
        <a href="https://www.google.com.tr/maps/place/Asmal%C4%B1+Konak/@38.6338932,34.903258,17z/data=!3m1!4b1!4m5!3m4!1s0x152a5d20b0d2b0db:0x75e5477a1649a0ce!8m2!3d38.6338304!4d34.9054137" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>2- Güvercinlik Vadisi</strong></h3>
    <p>
        <strong><img alt="Güvercinlik Vadisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/guvercinlik-vadisi-38660.webp" style="width: 825px; height: 620px;" loading="lazy"></strong></p>
    <p>
        Güvercinlik Vadisi, Nevşehir ve Kapadokya'nın popüler yürüyüş, bisiklet ve ATV ve safari rotasıdı. Bu vadi, Göreme ve Uçhisar arasında yer alır ve güvercin yuvaları, nazar boncuklarıyla süslenmiş dilek ağaçları, kaya kiliseleri ve peribacaları ile benzersiz bir manzaraya ev sahipliği yapıyor. Fotoğrafçıların sıklıkla ziyaret ettiği vadi, kışın karla kaplandığında da büyüleyici manzaralara kucak açıyor. Ayrıca vadi, hala kaliteli üzüm bağları ve şaraplarıyla tanıyor, bu nedenle gezinizde bölgede üretilen şarapları da satın alabilirsiniz.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/G%C3%BCvercinlik+Vadisi/@38.6199146,34.8028067,17z/data=!3m1!4b1!4m5!3m4!1s0x152a68e538f79a33:0x696e2818277fe674!8m2!3d38.6199146!4d34.8049954" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>3- Çavuşin</strong></h3>
    <p>
        <strong><img alt="Çavuşin" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/cavusin-38652.webp" loading="lazy"></strong></p>
    <p>
        Nevşehir ve Kapadokya'nın en eski yerleşim yerlerinden biri olan Çavuşin, Göreme ile Avanos arasında yer alıyor ve Nevşehir merkeze sadece 16 kilometre uzaklıkta. Onlarca tarihi kiliseye ev sahipliği yapan Rahipler Vadisi ve en güzel peribacası oluşumlarını görebileceğiniz yürüyüş yollarıyla ünlü Çavuşin’i rehberli yürüyüşler ve at safarilerinin yanı sıra sıcak hava balon turlarıyla da keşfe çıkabilirsiniz.</p>
    <p>
        İlk Hristiyanlık dönemlerinde inşa edilen ve yumuşak tüf kayalar içine oyulan devasa Çavuşin Kilisesi’ni mutlaka görmeniz gereken gezinizde Aziz Yahya Kilisesi, Üç Haçlı kilise, Aziz Jean Kilisesi, Azize Meryem Kilisesi, Kolonlu Kilise, Üzümlü Kilise ve Saklı Kilise gibi onlarca etkileyici kaya kilisesini de gezme şansı bulabilir, kiliselerin duvarlarını süsleyen dini sahnelerin tasvir edildiği freskleri yakından inceleyebilirsiniz.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/%C3%87avu%C5%9Fin,+50502+%C3%87avu%C5%9Fin%2FAvanos%2FNev%C5%9Fehir/@38.6727791,34.8306852,15z/data=!3m1!4b1!4m5!3m4!1s0x152a67a26e82bf9f:0x99478a23a6b607a9!8m2!3d38.67278!4d34.83944" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>4- Üç Güzeller</strong></h3>
    <p>
        <strong><img alt="Üç Güzeller" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/uc-guzeller-38675.webp" loading="lazy"></strong></p>
    <p>
        Kapadokya’nın simgelerinden biri haline gelen ve büyüleyici manzarasıyla turizm dergilerinin kapaklarını süsleyen Üç Güzeller, şapkalı peribacalarının en güzel örnekleri arasında gösteriliyor. Pek çok efsaneye konu olan Üç Güzeller, iki büyük peribacasının arasında duran küçük peribacasıyla bir aileyi andırıyor ve ismini de buradan alıyor.</p>
    <p>
        Kızılçukur Vadisi'nde yer alan ve vadi gezilerinin en sevilen mola noktası olan Üç Güzeller’i özellikle gün doğumu, gün batımı veya gece aydınlığında ziyaret ederseniz, Nevşehir gezinizin en güzel fotoğraflarını burada çekebilirsiniz.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/%C3%9C%C3%A7+G%C3%BCzeller/@38.6354542,34.8881359,17z/data=!3m1!4b1!4m5!3m4!1s0x152a5d3a242a90b3:0xdbff784d47c79ec4!8m2!3d38.6354542!4d34.8903246" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>5- Aşk Vadisi (Bağlıdere Vadisi)</strong></h3>
    <p>
        <strong><img alt="Aşk vadisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ask-vadisi-38650.webp" loading="lazy"></strong></p>
    <p>
        Göreme'nin popüler beldesi Aşk Vadisi, romantik manzarası ve uzun yürüyüş rotasıyla ünlü. Milyonlarca yılda şekillenen gün batımında kırmızı ve pembe tonlarıyla parlayan kaya oluşumlarıyla dikkat çekiyor. Seyir teraslarından peribacalarının en güzel fotoğraflarını çekebilir, balayı ve evlilik teklifleri için ideal bir mekan olarak tercih edebilirsiniz. Nevşehir merkezine 14 km uzaklıkta olan Aşk Vadisi, minibüs veya rehberli yürüyüş turlarıyla kolayca ulaşılabilir. Ayrıca sıcak hava balonlarıyla kuş bakışı manzaranın tadını çıkarabilirsiniz.</p>


    <p>
        <a href="https://www.google.com.tr/maps/place/A%C5%9F%C4%B1klar+Vadisi/@38.6606576,34.8174347,17z/data=!3m1!4b1!4m5!3m4!1s0x152a67cceb93f6c5:0xdf9c7ba0b0b6cb65!8m2!3d38.6606576!4d34.8196234" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>6- Uçhisar Kalesi</strong></h3>
    <p>
        <strong><img alt="Uçhisar " src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/uchisar-38672.webp" loading="lazy"></strong></p>
    <p>
        Sadece 5 km uzaklıktaki Uçhisar Kalesi, Nevşehir'in ve Uçhisar'ın simgesi ve Kapadokya'nın en büyük peribacası olarak da biliniyor. Fotoğrafçıların ve turistlerin ilgisini çeken bu görkemli kale, dev bir peribacasının oyulmasıyla oluşturulmuştur.</p>
    <p>
        M.Ö. 4. ve 1. yüzyıllar arasında inşa edildiği düşünülen kale, tarih boyunca sığınak ve gözetleme yeri olarak kullanılmış. Tüneller, gizli geçitler ve odalarla dolu olan kale, Göreme Açık Hava Müzesi ve Erciyes Dağı'na kadar panoramik manzaralar sunar. Uçhisar Kalesi'ni ziyaret ettikten sonra, taş konakları gezebilir ve manzaraya karşı restoranlarda Nevşehir'in ünlü testi kebaplarını deneyebilirsiniz.</p>

    <p>
        <a href="https://www.google.com.tr/maps/place/U%C3%A7hisar+Kalesi/@38.6301476,34.803397,17z/data=!3m1!4b1!4m5!3m4!1s0x152a68ee7113bdc5:0x48a54ea63a91c5c9!8m2!3d38.6301476!4d34.8055857" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>7- Acıgöl</strong></h3>
    <p>
        <strong><img alt="Acıgöl" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/acigol-38648.webp" loading="lazy"></strong></p>
    <p>
        Nevşehir merkezine 20 kilometre uzaklıkta yer alan Acıgöl ilçesi, M.S. 3. yüzyılda Kapadokya bölgesine gelen rahip ve keşişlerin yerleşerek Hristiyanlığı bölgede yaymaya çalıştığı yerlerden biri. Uzun tarihinde Asur, Hitit, Frig, Pers, Bizans, Roma, Anadolu Selçuklu, Osmanlı egemenliğinde kalan ve her köşesinde bu zengin tarihi yansıtan eserleri görebileceğiniz Acıgöl, ismini ise volkanik bir göl olan ve günümüzde su seviyesi 1 metrenin altına düşerek bir çukur haline gelen Acıgöl’den alıyor.</p>
    <p>
        İlçeye 10 kilometre uzaklıkta bulunan ve Kapadokya bölgesindeki en büyük yer altı şehirlerinden biri olan Tatlarin Yeraltı Şehri için de sıkça ziyaret edilen Acıgöl’de bu devasa yapının içindeki manastırlar, kiliseler ve yaşam alanlarını keşfe çıkabilirsiniz. Acıgöl, aynı zamanda donanımlı kamp alanları ve zengin kuş çeşitliliği ile Nevşehir’de kamp yapmak veya kuş gözlem turlarına çıkmak için de en çok tercih edilen yer.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Ac%C4%B1g%C3%B6l,+Nev%C5%9Fehir/@38.5505097,34.4991172,15z/data=!3m1!4b1!4m5!3m4!1s0x14d5f58a7e7c1b41:0x53f9156068b663c!8m2!3d38.550109!4d34.508887" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>8- Kozaklı</strong></h3>
    <p>
        76 km uzaklıktaki Kozaklı, Nevşehir'in tarihi ve doğal güzelliklerle dolu şifa merkezi. Mineral içerikli Kozaklı Kaplıcaları, yıl boyunca dinlenmek ve şifa aramak için binlerce kişinin akınına uğruyor. Kozaklı'dan sadece 10 km uzaklıktaki Kaymaklı Yeraltı Şehri'ni ziyaret edebilir, devasa yeraltı yapısının kiliselerini ve yaşam alanlarını keşfedebilirsiniz.</p>
    <p>
        Panoramik manzaralar sunan Kozaklı Seyir Tepesi ve gül bahçeleriyle çevrili Gül Parkı da ziyaret etmeye değer. Seyfe Gölü ve Karasu Çayı'nın piknik alanları, Kozaklı'nın doğa güzelliklerini keşfetmek için idealdir. Kozaklı, termal otelleri ve tarihi güzellikleriyle yıl boyunca keyifli bir gezi vadediyor.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Kozakl%C4%B1,+Nev%C5%9Fehir/@39.2068957,34.8342264,14z/data=!3m1!4b1!4m5!3m4!1s0x152ab81019b35ad3:0x8213edab28d12704!8m2!3d39.214645!4d34.852522" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>9- Kızılçukur Vadisi (Kızıl Vadi)</strong></h3>
    <p>
        <strong><img alt="Kızılçukur Vadisi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kizilcukur-vadisi-38665.webp" loading="lazy"></strong></p>
    <p>
        Volkanik patlamalarla oluşmuş kırmızı tüf kayalarının güneş ışığı altında sunduğu büyüleyici kızıl manzarasından ismini alan Kızılçukur Vadisi, halk arasında Kızıl Vadi olarak da biliniyor. Yürüyüşler, at ve ATV safarilerinin önemli bir rotası olan vadi, Çavuşin ile Ortahisar arasında uzanıyor.</p>
    <p>
        Özellikle gün doğumu ve gün batımında ziyaret ederek benzersiz manzaralara şahit olacağınız Kızılçukur Vadisi’ni fotoğraf safarileri ve sıcak hava balon uçuşlarıyla da keşfe çıkabilirsiniz. Tarihi hazineler bakımından da çok zengin olan vadide Üzümlü Kilise, Direkli Kilise ve Haçlı Kilise gibi ilk Hristiyanlık döneminde inşa edilen kaya kilisesini de gezme şansı bulacaksınız.</p>
    <p>
        <a href="https://www.google.com.tr/maps/place/Kizilcukur/@38.6341658,34.8751341,15z/data=!3m1!4b1!4m5!3m4!1s0x152a5d482fb7b8b7:0xc32c093f9d911e71!8m2!3d38.6341667!4d34.8838889" target="_blank">Konum Linki</a></p>
    <h3>
        <strong>10- Göreme Açık Hava Müzesi</strong></h3>
    <p>
        <strong><img alt="Göreme Açık hava müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/goreme-acik-hava-muzesi-38656.webp" loading="lazy"></strong></p>
    <p>
        Her yıl yüz binlerce insan tarafından ziyaret edilen ve Nevşehir’in en popüler gezi alanlarından biri olan Göreme Açık Hava Müzesi, Ürgüp'ün Göreme beldesinde Nevşehir'e sadece 16 kilometre uzaklıkta yer alıyor. 1985 yılında UNESCO Dünya Mirası Listesi’ne de dahil edilen açık hava müzesi, ev sahipliği yaptığı onlarca kilise, manastır, şapel, kayalar içine oyulmuş yaşam alanıyla arkeoloji ve tarih meraklılarının kesinlikle görmesi gereken yerler arasında.</p>
    <p>
        4. yüzyılda dini eğitim ve düşünce merkezi olan Rahipler Manastırı, Aziz Vasil Şapeli, Elmalı Kilisesi, Aziz Barbara Kilisesi, Azize Katerina Şapeli ve Tokalı Kilisesi gibi onlarca tarihi hazineyi gezme şansı bulabileceğiniz açık hava müzesinde devasa peribacalarının da harika fotoğraflarını çekebilirsiniz.</p>


    <p>
        <a href="https://www.google.com.tr/maps/place/G%C3%B6reme+A%C3%A7%C4%B1k+Hava+M%C3%BCzesi/@38.6400491,34.843166,17z/data=!3m1!4b1!4m5!3m4!1s0x152a67ece7bbe4ed:0xbbca14b0d18fccfe!8m2!3d38.6400491!4d34.8453547" target="_blank">Konum Linki</a></p>


</body>
</html>
