<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osmaniye'de Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>OSMANİYE</h5>
    <p><span style="font-weight: 400;">Keşfedilecek güzellikleri ile Osmaniye alternatif seyahat rotaları arayanlar için ideal bir seçenek oluyor. Çukurova’nın ilk yerleşim yerlerinden olan ve Roma, Hitit, Pers gibi birçok medeniyete ev sahipliği yapan Osmaniye’de gezilecek yerler arasında ise birçok tarihi ve doğal güzellik yer alıyor. Osmaniye’yi henüz keşfetmediyseniz hadi gelin keyifli bir yolculuğa çıkalım.</span></p>
    <h2><b>Osmaniye'de gezilecek yerler:</b></h2>
        <ol>
            <li>Osmaniye Masal Parkı</li>
            <li>Kastabala Antik Kenti</li>
            <li>Karatepe-Aslantaş Açık Hava Müzesi</li>
            <li>Zorkun Yaylası</li>
            <li>Karatepe-Aslantaş Milli Parkı</li>
            <li>Toprakkale Kalesi</li>
            <li>Ala Camii</li>
            <li>Karaçay Şelalesi</li>
            <li>Çiftmazı Tabiat Parkı</li>
            <li>Berke Barajı</li>
        </ol>
    <h2>1. Osmaniye Masal Parkı</h2>
    <p dir="ltr">
        <span><img alt="osmaniye-masal-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/osmaniye-masal-parki-51440.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye’de 2018 yılında ziyaretçilerine kapılarını açan Masal Parkı, Türkiye’nin dört bir yanından popüler ve ilgi çekici destinasyonların, tarihi eserlerin ve doğa harikalarının yanında, kültürümüzün tarihi kişiliklerini de barındırıyor. İçerisinde İzmir Saat Kulesi, Peri Bacaları, Truva Atı gibi yerlerin; Barbaros Hayrettin ve Nasrettin Hoca ve daha birçok tarihi figürün heykelleri bulunurken, bir yandan da oyuncaklar da ziyaretçilerin hizmetine sunuluyor. Van Gölü Canavarı temalı hızlı tren, Nuh’un Gemisi temalı Gondol ve benzeri orijinal tematik oyuncaklarla keyifli bir vakit geçirebilirsiniz. İçerisindeki havuzlar da ülkemizin gölleri ve denizlerini temsil edecek şekilde oluşturulmuş olan Masal Parkı’nda hem sizin hem de sevdiklerinizin eğlenceli, aynı zamanda çocukların da öğretici bir vakit geçireceğinizi tahmin ediyoruz.</span></p>
         <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/S68bUb1zsLbCSybe7" target="_blank">Konum Linki</a></span></p>
    <h2>2. Kastabala Antik Kenti</h2>
    <p dir="ltr">
        <span><img alt="kastabala-antik-kenti" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kastabala-antik-kenti-51443.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Eski bir adının da Hierapolis olduğu, içerisinde bulunan eski yazıtlardan anlaşılan Kastabala Antik Kenti, Osmaniye’nin 12 kilometre kuzeyinde yer alıyor. Yüzey buluntularının bazılarının Roma’nın geç dönemlerine de karşılık geldiği görülüyor. Ancak 2009’da başlatılmış olan ve günümüzde hâlâ devam eden kazı çalışmaları, birçok farklı tarih aralığından kalıntıları ortaya çıkartmış ve Kastabala Antik Kenti’nin tarihsel katmanlarını daha derinleştirmiş. Kastabala Antik Kenti’ni ziyaret etmek isteyenlerin bölgede varlığını sürdürmüş olan Roma ve diğer uygarlıkların somut bir kanıtıyla karşılaşacaklarını belirtmemiz gerek. Antik sütunlar, amfi tiyatro ve diğer kalıntılar, tarihe ve arkeolojiye meraklıysanız sizin de ilginizi çekecek.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/uG4QTHXam26WUk8y9" target="_blank">Konum Linki</a></span></p>
    <h2>3. Karatepe-Aslantaş Açık Hava Müzesi</h2>
    <p dir="ltr">
        <span><img alt="karatepe-aslantas-acik-hava-muzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karatepe-aslantas-acik-hava-muzesi-51444.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye’nin Kadirli ilçesinin Kızyusuflu Köyü’nün sınırları içerisinde bulunan Karatepe-Aslantaş Açık Hava Müzesi, şehir merkezinin 30 kilometre uzağında yer alıyor. Aynı zamanda ülkemizin en büyük ve ilk açık hava müzesi unvanını da taşıyan bu yer, yerel tarih açısından ciddi bir kaynak olarak karşımıza çıkıyor. Milattan önce 8. yüzyılda bölgenin hükümdarı Asativatas tarafından savunma amaçlı bir sınır kalesi olarak inşa ettirilmiş olan Karatepe-Aslantaş, ilk adını kurucusundan almış ve Asativadaya olmuş. İçerisinde yıkılmış sur ve bina kalıntıları, planı hâlâ bakınca anlaşılabilen yapılar ve aslan heykelleri bulunuyor. 1946 yılında Alman bir arkeolog önderliğinde gerçekleştirilmiş olan kazı çalışmalarıyla birlikte içerisinden eski çivi yazısından oluşan bir dil anahtarıyla birlikte bulunan Hitit yazıları çözülmüş, birçok antik tarihi yazıtlar ortaya çıkartılmış.</span></p>
      <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/LoxwpYJqSBTETzzP6" target="_blank">Konum Linki</a></span></p>
    <h2>4. Zorkun Yaylası</h2>
    <p dir="ltr">
        <span><img alt="zorkun-yaylasi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/zorkun-yaylasi-51445.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye ilinin en büyük yaylası olma özelliğini taşıyan Zorkun Yaylası, sedir, köknar ve çam gibi ağaç türlerinin de ev sahipliğini yapıyor. 1650 olan rakımıyla Osmaniye’nin en yüksek noktalarından biri olarak karşımıza çıkıyor Zorkun Yaylası. İçerisinde konaklayabileceğiniz bir tesis bulunmasa da kullanıma uygun kamp alanları ve sosyal tesisleri bulunan Zorkun Yaylası’na Osmaniyeliler de yoğun bir şekilde rağbet ediyorlar. Türlü ihtiyaçlarınızı giderebileceğiniz yerel işletmelerin bulunduğu yaylada hem doğal güzelliklerin içerisinde bulunmanın zevkine varacak hem de şehirdeymişçesine imkanlardan uzakta kalmayacaksınız.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/6xfSwjEF3yqewbhi9" target="_blank">Konum Linki</a></span></p>
    <h2>5. Karatepe-Aslantaş Milli Parkı</h2>
    <p dir="ltr">
        <span><img alt="karatepe-aslantas-milli-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karatepe-aslantas-milli-parki-51446.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Yazımızın Karatepe-Aslantaş Açık Hava Müzesi maddesinde belirttiğimiz tarihi eserlerin bulunduğu bu değerli alan bir milli park. 7715 hektarlık bir alanı kapsayan bu değerli milli park, hem Orman Yasası’nın verdiği milli park özelliğiyle birlikte doğasını koruyor, hem de ziyaretçilerine yerel bölge tarihi açısından değerli bir kaynak sunuyor. Eğer siz de Osmaniye’nin yerel Hitit tarihi konusunda meraklıysanız, Osmaniye’ye geldiğinizde bu milli parkı kesinlikle ziyaret etmenizi tavsiye ederiz. </span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/yRCah2LqKt8P4Bsf9" target="_blank">Konum Linki</a></span></p>
    <h2>6. Toprakkale Kalesi</h2>
    <p dir="ltr">
        <span><img alt="toprakkale-kalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/toprakkale-kalesi-51447.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye’nin Toprakkale ilçesi içerisinde bulunan Toprakkale Kalesi’nin tarihi, milattan önce 2000’li yıllara kadar gidiyor. Tarihi açıdan Osmaniye ilinin de değerini gözler önüne seren kale, eski günlerdeki ihtişamını hala koruyor. Osmanlı döneminde de adı Kınık Kalesi olarak değiştirildiği bilinen Toprakkale Kalesi’nin 8. yüzyılda Abbasi Halifesi Harun Reşit tarafından yeniden yapılandırıldığı da biliniyor. Osmaniye’nin yerel tarihine tanıklık etmiş Toprakkale Kalesi’ni ziyaret etmenin şehrin tarihi hakkında daha derin bir bilgiye sahip olabilmenize fayda sağlayacağını düşünüyoruz.</span></p>
     <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/1SKdpDCxRg6UXa7J8" target="_blank">Konum Linki</a></span></p>
    <h2>7. Ala Camii</h2>
    <p dir="ltr">
        <span><img alt="ala-camii" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ala-camii-51448.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Orijinalinde 2. yüzyılın erken dönemlerinde Romalılar tarafından bir manastır olarak inşa edilmiş olan Ala Camii’ye tam 300 yıl sonra bir kilise eklentisi de yapılmış. Dulkadiroğlu Alaüddevle Bozkurt Bey’in oğlu olan Kasım Bey ise, bu kiliseyi babasının adına camiye çevirmiş ve adını da “Alaüddevle Mescidi” koymuş. Ardından da üzeri kurşunla kaplanmış olan caminin 1865’ten 1921’e kadar cami ve medrese olarak hizmet verdiği biliniyor. Osmaniye’nin Roma, Bizans ve Selçuklu motiflerinin yerel bir kanıtı olarak bulunan Ala Camii, ziyaretçilerinin tarihi değişim ve devinim konusundaki ufuklarını genişletecek bir yapı.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/26wL9ZUfuxegH2EBA" target="_blank">Konum Linki</a></span></p>
    <h2>8. Karaçay Şelalesi</h2>
    <p dir="ltr">
        <span><img alt="karacay-selalesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/karacay-selalesi-51449.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye’nin merkezinden yaklaşık 8 kilometre uzakta bulunan Karaçay Şelalesi, Karaçay mesire alanının sonunda bulunuyor. 25 metre yüksekliğindeki şelale, gürül gürül akışıyla Osmaniye’nin nadide doğal güzelliklerinin birisi. Kendisine ulaşmak için aşılması gereken patika da güzel bir doğa yürüyüşünün bahanesi oluyor diyebiliriz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/CeyGzRH8Mcmb5sox9" target="_blank">Konum Linki</a></span></p>
    <h2>9. Çiftmazı Tabiat Parkı</h2>
    <p dir="ltr">
        <span><img alt="ciftmazi-tabiat-parki" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ciftmazi-tabiat-parki-51451.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">2011 yılında tabiat parkı ilan edilen Çiftmazı Tabiat Parkı, yaklaşık olarak 50000 hektarlık dev bir alana sahip. Kampçılık, karavan gibi ilgi alanlarınız varsa sizin için çok uygun bir alan sunacak olan Çiftmazı Tabiat Parkı, içerisindeki alanda saymakla bitmeyen çeşitli bitki türlerini de barındırıyor. İçerisindeki tesislerin ayrıca sunduğu çadır ve karavan kiralama hizmetleri de bulunan Çiftmazı Tabiat Parkı, şehrin karmaşasından hafta sonunda kaçmak için güzel bir fırsat. Ek olarak trekking ve doğa yürüyüşleri gibi sportif faaliyetler de gerçekleştirilebilen Çiftmaz Tabiat Parkı pikniklerinizi de yapabileceğiniz ferah ve bir o kadar da doğayla iç içe bir destinasyon.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/qHQ8vNDWfgC4SS2w7" target="_blank">Konum Linki</a></span></p>
    <h2>10. Berke Barajı</h2>
    <p dir="ltr">
        <span><img alt="berke-baraji" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/berke-baraji-51452.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451">Osmaniye’deki Düldül Dağı’nın eteğinde bulunan Berke Barajı, 1995-1999 yılları arasında inşa edilmiş barajlardan biri. Özel araçla ulaşabileceğiniz Berke Barajı, seyir teraslarından olağanüstü büyüklüğünü ve görkemini gözlemleyebilmenizi sağlıyor. Dağ eteğinde bulunması sebebiyle ayrıca bir heybeti bulunan barajla birlikte, Ceyhan Nehri’nin oluşturduğu vadiyi de seyredebilirsiniz.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-035709fb-7fff-876c-fcc4-ef9be2663451"><a href="https://maps.app.goo.gl/pYJwJiDV1KddybC28" target="_blank">Konum Linki</a></span></p>


</body>
</html>
