<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siirt'te Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>SİİRT</h5>
    <p><span style="font-weight: 400;">Tarihte “Saird” ve “Seert” gibi isimlerle bilinen Siirt, sıcak ve misafirperver insanları, özenle korunmuş kültürel mirası ve antik çağlarda günümüze ulaşan kalıntılarıyla görülmeye değer. Ayran aşı ve fıstık başta olmak üzere pek çok yöresel lezzeti bünyesinde barındıran şehir, Mezopotamya coğrafyasının en çok ziyaret edilen şehirlerinden biri olarak öne çıkıyor. Tillo Kalesi’nden Veysel Karani Türbesi’ne Erzen Ören Yeri’nden Ulu Camii’ye birçok destinasyonu içine alan gezilecek yerler listemize geçmeden önce Siirt seyahatinde sana yardımcı olacak birkaç soruyu da yanıtlayalım.</span></p>
    <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Dört mevsimin belirgin bir şekilde yaşandığı, karasal iklimin etkili olduğu Siirt seyahatini ilkbahar ve sonbahar aylarında yapmanı öneriyoruz.</span></p>
    <h2><b>Siirt'te gezilecek yerler:</b></h2>
    <ol>
            <li>Veysel Karani Türbesi</li>
            <li>Siirt Ulu Camii</li>
            <li>Tillo Kalesi</li>
            <li>Sağlarca Kaplıcası</li>
            <li>İbrahim Hakkı Hazretleri Türbesi</li>
            <li>Derzin Kalesi</li>
            <li>Botan Çayı</li>
            <li>Siirt Saat Kulesi</li>
            <li>Rasıl Hacar</li>
            <li>Taşbaşı Mağarası</li>
        </ol>
    <h2>1. Veysel Karani Türbesi</h2>
    <p dir="ltr">
        <span><img alt="veysel karani türbesi dış görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/veysel-karani-turbesi-1049.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Baykan ilçesinde olmasına rağmen Siirt şehir merkezinden kolayca ulaşım sağlanabilen Veysel Karani Türbesi, şehre gelen ziyaretçilerin listelerinde öncelik verdiği yerlerden biri durumunda. Adından da anlaşılacağı üzere Veysel Karani’nin kabrinin bulunduğu bu türbe, sene boyunca kalabalık gruplarca ziyaret ediliyor. Türbeyi ziyaret etme konusunda herhangi bir ücret talep edilmiyor. Şehrin en değerli kültürel, tarihi ve dini mekânları arasında olan Veysel Karani Türbesi’nin inşa tarihi kesin şekilde bilinmiyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Zaman içerisinde çok defa restorasyon işleminden geçen bu değerli türbede yatan zat, İslam aleminin en önemli alimlerden biri olarak öne çıkıyor. Türbenin içerisinde yer alan süslemeler genel olarak Osmanlı sanatından izler barındırıyor. Bu nedenle türbenin Osmanlılar döneminden kaldığı düşünülüyor. Veysel Karani Türbesi’nin çiçeklerle donatılmış geniş bahçesi, ziyaretçilerin huzur verici bir atmosferle karşılaşmalarına neden oluyor. Türbeye ait son restorasyon 2001 senesinde gerçekleştirilmiş.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Hz.+Veysel+Karani+T%C3%BCrbesi/@38.1313474,41.7159996,15z/data=!4m2!3m1!1s0x0:0x6a517ea7ac55fa12?sa=X&amp;ved=2ahUKEwi-xanU-Y-EAxVnSvEDHb1UAgoQ_BJ6BAgJEAA" target="_blank">Konum Linki</a></span></p>
    <h2>2. Siirt Ulu Camii</h2>
    <p dir="ltr">
        <span><img alt="siirt ulu camii güneşli bir günde selçuklu mimarisi özelliklerini koruyan yapı" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/siirt-ulu-cami-1001.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Siirt’in bir diğer önemli dini mekanı olan Siirt Ulu Camii, kudretli görünümüyle ziyaretçilerinde hayranlık uyandırıyor. Kitabesi olmadığı için tam olarak inşa edildiği dönem hakkında bir bilgi yoktur ancak yine de caminin yaklaşık 1000 yıllık bir geçmişe sahip olduğu tahmin ediliyor. Ayrıca Irak Selçuklu hükümdarı olan Muhammed Tapar’ın kendi döneminde camiyi yenilediği biliniyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Öte yandan geçtiğimiz yüzyıl içerisinde; 1905, 1957 ve 1980 yılları arasında çeşitli onarımlardan geçmiş olan Siirt Ulu Camii, genel itibarıyla Selçuklu mimarisini anımsatan detaylara sahip. Kubbeleri taşıma görevine sahip olan orta ayaklarla beraber minare kısmı orjinalliğini koruyor. Özellikle dış cephedeki taş işçiliğine yakından tanıklık etmek adına tarihi camiyi ziyaret edebilirsin.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Ulu+Cami/@37.9419766,41.9411589,14z/data=!4m10!1m2!2m1!1sSiirt+Ulu+Camii!3m6!1s0x400c886af3ff0f4d:0xa77fbeffb4c39319!8m2!3d37.9567921!4d41.9810651!15sCg9TaWlydCBVbHUgQ2FtaWmSAQZtb3NxdWXgAQA!16s%2Fg%2F1vlk011p?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>3. Tillo Kalesi</h2>
    <p dir="ltr">
        <span><img alt="Doğa harikası doğası, dağları, vadisi ve kanyonuyla Tillo kalesi " src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tillo-kalesi-55777.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Son derece geniş bir manzarayla karşı karşıya gelme şansı sunan Tillo Kalesi ve Cam Seyir Terası, yapılan düzenlemeyle beraber şehrin cazibe noktalarından biri olmayı başarıyor. Çevre ilçelerden de ziyaretçi çeken tarihi kale, müthiş bir vadi ve çayı karşılıyor. Sunduğu etkileyici manzara sayesinde özellikle de fotoğraf sanatçılarının uğrak yeri olan Tillo Kalesi ve Cam Seyir Terası, haftanın her günü ücretsiz bir şekilde ziyaret edilebiliyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">2006 senesinde açılışı yapan bölge, Baton Vadisine son derece yakın. Dicle Kalkınma Ajansı’nın katkıları ile oluşturulan bu turistik alan, Siirt’in Tillo ilçesinde konumlanıyor. Osmanlı Dönemi’nden miras kalan kaleye aynı anda 30 kişinin çıkmasına izin veriliyor. Ziyaretçileri uçurumun kenarında enfes bir manzarayla buluşturan terasın yerde yüksekliği tam 1100 metre.</span></p>
    <p dir="ltr">
    <h2>4. Sağlarca Kaplıcası</h2>
    <p dir="ltr">
        <span><img alt="sağlarca kaplıcası iç görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/saglarca-kaplicasi-1052.webp" style="width: 800px; height: 600px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Siirt’in Eruh ilçesinde bulunan Sağlarca Kaplıcası, şehrin doğal güzelliklerinden biri olarak dikkat çekiyor. Siirt şehir merkezine yaklaşık 17 km uzakta olan kaplıcanın suyu genel olarak 33-37 derece aralığında. Kaplıcada yer alan şifalı suların kireçlenmeden kas yorgunluğuna pek çok rahatsızlığa karşı etkili olduğu düşünülüyor. Alınacak hizmetin içeriğine bağlı olarak ücretler değişebiliyor. Buranın bir diğer adı ise Billoris Kaplıcaları. Tam olarak Sağlarca adlı köyde yer alan bu popüler kaplıca, kalsiyum ve sodyum açısından son derece zengin. Aynı bölgede yer alan Baton Vadisindeki mağara, kaplıcanın kaynağını oluşturuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Sa%C4%9Flarca,+Bozdo%C4%9Fan,+56220+Sa%C4%9Flarca%2FSiirt+Merkez%2FSiirt/@37.824549,41.8748678,16z/data=!3m1!4b1!4m10!1m2!2m1!1zc2HEn2xhcmNhIGthcGzEsWNhc8Sx!3m6!1s0x400b8099d3c3aba7:0xb83cbd9bc61475f8!8m2!3d37.825137!4d41.8839101!15sChVzYcSfbGFyY2Ega2FwbMSxY2FzxLGSAQhsb2NhbGl0eeABAA!16s%2Fg%2F11h1ssdjy?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>5. İbrahim Hakkı Hazretleri Türbesi</h2>
    <p dir="ltr">
        <span><img alt="İbrahim Hakkı Hazretleri Türbesi görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/ibrahim-hakki-hazretleri-turbesi-55778.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Şehirdeki pek çok turistik destinasyon gibi Tillo ilçe sınırlarında yer alan İbrahim Hakkı Hazretleri Türbesi, inanç turizminde önemli bir değere sahip. Türbenin UNESCO tarafından Dünya Mirası Geçici Listesinde kendine yer bulduğunu söyleyelim. İbrahim Hakkı Hazretleri, Türk alim ve mutasavvıf olarak biliniyor. Erzurum doğumlu bu değerli zat, 18’inci yüzyılda yaşamış ve “Marifetname” adlı eseri yazmış. Hocası olan İsmail Fakirullah’ın türbesi de bugün aynı yerde bulunuyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/%C4%B0smail+Fakirullah+T%C3%BCrbesi/@37.9494393,42.007504,17z/data=!3m1!4b1!4m6!3m5!1s0x400c629e108c0dfd:0x8614ab65f22cec82!8m2!3d37.9494351!4d42.0100789!16s%2Fg%2F11bv6q2blf?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>6. Derzin Kalesi</h2>
    <p dir="ltr">
        <span><img alt="kayalıklar üstüne inşa edilmiş Derzin Kalesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/derzin-kalesi-1058.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Baykan ilçesindeki Derzin Kalesi, tam olarak Adakale Köyü içerisinde konumlanıyor. Köye ziyaret etmeye değer yerlerden biri olarak öne çıkan Derzin Kalesi, alanı rahat bir şekilde görmene olanak tanıyor. Kayalık bir alanın üzerine inşa edilmiş olan bu ihtişamlı kale, müthiş bir doğa manzarası sunuyor. Bizans Dönemi’nden bugüne taşınan kalenin gözetleme kuleleri hala mevcut. Şehir merkezinin 60 km uzağındaki Derzin Kalesi, ücretsiz şekilde ziyaret edilebiliyor. Adını Derzin Beyliği’nden alan kaleye Baykan ilçe merkezindeki dolmuşlarla ulaşmak mümkün.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/search/Derzin+Kalesi/@38.045463,41.7892372,11z/data=!3m1!4b1?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>7. Botan Çayı</h2>
    <p dir="ltr">
        <span><img alt="siirt botan milli parkı türkiye" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/botan-cayi-55779.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Siirt’in bir diğer doğal güzelliği olan Botan Çayı, aynı adı taşıyan vadiyle özdeşleşmiş bir yer. Karşısına tarihi kaleleri ve seyir teraslarını alan bu ünlü çay, Siirt mağaralarına da oldukça yakın bir konumda. Bölge halkı, şehrin sembolik mekânlarından biri olan Botan Çayı’nı piknik yapmak için de sıklıkla kullanıyor. Aynı zamanda Dicle’nin bir kolu olarak da bilinen bu çay, Siirt dışında Batman ve Şırnak gibi şehirleri de içine alıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Adını önemli bir beylik olan Botan Beyliği’nden alan bölge, Ksenofon’un “Anabasis” isimli eserinde de geçiyor. Farklı şehirler arasında uzun bir yolculuk yapan Botan Çayı’nda kano başta olmak üzere pek çok aktivite gerçekleşiyor. Kaynağını bölgedeki dağlardan alan çay, Çatak Çayı ile Büyükdere ve Çukurca köylerinde birleşiyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Ulu%C3%A7ay/@37.841415,41.7596985,11z/data=!3m1!4b1!4m6!3m5!1s0x400c7ece3b48443b:0x7897775e41007ae4!8m2!3d37.847646!4d41.887292!16s%2Fm%2F0520s2w?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>8. Siirt Saat Kulesi</h2>
    <p dir="ltr">
        <span><img alt="siirt saat kulesi görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/siirt-saat-kulesi-55780.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Siirt’in bir başka sembol mekanı olan Siirt Saat Kulesi, tam olarak Hükümet Caddesi’nde bulunuyor. Şehrin en işlek alanlarında birinde konumlanan tarihi kulenin tarihi 1975 senesine uzanıyor. Turistik açıdan cazip birçok destinasyon, Saat Kulesine yürüme mesafesinde. Fakat bu kulenin, 1905 senesinde inşa edilen orijinal saat kulesi olmadığını belirtelim.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">O dönem Alaaddin Paşa tarafından yaptırılan kule zaman içinde yıkılmış ve yerine 1975 senesinde bugünkü kule inşa edilmiş. Fakat yeni saat kulesinin, orijinal olan yapıya sadık kalınarak tasarlandığını söylemek mümkün. İki renkli kesme taşların kullanıldığı Siirt Saat Kulesi, hatıra fotoğrafı çekmek adına oldukça ideal. Toplamda 6 katlı olan kulenin hemen karşısında Vilayet Konağı yer alıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Siirt+Saat+Kulesi/@37.9292791,41.9377372,17z/data=!3m1!4b1!4m6!3m5!1s0x400c8799d83bcfa1:0xc86b796a0d123134!8m2!3d37.9292749!4d41.9403121!16s%2Fg%2F11bwdv71cg?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>9. Rasıl Hacar</h2>
    <p dir="ltr">
        <span><img alt="Rasıl Hacar Kanyonu ve Uluçay Nehri'nin doğal dokusunun havadan görünümü. " src="http://assets.enuygun.com/media/lib/825x620/uploads/image/rasil-hacar-55782.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Şehir merkezinde yer alan Rasıl Hacer, Siirt’te rastlayabileceğin etkileyici kanyonlar arasında bulunuyor. “Delikli Taş” olarak da bilinen Rasıl Hacar, Botan Çayını doğrudan gören bir açıya sahip. Siirt’in güney bölümündeki bu devasa kanyon, 400 metreye yakın bir yüksekliğe sahip. Şehir merkezine 4 km uzaklıkta olan Rasıl Hacar, kireç taşlarının yüzlerce yıl önce oyulması neticesinde ortaya çıkmış. Ayrıca insan yapımı birkaç mağara da aynı alanda ziyaretçilerle buluşuyor. Kanyon, son zamanlarda yamaç paraşütü tutkunları için cazip bir alan olarak değerlendiriliyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Ras%C4%B1l+Hacar/@37.8990739,41.9458077,17z/data=!3m1!4b1!4m6!3m5!1s0x400c7d95738b4987:0x2fac206b76753eff!8m2!3d37.8990698!4d41.9504211!16s%2Fg%2F11bzq11tvh?entry=ttu" target="_blank">Konum Linki</a></span></p>
    <h2>10. Taşbaşı Mağarası</h2>
    <p dir="ltr">
        <span><img alt="Taşbaşı Mağarası" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/tasbasi-magarasi-55783.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71">Botan Vadisi’ni tepeden görme ayrıcalığına sahip olan Taşbaşı Mağarası, Siirt’in en özel manzaralarından birine sahip. 350 metrelik bir yüksekliğe sahip olan doğal mağara, yıllar içerisinde kireç taçlarının oyulması neticesinde ortaya çıkmış. Bir dönem yaşam alanı olarak da kullanılan Taşbaşı Mağarasının hemen yanında büyük bir kaya yer alıyor. Atlama taşı olarak bilinen bu büyük kayadan atlayan gençlerin cesaretlerini kanıtladıkları düşünülüyor. Mağara içerisinde yer alan ufak bir pencere ise diğer mağaralara geçiş için kullanılıyor.</span></p>
    <p dir="ltr">
        <span id="docs-internal-guid-f68d4fd7-7fff-f730-c136-866a17f28d71"><a href="https://www.google.com/maps/place/Delikli+Ta%C5%9F+(Tarihi+Yap%C4%B1)/@37.6234235,42.0808517,17z/data=!4m10!1m2!2m1!1zVGHFn2JhxZ_EsSBNYcSfYXJhc8Sx!3m6!1s0x400bf24530626895:0xd6d6ef7c71509c9c!8m2!3d37.6234235!4d42.0853578!15sChVUYcWfYmHFn8SxIE1hxJ9hcmFzxLFaFyIVdGHFn2JhxZ_EsSBtYcSfYXJhc8SxkgETaGlzdG9yaWNhbF9sYW5kbWFya5oBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSWE1EbElhVUZuRUFF4AEA!16s%2Fg%2F11ggtg41g9?entry=ttu" target="_blank">Konum Linki</a></span></p>
