<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tekirdağ'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>TEKİRDAĞ</h5>
    <p><span style="font-weight: 400;">Hem Marmara hem de Karadeniz’e kıyısı olan Tekirdağ Türkiye’nin en özel şehirlerinden biridir. Kilometrelerce uzanan sahili ve el değmemiş doğal misafirlerine keyif dolu gezi deneyimi sunmayı başarıyor. Tarihi açıdan dikkat çeken camileri ve çarşılarının yanı sıra tertemiz plajları ve yat limanı ile hem kültürel hem de yaz tatili için iyi bir seçenektir.</span></p>
    <p><span style="font-weight: 400;">Yılın her ayı ziyaret edilen şehirlerden biri olan Tekirdağ turistik açıdan en ideal zamanlarını ilkbahar ve yaz aylarında yaşıyor. Özellikle yaz aylarında binlerce turisti ağırlayan Tekirdağ ilkbahar ve sonbahar aylarında daha huzurlu bir ambiyans sunuyor. </span></p>
    <p><span style="font-weight: 400;">Tekirdağ’a ulaşım için tercih edilebilecek farklı seçenekler bulunuyor. Özel aracınız ile ülkenin her yerinden ulaşabileceğiniz gibi şehirler arası otobüsler aracılığıyla da şehre ulaşım sağlayabilirsiniz. Eğer Tekirdağ’a havayolu ile gelmek istiyorsanız merkeze 50 km uzaklıkta yer alan Tekirdağ Havalimanı’na iniş yapmalısınız. Çorlu ilçesinde yer alan havalimanına indikten sonra taksi tutabilir, şehirler arası otobüsleri kullanabilir veya merkeze geçmek için araç kiralama seçeneklerinden faydalanabilirsiniz.</span></p>
    <h2><b>Tekirdağ&#8217;da Gezilecek Yerler:</b></h2>
    <ol>
    <li>Hora Feneri</li>
    <li>Tekirdağ Sahili</li>
    <li>Tekirdağ Arkeoloji ve Etnografya Müzesi</li>
    <li>Kapaklı Kazak Gölü</li>
    <li>Uçmakdere</li>
    <li>Laladere Mesire Alanı</li>
    <li>Rakoczi Müzesi</li>
    <li>Namık Kemal Evi</li>
    <li>Süleymaniye Camii</li>
    <li>Perinthos Antik Kenti</li>
    </ol>
    <h2>1.Hora Feneri</h2>
    <p><span style="font-weight: 400;">Hoşköy ya da Hora Feneri ismiyle anılan bu yapı doğa gezileri ve fotoğraf safarileri için Tekirdağ’ın en çok ziyaret edilen yapılarının başında geliyor. Sultan Abdülmecid’in emriyle 1861 yılında inşa edilen Hora Feneri’nin yapımı için Fransa’dan getirilen özel malzemeler kullanılmıştır. Bütünlüklü olarak demirden inşa edilen fener, yaklaşık 100 küsür yıldır gemiler için rehber olma özelliği taşıyor. 20 metreye varan uzunluğu ve 26 metre yüksekliğe sahip olan fener 40 kilometre uzaklıktan görülebiliyor.</span></p>
    <p><span style="font-weight: 400;">Şarköy merkezine 20 km uzaklıkta bulunan Hora Feneri’ne ulaşım için toplu taşıma araçlarını kullanabilirsiniz. Fenerin içi gezmek için ziyaretçilere açık hale getirilmemiştir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Hora Feneri</span></em><em> <a href="https://maps.app.goo.gl/1WUhR3MvAsvxMAdSA">konum</a> için tıklayın&#8221;</em></p>
    <h2>2.Tekirdağ Sahili</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2023/12/Tekirdag-Sahili.jpg" alt="Tekirdağ Sahili" width="1000" height="667" />
            <figcaption class="wp-caption-text">Tekirdağ Sahili</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tekirdağ&#8217;ın turistik açıdan en dikkat çekici noktası sahilidir. Merkezde yer alan Tekirdağ sahili uzun ve geniştir. 4 mevsim boyunca ziyaretçilerini ağırlamaya devam eden Tekirdağ, sahili ile özellikle yaz aylarının favorisi olur.</span></p>
    <p><span style="font-weight: 400;">Tekirdağ sahilinde balıkçılar, çay bahçeleri ve lunapark gibi eğlence alanları yer alıyor. Merkezde olduğu için ulaşım konusunda problem yaşamayacağınız Tekirdağ sahili, huzurlu ambiyansı ile yorucu şehirlerin kalabalık gürültülerinden uzaklaşmaya yardımcı oluyor.</span></p>
    <h2>3.Tekirdağ Arkeoloji ve Etnografya Müzesi</h2>
    <p><span style="font-weight: 400;">Ücretsiz olarak ziyaret edebileceğiniz Tekirdağ Arkeoloji ve Etnografya Müzesi Tekirdağ’ın kültürünü daha yakından tanımanızı sağlıyor. Dikkat çekici bir bina içerisinde hizmet veren müze Mimar Kazım Tahsin tarafından yapılmıştır. 1927 yılında hizmete giren ve bu tarihten günümüze ziyaretçilerine farklı dönemlere ait kalıntıları sunan müzede tarihe yolculuk yapabilirsiniz.</span></p>
    <p><span style="font-weight: 400;">Bunun yanı sıra Tekirdağ’a özgü halk sanatları ve dini eserlerde müzenin koleksiyonunda yer alıyor. 4.863 arkeolojik eser 17.129 sikke ve 1.909 etnografik eseri yakından incelemenize imkan tanıyan müze pazartesi günleri hariç her gün 08:00 ile 17:00 saatleri arasında hizmet veriyor. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Tekirdağ Arkeoloji ve Etnografya Müzesi</span></em><em> <a href="https://maps.app.goo.gl/Xt2BwFiCwEGLjHWT7">konum</a> için tıklayın&#8221;</em></p>
    <h2>4.Kapaklı Kazak Gölü</h2>
    <p><span style="font-weight: 400;">Kapaklı ilçesinde bulunan ve ismini buradan alan Kapaklı Kazak Gölü piknik ve rekreasyon alanıdır. Doğa tutkunları tarafından ziyaret edilen Kapaklı Kazak Gölü hafta sonu sporları için yöre halkı tarafından yoğun ilgi görüyor.</span></p>
    <p><span style="font-weight: 400;">Çam ormanlarıyla çevrili masmavi sularda sandal gezilerine çıkmak ya da olta balıkçılığı yapmak Kapaklı Kazak Gölü’nde geçirdiğiniz vakti daha keyifli hale getirir. Çarpıcı göl manzaralarına sahip olan Kapaklı Kazak Gölü kamp alanları, kır bahçeleri, ahşap çardaklar ve yürüyüş parkurları gibi pek çok olanak sunar. Tekirdağ merkezine bir buçuk saat uzaklıkta olan Kapaklı Kazak Gölü’ne merkezden kalkan otobüsler ile ulaşabilirsiniz.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Kapaklı Kazak Gölü</span></em><em> <a href="https://maps.app.goo.gl/sbyLLgDV9wsemiN27">konum</a> için tıklayın&#8221;</em></p>
    <h2>5.Uçmakdere</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2023/12/Ucmakdere.jpg" alt="Uçmakdere" width="1000" height="667" />
            <figcaption class="wp-caption-text">Uçmakdere</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tekirdağ&#8217;ın en çok ziyaret edilen yerlerinden biri olan Uçmakdere şehrin doğal spor ve turizm merkezidir. Tekirdağ merkezine 30 km uzaklıkta yer alan Uçmakdere, Ganos Dağlarının Marmara Denizi’ne bakan eteklerinde sıralanıyor. Uçmakdere’de tarihi Rum evleri, el değmemiş doğal güzellikler, Akdeniz’i aratmayan tertemiz plajlar ve her bütçeye uygun oteller bulunuyor.</span></p>
    <p><span style="font-weight: 400;">Her yıl düzenlenen yamaç paraşütü etkinlikleri için binlerce kişi tarafından ziyaret edilen Uçmakdere rehberli trekking turları veya doğa yürüyüşleri için de tercih ediliyor.</p>
    <p><em>&#8221;<span style="font-weight: 400;">Uçmakdere</span></em><em> <a href="https://maps.app.goo.gl/xLQzQ9aVoxQjHbHNA">konum</a> için tıklayın&#8221;</em></p>
    <h2>6.Laladere Mesire Alanı</h2>
    <p><span style="font-weight: 400;">Laladere mesire alanı huzurlu atmosferinde keyifli bir seyahat imkanı sunuyor. Kuş seslerinin ve yeşilliklerin sizlere eşlik edeceği seyahati kendinizi huzurlu ve mutlu hissetmenizi sağlar.</span></p>
    <p><span style="font-weight: 400;">Tekirdağ&#8217;ın doğa harikalarından biri olarak değerlendirilen ve Osmanlı Devleti zamanında inşa edilen Laladere mesire alanı, inşa edildiği ilk yıllarda padişahların avlanmak için geldikleri yerlerden biriydi. Padişahlar avlanırken lalalarını Laladere mesire alanına bırakıyorlardı.</span></p>
    <p><span style="font-weight: 400;">Geçmiş yıllardan beri huzurlu atmosferini kaybetmeyen Laladere mesire alanı günümüzde hem yöre halkı hem de turistler tarafından çeşitli amaçlar dolayısıyla ziyaret ediliyor. Bir kamp alanı olarak değerlendirilen ve tarihi yerlere ev sahipliği yapan Laladere mesire alanına toplu taşıma araçları ya da şahsi aracınız ile ulaşabilirsiniz.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Laladere mesire alanı</span></em><em> <a href="https://maps.app.goo.gl/MMhsUVtcsYqHzboX9">konum</a> için tıklayın&#8221;</em></p>
    <h2>7.Rakoczi Müzesi</h2>
    <p><span style="font-weight: 400;">Türk-Macar müzesi olan Rakoczi Müzesi görülmeye değer tarihi bir konakta yer alıyor. Koleksiyonunda geleneksel sanat eserleri ve hatıra eşyaları bulunan Rakoczi Müzesi, Tekirdağ’ın kültürel açıdan önemli yapılarından biridir. Süleymanpaşa ilçesinde yer alan ve toplu taşıma araçlarıyla ulaşılabilecek olan Rakoczi Müzesi, 1700’lü yılların başında bölgede sürgün hayatı yaşayan Macar Prensi 2. Ferenc Rakoczi’nin anısına yapılmıştır. Müzenin koleksiyonunda prense ait kişisel eşyalar, Macar tarihi ve kültüründen etkileyici eserler bulunur.</span></p>
    <p><span style="font-weight: 400;">Pazartesi günleri kapalı olan Rakoczi Müzesi geri kalan her gün 09:00 ile 12:00 ve 13:00 ile 17:00 arasında ziyaret edilebilir. Giriş için 10 TL ücret ödenmesi gerekir. Müze içerisinde fotoğraf çekilmesi yasaktır.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Rakoczi Müzesi</span></em><em> <a href="https://maps.app.goo.gl/o1n3HTJ5nsM1SEut9">konum</a> için tıklayın&#8221;</em></p>
    <h2>8.Namık Kemal Evi</h2>
    <p><span style="font-weight: 400;">Vatan şairi olarak bilinen Namık Kemal 1840 yılında Tekirdağ’da doğmuş ve bu şehirde büyümüştür. Ünlü şairin doğup büyüdüğü ev 1993 yılında restore edilmiş ve 1944 yılında müze olarak ziyarete açılmıştır.</span></p>
    <p><span style="font-weight: 400;">Klasik mimarisi ve zengin koleksiyonları ile şehrin turistik açıdan en dikkat çekici merkezlerinden biri olan Namık Kemal Evi şair hakkında daha detaylı bilgiler edinmeye yardımcıdır. Müzede ünlü yazara ait kişisel eşyalar, hakkında yazılmış kitaplar ve sanatçının eserleri yer alıyor.</span></p>
    <p><span style="font-weight: 400;">10 TL bağış yaparak giriş yapabileceğiniz Namık Kemal Evi cumartesi ve pazar günleri kapalıdır. Geri kalan bütün günlerde 08:00 ile 12:00 arasında ziyaret edilebilir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Namık Kemal Evi</span></em><em> <a href="https://maps.app.goo.gl/zKHJqb1HDQHiRXhv7">konum</a> için tıklayın&#8221;</em></p>
    <h2>9.Süleymaniye Camii</h2>
    <p><span style="font-weight: 400;">Tıpkı İstanbul’da olduğu gibi Tekirdağ şehrinde de bir Süleymaniye Camii vardır. Kanuni Sultan Süleyman tarafından inşa ettirilen cami, Camii Kebir ismiyle de anılır. Çorlu ilçesinde yer alan Süleymaniye Camii’nin yapılış kitabesinde bulunan divan şiiri ilgi çekicidir.</span></p>
    <p><span style="font-weight: 400;">Mimari yapıları incelemeyi sevenlerin ve din ile kültür turizmi yapanların tercihi olmayı başaran Süleymaniye Camii merkezi konumda yer alıyor. Merkezden ilçeye giden toplu taşıma araçlarını kullandıktan sonra ilçeden yürüyerek camiye ulaşabilirsiniz. Süleymaniye camii dini ibadetler için hizmet veriyor. </span></p>
    <h2>10.Perinthos Antik Kenti</h2>
    <p><span style="font-weight: 400;">M.Ö. 6. yüzyılda Samos Adası&#8217;ndan gelenler tarafından kurulan kentin kalıntıları bugün Perinthos Antik Kenti’nde yer alıyor. Birinci ve üçüncü derece arkeolojik sit alanı statüsünde sergilenen ve koruma altında tutulan Perinthos Antik Kenti’nde yer alan kalıntıların tamamı iyi durumdadır. Bu sebeple antik kent açık hava müzesi olarak da adlandırılır. Perinthos Antik Kenti periyodik aralıklarla bakıma girdiği için seyahatiniz öncesinde durumunu kontrol etmeniz önerilir.</span></p>
    <h2>11.Ganos Dağları</h2>
    <p><span style="font-weight: 400;">Tekirdağ&#8217;ın doğal hazinesi olarak değerlendirilen Ganos Dağları şehrin en önemli doğal yapılarından biridir. Yalnızca görkemli görüntüsüyle değil zengin kültürü ve meşhur lezzetleriyle de Tekirdağ&#8217;ın ilgi çekici köşeleri arasında yer alıyor.</span></p>
    <p><span style="font-weight: 400;">Ganos Dağları etrafında Tekirdağ’ın meşhur yemekleri hazırlayan ve denemenize imkan tanıyan farklı tesisler bulunuyor. Bugüne dek birçok egemenliği misafir eden Ganos Dağları egemenliklerden kalan izleri halen saklıyor. </span></p>
    <p><span style="font-weight: 400;">Doğası ve zengin kültürü ile ziyaretçilerini cezbetmeyi başaran Ganos Dağları yamaç paraşütü ve trekking turları gibi ekstrem sporlar için de idealdir. Bölgede periyodik aralıklarla off-road yarışmaları düzenleniyor. Tekirdağ’da vaktin daha eğlenceli hale gelmesini sağlayacak olan Ganos Dağları’na şahsi aracınız ile ulaşabilirsiniz. Ganos Dağları Mürefte ve Şarköy’den Uçmakdere ve Kumbağ’a kadar uzanan hat üzerinde konumlanıyor. </span></p>
    <h2>12.Dut Limanı Koyu</h2>
    <p><span style="font-weight: 400;">Dut Limanı Koyu Kumbağ’da yer alıyor. Ziyaretçilerine güzel manzaralar sunması ve piknik yapma gibi imkanlar tanıması koyun sıklıkla tercih edilmesini sağlıyor. Doğal güzellikleriyle ziyaretçilerinin dikkatini çekmeyi başaran Tekirdağ, özellikle yaz aylarında oldukça kalabalık hale geliyor. </span></p>
    <p><span style="font-weight: 400;">Huzurlu ambiyansta keyifli bir gün geçirmek ve kaotik atmosferden uzaklaşmak isteyenlerin ziyaret alanları arasında ise Dut Limanı Koyu bulunuyor. Sit alanı olarak ilan edilen kamp alanı doğal güzelliği ile büyüleyici bir atmosfer sunmayı başarıyor. Koyun etrafında yeme içme ihtiyaçlarınızı karşılayabileceğiniz seçenekler azdır. Bu sebeple bu gibi ihtiyaçlarınızı yanınızda götürmeniz öneriliyor.  Koya şahsi aracınız ile ulaşım sağlayabilirsiniz.</span></p>
    <h2>13.Kanara Kanyonu</h2>
    <p><span style="font-weight: 400;">Ergene Nehri kenarında yer alan Kanara Kanyonu, Tekirdağ’ın dikkat çekici doğa alanlarından birisidir. Yüzlerce metre yükseklikte bulunan ihtişamlı kanyon duvarları fotoğraf safarileri için de bölgenin ideal bir yer olmasını sağlar.</span></p>
    <p><span style="font-weight: 400;">Tarih öncesi dönemlerde yerleşik yaşama ait kalıntıların bulunduğu ve bu yüzden de kaya mezarlar barındıran kanyon geçtiğimiz yıllarda sit alanı ilan edilerek muhafaza altına alınmıştır. Kanyon, 40 metre uzunluğundaki Güngörmez Mağarası’na da ev sahipliği yapıyor. Kanara Kanyonuna toprak yoldan ulaşılır. Eğer şahsi aracınız ile gelmeyi düşünüyorsanız aracınızın toprak yoldan ulaşım için uygun olduğundan emin olmalısınız.</span></p>
    <h2>14.Tarihi Çorlu Evi</h2>
    <p><span style="font-weight: 400;">Çorlu Tekirdağ’ın en turistik ilçesidir. Çorlu ilçesinde yer alan Tarihi Çorlu Evi Rum bir doktora aittir. Yüzyıldan daha köklü bir geçmişe sahip olduğu bilinen Tarihi Çorlu Evi, Doğanca Muhacir Evi Müzesi ismiyle de anılıyor. İsminden de anlaşılacağı üzere müze olarak faaliyet gösteriyor.</span></p>
    <p><span style="font-weight: 400;">Dönemin sivil mimarisinin en güzel örneklerinden biri olan Tarihi Çorlu Evi ahşap bir konak olarak inşa edilmiştir. Konak içerisinde oturma odası, mutfak, kiler ve yemek odası gibi bölümler kendilerine ait özellikleri ile dönemi yansıtıyor.</span></p>
    <p><span style="font-weight: 400;">5 TL ücret ödeyerek girebileceğiniz Tarihi Çorlu Evi haftanın her günü 10:00 ile 17:00 saatleri arasında ziyaret edilebilir. Yakın tarih hakkında detaylı bilgi edinmeye yardımcı olan Tarihi Çorlu Evi keyifli bir gezi imkanı sunuyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Tarihi Çorlu Evi</span></em><em> <a href="https://maps.app.goo.gl/SZ2guEnjYYy3vXgs9">konum</a> için tıklayın&#8221;</em></p>


</body>
</html>
