<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokat'ta Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>TOKAT</h5>
    <p><span style="font-weight: 400;">Milattan önceki yıllara kadar uzanan köklü tarihi ile Tokat bugüne kadar pek çok medeniyete ev sahipliği yapmış. Hitit, Bizans ve Frig gibi farklı medeniyetlerin izlerini halen taşıyan, köklü geçmişi ile kültürel seyahatlerin başkenti olmayı başaran Tokat, pek çok açıdan dikkat çekici bir turistik destinasyon. Mevlevi hâneler, hanlar, kiliseler ya da antik kentler gibi değişen turistik anlayışlara uyum sağlayan çok sayıda lokasyona sahip olan Tokat, keyifli bir gezi deneyimi sunuyor.</span></p>
    <p><span style="font-weight: 400;">Yılın dört mevsimi ziyaret edilen Tokat, gezilecek yerler konusunda önemli bir zenginliğe sahip. Türkiye’nin her yerinden kara yolu ile ulaşabileceğiniz Tokat, Karadeniz bölgesinde yer alır. Orta Karadeniz bölümünün iç kısımlarında konumlanan Tokat’ın 12 farklı ilçesi bulunuyor. Samsun, Ordu, Sivas ve Yozgat gibi illerle komşu konumda bulunan Tokat’ta havalimanı da bulunur. Şehir merkezine 17 km uzaklıkta bulunan Tokat Havalimanı, farklı şehirlerden uçak ile yolculuk yapmak isteyenlerin tercihi. </span></p>


    <h3>Tokat’ta Gezilecek Yerler</h3>
    <ul>
    <li>Ballıca Mağarası</li>
    <li>Kaz Gölü</li>
    <li>Tokat Kalesi</li>
    <li>Topçam Yaylası</li>
    <li>Tokat Saat Kulesi</li>
    <li>Taşhan</li>
    <li>Yazmacılar Hanı</li>
    <li>Sulu Sokak Caddesi</li>
    <li>Tokat Müzesi gibi yerler bulunuyor.</li>
    </ul>

    <h2>1.Ballıca Mağarası</h2>
    <p><span style="font-weight: 400;">Tokat’ın Pazar ilçesinde bulunan, yaklaşık 3 milyon yıllık bir geçmişe sahip olduğu bilinen Ballıca Mağarası, Anadolu’nun en eski mağaralarından birisi konumunda. Yüksek bir noktada konumlanan ve turizme kazandırılması için özel yürüme yolları ve aydınlatmalar ile düzenlenmiş olan Ballıca Mağarası, toplamda 95 metre yüksekliğe sahip. Etkileyici dikitlere ve soğan sarkıtlara ev sahipliği yapan Ballıca Mağarası’nın 1996 senesinden beri Tokat’ta en çok ziyaret edilen doğal yerlerden biri olduğu biliniyor. </span></p>
    <p><span style="font-weight: 400;">Cüce yarasaları ile meşhur olan, toplamda 8 ayrı bölümden oluşan Ballıca Mağarası yarasa salonu, havuzlu salon ve fosil salonu gibi mutlaka görülmesi gereken yerler bulunduruyor. Ballıca Mağarası halk arasında İndere Mağarası ismiyle de anılıyor.</span></p>
    <p><em>&#8221;Ballıca Mağarası </em><em><a href="https://maps.app.goo.gl/9SFryn5R5yzDBoQH9">konum</a> için tıklayın&#8221;</em></p>
    <h2>2.Kaz Gölü</h2>
    <p><span style="font-weight: 400;">Kuşların göç güzergahında yer alan dolayısıyla yılın farklı dönemlerinde oldukça neşeli görüntüler sunan Kaz Gölü, Tokat’ta görülmesi gereken doğal güzelliklerin başında. Şehir merkezine oldukça yakın konumda bulunduğu için ulaşım esnasında kolaylık sağlayan Kaz Gölü, etkileyici bir manzaraya sahip. Mart ayı ile birlikte kuşların yoğun olduğu dönemin başlaması sonbahar aylarına dek Kaz Gölü’nün yoğun bir ilgi görmesini sağlar. Bununla birlikte kuluçka merkezi olma özelliğine de sahip olan Kaz Gölü kara çulluk, söğüt serçesi, kaz, leylek veya kız kuşu gibi pek çok kuş türüne ev sahipliği yapar.</span></p>
    <p><em>&#8221;Kaz Gölü </em><em><a href="https://maps.app.goo.gl/b5Lk1bkRTYkEaeFQ9">konum</a> için tıklayın&#8221;</em></p>
    <h2>3.Tokat Kalesi</h2>
       <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/05/Tokat-Kalesi.jpg" alt="Tokat Kalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Tokat Kalesi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tokat’ın birden fazla sembolü olduğunu söylemek mümkün. Bunlardan biri olan Tokat Kalesi, Tokat’ın tarihsel direnişi için önemli bir rol oynar. Roma döneminde güvenlik amacıyla inşa edilen ve oldukça görkemli olan kale, yaklaşık 500 yıl boyunca Bizans himayesinde kalmış. 1074 yılında Melikşah Gazi öncülüğünde fethedilmiş ve tarih boyunca pek çok medeniyetin egemenliği altına girmiş. Dik bir kayalık üzerinde, etkileyici bir görüntü ile şehri gözetleyen Tokat Kalesi, sahip olduğu orman manzarasıyla da dikkat çekici. Faaliyet gösterdiği yıllar boyunca hapishane gibi çeşitli amaçlar için kullanılan Tokat Kalesi’ne inmek istiyorsanız 362 basamaklı merdiveni kullanmalısınız. 5. yüzyıldan kaldığı tahmin edilen dolayısıyla şehrin tarihi yapılarından biri olan Tokat Kalesi, şehir merkezinin en yüksek noktası olma özelliğine sahip.</span></p>
    <p><em>&#8221;Tokat Kalesi </em><em><a href="https://maps.app.goo.gl/NK61yYNnWyQXt33M8">konum</a> için tıklayın&#8221;</em></p>
    <h2>4.Almus Baraj Gölü</h2>
    <p><span style="font-weight: 400;">Almus ilçesinde yer alan, oldukça büyük bir baraj gölü olan Almus Baraj Gölü, alabalık yetiştirme merkezi olarak ele alınıyor. Bununla birlikte göl çevresinde bulunan büyük ormanlık alan piknik gibi amaçlar doğrultusunda kullanılan bir rekreasyon alanı olmasını sağlıyor. Turistik bir destinasyon olduğu için etrafında pek çok balık restoranı bulunuyor. Baraj gölünden yakalanan balıkların tadımını yapabileceğiniz restoranlar, özellikle öğle ve akşam yemekleri için yoğun bir ilgi görüyor. 4 bin hektarlık geniş bir alanı kapsayan Almus Baraj Gölü su sporları için de tercih ediliyor.</span></p>
    <p><em>&#8221;Almus Baraj Gölü </em><em><a href="https://maps.app.goo.gl/2VfmdFzcEcJqo7E47">konum</a> için tıklayın&#8221;</em></p>
    <h2>5.Topçam Yaylası</h2>
    <p><span style="font-weight: 400;">Tokat’ın tabiat harikalarından biri olan Topçam Yaylası, hem yerel halk hem de turistler tarafından en sevilen turistik cazibe merkezlerinden birisi. Denizden 1500 metre yükseklikte yer alan ve doğa harikası olarak değerlendirilen Topçam Yaylası, şehir merkezine 14 km uzaklıkta konumlanıyor. Nefes kesici bir manzaraya ev sahipliği yapan ve kalabalık şehirlerin kaosundan ve stresinden uzaklaşmak için ideal bir lokasyon olan Topçam Yaylası, oksijen deposu olarak görülüyor. Yeşilin farklı tonlarını ziyaretçisine etkileyici bir şekilde sunan Topçam Yaylası, her sene ağustos ayında yapılan şenlik organizasyonlarına da ev sahipliği yapıyor.</span></p>
    <p><em>&#8221;Topçam Yaylası </em><em><a href="https://maps.app.goo.gl/SeLmqHzhzUWeANMEA">konum</a> için tıklayın&#8221;</em></p>
    <h2>6.Tokat Saat Kulesi</h2>
      <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/05/Tokat-Saat-Kulesi.jpg" alt="Tokat Saat Kulesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Tokat Saat Kulesi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tokat Saat Kulesi Abdülhamit’in tahta çıkışının 25. yılını kutlamak için özel olarak inşa edilmiş durumda. En önemli özelliği ise ilk günkü sağlamlığını halen koruması. Güçlü bir sese sahip olacak şekilde inşa edilen, 1902 yılında inşa edildiği tahmin edilen Tokat Saat Kulesi 33 metrelik yüksekliğe sahip. Görkemli bir mimari yapı olan Tokat Saat Kulesi’nin yapımında Bekir Paşa ve Enver Bey’in önemli katkıları olmuştur. Çoğunlukla kesme taşlar kullanılarak inşa edilen Tokat Saat Kulesi, büyük kadranları ile dikkat çekici. Her yarım saatte bir güçlü şekilde yankılanan Tokat Saat Kulesi hatıra fotoğraf çekilmek için en ideal yerlerden biridir. Tokat Saat Kulesi merkezi bir konumda yer aldığı için ulaşım kolay.</span></p>
    <p><em>&#8221;Tokat Saat Kulesi </em><em><a href="https://maps.app.goo.gl/Q5dWVx1MseYdniXs6">konum</a> için tıklayın&#8221;</em></p>
    <h2>7.Taşhan</h2>
      <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/05/Tashan.jpg" alt="Taşhan" width="1000" height="667" />
            <figcaption class="wp-caption-text">Taşhan</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tokat Türkiye’nin en güzel hanlarından birine ev sahipliği yapıyor. Taşhan olarak adlandırılan ve Tokat’ın simgelerinden biri olarak anılan bu han, kendine özgü mimarisi ile görenleri hayran bırakıyor. Anadolu coğrafyası içerisindeki en büyük şehir hanları arasında gösterilen ve 1626 senesinde inşa edilmeye başlandığı tahmin edilen Taşhan, oldukça görkemli bir yapı. Tipik Osmanlı mimarisinden esintiler sunan ve turistlerin dikkatini çekmeyi başaran Taşhan dikdörtgen formunda, iki katlı bir yapı. Açık avlulu hanlar arasında da bulunan ve Gaziosmanpaşa Bulvarı’nda konumuna Taşhan, altı sene süren bir inşaat sonucunda kullanıma açılmış. Bugün itibari ile 103 ayrı mekanı ev sahipliği yapan Taşhan’da eski bakırcılar, antikacılar ve geleneksel el sanatları icra eden atölyeler faaliyet gösteriyor.</span></p>
    <p><em>&#8221;Taşhan </em><em><a href="https://maps.app.goo.gl/22yveZiwv9KgcBfP7">konum</a> için tıklayın&#8221;</em></p>
    <h2>8.Yazmacılar Hanı</h2>
    <p><span style="font-weight: 400;">Taşhan ile birlikte şehrin en önemli iki hanından biri olan Yazmacılar Hanı, 1800 yıllara uzanan inşaat tarihi ile oldukça köklü bir geçmişe sahip. Halk arasında Gazioğlu Hanı ismi ile de anılan, Tokat’ta yazmacılığın önemli bir uğraş olması sebebiyle dikkat çeken Yazmacılar Hanı içerisinde çok sayıda dükkan faaliyet gösteriyor. Geleneksel yazma ürünleri, ipek dokuma ürünleri ya da ünlü sofra bezleri satın alabileceğiniz dükkanlar, Yazmacılar Hanı içerisinde.</span></p>
    <p><span style="font-weight: 400;">Tokat’tan hediye olarak ne alınır sorusuna verilebilecek yanıtların başında yazma geliyor. Sevdikleriniz ya da kendiniz için armağan almak istiyorsanız tercihinizi Yazmacılar Hanı içerisinde faaliyet gösteren dükkanlardan satın alabileceğiniz yazmalar ile yapabilirsiniz.</span></p>
    <h2>9.Sokak Caddesi</h2>
    <p><span style="font-weight: 400;">Tokat’ın en önemli turistik sokaklarından bir de Sulu Sokak Caddesi. Şehrin tarihi kimliğini bünyesinde barındıran dolayısıyla Tokat’ı daha yakından tanımak için ziyaret edilmesi gereken bir cadde olan Sulu Sokak, tarihi Tokat evlerine, camilere, medreselere,  türbelere ve hanlara ev sahipliği yapıyor. Yağıbasan Medresesi, Latifoğlu Konağı, Tokat Mevlevihanesi, Atatürk’ün Evi ve Sultan Hamamı gibi Tokat’ta görülmesi gereken tarihi yerlerin pek çok Tokat Müzesi’ne yakın konumda yer alıyor. </span></p>
    <p><span style="font-weight: 400;">Eskiden şehir merkezi olan, günümüzde ise otantik bir bölge olarak değerlendirilen Sulu Sokak Caddesi, 900 senelik tarihi bir geçmişe sahiptir. Tokat evlerini daha yakından inceleyebileceğiniz, toplu taşıma araçları ile ulaşabileceğiniz Sulu Sokak Caddesi, şehrin en popüler yerlerinden birisi konumunda.</span></p>
    <h2>10.Tokat Müzesi</h2>
    <p><span style="font-weight: 400;">Tokat’ta müzecilik faaliyetlerinin geçmiş yüzyılın başlarına tekabül ettiği söylenebilir. Tokat’ta bir müze kurulması için başlatılan çalışmaların 1926 senesini gösterdiği görülüyor. 1982 senesinde halk ile buluşturulan Tokat Müzesi, Tokat için önemli bir yapı. 1982 yılından 2012’ye dek Gökmedrese’de yer alan daha sonra Tokat Bedestenine taşınan Tokat Müzesi, Takyeciler Camisinin doğu kısmında konumlanıyor. Hem arkeolojik kendi etnografik eserlerin sergilendiği geniş bir koleksiyona sahip olan Tokat Müzesi, altın sikkelerin çokluğu ile öne çıkıyor. Koman Antik Kenti ve Maşthöyük kazılarından elde edilen eserlerin önemli bir kısmını kapladığı koleksiyonu ile ücretsiz olarak ziyaret edilebilen Tokat Müzesi haftanın her gün 08:00 ile 16:45 saatleri arasında ziyarete açık.</span></p>
    <p><em>&#8221;Tokat Müzesi </em><em><a href="https://maps.app.goo.gl/aG42bBnsbZ6JQLE98">konum</a> için tıklayın&#8221;</em></p>
    <h2>11.Yağıbasan Medresesi</h2>
    <p><span style="font-weight: 400;">Tokat seyahati esnasında mutlaka görmeniz gereken tarihi yerlerin arasında Yağıbasan Medresesi geliyor. Anadolu coğrafyasında kapalı svlulu olma özelliği taşıyan ilk medrese olduğu için dikkatleri üzerine çeken Yağıbasan Medresesi, halk arasında Çukur Medrese ismi ile de anılıyor. 1151 senesinde inşa edildiği tahmin edilen ve toplamda 14 metre çapındaki bir kubbeye sahip olan tarihi Yağıbasan Medresesi, görkemli bir yapı. Nizamettin Yağıbasan’ın imzası yer aldığı için Yağıbasan Medresesi olarak anılan, bir bölümünün doğrudan Niksar Kalesi’nin duvarlarını yaslandığı tarihi yağı, sade ve süslemesiz olmasına rağmen görüntüsüyle dikkat çekmeyi başarıyor. Ücretsiz olarak ziyaret edebileceğiniz Yağıbasan Medresesi, Tokat’ın sembolleri arasında geliyor.</span></p>
    <p><em>&#8221;Yağıbasan Medresesi </em><em><a href="https://maps.app.goo.gl/b4gdzEPFsY7XoYf59">konum</a> için tıklayın&#8221;</em></p>
    <h2>12.Tokat Kültür Evi</h2>
    <p><span style="font-weight: 400;">Tokat’ta yer alan en başarılı sivil mimari örneklerinden biri Tokat Kültür Evi. Sulu Sokak’ta konumlanan, Anadolu Türk mimarisine dair çok sayıda doneye yer veren Tokat Kültür Evi, çevresinde bulunan hamamlar, çeşmeler, türbeler ve hanlar sebebiyle de turistik açıdan dikkat çekici bir destinasyon. </span></p>
    <p><span style="font-weight: 400;">Avantajlı konumu ve mimarisi turistlerin dikkatini çekmeyi başarmasını sağlar. Süsleme detayları ile görülmeye değer kabul edilen ve 1700’lü yıllarda inşa edildiği tahmin edilen Tokat Kültür Evi, ilk yıllarında şehir dışından gelen tacirlerin konaklaması amacıyla kullanılmıştır. Bahçe kısmında bulunan çeşme ve şadırvan ile geleneksel ev yaşantısını başarılı bir şekilde yansıtan Tokat Kültür Evi yalnızca pazartesi günleri kapalıdır. Geri kalan her gün 09.00 ile 17.00 saatleri arasında ücretsiz olarak ziyaret edilebilir.</span></p>
    <p><em>&#8221;Tokat Kültür Evi </em><em><a href="https://maps.app.goo.gl/P13VbmpKF8ENAMLZ8">konum</a> için tıklayın&#8221;</em></p>
    <h2>13.Sebastapolis Antik Kenti</h2>
    <p><span style="font-weight: 400;">Şehir merkezinden yaklaşık 70 km uzaklıkta yer alan Sebastapolis Antik Kenti Sulusaray bölgesinde, Çekerek Irmağına komşu konumda. Bulunduğu konum sebebiyle bazı kaynaklarda Sulusaray Antik Kenti olarak da anılan Sebastapolis Antik Kenti 2000 yıllık bir geçmişe sahiptir. 2000 yıl kadar önce Karadeniz’de ufak bir yerleşim merkezi olarak faaliyet gösteren Sebastapolis Antik Kenti günümüzde Tokat’ın turistik cazibe merkezlerinden birisi konumunda.</span></p>
    <p><span style="font-weight: 400;">Açık hava müzesi işlevi gören ve özellikle Roma imparatorluğu döneminden çok sayıda kalıntıya yer veren Sebastapolis Antik Kenti içerisinde bulunan aslan heykelleri, hamam ve tapınak gibi yerler sebebiyle dikkat çekici. Görsel anlamda Bergama Antik Kenti’ne Benzetilen Sebastapolis Antik Kenti dört mevsim boyunca ziyaret edilebilir.</span></p>
    <p><em>&#8221;Sebastapolis Antik Kenti </em><em><a href="https://maps.app.goo.gl/f5saAzaR1KpmN6fn9">konum</a> için tıklayın&#8221;</em></p>
    <h2>14.Niksar Kalesi</h2>
      <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/05/Niksar.jpg" alt="Niksar Kalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Niksar Kalesi</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Tokat’ın en önemli kalelerinden biri olan Niksar Kalesi, Pontus Krallığı’ndan Tokat’a miras kalmış. Aktif olarak kullanıldığı dönemlerde Kaberia Kalesi ismi ile de anılan Niksar Kalesi, bugünkü halini kullanıldığı farklı dönemlerde aldığı eklemeler ile almış. 9. yüzyılda uğradığı saldırılar sebebiyle ciddi hasarlar gören Niksar Kalesi, yeniden güçlendirilmiş ve onarımlar sayesinde günümüze kadar gelebilmeyi başarmış. </span></p>
    <p><span style="font-weight: 400;">Kilise, mescit, hamam ve hapishane gibi farklı bölümlere kendi içerisinde yer veren Niksar Kalesi, iç, orta ve dış olacak şekilde 3 farklı bölümden oluşturulmuş. Çekenli İş Merkezi’nden kalkan ilçe otobüsleri ile kolaylıkla ulaşabileceğiniz Niksar Kalesi’ne giriş için ücret talep edilmez.</span></p>
    <p><em>&#8221;Niksar Kalesi </em><em><a href="https://maps.app.goo.gl/X5zJdu5FAuUpYUaY9">konum</a> için tıklayın&#8221;</em></p>
    <h2>15.Yeşilırmak (Hıdırlık) Köprüsü</h2>
    <p><span style="font-weight: 400;">Tokat’ın kuzey kısmında bulunan halk arasında Hıdırlık Köprüsü olarak anılan Yeşilırmak Köprüsü’nün Selçuklular zamanında yapımına başlandığı tahmin ediliyor. Büyük oranda güçlü kesme taşların kullanıldığı bu yapı, 7 metre civarında genişliği ve 150 metrelik uzunluğu ile oldukça görkemli. İhtişamlı 5 farklı kemere sahip olan ve 1250 senesinde yapımı tamamlanan Yeşilırmak (Hıdırlık) Köprüsü, batı tarafında yer alan kitabesi ile hakkında detaylı bilgi edinmeye yardımcı.</span></p>
    <h2>16.Ali Paşa Camii ve Hamamı</h2>
    <p><span style="font-weight: 400;">Cumhuriyet Meydanı’nda konumlanan Ali Paşa Camii ve Hamamı, şehirde bulunan en büyük Osmanlı eseridir. 1572 senesinde inşa edilen, Mimar Sinan ekolünün benimsendiği bir yapı olan Ali Paşa Cami, tek kubbeli bir yapı. Büyük bir bahçeye sahip olan Ali Paşa Cami özellikle bahar aylarında benzersiz manzaralar sunar. </span></p>
    <p><span style="font-weight: 400;">Caminin isim babası olan Ali Paşa Bosnalı lakaplı, önemli bir kişi kabul ediliyor. Eserin yapımında ön ayak olmuştur. Enderun’da yetişen ve daha sonra saray ağalıklarında bulunan önemli bir zat olan Ali Paşa, Ali Paşa Cami ile ismi yaşatılan biri haline gelmiş. Oğlu Mustafa Bey&#8217;in vefatı sonrası cami ve türbenin yapımı için girişimlerde bulunması günümüzde caminin Âli Paşa Cami olarak anılmasını sağlamış.</span></p>
    <p><em>&#8221;Ali Paşa Camii ve Hamamı </em><em><a href="https://maps.app.goo.gl/JgK3j7kYMXN91BZV6">konum</a> için tıklayın&#8221;</em></p>
    <h2>17.Zile Kalesi</h2>
    <p><span style="font-weight: 400;">Zile ilçesinde konumlanan, Bizans ve Roma döneminden izler taşıyan Zile Kalesi Zile Ovası’nı kucaklayan bir konumda yer alıyor. Tarihi bir kale olduğu bilinen ancak ne zaman yapıldığı tam olarak bilinmeyen Zile Kalesi’nin mimari detayları göz önünde bulundurulduğunda Roma döneminde yapıldığı tahmin ediliyor. Kesme moloz taşların kullanıldığı mimari yapı Alaaddin Bey döneminde ciddi bir restorasyon çalışmasından geçmiştir. Ertena Beyi tarafından gerçekleştirilen restorasyon çalışması 1336 yılında yapılmış. Şehir merkezinden 60 km uzaklıkta bulunan, ücretsiz şekilde ziyaret edilebilecek Zile Kalesi ünlü düşünür Sezer’in meşhur sözü “geldim, gördüm, yendim” şekilde bahsettiği bölge.</span></p>
    <p><em>&#8221;Zile Kalesi </em><em><a href="https://maps.app.goo.gl/q5w5X5qHUMA8gSii7">konum</a> için tıklayın&#8221;</em></p>
    <h2>18.Tokat Mevlevihanesi</h2>
    <p><span style="font-weight: 400;">Mevleviliğin yayılması adına 13. yüzyılda Mevlana tarafından görevlendirilen Fahreddini Iraki bu bölgede Mevleviliğin yayılması için pek çok çalışma yürütmüş. Bu çalışmalardan biri olarak değerlendirilen Tokat Mevlevihanesi Sultan III. Ahmet döneminde, Sülün Mustafa Paşa tarafından inşa ettirilmiş. İnşasının 1638 senesine dayandığı bilinir. Varlığını tam anlamıyla koruyamadığı için bugüne dek çok sayıda onarım çalışması geçirmiştir. Son olarak 19. yüzyılda onarılan Tokat Mevlevihanesi, şehir merkezinde yer alır. Zengin mimari detaylara sahip olan ve toplamda 3000 metre karelik geniş bir alanda yer alan Tokat Mevlevihanesi, Evliya Çelebi’nin Seyahatname adlı eserinde övgülerle yer alır. </span></p>
    <p><em>&#8221;Tokat Mevlevihanesi </em><em><a href="https://maps.app.goo.gl/DKey7k56rvjP32HJ6">konum</a> için tıklayın&#8221;</em></p>
    <div class="yarpp yarpp-related yarpp-related-website yarpp-template-thumbnails">

</body>
</html>
