<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Van'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>VAN</h5>
    <p><span style="font-weight: 400;">Tarihi zenginliği, doğal güzellikleri ve ön plana çıkan benzersiz kültürü ile Türkiye’nin en turistik şehirlerinden biri olan Van ziyaretçilerini büyülüyor. Türkiye’nin gözde destinasyonlarından biri olan Van, Doğu Anadolu’nun incisi olarak adlandırılıyor. </span></p>
    <p><span style="font-weight: 400;">Tarihi boyunca onlarca farklı medeniyete ev sahipliği yapmış olan Van kendine özgü farklı bir kimlik geliştirmiştir. Van Gölü gibi dünyaca ünlü çok sayıda doğal güzelliğe ev sahipliği yapıyor olması yılın her mevsimi dünyanın dört bir yanından gelen ziyaretçileri ağırlamasını sağlar. </span></p>
    <p><span style="font-weight: 400;">Van seyahatinizi gerçekleştirmek için hava, kara ve demiryolunu kullanabilirsiniz. Pek çok şehirden direkt giden otobüsleri ya da özel aracınızı ulaşım için tercih edebilirsiniz. Bunun haricinde Van Gölü Ekspresi de demir yolu ile Van’a ulaşmak için tercih edilebilir. Tatvan’dan otobüs ya da feribot ile Van’a ulaşmak da mümkündür.</span></p>
    <p><span style="font-weight: 400;">Van’a ulaşım için en çok tercih edilen yöntem havayoludur. İlin merkezine yaklaşım 8 kilometre mesafedeki Van Ferit Melen Havaalanı sayesinde şehre istediğiniz başka bir şehir ya da ülkeden ulaşım sağlayabilirsiniz. Havalimanında indikten sonra merkeze ya da istediğiniz herhangi bir yere ulaşmak için özel servisleri, toplu taşıma araçlarını ya da araç kiralama hizmetlerini tercih edebilirsiniz. </span></p>
    <p><span style="font-weight: 400;">Şehir yılın 4 mevsimi ziyaret ediliyor olsa da turistik geziler için en ideal aralık yaz aylarıdır. </span></p>
    <h3><b>Van’da Gezilecek Yerler:</b></h3>
    <ol>
    <li>Van Gölü</span></li>
    <li>Muradiye Şelalesi</span></li>
    <li>Hoşap Kalesi</span></li>
    <li>Edremit Kız Kalesi Seyir Terası</span></li>
    <li>Van Kalesi</span></li>
    <li>Akdamar Adası Ve Kilisesi </span></li>
    <li>St. Bartholomeus Kilisesi</span></li>
    <li>Toprakkale</span></li>
    <li>Van Müzesi</span></li>
    <li>Yedi Kilise</span></li>
    </ol>


    <h2>1.Van Gölü</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/van-golu.jpg" alt="Van Gölü" width="1000" height="667" />
            <figcaption class="wp-caption-text">Van Gölü</figcaption>
        </figure>
    <p><span style="font-weight: 400;">Türkiye’nin yüzölçümü en geniş gölüdür. Aynı zamanda, Van Gölü dünyadaki en geniş sodalı gölü olarak da bilinir. Van ve Bitlis illeri arasında yer alan Van Gölü, yanında bulunan Nemrut Dağı’nın patlamasıyla oluşmuştur. Bu sebeple volkanik set gölüdür. </span></p>
    <p><span style="font-weight: 400;">Efsanevi bir canavara yer verdiği hakkında uzun yıllardır anlatılan hikayeleri ve ev sahipliği yaptığı çok sayıda balık türü ile Van Gölü, Van seyahatlerinin ilk durağıdır. Gölü daha yakından görmek ve keşfetmek istiyorsanız her mevsim gerçekleşen tekne turlarına katılabilirsiniz. </span></p>
    <p><em>&#8221;Van Gölü</em><em> <a href="https://maps.app.goo.gl/SWFKQcYTeQeSyuvp9">konum</a> için tıklayın&#8221;</em></p>

    <h2>2.Muradiye Şelalesi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Muradiye-Selales.jpg" alt="Muradiye Şelalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Muradiye Şelalesi</figcaption>
        <p><span style="font-weight: 400;">Van&#8217;ın doğusunda ve Muradiye ilçesinde yer alan, ismini bulunduğu ilçeden alan Muradiye Şelalesi Van’da mutlaka görülmesi gereken doğal güzelliklerden biridir. Muradiye Şelalesi Van Gölü’nü besleyen en önemli kaynaklardan biridir.</span></p>
    <p><span style="font-weight: 400;">25 TL giriş ücreti ödeyerek seyahat edebileceğiniz ve etrafında yeşil ağaçlarla dolu piknik alanları bulunduran Muradiye Şelalesi doğa ile iç içe keyifli bir gün geçirmenizi sağlar. Muradiye Şelalesi’nde yürüyüş rotaları ve mesire alanları bulunur.</span></p>
    <p><em>&#8221;Muradiye Şelalesi</em><em> <a href="https://maps.app.goo.gl/J2hzrg3oGxfRKqSw6">konum</a> için tıklayın&#8221;</em></p>

    <h2>3.Hoşap Kalesi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/Hosap-Kalesi.jpg" alt="Hoşap Kalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">Hoşap Kalesi</figcaption>
    <p><span style="font-weight: 400;">Van’ın Gürpınar ilçesinde yer alan ve ziyaretçilerine benzersiz bir deneyim vadeden Hoşap Kalesi, 1643 yılında inşa edilmiştir. İnşa edildiği yıldan beri şehrin en önemli tarihi yapılarından biri olmuştur. Bunun yanı sıra Anadolu ile İran arasında bir köprü görevi görür. </span></p>
    <p><span style="font-weight: 400;">Osmanlılar döneminde ileri uç sınır karakolu olarak kullanılan dolayısıyla köklü bir tarihe sahip olan Hoşap Kalesi, Van’da gerçekleşen fotoğraf safarilerinin vazgeçilmez adreslerinden biridir. Ücretsiz olarak ziyaret edebileceğiniz Hoşap Kalesi 08.00’den 19.00’a kadar gezilebilir. </span></p>
    <p><em>&#8221;</em><em>Hoşap Kalesi <a href="https://maps.app.goo.gl/wPxZwipTe1Fi7UFt7">konum</a> için tıklayın&#8221;</em></p>

        <h2>4.Edremit Kız Kalesi Seyir Terası</h2>
    <p><span style="font-weight: 400;">Edremit Kız Kalesi Seyir Terası 3 bin yıllık geçmişiyle Van&#8217;da mutlaka görülmesi gereken yerlerden biridir. Bölgeye hakim bir tepe üzerinde konumlanan kale hakkında yapılan çeşitli araştırmalar Urartular tarafından sunak yeri olarak reverans amacılığıyla kullanılmış olduğunu gösterir. </span></p>
    <p><span style="font-weight: 400;">Urartu krallarının taç giydiği, uzunca yıllar çeşitli törenlerin yapıldığı kutsal bir alan olarak kabul edilen ve kullanılan Edremit Kız Kalesi Seyir Terası, Van Gölü&#8217;nün izlenebildiği panoramik bir seyir terasıdır.</span></p>
    <p><span style="font-weight: 400;">Seyir terasının etrafında </span><a href="https://www.tatilbudur.com/blog/vanin-meshur-yemekleri/"><span style="font-weight: 400;">Van’ın meşhur yemekleri</span></a><span style="font-weight: 400;"> için deneyebileceğiniz restoranlar ve kafeler bulunur. Şehri daha yakından tanımak ve keyifli bir mola vermek için ziyaret edilmesi gereken Edremit Kız Kalesi Seyir Terası 4 mevsim boyunca ziyaretçilerini ağırlar. İl merkezinden kalkan Edremit toplu taşıma araçlarıyla ulaşım sağlanabilir.</span></p>

    <h2>5.Van Kalesi</h2>
    <figure class="wp-caption aligncenter">
            <img src="https://cdnblog.tatilbudur.com/wp-content/uploads/2024/01/van-kalesi.jpg" alt="Van Kalesi" width="1000" height="667" />
            <figcaption class="wp-caption-text">VanKalesi</figcaption>
    <p><span style="font-weight: 400;">Türkiye’nin doğusunda yer alan ve nefes kesici bir manzaraya sahip olan Van Kalesi Urartular döneminde inşa edilmiştir. Van Gölü’nün yanında yer alan Van Kalesi 9. yüzyıla kadar uzanan köklü tarihi ile Van şehrinin en dikkat çekici yapılarından biridir. </span></p>
    <p><span style="font-weight: 400;">Kale içerisinde çok sayıda tarihi eser bulunuyor. Urartular döneminden kalan eski yazıtlar, mezarlar ve belgeler gibi çok sayıda eser Van Kalesi’nin bölgenin en önemli turistik destinasyonlarından biri olmasını sağlıyor.</span></p>
    <p><span style="font-weight: 400;">Van Kalesi her gün ziyarete açıktır. 08.00 ile 17.00 saatleri arasında kaleyi ziyaret edebilirsiniz. </span></p>

    <h2>6.Akdamar Adası ve Kilisesi</h2>
    <p><span style="font-weight: 400;">Van Gölü’nün içinde bulunan Akdamar Adası gölün üstünden yükseliyor. Adada 10. yüzyılda inşa edildiği düşünülen bir kilise bulunuyor. Ermeni Kralı I.Gagik tarafından inşa edilen ve Surp Harç Kilisesi ismi ile de anılan Akdamar Kilisesi Van’da yapılan tarihi ve kültürel seyahatlerin vazgeçilmez noktalarından biri oluyor. </span></p>
    <p><span style="font-weight: 400;">Akdamar Kilisesi 2007 yılında restorasyon çalışmasından geçmiştir. Çalışma sonrası ziyarete açılan kilise mimari özelliklerinin yanı sıra kültürel değeri sebebiyle de yoğun ilgi görür. Elbette Akdamar Adası’nın ziyaret edilmesinin tek nedeni kilise değildir. Bununla birlikte doğal güzellikleri de adanın ziyaret edilmesinin temel nedenleri arasındadır. Aynı zamanda Akdamar Adası kapsadığı 7 kilometrelik alan ile Van Gölü’nün en büyük adası olma özelliği taşıyor. Kilise her gün 08.00 ile 20.00 saatleri arasında açıktır, 290 TL ücret ödeyerek giriş yapabilirsiniz. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Akdamar Adası ve Kilisesi</span></em><em> <a href="https://maps.app.goo.gl/a3VueCVD2AyKhuKZ9">konum</a> için tıklayın&#8221;</em></p>

    <h2>7.St. Bartholomeus Kilisesi</h2>
    <p><span style="font-weight: 400;">Başkale ilçesine bağlı Albayrak Köyü’nde yer alan St. Bartholomeus Kilisesi Büyük Zap Vadisi’ne bakan bir tepe üzerinde konumlanıyor.  St. Bartholomeus’un mezarı üzerine 4. yüzyılda inşa edildiğine dair pek çok inanış bulunuyor. Manastır&#8217;da ilgili referans bilgilerinden yola çıkıldığında kilisenin 13. yüzyılın sonu ve 14. yüzyılın başında inşa edildiği kabul ediliyor.</span></p>
    <p><span style="font-weight: 400;">St. Bartholomeus Kilisesi yalnızca tarihi açıdan değil, mimari açıdan da ziyaretçilerini etkiliyor. Üstten sivri kemerli bir alınlık ile vurgulanan, bir girinti teşkil eden ve dikdörtgen çerçeve içerisinde yer alan St. Bartholomeus Kilisesi ilgi çekici bir yapı olarak değerlendiriliyor ve 4 mevsim boyunca ziyaret ediliyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">St. Bartholomeus Kilisesi</span></em><em> <a href="https://maps.app.goo.gl/UadSrtSmroE3GA5j7">konum</a> için tıklayın&#8221;</em></p>

    <h2>8.Toprakkale</h2>
    <p><span style="font-weight: 400;">Van&#8217;ın kuzey doğusunda, Van Ovası’nda yer alan Toprakkale bir yerleşim yeridir. Urartu Kralı II. Rusa tarafından kurulduğu bilinen ve bu sebeple Rusahinli ismi ile de anılan Toprakkale, krallığın ikinci başkentidir. </span></p>
    <p><span style="font-weight: 400;">Van Ovası’nın kuzeydoğusunda yer alan, Zımzım Dağı kayalıklarında konumlanan Toprakkale, Van’da görülmesi gereken tarihi yerlerden biridir. Şehir merkezinden kalkan toplu taşıma araçlarıyla veya özel aracınız ile ulaşabileceğiniz Toprakkale’de bugüne dek pek çok kazı çalışması gerçekleşmiştir. Kazılarda ele geçen eserler Londra Kraliyet Müzesi’ne, Louvre Müzesi’ne, Ermitaj Müzesi’ne, Almanya ve ABD’de yer alan çeşitli müzelere dağıtılmıştır. </span></p>

    <h2>9.Van Müzesi</h2>
    <p><span style="font-weight: 400;">Geniş bir koleksiyona ev sahipliği yapan Van Müzesi kompleks bir yapıdır. 2011 yılında gerçekleşen deprem sonrası meydana gelen yapı Urartular dönemini de kapsayan çok büyük bir koleksiyona sahiptir. 2019 yılından beri tam kapasite olarak hizmet veren ve Van Kalesi&#8217;nin hemen yanında yer alan Van Müzesi, farklı Anadolu uygarlıklarına sahip olan 100 bin eserlik bir koleksiyon sunar.</span></p>
    <p><span style="font-weight: 400;">16 farklı sergi salonuna ev sahipliği yapan Van Müzesi içerisinde satış birimi, çocuklar için atölye, geçici sergi bölümü, konferans alanı ve takı atölyesi gibi mekanlar bulunuyor.70 TL ödeme yaparak bilet alabileceğiniz Van Müzesi’ni haftanın her günü 08.00 ile 17.00 saatleri arasında ziyaret edebilirsiniz.</span></p>
    <p><em>&#8221;Van Müzesi</em><em> <a href="https://maps.app.goo.gl/JbF7zb6rWcJ5vQGP7">konum</a> için tıklayın&#8221;</em></p>

    <h2>10.Yedi Kilise</h2>
    <p><span style="font-weight: 400;">Yedi Kilise Anadolu&#8217;nun en eski ve en önemli Hıristiyan manastırlarından biridir. Varagavank ve Varak Surp Haç Manastırı olarak da bilinen Yedi Kilise 8. yüzyılda Ermeni Kralı Senekim tarafından yaptırılmıştır.</span></p>
    <p><span style="font-weight: 400;">Van Kalesi’nin güneyinde, Erek Dağı&#8217;nın eteklerinde ve Van Gölü&#8217;nün kıyısında konumlanan Yedi Kilise 5 kilise, bir jamaton, bir çan kulesi ve bir kütüphaneden oluşur. Farklı dönemlerde birbirine eklenen yapılar ile oluşan Yedi Kilise görkemli bir yapıdır. Hem kültürel hem de turistlik açıdan dikkat çekici bir yer olan ve kompleks bir yapı olarak öne çıkan Yedi Kilise, Ermeni kültürü, sanatı ve edebiyatı hakkında daha detaylı bilgiler edinmeye yardımcıdır.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Yedi Kilise</span></em><em> <a href="https://maps.app.goo.gl/9YP5K9aJfwB8w7X46">konum</a> için tıklayın&#8221;</em></p>

    <h2>11.Çarpanak Kilisesi</h2>
    <p><span style="font-weight: 400;">İsmini bulunduğu adadan alan ve Van’ın Çarpanak adasında yer alan Çarpanak Kilisesi, St. Jean’a atfedilen bir kilisedir. Batısında jamaton ve kuzeydoğusunda bir şapel bulunan Çarpanak Kilisesi, kompleks bir yapı olarak değerlendirilir.</span></p>
    <p><span style="font-weight: 400;">Van yılın her mevsimi yerli ve yabancı ziyaretçiler tarafından seyahat edilen bir şehirdir. Kozmopolit bir yapıya sahip olan ve bugüne dek pek çok egemenliğe ev sahipliği yaptığı bilinen Van, inanç ve kültür turizmi için uygun olacak çok sayıda yapıyı bulundurur.</span></p>
    <p><span style="font-weight: 400;">Bunlardan biri olan Çarpanak Kilisesi Van merkezine bağlı olan Dibekdüzü Köyü mevkiinde konumlanır. Özellikle yabancı turistler tarafından adeta akına uğrayan Çarpanak Kilisesi ücretsiz olarak ziyaret edilebilir.</span></p>

    <h2>12.Hüsrev Paşa Camii</h2>
    <p><span style="font-weight: 400;">Hüsrev Paşa Camii Van’ın en önemli eserlerinden biridir. Van Kalesi’ne yakın olan Hüsrev Paşa Camii Van Beylerbeyi Köse Hüsrev Bey döneminde yaptırılmıştır.</span></p>
    <p><span style="font-weight: 400;">1567’de II. Selim zamanında inşa edilen ve 1915 Rus işgaline kadar ibadet yeri olarak kullanılan Hüsrev Paşa Camii, bu tarihten sonra cemaat yeri olarak kullanılmıştır. Caminin bazı parçaları Rusya&#8217;ya götürülerek sergilenmiş ancak ilerleyen yıllarda caminin onarılması ile birlikte parçalar yerlerini bulmuştur.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Hüsrev Paşa Camii</span></em><em> <a href="https://maps.app.goo.gl/VFUcs7Jt74inPkzd9">konum</a> için tıklayın&#8221;</em></p>

    <h2>13.Şeytan Köprüsü</h2>
    <p><span style="font-weight: 400;">Şeytan Köprüsü Muradiye ilçesinde yer alıyor. Van gölüne dökülen Bendimahi Çayı’nın üzerinde konumlanan Şeytan Köprüsü, 19. yüzyıla uzanan geçmişi ile Van’ın en önemli turistik cazibe merkezlerinden biridir.</span></p>
    <p><span style="font-weight: 400;">Yaklaşık 15 metre uzunluğunda ve 3 metre genişliğinde tasarlanan Şeytan Köprüsü, 17 metre yüksekliktedir. Dar bir köprü olduğu için pek çok kişinin bu köprüden düştüğü bilinir. Bu sebeple Şeytan Köprüsü ismini almıştır. </span></p>
    <p><span style="font-weight: 400;">Şeytan Köprüsü etrafında yer alan çay bahçeleri ve kafeler keyifli bir mola sağlar. Geçmişten bugüne gelen bir miras olarak değerlendirilen ve muhteşem doğası ile de ziyaret edilmesi gereken Şeytan Köprüsü günün her saati ziyaret edilebilir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Şeytan Köprüsü</span></em><em> <a href="https://maps.app.goo.gl/tCXwcqxdjiJ6ggL26">konum</a> için tıklayın&#8221;</em></p>

    <h2>14.Erçek Gölü</h2>
    <p><span style="font-weight: 400;">Van denildiğinde pek çok kişi yalnızca Van Gölü’nü düşünüyor olsa da şehirde yer alan göllerin bununla sınırlı olduğu söylemek doğru değildir. Van Gölü yakınlarında yer alan ve tıpkı Van Gölü gibi volkanik faaliyetler sonucu meydana gelen Erçek Gölü pek çok güzelliği bir arada sunar. Tuzlu ve sodalı bir su yapısına sahip olan bu sebeple herhangi bir balığın yaşayamadığı Erçek Gölü, flamingo başta olmak üzere pek çok kuşun yaşam alanıdır. Bu sebeple dünyanın her yerinden kuş gözlemcileri tarafından sıklıkla ziyaret edilir.</span></p>
    <p><span style="font-weight: 400;">450’ye yakın kuş türüne ev sahipliği yapan Erçek Gölü, Van’ın en gözde yerlerinden biridir. Şehir merkezinden kolaylıkla ulaşım sağlanabilecek Erçek Gölü mavi göl suları, renkli kuşlar ve yeşil doğası ile keyifli bir deneyim vadeder. </span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Erçek Gölü</span></em><em> <a href="https://maps.app.goo.gl/ZoDS6wsFTjJMX3w1A">konum</a> için tıklayın&#8221;</em></p>

    <h2>15.Vanadokya Peri Bacaları</h2>
    <p><span style="font-weight: 400;">Peribacaları deyince pek çok kişiyi yalnızca Kapadokya’yı düşünüyor. Vanadokya Peri Bacaları ise bu algıyı tamamen yıkıyor. Kapadokya bölgesini çağrıştıran ve yapıları ile oldukça etkileyici olan Vanadokya Peri Bacaları, Yiğit Dağı’nın püskürttüğü kayaçların aşınması sonucunda oluşmuş yapılardır. </span></p>
    <p><span style="font-weight: 400;">Geniş bir alana yayılmış ve tarihi bir hazine olarak değerlendirilen Vanadokya Peri Bacaları 17 bin peri bacasına ev sahipliği yapıyor. Bununla birlikte 35 mağara ve 12 oyma ev de 20 kilometrelik alanda yer alıyor. Selçuklu, Osmanlı, Ermeni ve Urartu dönemlerine ait çeşitli miraslara ev sahipliği yapan Vanadokya Peri Bacaları, Van’da mutlaka görülmesi gereken yerlerin başında geliyor.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Vanadokya Peri Bacaları</span></em><em> <a href="https://maps.app.goo.gl/Q34PSKNBKhTdezng9">konum</a> için tıklayın&#8221;</em></p>

    <h2>16.Ayanis Kalesi</h2>
    <p><span style="font-weight: 400;">Van&#8217;da Urartular döneminden kalan en önemli eserlerden biri Ayanis Kalesi’dir. Van gölünün üzerinde 250 metre yüksekte bulunan ve hem manzarası hem de köklü tarihi ile önemli bir turistik destinasyon olan Ayanis Kalesi, Urartu Krallığı&#8217;nın son kalesidir. Kaleden çıkan yazıtlar M.Ö. 645 ile 643 yılları arasında Urartu Kralı Rusa tarafından yaptırıldığını gösteriyor.</span></p>
    <p><span style="font-weight: 400;">Ayanis Kalesi 2 katlı bir sur duvarı, giriş kapısı, tapınak ve payeli salon ve çok sayıda depo binasına yer veriyor. Kale Van Gölü’ne yakın olduğundan romantik anlar da yaşatacak muhteşem bir manzaraya sahiptir.</span></p>
    <p><em>&#8221;<span style="font-weight: 400;">Ayanis Kalesi</span></em><em> <a href="https://maps.app.goo.gl/Dgyze8eU2yfmjDqz5">konum</a> için tıklayın&#8221;</em></p>

    <h2>17.Zeril Köprüsü</h2>
    <p><span style="font-weight: 400;">Çatak ilçesinde bulunan Zeril Köprüsü, bölge hakkında daha detaylı bilgilere sahip olmaya yardımcı olan önemli bir yapıdır. İnşa edildiği dönem net şekilde bilinmese de yapılan araştırmalar 17 ya da 18. yüzyılda yapıldığını gösteriyor. Osmanlı dönemi eserlerinden biri olduğu tahmin edilen Zeril Köprüsü, 1990’lı yıllarda kullanılamaz hale gelene dek aktif olarak kullanılmıştır. 1990’lı yıllarda onarılarak tekrar kullanıma sunulan Zeril Köprüsü ahlat taşından malzemeler ile inşa edilmiştir. Günümüzde patikaları birbirine bağlama görevini üstlenen dolayısıyla sağlam bir şekilde yerinde duran Zeril Köprüsü aktif olarak kullanılıyor.</span></p>

    <h2>18.Van Kedisi Evi</h2>
    <p><span style="font-weight: 400;">Van&#8217;ın en dikkat çekici yerlerinden biri olan Van Kedisi Evi, Van Yüzüncü Yıl Üniversitesi bünyesinde kurulmuş bir yapıdır. Beyaz tüyleri ve değişik renkteki gözleri ile kendine has farklı bir kedi ırkı olan Van kedileri, suyla oynamayı severler ve sahiplerine büyük bir sadakat duyarlar. Van Kedisi Evi, Van kedileri hakkında daha detaylı bilgi sahibi olmak isteyenler için severek gezilecek yapılardan biridir. 2 katlı bir yapı olan ve girişte kedilerin yaşam alanı bulunan Van Kedisi Evi, yaklaşık 100 kediye ev sahipliği yapıyor. Hem hafta içi hem de Cumartesi ve Pazar kapılarını ziyaretçilerine açan Van Kedisi Evi 10.30 ile 17.00 saatleri arasında 20 TL ücret ödeyerek gezilebiliyor.</span></p>
    <div class="yarpp yarpp-related yarpp-related-website yarpp-template-thumbnails">

</body>
</html>
