<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yalova'da Gezilecek Yerler</title>
            <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>


</head>
<body>
<h5>YALOVA</h5>
    <p><span style="font-weight: 400;">Yalova, Ege ve Akdeniz'i aratmayan plajları, doğal güzellikleri ve şifalı sularıyla unutulmaz bir gezi deneyimi sunuyor. Samanlı Dağları eteklerinde yer alan şehir, doğa tutkunları için Marmara Denizi, Gemlik Körfezi ve İznik Gölü manzaralarıyla çekici bir destinasyon. Yalova, ince kumlu plajları, Armutlu ve Fıstıklı kaplıcaları ile ünlü. Ayrıca, Yürüyen Köşk, Termal Atatürk Köşkü ve canlı ağaç müzeleri Atatürk Arboretumu ile Karaca Arboretumu da görülmeye değer yerler.</span></p>
    <h2><b>Yalova'da gezilecek yerler:</b></h2>
    <ol>
        <li>Yürüyen Köşk</li>
        <li>Atatürk Arboretumu</li>
        <li>Yalova Sahili</li>
        <li>Yalova Kent Müzesi</li>
        <li>Marina</li>
        <li>Kurşunlu Hamamı</li>

    </ol>

    <h2>1. Yürüyen Köşk</h2>
    <p><img alt="Yalova Yürüyen Köşk" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yalova-yuruyen-kosk-41001.webp" style="width: 825px; height: 620px;" loading="lazy"></p>
    <p>
        Yalova'daki en çok ziyaret edilen simgesel yapılarından biri olan Yürüyen Köşk, gezinizde yakından görmen gereken mimari şaheserlerden biri. Mustafa Kemal Atatürk'ün İstanbul'dan Bursa'ya giderken sahil kenarında gördüğü asırlık bir çınar ağacından etkilenmesi ve ağacın yanına küçük bir köşk yapılmasını istemesiyle inşa edilen Yürüyen Köşk, ismini de hiçbir ağacın kesilmemesi için yürütülmesinden alıyor.</p>
    <p>
        1980 yılında korunması gereken kültür ve tabiat varlıklarımız arasında eklenen, 2016 yılında ise aslına uygun olarak restore edilen Yürüyen Köşk, her yıl 50.000’den fazla insan tarafından ziyaret ediliyor. Köşkün dönem mobilyalarıyla süslü odalarını gezebilir ve tarihi yapının hemen yanındaki 390 yaşında hala sağlıklı bir şekilde yaşayan çınar ağacını yakından görebilirsin.</p>
    <p>

    <h2>2. Atatürk Arboretumu</h2>
    <p><img alt="Atatürk Arboretumu" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/ataturk-arboretumu-40972.webp" loading="lazy"></p>
    <p>
        Mustafa Kemal Atatürk’ün isteğiyle 19 Ağustos 1929 yılında Yalova’nın Termal ilçesinde açılan Atatürk Arboretumu, Türkiye’nin ilk canlı ağaç müzesi olarak mutlaka uğraman gereken yerler arasında. 25.000 metrekarelik geniş bir yeşil alana yayılan arboretum, yerli ve yabancı türlerle birlikte 1844 çeşit ağaç, 370’ten fazla palmiye ve yüzlerce çiçek türüyle doğa tutkunlarını büyülüyor.</p>
    <p>
        Tüm gün çiçek bahçeleri arasında gezebileceğiniz ve harika fotoğraflar çekerek keyifli bir gün geçirebileceğin canlı ağaç müzesinin kır bahçelerinde de çayını yudumlayarak muhteşem manzaranın tadını çıkarabilirsin. Doğanın içinde dinlendirici bir gün yaşadıktan sonra Termal ilçesinin ünlü kaplıcalarına uğrayarak sıcak sularda yorgunluk atmayı unutma.</p>
    <p>

    <h3>3. Yalova Sahili</h3>
    <p><img alt="Yalova Sahili" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yalova-sahili-41000.webp" loading="lazy"></p>
    <p>
        Sıcak yaz akşamlarında serin deniz esinleri eşliğinde akşam yürüyüşlerine çıkmak ve büyüleyici kızıl gün batımı manzaraları izlemek için Yalova sahiline kesinlikle uğramalısın. Yürüyen Köşk gibi simgesel yapıları da görme şanslı bulabileceğin sahil yolunda romantik akşam yemekleri tadabileceğin restoranlar, kahvenizi yudumlayarak manzarayı izleyebileceğin kafeler, hediyelik eşya dükkanları ve çocuk oyun parkları gibi olanaklar bulabilirsini.</p>
    <p>
        <a href="https://www.google.com/maps/place/Sahil,+%C3%87iftlikk%C3%B6y%2FYalova/@40.6634422,29.3160992,17z/data=!4m2!3m1!1s0x14cae49b727b5897:0x7e9d9339a96b7e2c" style="font-size: 12px;" target="_blank">Konum Linki</a><p>

    <h4>4. Yalova Kent Müzesi</h4>
    <p><img alt="Yalova Kent Müzesi" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yalova-kent-muzesi-40996.webp" loading="lazy"></p>
    <p>
        2013 yılında hizmete başlayan Yalova Kent Müzesi, hem Marmara Denizi kıyısındaki güzel konumu hem de zengin koleksiyonları için çok ziyaret ediliyor. M.Ö. 2000’li yıllara uzanan çarpıcı bir tarihi olan Yalova’nın Osmanlı ve Cumhuriyet dönemlerine kadar uzanan eserlerinin yanı sıra şehrin sanayisi, tarımı, coğrafi yapısı, nüfusu ve turizm olanakları ile ilgili bilgilere de müzede ulaşabilirsin.</p>
    <p>
        Tarihi Yalova fotoğraflarını inceleyebileceğin kalıcı sergileri bulunan Yalova Kent Müzesi’nde şehrin geleneklerini yansıtan yöresel giysili balmumu heykellerin de harika fotoğraflarını çekebilir ve binlerce kitaplık kütüphaneden faydalanabilirsin.</p>
    <p>

    <h5>5. Marina</h5>
    <p><img alt="Yalova marina" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/yalova-marina-40999.webp" loading="lazy"></p>
    <p>
        2010 yılında açıldığından beri şehrin en sevilen gezi ve akşam yürüyüşü alanlarından biri olan Yalova Marina, şehir merkezinden kısa bir yürüyüşle ulaşabileceğin güzel bir konumda yer alıyor. Marmara Denizi'nde İstanbul marinaları dışındaki tek marina olan ve özellikle gün batımlarında onlarca tekneyle muhteşem manzaralar sunan Yalova Marina, 30 metre büyüklüğe kadar 240 tekne bağlama kapasitesine sahip.</p>
    <p>
        Ulusal ve uluslararası mutfaklardan lezzetler sunan restoranları, kaliteli kafeleri, barları ve onlarca çeşit hediyelik eşya bulabileceğin mağazalarıyla şehri gezen turistlerin mutlaka uğradığı yerler arasında olan Yalova Marina’na her gün düzenlenen tekne turlarına katılarak da Marmara Denizi’nin en güzel koylarını keşfe çıkabilirsin.</p>
    <p>
        <a href="https://www.google.com/maps/place/Setur+Yalova+Marina/@40.660484,29.2756583,17z/data=!3m1!4b1!4m5!3m4!1s0x14cae528448c5de1:0x4094fc565cb23ae0!8m2!3d40.66048!4d29.277847" target="_blank">Konum Linki</a></p>

    <h6>6. Kurşunlu Hamamı</h6>
    <p><img alt="Kurşunlu Hamamı" src="https://cdn2.enuygun.com/media/lib/825x620/uploads/image/kursunlu-hamami-40989.webp" loading="lazy"></p>
    <p>
        Tertemiz plajları ve doğal güzelliklerinin yanı sıra şifalı kaynak sularıyla da insanları kendine çeken Yalova'da görmenizi önerdiğim tarihi yapılardan biri Bizans İmparatorluğu döneminde inşa ettirilen etkileyici Kurşunlu Hamamı. 2. Abdülhamid tarafından restore edilen ve tasarımı Fin Hamamı olarak değiştirilen tarihi hamam, kas ağrılarından cilt sorunlarına kadar onlarca rahatsızlığa iyi gelen sularıyla günümüzde de hizmet vermeye devam ediyor.</p>
    <p>
        Yalova'da her saat bulabileceğin Termal minibüsleriyle 30 dakikalık kısa bir yolculukta Kurşunlu Hamamı’na kolaylıkla ulaşım sağlayabilirsin.</p>
    <p>
        <a href="https://www.google.com/maps/place/Kur%C5%9Funlu+Hamam%C4%B1/@40.6036416,29.1709369,17z/data=!3m1!4b1!4m5!3m4!1s0x14caf6cd9cf34a8b:0x7e2a9670786219ae!8m2!3d40.6036375!4d29.1731256" target="_blank">Konum Linki</a></p><p>

</body>
</html>
