<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çankırı'da Gezilecek Yerler</title>
	        <style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
h2 {
    color: #333;
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */

}
p {
    color: #666;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 110%; /* Resim genişliğiyle aynı olacak */
    text-align: center;
}
ol {
    color: #666;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 110%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}
h2, h3 {
    font-size: 24px; /* Örnek olarak 24px olarak ayarlandı, istediğiniz boyuta göre değiştirin */
    color: #333;
}
a {
    color: #007bff;
    text-decoration: none;
}

h5 {
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center; /* Başlıkları merkezle */
}

</style>

</head>
<body>
<h5>ÇANKIRI</h5>
<p>
  İç Anadolu’da doğanın ve tarihin kucaklaştığı Çankırı geleneksel evleri, kayak merkezleri, kaya mezarları, Ilgaz Dağı Milli Parkı ve Tuz Mağarası ile özellikle de kış turizminin en dikkat çeken yerlerinden biri. Türkiye’nin en büyük kaya tuzu rezervlerinden birine sahip olan Çankırı’da gezilecek yerlerin sayısı da bir hayli fazla.
</p>

<h2>Çankırı'da Gezilecek Yerler</h2>
        <ol>
            <li>Çankırı Kalesi</li>
            <li>Çankırı Evleri</li>
            <li>Çankırı Saat Kulesi</li>
            <li>Koca Meşe</li>
<h2 dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">1. Çankırı Kalesi</span></h2>
<p dir="ltr">
	<span><img alt="çankırı kalesi görünümü" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cankiri-kalesi-56033.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Çankırı Kalesi. hem konumu hem de tarihsel öneminden dolayı Çankırı’nın sembolleri arasında. Bizanslılar, Danişmentliler ve Osmanlılar tarafından kullanılan tarihi kaleden bugüne birkaç sur kalıntısı kalmış durumda. Dörtgen şeklinde bir yapısı olan Çankırı Kalesi’nin inşa aşamasında tuğla ve moloz taşları kullanılmış. Eteklerinde derenin aktığı kalenin yerden yüksekliği 150 metre civarında. Bu arada kaleyi ziyarete geldiğinde “Çankırı Fatihi” olarak nam salan Emir Karatekin Bey’in de türbesini görebilirsin. Kale ve çevresinde mağara, gözetleme kulesi, nekropol ve su sarnıcı gibi bölümleri söz konusu.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77"><a href="https://www.google.com/maps/place/%C3%87ank%C4%B1r%C4%B1+Kalesi/@40.6072658,33.6158865,15z/data=!4m2!3m1!1s0x0:0xcff328a838f77483?sa=X&amp;ved=2ahUKEwjEhumP6K-EAxUMSfEDHcHFCFsQ_BJ6BAgPEAA" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">2. Çankırı Evleri</span></h2>
<p dir="ltr">
	<span><img alt="Çankırı Yaren Evleri olarak da bilinen geleneksel Çankırı Evleri" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cankiri-evleri-56034.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Çankırı Yaren Evleri olarak da bilinen geleneksel Çankırı Evleri, Kültür ve Tabiat Varlıkları Yüksek Kurulu tarafından özenle korunuyor. Şu anda şehirde yer alan geleneksel evlerin sayısı 108. Klasik Türk evlerinin özelliklerini yansıtan bu evler, turizme başarılı bir şekilde kazandırılmış. Şehrin bu önemli kültürel değerleri, merkezde konumlanıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Oldukça etkileyici bir mimarisi olan bu evler, şehrin hem sosyolojik hem de jeolojik koşullarına dair bir referans kabul ediliyor. Çankırı Evleri çoğunlukla iki katlı olarak inşa ediliyor. Çoğunlukla kış aylarında tercih edilen ilk katta mutfak ve oturma odası bulunuyor. Üst kat ise genellikle misafirler için ayrılıyor.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77"><a href="https://www.google.com/maps/place/%C3%87ANKIRI+EVLER%C4%B0/@40.6042703,33.6096062,17z/data=!3m1!4b1!4m6!3m5!1s0x4083c39402260687:0xcd2de05ba33674b5!8m2!3d40.6042663!4d33.6121811!16s%2Fg%2F11sz2spsgd?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">3. Çankırı Saat Kulesi</span></h2>
<p dir="ltr">
	<span><img alt="Osmanlı Dönemi’nden kalan önemli eserler arasında kabul edilen Çankırı Saat Kulesi" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/cankiri-saat-kulesi-56035.webp" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Mimar Sinan Mahallesi’nde yer alan Çankırı Saat Kulesi, Osmanlı Dönemi’nden kalan önemli eserler arasında kabul ediliyor. Şehrin sembolik yapılarından olan dört cepheli bu etkileyici kulenin 1866 senesinden günümüze ulaştığı biliniyor. Bu noktada “Çan Saat” olarak da bilinen tarihi kulenin 2. Abdülhamit zamanında inşa edildiğini belirtelim.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Çankırı Saat Kulesi’nde yer alan orijinal saat, tahmin edileceği üzere saat denilince akla gelen ilk yer olan İsviçre’de oluşturulmuş. O dönem İnebolu üstünden şehre getirilen Çankırı Saat Kulesi’nin tamamlanması 3 senede gerçekleşmiş. Yaklaşık 15 metrelik yüksekliğe sahip olan Çankırı Saat Kulesi’nin etrafı şık bir balkonla çevrili.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77"><a href="https://www.google.com/maps/place/Saat+Kulesi/@40.603283,33.6123092,17z/data=!3m1!4b1!4m6!3m5!1s0x4083c37fd8157717:0xd02e30c9bfeef278!8m2!3d40.603279!4d33.6148841!16s%2Fg%2F1tcyvxt0?entry=ttu" target="_blank">Konum Linki</a></span></p>
<h2 dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">4. Koca Meşe</span></h2>
<p dir="ltr">
	<span><img alt="Koca Meşe, resmi düzeyde “anıt ağaç” olarak geçiyor" src="http://assets.enuygun.com/media/lib/825x620/uploads/image/koca-mese-56036.webp" style="width: 825px; height: 620px;" loading="lazy"></span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77">Karacaözü Köyü içerisinde yer alan bu ihtiyar meşe, bölgedeki dereyle komşu durumunda. Meşe ağacına yaklaştığında dalların ve gövdenin büyüklüğü karşısında şaşkınlığını gizleyemeyeceksin. Ağacın gövde kısmı yaklaşık 15 metrelik bir yüksekliğe sahip. Çankırı şehir merkezine 25 km uzaklıkta olan Koca Meşe, resmi düzeyde “anıt ağaç” olarak geçiyor. Yaşının 400 civarında olduğu tahmin edilen ağaç, dünyanın en yaşlı meşe ağaçlarından biri olarak kabul ediliyor. Tarihi ağacın çevresi yürüme, piknik ve bisiklet için oldukça uygun alanlara sahip.</span></p>
<p dir="ltr">
	<span id="docs-internal-guid-f6c2e1b5-7fff-bb46-a534-b0c4e0569f77"><a href="https://www.google.com/maps/place/Koca+Me%C5%9Fe/@40.7239802,33.7744631,17z/data=!3m1!4b1!4m6!3m5!1s0x4083ef3cab332381:0x68ad024be350cb0d!8m2!3d40.7239762!4d33.777038!16s%2Fg%2F11fm4220tt?entry=ttu" target="_blank">Konum Linki</a></span></p>

</body>
</html>
